<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var currencyCode="+82";
        var token = "<%=token%>";
    
        $(document).ready(function() {
            $('.menu_login').show();
            $('.menu_logout').hide();
            
            $("#currencyType").on('change', function() {
                $("#currencyName").text($("#currencyType").val());
            });

            $("#phone").on('keyup', function() {
                if(window.event.keyCode==13){
                    sendAuthNo();
                }
            })

            $("#sendAuthNo").on('click', function() {
                sendAuthNo();
            });

            // $("#reSendAuthNo").on('click', function() {
            //     sendAuthNo();
            //     alert("인증번호를 재발송 하였습니다.");
            // });

            $("#checkAuthNo").on('click', function() {
                checkAuthNo();
            });

            loadCurrencyList();
            $('.auth_no_class').hide();

            initCaptcha('#defaultReal');
        });

        function loadCurrencyList() {
            $.ajax({
                method: "GET",
                url: "/v1/countryCodes"
            }).done(function (success) {
                var strDOM = '<option value="">Choice</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].country_code + '">' + success.data[i].country_kr + '('+ success.data[i].country_code +')' + '</option>'
                }

                $("#currencyType").html(strDOM);
                $("#currencyType").selectpicker('refresh');
                $("#currencyType").val(currencyCode).attr("selected", "selected");
                $("#currencyType").selectpicker('refresh');
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function sendAuthNo() {
            var phoneNo = $("#phone").val();
            var countryCode = $("#currencyType").val().replace('+','');

            if($("#currencyType").val() == "") {
                alert("거래국가를 선택하세요.");
                return;
            } else if($("#phone").val() == "") {
                alert("전화번호를 입력하세요.");
                return;
            } else if(phoneNo.replace('+','').substr(0,countryCode.length) == countryCode) {
                alert("국가번호를 제외한 전화번호를 입력하세요.");
                return;
            } else if($("#defaultReal").val() == "") {
                alert("자동입력 방지 문자를 입력하세요.");
                return;
            } else if(hash($("#defaultReal").val()) != $("#defaultReal").realperson('getHash')) {
                alert("자동입력 방지 문자 값이 틀립니다. 다시입력하세요.");
                $('#defaultReal').val('');
                $(".realperson-regen").trigger('click');
                return;
            }
            
            $(".submit_ctc_code_top .btn.dropdown-toggle.btn-light").attr("disabled", "disabled");
            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val(),
                "token": token
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkPhone",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                $('.auth_no_class').show();
                if($(this).text() == "인증코드 재전송" ) {
                    alert("인증코드가 재전송 되었습니다.");
                }
                $('#sendAuthNo').text("인증코드 재전송");
                $('#phone').prop('readonly', true);
                $('#currencyType').prop('readonly', true);
                $(".realperson-regen").trigger('click');
                $('#defaultReal').val('');
            }).fail(function (fail) {
                console.log(fail);
                alert("전송중 문제가 발생하였습니다. 전화번호가 올바르게 입력되었는지 확인하시기 바랍니다.\n 문제가 계속 발생될 경우 관리자에게 문의하세요.");
            })
        }

        function checkAuthNo() {
            if($("#authNo").val() == "") {
                alert("인증번호를 입력하세요.");
                return;
            } 

            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val(),
                'authNo': $("#authNo").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkAuthNo",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                if(success.data.successYn == "fail") {
                    alert("인증번호가 유효하지 않습니다. 인증번호를 확인하세요.");
                    return;
                } else {
                    location.replace('/signup');
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->

    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- join_sec page-->
            <section class="join_sec">
                <h1>휴대폰 확인</h1>
                <hr>
                <div class="submit_ctc_code">
                    <div class="submit_ctc_code_top no_w100p_wrap">
                        <select id="currencyType" class="selectpicker" data-live-search="true"></select>
                        <input type="text" class="form-control w80p" id="phone" placeholder="전화 번호 입력" maxlength="24"> 
                    </div>
                    <div class="submit_ctc_code_top no_w100p_wrap">
                        <input type="text" class="form-control" id="defaultReal" max="6" placeholder="자동입력 방지 문자 입력">
                    </div>
                    <button class="btn btn_in_view1 send_auth_class" id="sendAuthNo">인증코드 전송</button>
                </div>
                <div class="confirm_ctc_code auth_no_class">
                    <input type="text" class="form-control" id="authNo" placeholder="인증번호 입력" maxlength="24">
                    <br>
                    <button class="btn btn_in_view1" id="checkAuthNo">휴대폰 인증</button>
                </div>
            </section>
            <!--// join_sec page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>
</html>