<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <script>
        var myCurrency;
        document.querySelector("#floatingInfoBox").setAttribute("ismain", "true");

        $(document).ready(function () {
            loadItemsAll();
            if("<%=useBlockchain%>"=="Y") {
                loadCurrencyData();
            }

            if(userId != "" && authPhone == "") {
                // 메인 전용 팝업 로직
                // $(".dim_all_area").show();
                // $("body").css("position", "fixed");
            }
        });
        
        function loadCurrencyData() {
            var loadText = '<div class="coin_load_text cf">';
                loadText += '<em>COIN 시세를 불러오는 중입니다.</em>';
                loadText += '<div class="lds-facebook"><div></div><div></div><div></div></div>';
                loadText += '</div>';
                $('.slick_coin_quotes').slick('slickAdd', loadText);
                
            var currency_url = "/v1/charts/currency/5";
            var currency = function () {
                $.ajax({
                    method: "GET",
                    url: currency_url,
                }).done(function (success) {
                    //console.log(success);
                    loadCurrency(success.data);
                }).fail(function (fail) {
                    console.log('system error : ', fail);
                });
            };
            if(myCurrency != undefined) {
                clearInterval(myCurrency);
            }

            currency();
            //myCurrency = setInterval(currency, 1000 * 60);
            //console.log(myCurrency);
        }
        function loadCurrency(data) {

            var chartTotalData = data;
            var currency_result = "";

            for (var i = 0; i < chartTotalData.length; i++) {
                if(chartTotalData[i].data.binance.change_percent > 0) {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fcrd">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                } else {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fc3">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                }
                
            }

            $('.slick_coin_quotes').slick('slickRemove', null, null, true);
            $('.slick_coin_quotes').slick('slickAdd', currency_result);
        }

        function loadItemsAll() {
            var url = "/v1/items/all";
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                var strDOM = '';
                var game_buys = success.data.game_buys;
                var game_sells = success.data.game_sells;
                var etc_buys = success.data.etc_buys;
                var etc_sells = success.data.etc_sells;
                var prime_services = success.data.primes;
                var cms = success.data.cms;
                var movies = success.data.movies;
                var boards = success.data.boards;
                var otc_buys = success.data.otc_buys;
                var otc_sells = success.data.otc_sells;
                var notices = success.data.notices;
                
                console.log(success);

                setPrimeService(prime_services);
                // setGameSellList(game_sells);
                // setGameBuyList(game_buys);
                setEtcSellList(etc_sells);
                setOtcBuyList(otc_buys);
                setOtcSellList(otc_sells);
                setNoticeList(notices);
                setCommunityMovie(movies);
                // setCommunityBoard(boards);
            }).fail(function (fail) {
                console.log('system error : ', fail);
            })
        }

        function setPrimeService(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var trade_type = replaceType(data[i].trade_type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var title = data[i].title;
                var money = point + '<span>Point</span>';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + '<span>'+cryptoCurrencyCode+'</span>';
                }

                result += '<div>' +
                    '<img src="/static/img/main/monkey_face.png" alt="원숭이아이콘" class="img_monkey">' +
                    '<dl class="card_ui '+trade_type.title_bg_class+'">' +
                        '<dt class="'+trade_type.title_class+'">' + trade_type.title + '</dt>' +
                        '<dd>' +
                            '<a href="/sells/detail/'+itemId+'">' +
                                '<ul>' +
                                    '<li class="cf">' +
                                        '<em>'+item_type.text+'</em>' +
                                        '<strong class="fc1">'+money+'</strong>' +
                                        '</li>' +
                                        '<li>'+game_server+'</li>' +
                                        '<li>'+title+'</li>' +
                                    '</ul>' +
                                '</a>' +
                            '</dd>' +
                        '</dl>' +
                    '</div>';
            }

            $('.slick_primezone').slick('slickRemove', null, null, true);
            $('.slick_primezone').slick('slickAdd', result);
        }
        /*
        function setGameSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="/sells/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#sell_list').html(result);
        }

        function setGameBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="/buys/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#buy_list').html(result);
        }
        */

        function setOtcSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-sells/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_sell_list').html(result);
        }

        function setOtcBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-buys/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_buy_list').html(result);
        }

        function setNoticeList(data) {
            var result = "";

            // console.log(data)

            var len = 3; // data.length
            for(var i=0; i<len; i++) {
                var noticeId = data[i]._id;
                var title = data[i].title;
                
                result += '<li><div class="ellipse noti_ell"><a href="/supports/notice/detail?noticeId='+noticeId+'">'+title+'</a></div></li>'
            }
            $('#notice_list').html(result);
        }

        function setEtcSellList(data) {
            var result = "";

            console.log(data)

            if(data.length > 0) {
                // data.length = 4
                for(var i=0; i<data.length; i++) {
                    var itemId = data[i]._id;
                    var item_type = getItemType(data[i].type);
                    var price = numberWithCommas(data[i].total_price);
                    var point = numberWithCommas(data[i].total_point);
                    var status = getStatus(data[i].status);
                    var delivery_type = getDelivery(data[i].delivery_type == undefined ? "direct" : data[i].delivery_type);
                    var image_src;
                    if(data[i].images[0] === undefined || data[i].images[0] === "") {
                        image_src = "/static/img/sub/no_image.png";
                    } else {
                        image_src = data[i].images[0].path;
                    }
                    var title = data[i].title;
                    var regDate = data[i].regDate.substring(2, 10);
                    var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                    var money = point + '<span>Point</span>';
                    if("<%=useBlockchain%>" =='Y') {
                        money = price + '<span>'+cryptoCurrencyCode+'</span>';
                    }

                    if(i % 4 === 0) result += '<li class="li_asset cf">'
                    
                    result += '<div class="asset_once">'
                            +     '<div class="img_list_box">'
                            +        '<div class="photo_frame">'
                            +        '<em class="ico_trade state_possible step'+status.number+'">'+status.text+'</em>'
                            +        '<em class="ico_trade state_step '+delivery_type.className+'">'+delivery_type.text+'</em>'
                            +        '<a href="/etc-sells/detail/'+itemId+'"><img src="'+image_src+'" alt=""></a>'
                            +        '</div>'
                            +        '<dl>'
                            +            '<dt>'
                            +            '<div class="ellipse"><a href="/etc-sells/detail/'+itemId+'">' + title + '</a><span class="reply_num">(0)</span></div>'
                            +             '<dd class="cf">'
                            +                '<div class="money_txt">'+money+'</div>'
                            +                '<div class="time_txt">'+regDate+'</div>'
                            +            '</dd>'
                            +        '</dl>'
                            +    '</div>'
                            + '</div>'
                    // VIEW MORE 버튼 빼버림
                    // if(i===data.length -1) {
                    //     result += '<div class="asset_once"><div class="img_list_box"><div class="view_more">'
                    //             + '<a href="/etc-sells?category=etc&trade_type=sell"><em>+</em><span>VIEW<br>MORE</span></a>'
                    //             + '</div></div></div>'
                    // }
                    if(i % 4 === 3) result += '</li>'
                }
            }
            $('#assetsTrade').html(result);
        }

        function setCommunityMovie(data) {
            console.log(data)
            var result = "";
            for(var i=0; i<data.length; i++) {
                var movie_img = data[i].images.length == 0 ? "/static/img/main/community_noimage2.jpg" : data[i].images[0].path;
                var title = data[i].title;
                var movieUrl = data[i].movieUrl;
                var recommandCount = data[i].recommandCount ? data[i].recommandCount : 0;
                result +=   '<div class="media_img">' +
                                '<a class="cf" href="community/board/detail/'+data[i]._id+'">' +
                                    '<div class="cmnt_photo">' +
                                        '<img src="'+movie_img+'" alt="">' +
                                    '</div>' +
                                    '<div class="cmnt_title">' +
                                        '<h2 class="ellipse">'+title+'</h2>' +
                                        '<p class="cmnt_info"><span>♥ '+recommandCount+'</span><span>'+data[i].replyCount+'</span></p>' +
                                    '</div>' +
                                '</a>' +
                            '</div>';
            }

            $('.media_img_wrap').html(result);
        }

        function setCommunityBoard(data) {
            var result = "";
            for(var i=0; i<data.length; i++) {
                var title = data[i].title;
                result += '<li class="ellipse">'+title+'</li>';
            }

            $('#community_boards').html(result);
        }
    </script>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="visual_wrap">
            <section class="visual_sec">
                <h1 class="blind">Main Banners</h1>
                <div class="slick_visual">
                    <div class="visual_img">
                        <a href="/howto/trade/vtr">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual05.jpg" alt="Open Beta">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual05.jpg" alt="Open Beta">
                            </div>
                        </a> 
                    </div>                    
                    <div class="visual_img">
                        <a href="/supports/notice/detail?noticeId=5d637e3f59011316ab4b943e">
                        <div class="pc_img">
                            <img src="/static/img/main/main_visual19.jpg" alt="ONTology">
                        </div>
                        <div class="mob_img">
                            <img src="/static/img/mob/m_main_visual19.jpg" alt="ONTology">
                        </div>
                        </a>
                    </div>   
                    <div class="visual_img">
                        <div class="pc_img">
                            <img src="/static/img/en/en_main_visual04.jpg" alt="Listing">
                        </div>
                        <div class="mob_img">
                            <img src="/static/img/en/en_mob_main_visual04.jpg" alt="Listing">
                        </div>
                    </div>             
                    <div class="visual_img">
                        <a href="/gameStation/superlanding/info/">
                            <div class="pc_img">
                                <img src="/static/img/en/en_main_visual03.jpg" alt="2nd Game">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/en/en_mob_main_visual03.jpg" alt="2nd Game">
                            </div>
                        </a>
                    </div>
                    <div class="visual_img">
                        <a href="/gameStation/machAdventure/info/">
                            <div class="pc_img">
                                <img src="/static/img/en/en_main_visual02.jpg" alt="1st Game">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/en/en_mob_main_visual02.jpg" alt="1st Game">
                            </div>
                        </a>
                    </div>                                         
                </div>
                <%# nav-visual-length의 숫자 배너 length에 맞게 적을 것 %>
                <div class="nav_slick_visual" id="navSlcikVisual" nav-visual-length="5">
                    <div class="nav_text_box on"><div class="nav_text_box_inner"><em>ONTology</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>Listing</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>2nd Game</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>1st Game</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>Open Beta</em></div></div>
                </div>
            </section>
        </div>
        <div class="renewer_container">
            <!-- <section class="w100p_banner">
                <h1 class="blind">advertise</h1>
                <a class="mob_hide" href="https://t.me/marketmachcom" target="_blank">
                    <img src="/static/img/en/en_main_content_banner04.jpg" alt="마켓마하 오픈채팅 PC">
                </a>
                <a class="mob_show" href="https://t.me/marketmachcom" target="_blank">
                    <img src="/static/img/en/en_mob_main_banner04.jpg" alt="마켓마하 오픈채팅 mobile">
                </a>
            </section> -->

            <section class="section_asset">
                <div class="main_inner_wrap">
                    <h1 class=""><img src="/static/img/main/tit_asset.png" alt="ASSET"></h1>
                    <div class="photo_list">
                        <ul id="assetsTrade">
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section_hashtag">
                <div class="main_inner_wrap hashtag_category_wrap">
                    <ul class="hashtag_category cf">
                        <li class="hash_all"><a href="/etc-sells?category=etc&trade_type=sell"><span>ALL</span></a></li>
                        <li class="c1"><a href="/etc-sells?category=etc&trade_type=sell&category1=Woman"><span>Woman</span></a></li>
                        <li class="c2"><a href="/etc-sells?category=etc&trade_type=sell&category1=Male"><span>Male</span></a></li>
                        <li class="c3"><a href="/etc-sells?category=etc&trade_type=sell&category1=Fashion"><span>Fashion</span></a></li>
                        <li class="c4"><a href="/etc-sells?category=etc&trade_type=sell&category1=Beauty"><span>Beauty</span></a></li>
                        <li class="c5"><a href="/etc-sells?category=etc&trade_type=sell&category1=Baby"><span>Baby</span></a></li>
                        <li class="c1"><a href="/etc-sells?category=etc&trade_type=sell&category1=Sports"><span>Sports</span></a></li>
                        <li class="c2"><a href="/etc-sells?category=etc&trade_type=sell&category1=Electronic"><span>Electronic</span></a></li>
                        <li class="c3"><a href="/etc-sells?category=etc&trade_type=sell&category1=Living"><span>Living</span></a></li>
                        <li class="c4"><a href="/etc-sells?category=etc&trade_type=sell&category1=Book/Ticket"><span>Book/Ticket</span></a></li>
                        <li class="c5"><a href="/etc-sells?category=etc&trade_type=sell&category1=Hobby"><span>Hobby</span></a></li>
                        <li class="c1"><a href="/etc-sells?category=etc&trade_type=sell&category1=Toy"><span>Toy</span></a></li>
                        <li class="c2"><a href="/etc-sells?category=etc&trade_type=sell&category1=Car"><span>Car</span></a></li>
                        <li class="c3"><a href="/etc-sells?category=etc&trade_type=sell&category1=Other"><span>Other</span></a></li>
                    </ul>
                </div>
            </section>
                
            <!-- OTC 판매/구매 -->
            <!-- <section class="secOtc item_trade_sec">
                <div class="main_inner_wrap">
                    <h1 class="tit_main_sec">OTC</h1>
                    <h2 class="item_sell_tit on">
                        <button class="btnOtc btn_show_list on">Sales</button>
                        <a class="detail_link" href="/otc-sells?category=otc&trade_type=sell"><img src="/static/img/main/ico_view.png" alt=""></a>                        
                    </h2>
                    <div class="otc_sell otc_table_wrap trade_list toggleTable">              
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_otc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody id="otc_sell_list">                               
                            </tbody>
                        </table>
                    </div>
                    <h2 class="item_buy_tit">
                        <button class="btnOtc btn_show_list">Purchase</button>
                        <a class="detail_link" href="/otc-buys?category=otc&trade_type=buy"><img src="/static/img/main/ico_view.png" alt=""></a>      
                    </h2>
                    <div class="otc_buy otc_table_wrap trade_list toggleTable">
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_otc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>                            
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody id="otc_buy_list">
                            </tbody>
                        </table>                           
                    </div>
                </div>                             
            </section> -->
            <!--// OTC 아이템 판매/구매 -->

            <!-- 커뮤니티ㅏ 베스트 -->
            <section class="section_community">
                <div class="main_inner_wrap">
                    <h1 class=""><img src="/static/img/main/tit_community.png" alt="Community"></h1>
                    <div class="media_img_wrap cf">
                    </div>
                </div>
            </section>

            <div class="w100p_banner">
                <a class="mob_hide" href="http://bitweb.co.kr" target="_blank">
                    <img src="/static/img/en/en_main_content_banner03.jpg" alt="bitweb PC">
                </a>
                <a class="mob_show" href="http://bitweb.co.kr" target="_blank">
                    <img src="/static/img/en/en_mob_main_banner03.jpg" alt="bitweb mobile">
                </a>
            </div>
            
            <div class="noti_hot_section_wrap">
                <div class="main_inner_wrap dfb">
                    <section class="section_notice">
                        <h1>NOTICE</h1>
                        <div class="line_box">
                            <ul id="notice_list" class="noti_list">
                            </ul>
                        </div>
                    </section>
                    <section class="section_hotmenu">
                        <h1>HOT MENU</h1>
                        <img src="https://via.placeholder.com/385x200/D12C71/FFF?text=BANNER1" alt="">
                        <img src="https://via.placeholder.com/385x200/D12C71/FFF?text=BANNER2" alt="">
                    </section>
                </div>
            </div>
        <!--
            <div class="main_3n1n_wrap">
                <section class="notice_sec">
                    <h1 class="">Notice</h1>
                    <ul id="notice_list" class="noti_list">
                    </ul>
                    <div class="noti_btm_media">
                        <ul class="cf">
                            <li><a href="https://www.facebook.com/MarketMACH" target="_blank"><img src="/static/img/symbol/ico_noti_media_facebook.png" alt="facebook"></a></li>
                            <li><a href="https://twitter.com/MACH99077436" target="_blank"><img src="/static/img/symbol/ico_noti_media_twitter.png" alt="twitter"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC0d7GufTm0iG1IX_Lenp11w?feature=embeds_subscribe_title" target="_blank"><img src="/static/img/symbol/ico_noti_media_youtube.png" alt="youtube"></a></li>
                            <li><a href="https://medium.com/@kdi_35594" target="_blank"><img src="/static/img/symbol/ico_noti_media_medium.png" alt="facebook"></a></li>
                        </ul>
                    </div>
                </section>
                <section class="guide_sec">
                    <a href="/howto/trade/vtr">
                        <h1>MarketMACH<br>How to use<br>Guide</h1>
                        <div class="ico_round ico_guide01"></div>
                    </a>
                </section>
                <section class="guide_sec">
                    <a href="/howto/trade/buynow">
                        <h1>MarketMACH<br>Trading process<br>Guide</h1>
                        <div class="ico_round ico_guide02"></div>
                    </a>
                </section>
            </div>
        -->
        </div>
        <!--// bootstrap container -->
    </div>
    <!--// content_wrap -->

    <!-- 모달창 -->
    <div class="dim_all_area" style="display: none">
        <article class="modal_bitberry_deposit">
            <br>
            <h1>Need to auth phone</h1>
            <p>Need to auth phone [My Page->My Account].</p>
            <button id="gotoUserInfo" class="btn btn-danger">OK</button>
        </article>
    </div>
    <% include ../include/footer.html %>
</div>
</body>
