<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap point_wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <script>
        var myCurrency;
        document.querySelector("#floatingInfoBox").setAttribute("ismain", "true");

        $(document).ready(function () {
            loadItemsAll();
            if("<%=useBlockchain%>"=="Y") {
                loadCurrencyData();
            }

            if(userId != "" && authPhone == "") {
                // 메인 전용 팝업 로직
                // $(".dim_all_area").show();
                // $("body").css("position", "fixed");
            }
        });
        
        function loadCurrencyData() {
            var loadText = '<div class="coin_load_text cf">';
                loadText += '<em>COIN 시세를 불러오는 중입니다.</em>';
                loadText += '<div class="lds-facebook"><div></div><div></div><div></div></div>';
                loadText += '</div>';
                $('.slick_coin_quotes').slick('slickAdd', loadText);
                
            var currency_url = "/v1/charts/currency/5";
            var currency = function () {
                $.ajax({
                    method: "GET",
                    url: currency_url,
                }).done(function (success) {
                    //console.log(success);
                    loadCurrency(success.data);
                }).fail(function (fail) {
                    console.log('system error : ', fail);
                });
            };
            if(myCurrency != undefined) {
                clearInterval(myCurrency);
            }

            currency();
            //myCurrency = setInterval(currency, 1000 * 60);
            //console.log(myCurrency);
        }
        function loadCurrency(data) {

            var chartTotalData = data;
            var currency_result = "";

            for (var i = 0; i < chartTotalData.length; i++) {
                if(chartTotalData[i].data.binance.change_percent > 0) {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fcrd">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                } else {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fc3">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                }
                
            }

            $('.slick_coin_quotes').slick('slickRemove', null, null, true);
            $('.slick_coin_quotes').slick('slickAdd', currency_result);
        }

        function loadItemsAll() {
            var url = "/v1/items/all";
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                var strDOM = '';
                var game_buys = success.data.game_buys;
                var game_sells = success.data.game_sells;
                var etc_buys = success.data.etc_buys;
                var etc_sells = success.data.etc_sells;
                var prime_services = success.data.primes;
                var cms = success.data.cms;
                var movies = success.data.movies;
                var boards = success.data.boards;
                var otc_buys = success.data.otc_buys;
                var otc_sells = success.data.otc_sells;
                var notices = success.data.notices;
                
                console.log(success);

                setPrimeService(prime_services);
                setGameSellList(game_sells);
                setGameBuyList(game_buys);
                setEtcSellList(etc_sells);
                setOtcBuyList(otc_buys);
                setOtcSellList(otc_sells);
                setNoticeList(notices);
                setCommunityMovie(movies);
                // setCommunityBoard(boards);
            }).fail(function (fail) {
                console.log('system error : ', fail);
            })
        }

        function setPrimeService(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var trade_type = replaceType(data[i].trade_type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var title = data[i].title;
                var money = point + '<span>Point</span>';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + '<span>'+cryptoCurrencyCode+'</span>';
                }

                result += '<div>' +
                    '<img src="/static/img/main/monkey_face.png" alt="원숭이아이콘" class="img_monkey">' +
                    '<dl class="card_ui '+trade_type.title_bg_class+'">' +
                        '<dt class="'+trade_type.title_class+'">' + trade_type.title + '</dt>' +
                        '<dd>' +
                            '<a href="javascript:checkTeenager(\'/sells/detail/'+itemId+'\');">' +
                                '<ul>' +
                                    '<li class="cf">' +
                                        '<em>'+item_type.text+'</em>' +
                                        '<strong class="fc1">'+money+'</strong>' +
                                        '</li>' +
                                        '<li>'+game_server+'</li>' +
                                        '<li>'+title+'</li>' +
                                    '</ul>' +
                                '</a>' +
                            '</dd>' +
                        '</dl>' +
                    '</div>';
            }

            $('.slick_primezone').slick('slickRemove', null, null, true);
            $('.slick_primezone').slick('slickAdd', result);
        }

        function setGameSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="javascript:checkTeenager(\'/sells/detail/'+itemId+'\');">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#sell_list').html(result);
        }

        function setGameBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="javascript:checkTeenager(\'/buys/detail/'+itemId+'\');">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#buy_list').html(result);
        }

        function setOtcSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-sells/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_sell_list').html(result);
        }

        function setOtcBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-buys/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_buy_list').html(result);
        }

        function setNoticeList(data) {
            var result = "";

            console.log(data)

            for(var i=0; i<data.length; i++) {
                var noticeId = data[i]._id;
                var title = data[i].title;
                
                result += '<li><div class="ellipse noti_ell"><a href="/supports/notice/detail?noticeId='+noticeId+'">'+title+'</a></div></li>'
            }
            $('#notice_list').html(result);
        }

        function setEtcSellList(data) {
            var result = "";
            // console.log(data)
            if(data.length > 0) {
                for(var i=0; i<data.length; i++) {
                    var itemId = data[i]._id;
                    var item_type = getItemType(data[i].type);
                    var price = numberWithCommas(data[i].total_price);
                    var point = numberWithCommas(data[i].total_point);
                    var status = getStatus(data[i].status);
                    var delivery_type = getDelivery(data[i].delivery_type == undefined ? "direct" : data[i].delivery_type);
                    var image_src;
                    if(data[i].images[0] === undefined || data[i].images[0] === "") {
                        image_src = "/image/no-image.png";
                    } else {
                        image_src = data[i].images[0].path;
                    }
                    var title = data[i].title;
                    var regDate = data[i].regDate.substring(2, 10);
                    var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                    var money = point + '<span>Point</span>';
                    if("<%=useBlockchain%>" =='Y') {
                        money = price + '<span>'+cryptoCurrencyCode+'</span>';
                    }
                    
                    if(i % 4 === 0) result += '<li class="row">'
                    
                    result += '<div class="col-lg-3 col-md-6 col-xs-12">'
                            +     '<div class="img_list_box">'
                            +        '<div class="photo_frame">'
                            +        '<em class="ico_trade state_possible step'+status.number+'">'+status.text+'</em>'
                            +        '<em class="ico_trade state_step '+delivery_type.className+'">'+delivery_type.text+'</em>'
                            +        '<a href="/etc-sells/detail/'+itemId+'"><img src="'+image_src+'" alt=""></a>'
                            +        '</div>'
                            +        '<dl>'
                            +            '<dt>'
                            +            '<div class="ellipse"><a href="/etc-sells/detail/'+itemId+'">' + title + '</a><span class="reply_num">(0)</span></div>'
                            +             '<dd class="cf">'
                            +                '<div class="money_txt">'+money+'</div>'
                            +                '<div class="time_txt">'+regDate+'</div>'
                            +            '</dd>'
                            +        '</dl>'
                            +    '</div>'
                            + '</div>'
                    if(i===data.length -1) {
                        result += '<div class="col-md-3 col-sm-6 col-xs-12"><div class="img_list_box"><div class="view_more">'
                                + '<a href="/etc-sells?category=etc&trade_type=sell"><em>+</em><span>VIEW<br>MORE</span></a>'
                                + '</div></div></div>'
                    }
                    if(i % 4 === 3) result += '</li>'
                }
            }
            $('#assetsTrade').html(result);
        }

        function setCommunityMovie(data) {
            var result = "";
            for(var i=0; i<data.length; i++) {
                var movie_img = data[i].images.length == 0 ? "/static/img/main/community_noimage2.jpg" : data[i].images[0].path;
                var title = data[i].title;
                var movieUrl = data[i].movieUrl;
                var recommandCount = data[i].recommandCount ? data[i].recommandCount : 0;
                result +=   '<div class="media_img">' +
                                '<a class="cf" href="community/board/detail/'+data[i]._id+'">' +
                                    '<div class="cmnt_photo">' +
                                        '<img src="'+movie_img+'" alt="">' +
                                    '</div>' +
                                    '<div class="cmnt_title">' +
                                        '<h2 class="ellipse">'+title+'</h2>' +
                                        '<p class="cmnt_info"><span>♥ '+recommandCount+'</span><span>'+data[i].count+'</span></p>' +
                                    '</div>' +
                                '</a>' +
                            '</div>';
            }

            $('.media_img_wrap').html(result);
        }

        function setCommunityBoard(data) {
            var result = "";
            for(var i=0; i<data.length; i++) {
                var title = data[i].title;
                result += '<li class="ellipse">'+title+'</li>';
            }

            $('#community_boards').html(result);
        }
    </script>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="visual_wrap">
            <section class="visual_sec">
                <h1 class="blind">메인 비주얼 이미지 영역</h1>
                <div class="slick_visual">    
                    <div class="visual_img">
                        <a href="/howto/trade/vtr">
                            <div class="pc_img">
                                <img src="/static/img/pointmall/point_visual03.jpg" alt="그랜드 오픈">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/pointmall/m_point_visual03.jpg" alt="그랜드 오픈">
                            </div>
                        </a> 
                    </div>
                    <div class="visual_img">
                        <a href="/howto/happymoney_to_point">
                            <div class="pc_img">
                                <img src="/static/img/pointmall/point_visual02.jpg" alt="해피포인트">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/pointmall/m_point_visual02.jpg" alt="해피포인트몰">
                            </div>
                        </a> 
                    </div>                                                                     
                </div>
                <%# nav-visual-length의 숫자 배너 length에 맞게 적을 것 %>
                <div class="nav_slick_visual" id="navSlcikVisual" nav-visual-length="2">
                    <div class="nav_text_box on"><div class="nav_text_box_inner"><em>포인트몰 오픈</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>해피머니</em></div></div>
                </div>
            </section>
        </div>
        <div class="container renewer_container">
            <!-- <div class="w100p_banner row">
                <div class="col-lg-12">
                    <a class="mob_hide" href="https://open.kakao.com/o/gNPGb7sb" target="_blank">
                        <img src="/static/img/main/main_content_banner04.jpg" alt="마켓마하 오픈채팅 PC">
                    </a>
                    <a class="mob_show" href="https://open.kakao.com/o/gNPGb7sb" target="_blank">
                        <img src="/static/img/mob/mob_main_banner04.jpg" alt="마켓마하 오픈채팅 mobile">
                    </a>
                </div>
            </div> -->
            <section>
                <h1 class="tit_main_sec">자산거래</h1>
                <div class="photo_list">
                    <ul id="assetsTrade">
                    </ul>
                </div>
            </section>

            <!-- 게임 아이템 판매/구매 -->
            <section class="secGame item_trade_sec col-lg-12">
                <h1 class="tit_main_sec">게임아이템</h1>
                <h2 class="item_sell_tit on">
                    <button class="btnGame btn_show_list on">판매</button>
                    <a class="detail_link" href="/sells?category=game&trade_type=sell"><img src="/static/img/main/ico_view.png" alt=""></a>
                </h2>
                <div class="item_sell item_table_wrap trade_list toggleTable">              
                    <table class="main_list_table">
                        <colgroup class="colgroup_main_gameitem">
                            <col class="col4_1">
                            <col class="col4_2">
                            <col class="col4_3">
                            <col class="col4_4">
                        </colgroup>
                        <thead>
                            <tr class="active">
                                <th>종류</th>
                                <th>게임명>서버명</th>
                                <th>제 목</th>
                                <th>거래가격</th>
                            </tr>
                        </thead>
                        <tbody id="sell_list">                               
                        </tbody>
                    </table>
                </div>
                <h2 class="item_buy_tit">
                    <button class="btnGame btn_show_list">구매</button>
                    <a class="detail_link" href="/buys?category=game&trade_type=buy"><img src="/static/img/main/ico_view.png" alt=""></a>
                </h2>
                <div class="item_buy item_table_wrap trade_list toggleTable">
                    <table class="main_list_table">
                        <colgroup class="colgroup_main_gameitem">
                            <col class="col4_1">
                            <col class="col4_2">
                            <col class="col4_3">
                            <col class="col4_4">
                        </colgroup>                            
                        <thead>
                            <tr>
                                <th>종류</th>
                                <th>게임명>서버명</th>
                                <th>제 목</th>
                                <th>거래가격</th>
                            </tr>
                        </thead>
                        <tbody id="buy_list">
                        </tbody>
                    </table>                           
                </div>             
            </section>
            <!--// 게임 아이템 판매/구매 -->
  
            <!-- <section class="w100p_banner row">
                <div class="col-lg-12">
                    <a class="mob_hide" href="http://bitweb.co.kr/" target="_blank">
                        <img src="/static/img/main/main_content_banner03.jpg" alt="Bit Web">
                    </a>
                    <a class="mob_show" href="http://bitweb.co.kr/" target="_blank">
                        <img src="/static/img/mob/mob_main_banner03.jpg" alt="Bit Web">
                    </a>
                </div>
            </section> -->

            <div class="row">
                <section class="media_sec col-lg-12">
                    <h1 class="tit_main_sec">커뮤니티</h1>
                    <div class="bd_area">
                        <div class="media_img_wrap cf">
                        </div>
                    </div>
                </section>
            </div>
           
            <div class="main_3n1n_wrap">
                <section class="notice_sec">
                    <h1 class="">공지사항</h1>
                    <ul id="notice_list" class="noti_list">
                    </ul>
                </section>
                <section class="guide_sec">
                    <a href="/howto/trade/vtr">
                        <h1>포인트몰<br>이용 가이드</h1>
                        <div class="ico_round ico_guide01"></div>
                    </a>
                </section>
                <section class="guide_sec">
                    <a href="/howto/trade/buynow">
                        <h1>포인트몰<br>바로구매 가이드</h1>
                        <div class="ico_round ico_guide02"></div>
                    </a>
                </section>
            </div>        
        </div>
        <!--// bootstrap container -->
    </div>
    <!--// content_wrap -->

    <section class="partners_ci">
        <div class="ci_arrow">
            <div class="ci_ico_arrow prev"><i class="material-icons">keyboard_arrow_left</i></div>
            <div class="ci_ico_arrow next"><i class="material-icons">keyboard_arrow_right</i></div>
        </div>
        <div class="ci_area">
            <div class=""><a href="http://www.kipo.go.kr​" target="_blank"><img src="/static/img/main/footer_ci_01.png" alt="특허청"></a></div>
            <div class=""><a href="http://www.ftc.go.kr" target="_blank"><img src="/static/img/main/footer_ci_02.png" alt="공정거래위원회"></a></div>
            <div class=""><a href="https://www.kisa.or.kr" target="_blank"><img src="/static/img/main/footer_ci_03.png" alt="한국인터넷진흥원"></a></div>
            <div class=""><a href="https://okbfex.kbstar.com/quics?page=oescrow" target="_blank"><img src="/static/img/main/footer_ci_04.png" alt="KB에스크로"></a></div>
            <div class=""><a href="https://thecheat.co.kr" target="_blank"><img src="/static/img/main/footer_ci_05.png" alt="더치트"></a></div>
            <div class=""><a href="http://cyberbureau.police.go.kr" target="_blank"><img src="/static/img/main/footer_ci_06.png" alt="경찰청 사이버안전국"></a></div>                
        </div>
    </section> 

    <!-- 모달창 -->
    <div class="dim_all_area" style="display: none">
        <article class="modal_bitberry_deposit">
            <br>
            <h1>휴대폰 인증 필요</h1>
            <p>[나의 페이지->회원정보수정]에서 휴대폰 인증을 하시기 바랍니다.</p>
            <button id="gotoUserInfo" class="btn btn-danger">확인</button>
        </article>
    </div>
    <% include ../include/footer.html %>
</div>
</body>
