<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/myPage/myDealHistory.css" rel="stylesheet">
</head>

<body class="background3">
<header class="header_area" id="header">
</header>


<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-150">
    <div class="container">

        <div class="row">
            <div class="col-12 list-panel">
                <div class="col-12 my-3 text-white">
                    <span><i class="fa fa-rocket"
                             aria-hidden="true"></i> <span><%= __('page.myDealHistory.bigTitle') %></span></span>
                </div>

                <div class="col-12 px-0 hero-search-form">
                    <!-- Tabs -->
                    <div class="nav nav-tabs" id="machTab" role="tablist">
                        <% if(useBlockchain=="Y"){ %>
                        <a class="nav-item nav-link active" id="nav-gameItem-tab" data-toggle="tab" href="#nav-gameItem"
                           role="tab" aria-controls="nav-gameItem" aria-selected="true" onclick="location.href='/myPages/myDealHistory?category=game&pageIdx=0'"><%=
                            __('page.myDealHistory.tabs.title1') %></a>
                        <% } if(usePoint=="Y" && country=="KR"){ %>
                        <a class="nav-item nav-link" id="nav-etc-tab" data-toggle="tab" href="#nav-etc" role="tab"
                           aria-controls="nav-etc" aria-selected="false" onclick="location.href='/myPages/myDealHistory?category=etc&pageIdx=0'"><%=
                            __('page.myDealHistory.tabs.title2') %></a>
                        <% } %>
                    </div>
                    <!-- Tabs Content -->
                    <div class="tab-content" id="nav-tabContent-mach">
                        <div class="tab-pane fade show active" id="nav-gameItem" role="tabpanel"
                             aria-labelledby="nav-gameItem-tab">

                        </div>
                        <div class="tab-pane fade" id="nav-etc" role="tabpanel" aria-labelledby="nav-etc-tab">

                        </div>
                    </div>
                </div>


                <div class="page"></div>


            </div>
        </div>
    </div>
</section>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script src="/javascript/util.js"></script>
<script>
    let pageIdx, tabTrigger;

    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
        $(".page").load("/page");
        console.log("id : ", "<%= id %>");
        console.log("userTag : ", "<%= userTag %>");

        let category = "<%= category %>";
        if (category == "game" || category == "") {
            loadVTRList();
        } else if (category == "etc") {
            loadPointList();
            $("#nav-gameItem-tab").removeClass("active");
            $("#nav-etc-tab").addClass("active");
            $("#nav-gameItem").removeClass("show active");
            $("#nav-etc").addClass("show active");
        }
    });

    function loadVTRList() {
        tabTrigger = "vtr";
        pageIdx = Number("<%= pageIdx %>");
        let url;
        if (pageIdx == "") {
            url = "/v1/vtrs/user/" + "<%= userTag %>";
        } else {
            url = "/v1/vtrs/user/" + "<%= userTag %>" + "?pageIdx=" + pageIdx;
        }

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success);
            $("#nav-gameItem").children().remove();
            if (success.data.length != 0) {
                let strDOM = '';
                let date, type, status, title, price, tradeType, category;

                for (let i = 0; i < success.data.length; i++) {
                    date = success.data[i].regDate.substring(2, 10);
                    type = success.data[i].type;
                    if (type == "item") {
                        type = "<%= __('page.myDealHistory.tabs.vtr.title1') %>";
                    } else if (type == "gameMoney") {
                        type = "<%= __('page.myDealHistory.tabs.vtr.title2') %>";
                    } else {
                        type = "<%= __('page.myDealHistory.tabs.vtr.title3') %>";
                    }
                    status = success.data[i].status;
                    title = success.data[i].title;
                    price = numberWithCommas(success.data[i].price);
                    tradeType=success.data[i].trade_type;
                    category=success.data[i].category;

                    if(tradeType=="sell"&& category=="game"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/sells/detail/'+success.data[i]._id+'\'">\n'
                    }else if(tradeType=="buy" && category=="game"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/buys/detail/'+success.data[i]._id+'\'">\n'
                    }else if(tradeType=="sell"&&category=="etc"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/etc-sells/detail/'+success.data[i]._id+'\'">\n'
                    }else if(tradeType=="buy" && category=="etc") {
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/etc-buys/detail/' + success.data[i]._id + '\'">\n'
                    }
                   strDOM+=    '                                <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                                    <div class="col-2 py-2 px-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n' +
                        '                                            <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + date + '\n' +
                        '                                            </div>\n' +
                        '                                            <div class="d-flex justify-content-center card-panel-item-bottom">' + type + '\n' +
                        '                                            </div>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-2 py-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n';

                    if (status == "1" || status == "2" || status == "3") {
                        status = "<%= __('page.myDealHistory.tabs.vtr.title4') %>" + '<br>' + "<%= __('page.myDealHistory.tabs.vtr.title4FirstOption') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-vrt text-center">' + status + '</div>\n';
                    } else {
                        status = "<%= __('page.myDealHistory.tabs.vtr.title1') %>" + '<br>' + "<%= __('page.myDealHistory.tabs.vtr.title5') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-completed text-center">' + status + '</div>\n';
                    }
                    strDOM += '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="d-flex justify-content-center col-6 m-0 p-0">\n' +
                        '                                        <span>' + title + '</span>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="d-flex justify-content-center col-2">\n' +
                        '                                        <span class="card-panel-item-cost"><span>' + price + '</span> MACH</span>\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </div>';
                }

                $("#nav-gameItem").append(strDOM);
            } else {
                let strDOM = '<div class="text-white text-center">'+ "<%= __('page.myDealHistory.info1') %>" +'</div>';
                $("#nav-gameItem").append(strDOM);
            }

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }

    function loadPointList() {
        tabTrigger = "point";
        pageIdx = Number("<%= pageIdx %>");

        let url;
        if (pageIdx == "") {
            url = "/v1/tradePoints/user/" + "<%= id %>";
        } else {
            url = "/v1/tradePoints/user/" + "<%= id %>" + "?pageIdx=" + pageIdx;
        }

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success);
            $("#nav-etc").children().remove();
            if (success.data.length != 0) {
                let strDOM = '';
                let date, status, price, tradeType;

                for (let i = 0; i < success.data.length; i++) {
                    date = success.data[i].regDate.substring(2, 10);

                    status = success.data[i].status;
                    title = success.data[i].title;
                    price = success.data[i].price;
                    tradeType=success.data[i].trade_type;

                    if(tradeType=="sell"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/etc-sells/detail/'+success.data[i]._id+'\'">\n'
                    }else if(tradeType=="buy"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/etc-buys/detail/'+success.data[i]._id+'\'">\n'
                    }

                    strDOM += '                                <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                                    <div class="col-2 py-2 px-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n' +
                        '                                            <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + date + '\n' +
                        '                                            </div>\n' +
                        '                                            <div class="d-flex justify-content-center card-panel-item-bottom">'+"<%= __('page.myBuyList.tabs.etc.title1') %>"+'\n' +
                        '                                            </div>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-2 py-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n';

                    if (status == "101" || status == "102" || status == "103") {
                        status = "<%= __('page.myDealHistory.tabs.point.title4') %>" + '<br>' + "<%= __('page.myDealHistory.tabs.point.title4FirstOption') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-point text-center">' + status + '</div>\n';
                    } else {
                        status = "<%= __('page.myDealHistory.tabs.point.title1') %>" + '<br>' + "<%= __('page.myDealHistory.tabs.point.title5') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-completed text-center">' + status + '</div>\n';
                    }
                    strDOM += '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="d-flex justify-content-center col-6 m-0 p-0">\n' +
                        '                                        <span>' + title + '</span>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="d-flex justify-content-center col-2">\n' +
                        '                                        <span class="card-panel-item-cost"><span>' + price + '</span> MACH</span>\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </div>';
                }
                $("#nav-etc").append(strDOM);
            } else {
                let strDOM = '<div class="text-white text-center">'+ "<%= __('page.myDealHistory.info1') %>" +'</div>';
                $("#nav-etc").append(strDOM);
            }

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }

    function nextPage() {
        pageIdx = pageIdx + 1;
        let query, url;
        if (tabTrigger == "vtr") {
            query = "?pageIdx=" + pageIdx;
            url = "/v1/vtrs/user/" + "<%= id %>" + "?pageIdx=" + pageIdx;
        } else if (tabTrigger == "point") {
            query = "?category=etc&pageIdx=" + pageIdx;
            url = "/v1/tradePoints/user/" + "<%= id %>" + "?pageIdx=" + pageIdx;
        }

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success);

            if (success.data.length != 0) {
                location.href = "/myPages/myDealHistory" + query;
            } else {
                pageIdx = pageIdx - 1;
                swal({
                    text: "<%= __('common.pagination.nextPageAlert') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            }
        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        });

    }

    function prevPage() {
        pageIdx = pageIdx - 1;
        if (pageIdx < 0) {
            pageIdx = 0;
            swal({
                text: "<%= __('common.pagination.prevPageAlert') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        } else {
            let query, url;
            if (tabTrigger == "vtr") {
                query = "?pageIdx=" + pageIdx;
                url = "/v1/vtrs/user/" + "<%= id %>" + "?pageIdx=" + pageIdx;
            } else if (tabTrigger == "point") {
                query = "?category=etc&pageIdx=" + pageIdx;
                url = "/v1/tradePoints/user/" + "<%= id %>" + "?pageIdx=" + pageIdx;
            }
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                if (success.data.length != 0) {
                    location.href = "/myPages/myDealHistory" + query;
                } else {
                    pageIdx = pageIdx + 1;
                    swal({
                        text: "<%= __('common.pagination.prevPageAlert') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            });
        }
    }
</script>
</body>
</html>
