<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/myPage/myRegisterHistory.css" rel="stylesheet">
</head>

<body class="background3">
<header class="header_area" id="header">
</header>


<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-150">
    <div class="container">

        <div class="row">
            <div class="col-12 list-panel">
                <div class="col-12 my-3 text-white">
                    <span><i class="fa fa-rocket"
                             aria-hidden="true"></i> <span><%= __('page.myRegisterHistory.bigTitle') %></span></span>
                </div>

                <div class="col-12 px-0 hero-search-form">
                    <!-- Tabs -->
                    <div class="nav nav-tabs" id="machTab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-gameItem-tab" data-toggle="tab" href="#nav-gameItem"
                           role="tab" aria-controls="nav-gameItem" aria-selected="true" onclick="location.href='/myPages/myRegisterHistory?category=game&pageIdx=0'"><%=
                            __('page.myRegisterHistory.tabs.title1') %></a>
                        <a class="nav-item nav-link" id="nav-etc-tab" data-toggle="tab" href="#nav-etc" role="tab"
                           aria-controls="nav-etc" aria-selected="false" onclick="location.href='/myPages/myRegisterHistory?category=etc&pageIdx=0'"><%=
                            __('page.myRegisterHistory.tabs.title2') %></a>
                    </div>
                    <!-- Tabs Content -->
                    <div class="tab-content" id="nav-tabContent-mach">
                        <div class="tab-pane fade show active" id="nav-gameItem" role="tabpanel"
                             aria-labelledby="nav-gameItem-tab">


                            <!--<div class="col-12 px-0" onclick="detail()">-->
                            <!--<div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">-->
                            <!--<div class="col-2 py-2 px-2 mr-0">-->
                            <!--<div class="date-map-area">-->
                            <!--<div class="d-flex justify-content-center mb-1 card-panel-item-top">19.05.05-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center card-panel-item-bottom">아이템-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-2 py-2 mr-0">-->
                            <!--<div class="date-map-area">-->
                            <!--<div class="d-flex justify-content-center mb-1 card-panel-item-status-vrt text-center">-->
                            <!--VRT<br>거래중-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center col-6 m-0 p-0">-->
                            <!--<span>항공 세트 + 카우보이 세트</span>-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center col-2">-->
                            <!--<span class="card-panel-item-cost"><span>11596</span> MACH</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-12 px-0" onclick="detail()">-->
                            <!--<div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">-->
                            <!--<div class="col-2 py-2 px-2 mr-0">-->
                            <!--<div class="date-map-area">-->
                            <!--<div class="d-flex justify-content-center mb-1 card-panel-item-top">19.05.05-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center card-panel-item-bottom">아이템-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-2 py-2 mr-0">-->
                            <!--<div class="date-map-area">-->
                            <!--<div class="d-flex justify-content-center mb-1 card-panel-item-status-point text-center">-->
                            <!--POINT<br>거래중-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center col-6 m-0 p-0">-->
                            <!--<span>항공 세트 + 카우보이 세트</span>-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center col-2">-->
                            <!--<span class="card-panel-item-cost"><span>11596</span> MACH</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-12 px-0" onclick="detail()">-->
                            <!--<div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">-->
                            <!--<div class="col-2 py-2 px-2 mr-0">-->
                            <!--<div class="date-map-area">-->
                            <!--<div class="d-flex justify-content-center mb-1 card-panel-item-top">19.05.05-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center card-panel-item-bottom">아이템-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-2 py-2 mr-0">-->
                            <!--<div class="date-map-area">-->
                            <!--<div class="d-flex justify-content-center mb-1 card-panel-item-status-completed text-center">-->
                            <!--ITEM<br>거래완료-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center col-6 m-0 p-0">-->
                            <!--<span>항공 세트 + 카우보이 세트</span>-->
                            <!--</div>-->
                            <!--<div class="d-flex justify-content-center col-2">-->
                            <!--<span class="card-panel-item-cost"><span>11596</span> MACH</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->


                        </div>
                        <div class="tab-pane fade" id="nav-etc" role="tabpanel" aria-labelledby="nav-etc-tab">




                            <!--<div class="col-12 px-0">-->
                                <!--<div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">-->
                                    <!--<div class="col-2 py-2 px-2 mr-0 panel-detail">-->
                                        <!--<div class="date-map-area">-->
                                            <!--<div class="d-flex justify-content-center mb-1 card-panel-item-top">19.05.05-->
                                            <!--</div>-->
                                            <!--<div class="d-flex justify-content-center card-panel-item-bottom">BTC-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="d-flex justify-content-center col-6 m-0 p-0">-->
                                        <!--<span class="text-overflow">0xdC76866e2457a7fafB7E55BbB84b14C4DdCCA42c</span>-->
                                    <!--</div>-->
                                    <!--<div class="d-flex justify-content-center col-2 px-0">-->
                                        <!--<span class="card-panel-item-cost"><span>1159236</span> BTC</span>-->
                                    <!--</div>-->
                                    <!--<div class="d-flex justify-content-center col-2 px-0">-->
                                        <!--<span class="card-panel-item-cost"><span>115932236</span> MACH</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->


                        </div>
                    </div>
                </div>


                <div class="page"></div>


            </div>
        </div>
    </div>
</section>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script src="/javascript/util.js"></script>
<script>
    let pageIdx, tabTrigger;

    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
        $(".page").load("/page");


        let category = "<%= category %>";
        if (category == "game" || category == "") {
            loadGameList();
        } else if (category == "etc") {
            loadEtcItemList();
            $("#nav-gameItem-tab").removeClass("active");
            $("#nav-etc-tab").addClass("active");
            $("#nav-gameItem").removeClass("show active");
            $("#nav-etc").addClass("show active");
        }
    });

    function loadGameList() {
        tabTrigger = "gameItem";
        pageIdx = Number("<%= pageIdx %>");
        let url;
        if (pageIdx == "") {
            url = "/v1/items/users/" + "<%= userTag %>" + "?category=game";
        } else {
            url = "/v1/items/users/" + "<%= userTag %>" + "?category=game&pageIdx=" + pageIdx;
        }

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success.data);
            $("#nav-gameItem").children().remove();
            if (success.data.count.length != 0) {
                let strDOM = '';
                let date, type, status, title, price, point, tradeType;

                for (let i = 0; i < success.data.list.length; i++) {
                    date = success.data.list[i].regDate.substring(2, 10);
                    type = success.data.list[i].type;
                    if (type == "item") {
                        type = "<%= __('page.myRegisterHistory.tabs.gameItem.title1') %>";
                    } else if (type == "gameMoney") {
                        type = "<%= __('page.myRegisterHistory.tabs.gameItem.title2') %>";
                    }
                    status = success.data.list[i].status;
                    title = success.data.list[i].title;
                    price = numberWithCommas(success.data.list[i].price);
                    point = numberWithCommas(success.data.list[i].point);
                    tradeType=success.data.list[i].trade_type;

                    if(tradeType=="sell"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/sells/detail/'+success.data.list[i]._id+'\'">\n'
                    }else if(tradeType=="buy"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/buys/detail/'+success.data.list[i]._id+'\'">\n'
                    }
                   strDOM+=    '                                <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                                    <div class="col-2 py-2 px-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n' +
                        '                                            <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + date + '\n' +
                        '                                            </div>\n' +
                        '                                            <div class="d-flex justify-content-center card-panel-item-bottom">' + type + '\n' +
                        '                                            </div>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-2 py-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n';

                    if (status == "0") {
                        status = "<%= __('page.myRegisterHistory.tabs.gameItem.title1') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.gameItem.title3') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-register text-center">' + status + '</div>\n';
                    } else if (status == "1") {
                        status = "<%= __('page.myRegisterHistory.tabs.gameItem.title4FirstOption') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.gameItem.title4') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-vrt text-center">' + status + '</div>\n';
                    } else if (status == "2") {
                        status = "<%= __('page.myRegisterHistory.tabs.gameItem.title4SecondOption') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.gameItem.title4') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-point text-center">' + status + '</div>\n';
                    } else {
                        status = "<%= __('page.myRegisterHistory.tabs.gameItem.title1') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.gameItem.title5') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-completed text-center">' + status + '</div>\n';
                    }
                    strDOM += '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="d-flex justify-content-center col-6 m-0 p-0">\n' +
                        '                                        <span>' + title + '</span>\n' +
                        '                                    </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2">\n';
                    if("<%=useBlockchain%>" == "Y") {
                        strDOM += '                            <span class="card-panel-item-cost"><span>' + price + '</span> MACH</span>\n';
                    } else {
                        strDOM += '                            <span class="card-panel-item-cost"><span>' + point + '</span>원</span>\n';
                    }
                    strDOM += '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>'
                }

                $("#nav-gameItem").append(strDOM);
            } else {
                let strDOM = '<div class="text-white text-center">'+ "<%= __('page.myRegisterHistory.info1') %>" +'</div>';
                $("#nav-gameItem").append(strDOM);
            }

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }

    function loadEtcItemList() {
        tabTrigger = "etc";
        pageIdx = Number("<%= pageIdx %>");

        let url;
        if (pageIdx == "") {
            url = "/v1/items/users/" + "<%= userTag %>" + "?category=etc";
        } else {
            url = "/v1/items/users/" + "<%= userTag %>" + "?category=etc&pageIdx=" + pageIdx;
        }

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success.data);
            $("#nav-etc").children().remove();
            if (success.data.count.length != 0) {
                let strDOM = '';
                let date, status, price, point, tradeType;

                for (let i = 0; i < success.data.list.length; i++) {
                    date = success.data.list[i].regDate.substring(2, 10);

                    status = success.data.list[i].status;
                    title = success.data.list[i].title;
                    price = numberWithCommas(success.data.list[i].price);
                    point = numberWithCommas(success.data.list[i].point);
                    tradeType=success.data.list[i].trade_type;

                    if(tradeType=="sell"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/etc-sells/detail/'+success.data.list[i]._id+'\'">\n'
                    }else if(tradeType=="buy"){
                        strDOM += '<div class="col-12 px-0" onclick="location.href=\'/etc-buys/detail/'+success.data.list[i]._id+'\'">\n'
                    }

                    strDOM += '                                <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                                    <div class="col-2 py-2 px-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n' +
                        '                                            <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + date + '\n' +
                        '                                            </div>\n' +
                        '                                            <div class="d-flex justify-content-center card-panel-item-bottom">'+"<%= __('page.myBuyList.tabs.etc.title1') %>"+'\n' +
                        '                                            </div>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-2 py-2 mr-0">\n' +
                        '                                        <div class="date-map-area">\n';

                    if (status == "0") {
                        status = "<%= __('page.myRegisterHistory.tabs.etc.title1') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.etc.title2') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-register text-center">' + status + '</div>\n';
                    } else if (status == "1") {
                        status = "<%= __('page.myRegisterHistory.tabs.etc.title3FirstOption') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.etc.title3') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-vrt text-center">' + status + '</div>\n';
                    } else if (status == "2") {
                        status = "<%= __('page.myRegisterHistory.tabs.etc.title3SecondOption') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.etc.title3') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-point text-center">' + status + '</div>\n';
                    } else {
                        status = "<%= __('page.myRegisterHistory.tabs.etc.title1') %>" + '<br>' + "<%= __('page.myRegisterHistory.tabs.etc.title4') %>";
                        strDOM += '        <div class="d-flex justify-content-center mb-1 card-panel-item-status-completed text-center">' + status + '</div>\n';
                    }
                    strDOM += '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="d-flex justify-content-center col-6 m-0 p-0">\n' +
                        '                                        <span>' + title + '</span>\n' +
                        '                                    </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2">\n';
                    if("<%=useBlockchain%>" == "Y") {
                        strDOM += '                            <span class="card-panel-item-cost"><span>' + price + '</span> MACH</span>\n';
                    } else {
                        strDOM += '                            <span class="card-panel-item-cost"><span>' + point + '</span>원</span>\n';
                    }
                    strDOM += '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>'
                }
                $("#nav-etc").append(strDOM);
            } else {
                let strDOM = '<div class="text-white text-center">'+ "<%= __('page.myRegisterHistory.info1') %>" +'</div>';
                $("#nav-etc").append(strDOM);
            }

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }

    function nextPage() {
        pageIdx = pageIdx + 1;
        let query, url;
        if (tabTrigger == "gameItem") {
            query = "?category=game&pageIdx=" + pageIdx;
            url = "/v1/items/users/" + "<%= userTag %>" + "?category=game&pageIdx=" + pageIdx;
        } else if (tabTrigger == "etc") {
            query = "?category=etc&pageIdx=" + pageIdx;
            url = "/v1/items/users/" + "<%= userTag %>" + "?category=etc&pageIdx=" + pageIdx;
        }

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success);

            if (success.data.list.length != 0) {
                location.href = "/myPages/myRegisterHistory" + query;
            } else {
                pageIdx = pageIdx - 1;
                swal({
                    text: "<%= __('common.pagination.nextPageAlert') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            }
        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        });

    }

    function prevPage() {
        pageIdx = pageIdx - 1;
        if (pageIdx < 0) {
            pageIdx = 0;
            swal({
                text: "<%= __('common.pagination.prevPageAlert') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        } else {
            let query, url;
            if (tabTrigger == "gameItem") {
                query = "?category=game&pageIdx=" + pageIdx;
                url = "/v1/items/users/" + "<%= userTag %>" + "?category=game&pageIdx=" + pageIdx;
            } else if (tabTrigger == "etc") {
                query = "?category=etc&pageIdx=" + pageIdx;
                url = "/v1/items/users/" + "<%= userTag %>" + "?category=etc&pageIdx=" + pageIdx;
            }
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                if (success.data.list.length != 0) {
                    location.href = "/myPages/myRegisterHistory" + query;
                } else {
                    pageIdx = pageIdx + 1;
                    swal({
                        text: "<%= __('common.pagination.prevPageAlert') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            });
        }
    }
</script>
</body>
</html>
