    <footer class="footer">
        <div class="footer_content">
            <section class="ft_listing">
                <div class="main_inner_wrap dfb">
                    <h1>LISTING</h1>
                    <dl class="listing_coin dfb">
                        <dt>COIN</dt>
                        <dd><a href="https://mymach.io/" target="_blank"><img src="/static/img/symbol/symbol_mach.png" alt="MACH" title="MACH"></a></dd>
                        <dd><a href="https://www.bitcoin.com/" target="_blank"><img src="/static/img/symbol/symbol_bitcoin.png" alt="BitCoin" title="BitCoin"></a></dd>
                        <dd><a href="https://www.ethereum.org/" target="_blank"><img src="/static/img/symbol/symbol_ethereum.png" alt="Ethereum" title="Ethereum"></a></dd>
                        <dd><a href="https://ont.io/" target="_blank"><img src="/static/img/symbol/symbol_ont.png" alt="ONT" title="ONT"></a></dd>
                        <dd><a href="https://ont.io/" target="_blank"><img src="/static/img/symbol/symbol_ong.png" alt="ONG" title="ONG"></a></dd>
                        <dd><a class="" href="/supports/private/register"><i class="material-icons">add_circle</i></a></dd>
                    </dl>                                        
                    <dl class="listing_game dfb">
                        <dt>GAME</dt>
                        <dd><a href="/gameStation/machAdventure/info/"><img src="/static/img/symbol/symbol_monkey.png" alt="MACH Adventure" title="MACH Adventure"></a></dd>
                        <dd><a href="https://www.coingame.com" target="_blank"><img src="/static/img/symbol/symbol_coingame.png" alt="Coingame" title="Coingame"></a></dd>
                        <dd><a class="" href="/supports/private/register"><i class="material-icons">add_circle</i></a></dd>
                    </dl>                 
                </div>
            </section>
            <div class="ft_menu">
                <div class="main_inner_wrap dfb">
                    <div class=""><a href="https://mymach.io" target="_blank">About Project</a></div>
                    <div class=""><a href="/agreements/use">Terms of Service</a></div>
                    <div class=""><a href="/agreements/private">Privacy Policy</a></div>
                    <!-- <div class=""><a href="/agreements/teenager">Youth Protection</a></div> -->
                    <div class=""><a href="/howto/safty_trade">Safety Trading</a></div>
                </div>    
            </div>
            <section class="ft_addr">
                <div class="main_inner_wrap">
                    <dl class="dfb">
                        <dt class="ft_logo">
                            <img src="/static/img/main/footer_logo.png" alt="MACH"><br><br>
                        </dt>
                        <dd class="ft_text">
                            <p>
                                Korea Certification Service Inc.<br class="mob_show"> © MarketMACH All rights reserved.<br>
                                io@onlykcs.com <span class="mob_hide">/</span><br class="mob_show"> B103, 88, Gasan digital 1-ro, Geumcheon-gu, Seoul, Republic of Korea
                            </p>
                        </dd>
                    </dl>
                    <div class="tac">
                        <ul class="ft_link dif">
                            <li><a href="https://www.facebook.com/MarketMACH" target="_blank"><img src="/static/img/symbol/ico_noti_media_facebook.png" alt="facebook"></a></li>
                            <li><a href="https://twitter.com/MACH99077436" target="_blank"><img src="/static/img/symbol/ico_noti_media_twitter.png" alt="twitter"></a></li>
                            <li><a href="https://t.me/marketmachcom" target="_blank"><img src="/static/img/symbol/ico_noti_media_telegram.png" alt="telegram"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC0d7GufTm0iG1IX_Lenp11w?feature=embeds_subscribe_title" target="_blank"><img src="/static/img/symbol/ico_noti_media_youtube.png" alt="youtube"></a></li>
                            <li><a href="https://medium.com/@kdi_35594" target="_blank"><img src="/static/img/symbol/ico_noti_media_medium.png" alt="facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <!-- ?? URL -->
        <div class="ft_rec_url">
            <button type="button" id="m_voucherCopy" data-clipboard-action="copy" data-clipboard-target="#m_copyTxt" style="width: 1px;height: 1px;opacity: 0;"></button>
            <textarea id="m_copyTxt"></textarea>
        </div>
    </footer>
    <article class="ajax_dim" id="ajaxSpiner">
        <div class="ajax_spinner_wrap">
            <div class="lds-dual-ring"></div>
            <h1 id="spinnerTarget">in progress. wait a minute.</h1>
            <p>Do not refresh or leave the page</p>
        </div>
    </article>