<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li><a href="/howto/trade/vtr">거래안내</a></li>
                    <li><a href="/howto/buymach/wallet">MACH 구매</a></li>
                    <li><a href="/howto/safeTrade/escrow">안전거래 안내</a></li>
                    <li class="on"><a href="/howto/etc/csbot">기타</a></li>
                </ul>
            </div>

            <section class="howto_sec">
                <div class="content_tab_depth2">
                    <ul class="cf">
                        <li><a href="/howto/etc/csbot">마하봇 사용법</a></li>
                        <li class="on"><a href="/howto/etc/fee">거래 수수료</a></li>
                    </ul>
                </div>
                <h1 class="tit_howto">거래 수수료</h1>     
                <div>
                    마하 : 무료
                    비트코인 : 0.8%
                    이더리음 : 0.8%
                </div>   
            </section>  
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>