<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        $(document).ready(function() {
            $('.menu_login').hide();
            $('.menu_logout').show();
        });
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- join_sec page-->
            <section class="join_sec ">
                    <h1>Email Authentication</h1>
                    <div class="table_wrap table-responsive">
                        <table class="table_view table">
                            <colgroup class="colgroup_signup">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>Code</th>
                                    <td>
                                        <input type="text" class="form-control w80p" name="email" placeholder="">                          
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="btn_align_c">
                        <button class="btn btn_in_view1" id="signup">Authenticate</button>
                    </div>    
            </section>
            <!--// join_sec page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body> 