<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        $(document).ready(function() {
            $('.menu_login').hide();
            $('.menu_logout').show();
        });
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- join_sec page-->
            <section class="join_sec">
                    <h1>Sign up complete</h1>
                    <dl class="cmn_fjb finish_join_box1">
                        <dt>Welcome to the MarketMACH.</dt>
                        <dd>
                            <p>In addition to MarketMACH, you have access to all the services offered by the MACH community.</p>
                        </dd>
                    </dl>
                    <dl class="cmn_fjb finish_join_box2">
                        <dt>Please register your wallet on the MarketMACH<br> for a smooth transaction.</dt>
                        <dd>
                            <a class="btn bgc3" href="/myPages/wallet/connect">Add Bitberry Wallet</a>
                            <p>※ Wallet registration and management is available at [My Page - My Wallet] at any time.</p>
                        </dd>
                    </dl>
                </section>
                <!--// join_sec page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body> 