<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="tac">
                <img style="margin-top:50px" src="/static/img/sub/safety_trade_info.jpg" alt="">
            </div>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>