<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <section class="howto_sec">
                <div class="tab_menu">
                    <ul class="cf nth2">
                        <li class="on"><a href="/howto/trade/vtr"><h1>이용안내</h1></a></li>
                        <li><a href="/howto/vtr_chatbot">VTR & Chatbot 안내</a></li>
                    </ul>
                </div>
                
                <div class="tac">
                    <img src="/static/img/sub/how_to_marketmach.jpg" alt="">
                </div>
            </section>            
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>