<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li><a href="/howto/trade/vtr">거래안내</a></li>
                    <li class="on"><a href="/howto/buymach/buy/wallet">MACH 구매</a></li>
                    <li><a href="/howto/safeTrade/escrow">안전거래 안내</a></li>
                    <li><a href="/howto/etc/csbot">기타</a></li>
                </ul>
            </div>

            <section class="howto_sec">
                <div class="content_tab_depth2">
                    <ul class="cf">
                        <li><a href="/howto/buymach/wallet">지갑만들기</a></li>
                        <li class="on"><a href="/howto/buymach/buy">MACH 구매하기</a></li>
                        <li><a href="/howto/buymach/deposit">MACH 입금하기</a></li>
                        <li><a href="/howto/buymach/withdraw">MACH 출금하기</a></li>
                    </ul>
                </div>
                <h1 class="tit_howto">MACH 구매하기</h1>    
                <div>
                    - MACH 구입 사이트 안내 : https://tokensales.marketmach.com/
                    - 회원가입 : 
                    - 외부 로그인 연동을 통한 회원 가입
                    - 자체 회원 가입 : 회원 가입 -> 이메일 인증
                    - KYC 등록 : KYC 정보 입력, 입금 받을 MACH 주소 입력방법 설명(프로필 -> 입금 받을 MACH 주소 입력)
                    - MACH Coin 구매 방법
                    - 암호화폐 : Bitcoin, Ethereum, Ripple, Tether USD, Litecoin, ETH Classic, Monero, Dash, NEO, Dogecoin 등
                    - 신용카드 결제 : 해외 PG를 통한 신용카드 결제
                    - MACH Coin Event : MACH 보너스를 받을 수 있는 다양한 이벤트가 있다로 설명

                </div>   
            </section>  
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>