<div class="sub_lft_menu">
    <h2><a href="/community/board">커뮤니티</a></h2>
    <ul class="depth1">
        <!-- <li class=""><a href="/community/board/free">자유게시판</a></li>
        <li class=""><a href="/community/board/tabloid">찌라시</a></li>
        <li class=""><a href="/community/board/event">이벤트</a></li>
        <li class=""><a href="/community/board/game">게임</a></li>
        <li class=""><a href="/community/board/cryptocurrency">암호화폐</a></li> -->
        <li class=""><a href="/community/board/free">퀴즈미션</a></li>
        <li class=""><a href="/community/board/tabloid">홍보미션</a></li>
        <li class=""><a href="/community/board/event">이벤트미션</a></li>
        <li class=""><a href="/community/board/game">게임미션</a></li>
        <li class=""><a href="/community/board/cryptocurrency">코인미션</a></li>
    </ul>
</div>