<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no"/>
<meta name="keywords" content="마켓마하,MarketMACH,블록체인,암호화폐">
<meta name="robots" content="index, follow">
<meta name="author" content="">
<meta name="description" content="블록체인 기반 게임 아이템,중고 물품, OTC안전 거래 사이트">
<link rel="shortcut icon" sizes="64x64" href="/static/img/symbol/symbol_mach.png">
<meta name="naver-site-verification" content="4c7222eac297fbf87b15516e3531c54c26ae5c77"/>
<meta property="og:type" content="website">
<meta property="og:title" content="마켓마하(MarketMACH)-블록체인 기반P2P자산 거래 플랫폼">
<meta property="og:url" content="https://www.marketmach.com">
<meta property="og:image" content="https://www.marketmach.com/static/img/link_logo.png">
<meta property="og:description" content="블록체인 기반 게임 아이템,중고 물품, OTC안전 거래 사이트">
<title>마켓마하(MarketMACH)-블록체인 기반P2P자산 거래 플랫폼</title>
<!-- npm css -->
<link href="/bootstrap_css/bootstrap.css" rel="stylesheet">
<link href="/select_css/bootstrap-select.min.css" rel="stylesheet">
<link href="/material-icons/material-icons.css" rel="stylesheet">
<!-- custom css-->
<link href="/static/css/common.css" rel="stylesheet">
<link href="/static/css/content.css" rel="stylesheet">
<link href="/static/css/exception.css" rel="stylesheet">
<link href="/static/css/colgroup.css" rel="stylesheet">
<link href="/static/css/moduels.css" rel="stylesheet" >
<link href="/static/css/jquery.realperson.css" rel="stylesheet" >
<!-- npm js -->
<script src="/jquery/jquery.js"></script>
<script src="/popper/popper.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/select/bootstrap-select.min.js"></script>
<!-- custom js -->
<script src="/static/js/config.js"></script>
<script src="/static/js/canvas-toBlob.js"></script>
<script src="/static/js/load-image.all.min.js"></script>
<script src="/static/vendor/slick/slick.min.js"></script>
<script src="/static/js/ui.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/jini_ui.js"></script>
<script src="/static/vendor/clipboard.min.js"></script>
<script src="/static/vendor/captcha/jquery.plugin.min.js"></script>
<script src="/static/vendor/captcha/jquery.realperson.min.js"></script>
<script src="/static/js/modules/captcha.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138175923-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138175923-1');
  // IE에서 ajax cache 쌓지 않음 
  $.ajaxSetup({cache:false});
</script>
