<%# include('페이지경로', {pageName: 'etc-buys', category: 'etc', tradeType: 'buy'}) %>
<% if(pageName === "buys" || pageName === "etc-buys" || pageName === "otc-buys") {%>
    <button class="btn item_view btn_in_view0" id="openVTR">VTR 입장</button>
    <button class="btn item_view btn_in_view1" id="regVTR">VTR 거래신청</button>
    <button class="btn item_view btn_in_view3" id="modify">수정</button>
    <button class="btn item_view btn_in_view4" id="remove">삭제</button>
    <button class="btn item_view btn_in_view5" id="buyComplete">구매확인</button>
    <button class="btn item_view btn_in_view6" id="showPhone">연락처 표시</button>
    <button class="btn item_view btn_in_view7" id="sellComplete">판매완료</button>
    <button class="btn item_view btn_in_view8" id="cancel">거래취소</button>
    <button class="btn item_view btn_in_view9" id="confirm">거래완료</button>
    <button class="btn item_view btn_in_view10" id="opposition">이의신청</button>
<% } else if(pageName === "sells" || pageName === "etc-sells") {%>
    <button class="btn item_view btn_in_view0" id="openVTR">VTR 입장</button>
    <button class="btn item_view btn_in_view1" id="regVTR">VTR 거래신청</button>
    <button class="btn item_view btn_in_view2" id="buynow">바로구매</button>
    <button class="btn item_view btn_in_view5" id="buyComplete">구매확인</button>
    <button class="btn item_view btn_in_view7" id="sellComplete">판매완료</button>
    <button class="btn item_view btn_in_view8" id="cancel">거래취소</button>
    <button class="btn item_view btn_in_view9" id="confirm">거래완료</button>
    <button class="btn item_view btn_in_view6" id="showPhone">연락처 표시</button>
    <button class="btn item_view btn_in_view3" id="modify">수정</button>
    <button class="btn item_view btn_in_view4" id="remove">삭제</button>
    <button class="btn item_view btn_in_view10" id="opposition">이의신청</button>
<% } else if(pageName === "otc-sells") {%>
    <button class="btn item_view btn_in_view0" id="openVTR">VTR 입장</button>
    <button class="btn item_view btn_in_view1" id="regVTR">VTR<br class="mob_br">거래신청</button>
    <button class="btn item_view btn_in_view2" id="buynow">바로구매<br class="mob_br">(COIN)</button>
    <button class="btn item_view btn_in_view5" id="buyComplete">구매확인</button>
    <button class="btn item_view btn_in_view7" id="sellComplete">판매완료</button>
    <button class="btn item_view btn_in_view8" id="cancel">거래취소</button>
    <button class="btn item_view btn_in_view9" id="confirm">거래완료</button>
    <button class="btn item_view btn_in_view6" id="showPhone">연락처 표시</button>
    <button class="btn item_view btn_in_view2" id="pointBuynow">바로구매<br class="mob_br">(POINT)</button>
    <button class="btn item_view btn_in_view7" id="pointSellComplete">판매완료</button>
    <button class="btn item_view btn_in_view8" id="pointCancel">거래취소</button>
    <button class="btn item_view btn_in_view9" id="pointConfirm">거래완료</button>
    <button class="btn item_view btn_in_view6" id="pointShowPhone">연락처 표시</button>
    <button class="btn item_view btn_in_view3" id="modify">수정</button>
    <button class="btn item_view btn_in_view4" id="remove">삭제</button>
    <button class="btn item_view btn_in_view10" id="opposition">이의신청</button>
<% } else {%>

<% } %>
    
<script>
$(document).ready(function() {
    /** 구매 스크립트 **/
    $('#openVTR').on('click', function() {
        //openVTR();
        location.replace("/<%= pageName %>/vtr/" + itemId);
    });

    $('#regVTR').on('click', function() {
        location.replace("/<%= pageName %>/vtr/" + itemId);
    });

    $('#modify').on('click', function() {
        location.replace("/<%= pageName %>/modify/" + itemId);
    });

    $('#cancel').on('click', function() {
        ajaxLoginYnCheck(cancelItem);
    });

    $('#confirm').on('click', function() {
        ajaxLoginYnCheck(confirmItem);
    });

    $('#opposition').on('click', function() {
        oppositionItem();
    });

    $('#remove').on('click', function() {
        ajaxLoginYnCheck(removeItem);
    });

    $('#buyComplete').on('click', function() {
        ajaxLoginYnCheck(buyComplete);
    });

    $('#sellComplete').on('click', function() {
        ajaxLoginYnCheck(sellComplete);
    });

    $('#showPhone').on('click', function() {
        showPhone(itemId);
    });

    /** 판매와 포인트용 스크립트**/
    $('#buynow, #pointBuynow').on('click', function() {
        buynow();
    });
    $('#pointCancel').on('click', function() {
        ajaxLoginYnCheck(pointCancelItem);
    });
    $('#pointConfirm').on('click', function() {
        ajaxLoginYnCheck(pointConfirmItem);
    });
    $('#pointSellComplete').on('click', function() {
        ajaxLoginYnCheck(pointSellComplete);
    });
    $('#pointShowPhone').on('click', function() {
        pointShowPhone(itemId);
    });

    /** 그외 **/
    $("#btnmCloseModal, #checkok").on("click", function() {
        var $body = $("body");
        var $dim = $(".dim_all_area");
        $dim.hide();
        $body.css("position", "static");
    });

    $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
        var src = $(this).children("img").attr("src");
        $("#fullImg > img").attr("src", src);
    });
}); // end of $(document).ready

function cancelItem() {
    var confirms = confirm('정말로 거래를 취소 하시겠습니까?');
    if(confirms) {
        $.ajax({
            method: "DELETE",
            url: "/v1/vtrs/cancel/"+itemId+"/" + userTag,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                "roomToken":buyerTag+"|"+sellerTag+"|"+itemId
            })                   
        }).done(function (success) {
            if(success.data.successYn == "Y") {
                location.href = '/<%= pageName %>/detail/' + itemId;
            } else {
                alert(success.data.msg);
            }
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function confirmItem() {
    var confirms = confirm('거래 완료 하시겠습니까?');
    if(confirms) {
        var data = {
            "status": true
        }
        $.ajax({
            method: "PUT",
            url: "/v1/vtrs/"+itemId+"/trade/confirm",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data)
        }).done(function (success) {
            location.href = '/<%= pageName %>/detail/' + itemId;
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function oppositionItem() {
    // console.log('준비중');
    // alert('준비중입니다.');
    location.href = '/supports/opposition/register?itemId=' + itemId;
}

function removeItem() {
    var confirms = confirm('정말로 삭제하시겠습니까?');
    if(confirms) {
        $.ajax({
            method: "DELETE",
            url: "/v1/items/" + itemId
        }).done(function (success) {
            location.href = '/<%= pageName %>?category=<%= category %>&trade_type=<%= tradeType %>';
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function buyComplete() {
    var confirms = confirm('구매 확인 하시겠습니까?');
    if(confirms) {
        var data = {
            "status": true
        }
        
        $.ajax({
            method: "PUT",
            url: "/v1/vtrs/"+itemId+"/trade/buy",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data)
        }).done(function (success) {
            alert('구매자가 구매 확인하였습니다.\r판매자의 판매 완료를 기다려 주세요.');
            location.href = '/<%= pageName %>/detail/' + itemId;
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function sellComplete() {
    var confirms = confirm('판매 완료 하시겠습니까?');
    if(confirms) {
        var data = {
            "status": true
        }
        
        $.ajax({
            method: "PUT",
            url: "/v1/vtrs/"+itemId+"/trade/sell",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data)
        }).done(function (success) {
            alert('판매자가 판매 완료하였습니다.\r구매자의 거래 완료 버튼을 누르면 거래가 완료됩니다.');
            location.href = '/<%= pageName %>/detail/' + itemId;
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function showPhone(itemId) {
    $.ajax({
        method: "GET",
        url: "/v1/vtrs/item/" + itemId
    }).done(function (success) {
        console.log(success.data);
        _PopupUI.showWithDim(function() {
            // callback
        });
        $("#to_userTag").text(success.data.buyer_id);                
        $("#fromPhone").text(success.data.seller_phone);
        $("#from_userTag").text(success.data.seller_id);
        $("#toPhone").text(success.data.buyer_phone);
    }).fail(function (fail) {
        console.log(fail);
    });
}

/** 판매와 포인트용 스크립트**/
function buynow() {
    location.replace('/<%= pageName %>/buynow/' + itemId);
}

function pointCancelItem() {
    var confirms = confirm('정말로 거래를 취소 하시겠습니까?');
    console.log('준비중');
    if(confirms) {
        $.ajax({
            method: "DELETE",
            url: "/v1/tradePoints/cancel/"+itemId+"/" + userTag
        }).done(function (success) {
            location.href = '/<%= pageName %>/detail/' + itemId;
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function pointConfirmItem() {
    var confirms = confirm('거래 완료 하시겠습니까?');
    if(confirms) {
        var data = {
            "status": true
        }
        $.ajax({
            method: "PUT",
            url: "/v1/tradePoints/"+tradePointId+"/trade/confirm",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data)
        }).done(function (success) {
            location.href = '/<%= pageName %>/detail/' + itemId;
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function pointSellComplete() {
    var confirms = confirm('판매 완료 하시겠습니까?');
    if(confirms) {
        var data = {
            "status": true
        }
        
        $.ajax({
            method: "PUT",
            url: "/v1/tradePoints/"+tradePointId+"/trade/sell",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data)
        }).done(function (success) {
            alert('판매자가 판매 완료하였습니다.\r구매자의 거래 완료 버튼을 누르면 거래가 완료됩니다.');
            location.href = '/<%= pageName %>/detail/' + itemId;
        }).fail(function (fail) {
            console.log(fail);
        });
    }
}

function pointShowPhone(itemId) {
    $.ajax({
        method: "GET",
        url: "/v1/tradePoints/item/" + itemId
    }).done(function (success) {
        console.log(success.data);
        _PopupUI.showWithDim(function() {
            // callback
        });
        $("#to_userTag").text(success.data.buyer_id);                
        $("#fromPhone").text(success.data.seller_phone);
        $("#from_userTag").text(success.data.seller_id);
        $("#toPhone").text(success.data.buyer_phone);
    }).fail(function (fail) {
        console.log(fail);
    });
}

function routeLink() {
    var prevPath = document.referrer.match(/(http(s)?:\/\/)([a-z0-9\w]+\.*)+[a-z0-9]{2,4}(:[0-9]*)?\/[\w|\w-]*/ig)[0].match(/[\w|\w-]*$/ig)[0];

    if(prevPath != "<%= pageName %>") {
        location.href = "/<%= pageName %>?category=<%= category %>&trade_type=<%= tradeType %>";
    } else {
        history.back();
    }
}

// deprecated

function openVTR() {
    // var popup;
    // if (isMobile()) {
    //     popup = window.open('about:blank', "room" + roomToken);
    // }
    // let url = "/room?roomToken="+roomToken+"&itemId="+itemId+"&user_id="+userTag+"&vtrTempId=" + vtrTempId;
    // if(isMobile()) {
    //     popup.location.href = url;
    // } else {
    //     window.open(url, "room" + roomToken, 'toolbar=no,\n' +
    //         '                                    location=no,\n' +
    //         '                                    status=no,\n' +
    //         '                                    menubar=no,\n' +
    //         '                                    scrollbars=yes,\n' +
    //         '                                    resizable=yes,\n' +
    //         '                                    width=550,\n' +
    //         '                                    height=850');
    // }
    var popup;
    var body = "itemId="+itemId+"&buyerTag="+buyerTag+"&sellerTag="+sellerTag;

    if(isMobile()) {
        popup = window.open('about:blank', "room" + buyerTag+"|"+sellerTag+"|"+itemId);
        popup.location.href = '/room?' + body;
    } else {
        window.open('/room?' + body, "room" + buyerTag+"|"+sellerTag+"|"+itemId, 'toolbar=no,\n' +
            '                                    location=no,\n' +
            '                                    status=no,\n' +
            '                                    menubar=no,\n' +
            '                                    scrollbars=yes,\n' +
            '                                    resizable=yes,\n' +
            '                                    width=550,\n' +
            '                                    height=750');
    }
}
</script>