<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title></title>
        <script src="/jquery/jquery.js"></script>
        <script src="/cyanobridge/lib/browser.js"></script>
	</head>
<body>
<div id="wrap">
    <div>From Address<input type="text" id="toAddress" style="width:300px;" value="AMig8NAA8xWhitaLmV1TknXyFG1SNdffay"></div>
    <div>To Address<input type="text" id="toAddress1" style="width:300px;" value="ATXRZuezstRnfFq54SJGeCpQ3gG5KaXrWi"></div>
    <div><select id="type"><option value="ONT">ONT</option><option value="ONG">ONG</option></select></div>
    <div>Amount<input type="text" id="amount" style="width:300px;" value="0"></div>
    <div><button onclick='sendAssets();'>Send</button></div>
    result:<div id="result5"></div>
    <div><button onclick='transaction();'>Invoke smart contract</button></div>
    result:<div id="result1"></div>
    <div><button onclick='transactionWithout();'>Invoke smart contract without password</button></div>
    result:<div id="result4"></div>
    <div><button onclick='readTransaction();'>Invoke read smart contract</button></div>
    result:<div id="result2"></div>
    <div><button onclick='login();'>Login</button></div>
    result:<div id="result3"></div>
</div>
<script>
    var client = CyanoMobile.client;        
    client.registerClient();
    $(document).ready(function() {    
        //getProvider();
    });

    async function getProvider() {
        try {
            const res = await client.api.provider.getProvider();
            console.log(res)
            alert(res);
        } catch(err) {
            console.log(err)
            alert(err);
        }
    }

    async function getIdentity() {
        const params = {
            dappName: 'My dapp',
            dappIcon: '' // some url points to the dapp icon
        }
        try {
        const res = await client.api.identity.getIdentity(params);
            console.log(res);
            alert(res);
        } catch(err) {
            console.log(err);
            alert(err);
        }
    }

    async function sendAssets() {
        var amount = $('#amount').val();
        if($('#type').val() == "ONG") {
            amount = amount * 1e9;
        }
        const params = {
            from: $('#toAddress').val(),// Sender's address
            to: $('#toAddress1').val(), // Receiver's address
            asset: $('#type').val(), // Asset type. ONT or ONG
            amount: amount,// Amount to send.The value can be 'number' or 'string'
            gasPrice: 500,
            gasLimit: 20000
        }
        try {
            const res = await client.api.asset.transfer(params);
            $('#result5').html(JSON.stringify(res));
        } catch(err) {
            console.log(err)
        }
    }

    async function login() {
        const params = {
            type: 'account',// account or identity that will sign the message
            dappName: 'My dapp', // dapp's name
            dappIcon: 'http://mydapp.com/icon.png', // some url that points to the dapp's icon
            message: 'test message', // message sent from dapp that will be signed by native client
            expired: new Date('2019-01-01').getTime(), // expired date of login
            callback: '' // callback url of dapp
        }
        let res;
        try {
            let res = await client.api.message.login(params);
            $('#result3').html(JSON.stringify(res));
        }catch(err) {
            console.log(err)
        }
    }

    async function transaction() {
        // const scriptHash = '102f7aee9acd9961e38f6fa5ac46d1c19b3b9306';
        // const operation = 'transferOng'
        // const args = [
        //     {
        //         type: 'String',
        //         value: 'hello marketmach'
        //     }
        // ]
        // const gasPrice = 500;
        // const gasLimit = 20000;
        // const payer = $('#toAddress').val();
        // //결과에 따른 메시지 출력
        // const config = {
        //     "login": true,
        //     "message": "success to final transaction.",
        //     "url": "http://13.209.227.60:3200/ontology/callback"  
        // }
        // const params = {
        //     scriptHash,
        //     operation,
        //     args,
        //     gasPrice,
        //     gasLimit,
        //     payer,
        //     config
        // }

        // try {
        // const res = await client.api.smartContract.invoke(params);
        // $('#result1').html(JSON.stringify(res));
        // } catch(err) {
        //     console.log(err);
        //     $('#result1').html(JSON.stringify(err));
        // }

        const scriptHash = '0c7c3432440429fefb744e6d9e25342f692dc704';
        // const scriptHash = '102f7aee9acd9961e38f6fa5ac46d1c19b3b9306';
        const operation = 'finalTransaction'
        //SC 등록시 특수기호 입력 하면 에러 발생함(42002: invaild Error.)
        const args = [
            {
                "type": "String",
                "value": "20191016100000 macbook is done deal 1000ONT."
            }
        ]
        const gasPrice = 500;
        const gasLimit = 20000;
        const payer = $('#toAddress').val();
        const config = {
            "login": true,
            "message": "invoke smart contract test"
        }
        const params = {
                scriptHash,
                operation,
                args,
                gasPrice,
                gasLimit,
                payer,
                config
                }
        try {
            const res = await client.api.smartContract.invoke(params);
            $('#result1').html(JSON.stringify(res));
        } catch(err) {
            console.log(err);
            $('#result1').html(JSON.stringify(err));
        }
    }

    async function transactionWithout() {
        const scriptHash = '0c7c3432440429fefb744e6d9e25342f692dc704';
        // const scriptHash = '102f7aee9acd9961e38f6fa5ac46d1c19b3b9306';
        const operation = 'finalTransaction'
        //SC 등록시 특수기호 입력 하면 에러 발생함(42002: invaild Error.)
        const args = [
            {
                "type": "String",
                "value": "A->B is done deal 1000ONT."
            }
        ]
        const gasPrice = 500;
        const gasLimit = 20000;
        const payer = $('#toAddress').val();
        //결과에 따른 메시지 출력
        const config = {
            "login": true,
            "message": "success to final transaction.",
            "url": "http://13.209.227.60:3200/ontology/callback"  
        }
        const params = {
            scriptHash,
            operation,
            args,
            gasPrice,
            gasLimit,
            payer,
            config
        }

        try {
        const res = await client.api.smartContract.invokePasswordFree(params);
        $('#result4').html(JSON.stringify(res));
        } catch(err) {
            console.log(err)
        }
    }

    async function readTransaction() {
        const scriptHash = '430685c59e49190d78283a18b090123dde36c626';
        const operation = 'balanceOf';
        const args = [{
            "name": "account",
            "type" : 'Address',
            "value": $('#toAddress').val()
        }]
        const gasPrice = 500;
        const gasLimit = 20000;
        const config = {
            "login": true,
            "message": "invoke read smart contract test",
            "url": ""
        }
        const params = {
            scriptHash,
            operation,
            args,
            gasPrice,
            gasLimit,
            config
        }
        try{
            const res = await client.api.smartContract.invokeRead(params);
            $('#result2').html(JSON.stringify(res));
        }catch(err) {
            alert(err);
        }
    }
</script>
</body>
</html>