<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title></title>
        <script src="/jquery/jquery.js"></script>
        <script src="/cyanobridge/lib/browser.js"></script>
	</head>
<body>
<div id="wrap">
	<div><button onclick='getIdentity();'>Call App</button></div>
	<div id="div_app">
        <iframe id='frm' width=0 height=0 frameborder=0></iframe>
    </div>
</div>
<script>
    var client = CyanoMobile.client;        
    client.registerClient();
    $(document).ready(function() {    
        getProvider();
    });

    async function getProvider() {
        try {
            const res = await client.api.provider.getProvider();
            console.log(res)
            alert(res);
        } catch(err) {
            console.log(err)
            alert(err);
        }
    }

    async function getIdentity() {
        const params = {
            dappName: 'My dapp',
            dappIcon: '' // some url points to the dapp icon
        }
        try {
        const res = await client.api.identity.getIdentity(params);
            console.log(res);
            alert(res);
        } catch(err) {
            console.log(err);
            alert(err);
        }
    }

    async function transaction() {
        const params = {
            from: 'AdLUBSSHUuFaak9j169hiamXUmPuCTnaRz',// Sender's address
            to: 'AXK2KtCfcJnSMyRzSwTuwTKgNrtx5aXfFX', // Receiver's address
            asset: 'ONG', // Asset type. ONT or ONG
            amount: 1000000000,// Amount to send.The value can be 'number' or 'string'
            gasPrice: 500,
            gasLimit: 20000
        }
        try {
        const res = await client.api.asset.transfer(params);
            console.log(res)
        } catch(err) {
            console.log(err)
        }
    }
</script>
</body>
</html>