<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title></title>
        <script src="/jquery/jquery.js"></script>
        <script src="/cyanobridge/lib/browser.js"></script>
	</head>
<body>
<div id="wrap">
    <div>From Address<input type="text" id="toAddress" style="width:300px;" value="AMig8NAA8xWhitaLmV1TknXyFG1SNdffay"></div>
    <div>To Address<input type="text" id="toAddress1" style="width:300px;" value="ATXRZuezstRnfFq54SJGeCpQ3gG5KaXrWi"></div>
    <div><select id="type"><option value="ONT">ONT</option><option value="ONG">ONG</option></select></div>
    <div>Amount<input type="text" id="amount" style="width:300px;" value="0"></div>
    <div><button onclick='sendAssets();'>Send</button></div>
    result:<div id="result5"></div>
    <div><button onclick='transaction();'>Invoke smart contract</button></div>
    result:<div id="result1"></div>
    <div><button onclick='transactionWithout();'>Invoke smart contract without password</button></div>
    result:<div id="result4"></div>
    <div><button onclick='readTransaction();'>Invoke read smart contract</button></div>
    result:<div id="result2"></div>
    <div><button onclick='login();'>Login</button></div>
    result:<div id="result3"></div>
</div>
<script>
    var client = CyanoMobile.client;        
    client.registerClient();
    $(document).ready(function() {    
        //getProvider();
    });

    async function getProvider() {
        try {
            const res = await client.api.provider.getProvider();
            console.log(res)
            alert(res);
        } catch(err) {
            console.log(err)
            alert(err);
        }
    }

    async function getIdentity() {
        const params = {
            dappName: 'My dapp',
            dappIcon: '' // some url points to the dapp icon
        }
        try {
        const res = await client.api.identity.getIdentity(params);
            console.log(res);
            alert(res);
        } catch(err) {
            console.log(err);
            alert(err);
        }
    }

    async function sendAssets() {
        const params = {
            from: $('#toAddress').val(),// Sender's address
            to: $('#toAddress1').val(), // Receiver's address
            asset: $('#type').val(), // Asset type. ONT or ONG
            amount: $('#amount').val(),// Amount to send.The value can be 'number' or 'string'
            gasPrice: 500,
            gasLimit: 20000
        }
        try {
            const res = await client.api.asset.transfer(params);
            $('#result5').html(JSON.stringify(res));
        } catch(err) {
            console.log(err)
        }
    }

    async function login() {
        const params = {
            type: 'account',// account or identity that will sign the message
            dappName: 'My dapp', // dapp's name
            dappIcon: 'http://mydapp.com/icon.png', // some url that points to the dapp's icon
            message: 'test message', // message sent from dapp that will be signed by native client
            expired: new Date('2019-01-01').getTime(), // expired date of login
            callback: '' // callback url of dapp
        }
        let res;
        try {
            let res = await client.api.message.login(params);
            $('#result3').html(JSON.stringify(res));
        }catch(err) {
            console.log(err)
        }
    }

    async function transaction() {
        // const test = {
        //     "_id" : ("5d774ecdd3d131c4c33d75e0"),
        //     "cryptoCurrencyCode" : "MACH",
        //     "price" : 109,
        //     "country" : "KR",
        //     "from_userId" : ("5c0fe8a63c48f1197a134ae7"),
        //     "to_userId" : ("5c0fe8113c48f1197a134a92"),
        //     "seller_phone" : "+82010381340241",
        //     "buyer_phone" : "+82010381340241",
        //     "item" : {
        //         "_id" : ("5d774aa67e1c41bf94a20205"),
        //         "userTag" : "sellposion",
        //         "trade_type" : "sell",
        //         "category" : "otc",
        //         "title" : "팝니다 테스트",
        //         "desc" : "111",
        //         "count" : 1,
        //         "status" : 4,
        //         "clicked" : 0,
        //         "cryptoCurrencyCode" : "MACH",
        //         "price" : 109,
        //         "currency" : "POINT",
        //         "point" : 109111,
        //         "total_price" : 109,
        //         "total_point" : 109111,
        //         "regDate" : "2019/09/10 16:03:02",
        //         "images" : [ 
        //             {
        //                 "_id" : ("5d774aa67e1c41bf94a20206"),
        //                 "path" : "https://op-mach-bucket.s3.amazonaws.com/items/img_id_0.jpg-1568098982543",
        //                 "bucket" : "op-mach-bucket/items",
        //                 "key" : "img_id_0.jpg-1568098982543",
        //                 "origin_name" : "img_id_0.jpg",
        //                 "size" : 153622,
        //                 "mimetype" : "image/jpeg",
        //                 "regDate" : "NaN/NaN/NaN NaN:NaN:NaN"
        //             }
        //         ],
        //         "__v" : 0,
        //         "tradePointId" : "5d774c0a7e1c41bf94a2029e",
        //         "vtrTempId" : "5d774c3cd3d131c4c33d75c2",
        //         "roomToken" : "skypentum|sellposion|5d774aa67e1c41bf94a20205"
        //     },
        //     "regDate" : "2019/09/10 16:20:45",
        //     "roomToken" : "skypentum|sellposion|5d774aa67e1c41bf94a20205",
        //     "__v" : 0,
        //     "buy_status" : true,
        //     "completed_buy_date" : "2019/09/10 16:20:48",
        //     "auto_completed_confirm_date" : "2019/09/17 16:20:51",
        //     "completed_sell_date" : "2019/09/10 16:20:51",
        //     "sell_status" : true,
        //     "completed" : true,
        //     "completed_confirm_date" : "2019/09/10 16:20:56",
        //     "completed_date" : "2019/09/10 16:20:56",
        //     "confirm_status" : true
        // }

        const scriptHash = '102f7aee9acd9961e38f6fa5ac46d1c19b3b9306';
        const operation = 'transferOng'
        const args = [
            {
                "name": "arg0-id",
                "value": "String:191016130000013000000001"
            }, {
                "name": "arg1-from",
                "value": "Address:AMig8NAA8xWhitaLmV1TknXyFG1SNdffay"
            }, {
                "name": "arg2-to",
                "value": "Address:ATXRZuezstRnfFq54SJGeCpQ3gG5KaXrWi"
            }, {
                "name": "arg3-int",
                "value": 1
            }
        ]
        const gasPrice = 500;
        const gasLimit = 20000;
        const payer = $('#toAddress').val();
        //결과에 따른 메시지 출력
        const config = {
            "login": true,
            "message": "success to final transaction.",
            "url": "http://13.209.227.60:3200/ontology/callback"  
        }
        const params = {
            scriptHash,
            operation,
            args,
            gasPrice,
            gasLimit,
            payer,
            config
        }

        try {
        const res = await client.api.smartContract.invoke(params);
        $('#result1').html(JSON.stringify(res));
        } catch(err) {
            console.log(err);
            $('#result1').html(JSON.stringify(err));
        }
    }

    async function transactionWithout() {
        const scriptHash = '102f7aee9acd9961e38f6fa5ac46d1c19b3b9306';
        const operation = 'test'
        const args = [
            {
                "type": "String",
                "value": "helloworld"
            }
        ]
        const gasPrice = 500;
        const gasLimit = 20000;
        const payer = $('#toAddress').val();
        //결과에 따른 메시지 출력
        const config = {
            "login": true,
            "message": "success to final transaction.",
            "url": "http://13.209.227.60:3200/ontology/callback"  
        }
        const params = {
            scriptHash,
            operation,
            args,
            gasPrice,
            gasLimit,
            payer,
            config
        }

        try {
        const res = await client.api.smartContract.invokePasswordFree(params);
        $('#result4').html(JSON.stringify(res));
        } catch(err) {
            console.log(err)
        }
    }

    async function readTransaction() {
        const scriptHash = '102f7aee9acd9961e38f6fa5ac46d1c19b3b9306';
        const operation = 'balanceOf';
        const args = [{
            "name": "account",
            "type" : 'Address',
            "value": $('#toAddress').val()
        }]
        const gasPrice = 500;
        const gasLimit = 20000;
        const config = {
            "login": true,
            "message": "invoke read smart contract test",
            "url": ""
        }
        const params = {
            scriptHash,
            operation,
            args,
            gasPrice,
            gasLimit,
            config
        }
        try{
            const res = await client.api.smartContract.invokeRead(params);
            $('#result2').html(JSON.stringify(res));
        }catch(err) {
            alert(err);
        }
    }
</script>
</body>
</html>