<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        $(document).ready(function() {

        });
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                
                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">회원정보관리 <span>회원등급 정보</span></h1>
                        <hr class="hr_mypage">

                        <div class="prepare_service">
                            서비스 준비 중입니다.
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>                