<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">

    <title>Mach Exchange</title>

    <!-- 부트스트랩 -->
    <link href="/bootstrap_css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#header').load('/header');
            $('#menu').load('/menu');
            $('#footer').load('/footer');
        });
    </script>
</head>
<body>
<div id="header"></div>
<div id="menu"></div>
<div id="content">
    <div class="cont">It is not a current page.</div>
</div>
<div id="footer"></div>
</body>
</html>