@charset "utf-8";
/*
* KCS: http://www.onlykcs.com/
* since: 201905024 
* Author: Jongmin Kim
*/

/********** main **********/
.header .nav > .l_menu > li > button{font-size: 14px;}
.header .nav > .l_menu > li:nth-child(2) > button{margin-left: 7px;}
.header .nav > .c_menu > li{width: 20%;}
.header .nav > .c_menu > li > button{font-size: 14px;}
.header .nav > .c_menu > li > a{font-size: 14px;}
.header .nav > .r_menu > li .beforeLoginBox .mdl_area p{font-size: 13px;}
.header .nav > .r_menu > li .floating_info_box .btn{font-size: 12px;}
.primezone_sec .slick_primezone .card_ui dt{ font-size: 14px;}
.primezone_sec .slick_primezone .card_ui dt.bgc1{line-height: 1.5; padding-top: 20px;}
.primezone_sec .slick_primezone .card_ui dt.bgc3{line-height: 1.2; padding-top: 8px;}

.renewer_container section h1{font-size: 32px;}
.renewer_container .w100p_banner{margin: 50px 0 110px 0;}
.renewer_container .tit_main_sec{line-height: 1; height: auto; margin-bottom: 80px; padding: 0 0 35px 0;text-align: center; position: relative;}
.renewer_container .tit_main_sec:after{position: absolute; margin-left: -23px; left: 50%; bottom: 0; display: block; content: ''; clear: both; width: 46px; height: 1px; border-bottom: 1px solid #000;}
.renewer_container .photo_list{margin-bottom: 90px;}
.renewer_container .photo_list li .view_more{height: 270px;}
.renewer_container .photo_list li .view_more a{display: block; text-align: center; color: #000000;}
.renewer_container .photo_list li .view_more a em{display: block; padding-top: 50px; font-size: 45px; line-height: 1; font-weight: 100;}
.renewer_container .photo_list li .view_more a span{display: block; padding-top: 30px; font-size: 18px;}
.renewer_container .photo_list li .img_list_box{border: 1px solid #1e2560;}
.renewer_container .item_trade_sec{height: 447px;}
.renewer_container .item_trade_sec .trade_list{top: 187px;}

.renewer_container .main_3n1n_wrap{margin-bottom: 100px; display: flex; flex-wrap: wrap; display: -ms-flexbox; -ms-flex-wrap: wrap;}
.renewer_container .main_3n1n_wrap > section{width: 32.4%; margin-left: 1.4%;}
.renewer_container .main_3n1n_wrap > section:nth-child(1){margin-left: 0;}
.renewer_container .notice_sec{position: relative; padding: 0 18px; height: 400px; border: 1px solid #ced4da;}
.renewer_container .notice_sec h1{padding-top: 35px;}
.renewer_container .notice_sec .noti_list{margin-top: 40px;}
.renewer_container .notice_sec .noti_list li{margin-bottom: 14px;}
.renewer_container .notice_sec .noti_list li a{color: #333;}
.renewer_container .notice_sec .noti_btm_media{position: absolute; bottom: 0; left: 5%; width: 90%; text-align: center; font-size: 0; border-top: 1px solid #ced4da;}
.renewer_container .notice_sec .noti_btm_media ul{padding: 14.5px 0; display: inline-block;}
.renewer_container .notice_sec .noti_btm_media li{float: left; margin-left: 8px;}
.renewer_container .notice_sec .noti_btm_media li:first-child{margin-left: 0;}
.renewer_container .notice_sec .noti_btm_media li img{width: 40px;}
.renewer_container .main_3n1n_wrap > section:nth-child(2){background-color: #cad4d9;}
.renewer_container .main_3n1n_wrap > section:nth-child(3){background-color: #e9ebdd;}
.renewer_container .guide_sec{}
.renewer_container .guide_sec a{color: #000000;}
.renewer_container .guide_sec h1{padding: 45px 0 20px 45px; line-height: 1.4;}
.renewer_container .guide_sec .ico_round{margin-right: 5%; float: right; width: 135px; height: 135px; border-radius: 50%;}
.renewer_container .guide_sec .ico_guide01{background: #fff url(/static/img/symbol/ico_guide01.png) 50% 50% no-repeat; background-size: 190px 200px;}
.renewer_container .guide_sec .ico_guide02{background: #fff url(/static/img/symbol/ico_guide02.png) 50% 100% no-repeat; background-size: 110px 120px;}
.renewer_container .media_sec{margin-bottom: 110px;}
/*.col-md-3.col-sm-6.col-xs-6{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}*/
/**********  sub **********/
.mob_depth2_menu li a{font-size: 12px;}
.sub_container .btn{font-size: 12px;}
.sub_lft_menu > .depth1 > li > a{font-size: 12px;}
.content_tab_depth1 li{width: 33.33%;}
.photo_list li .img_list_box .ico_trade{width: 85px; font-size: 11px;}
.table_list.has_game_icon .btn_cmm_bd{width: 85px; font-size: 13px; margin-right: 15px;}
.btn_adjust .btn{padding: 4px 8px;}
/**********  hide button **********/
/*
#regVTR{display: none !important;}
*/

/*walletconnect페이지속 fc2클래스를 가진 태그 문자개행 방지*/
.coin_certification dt { width: 155px; }

/*버튼내부 텍스트 개행방지*/
.btn_align_c button {max-width: 280px;}

/*플러스 아이콘 가운데 정렬*/
.em_calc_ico {line-height: 22px;}

/* main colgroup */
.colgroup_main_gameitem .col4_1{width: 80px;}
/* sub colgroup */
.table .colgroup_dispute .col3_2{width: 65px;}
.support_sec .table_view .col2_1{width: 110px;}
.table .colgroup_mypage .col3_1{width: 150px;}
/********** Mobile MarkUp CSS **********/
@media (max-width: 1199px){

}
@media (max-width: 992px){
.renewer_container .main_3n1n_wrap > section:nth-child(1){margin: 0 0 30px 0; width: 100%;}
.renewer_container .main_3n1n_wrap > section:nth-child(2){margin: 0; width: 50%;}
.renewer_container .main_3n1n_wrap > section:nth-child(3){margin: 0; width: 50%;}
}
@media (max-width: 767px){
.table .colgroup_mypage .col3_1{width: 80px;}
.renewer_container .guide_sec h1{padding: 25px 0 20px 20px; font-size: 18px;}
}
@media (max-width: 576px){

}