.main_inner_wrap{position: relative; margin: auto; max-width: 1200px;}
.renewer_container > section{margin-bottom: 100px;}
.renewer_container section h1{font-size: 32px;}
.renewer_container .w100p_banner{margin: 50px auto 110px;}
.renewer_container .tit_main_sec{line-height: 1; height: auto; margin-bottom: 50px; padding: 0 0 35px 0;text-align: center; position: relative;}
.renewer_container .tit_main_sec:after{position: absolute; margin-left: -23px; left: 50%; bottom: 0; display: block; content: ''; clear: both; width: 46px; height: 1px; border-bottom: 1px solid #000;}
/* 자산 */
.renewer_container .photo_list{}
.renewer_container .photo_list .li_asset .asset_once{float: left; width: 25%; padding: 0 10px;}
.renewer_container .photo_list li .view_more{height: 270px;}
.renewer_container .photo_list li .view_more a{display: block; text-align: center; color: #000000;}
.renewer_container .photo_list li .view_more a em{display: block; padding-top: 50px; font-size: 45px; line-height: 1; font-weight: 100;}
.renewer_container .photo_list li .view_more a span{display: block; padding-top: 30px; font-size: 18px;}
.renewer_container .photo_list li .img_list_box{border: 1px solid #f1f2f6; border-radius: 10px; overflow: hidden;}
.renewer_container .photo_list li .img_list_box .state_possible{display: none;}
.renewer_container .photo_list li .img_list_box .state_step{left: 10px;}
.hashtag_category_wrap .btn_hash_all{float: left;}
.hashtag_category_wrap .hashtag_category{float: left;}
.hashtag_category_wrap .hashtag_category li{float: left; margin: 0 0 12px 8px; padding: 4px 12px; /*background-color: #ececec;*/ border-radius: 20px;}
.hashtag_category li.hash_all{background-color:#3886FF;}
.hashtag_category li.hash_all a{display: block; color: #ffffff;}
.hashtag_category li.c1{border: 1px solid #D73641;}
.hashtag_category li.c1 a{color: #d73641;    }
.hashtag_category li.c2{border: 1px solid #FD7A2F;}
.hashtag_category li.c2 a{color:#FD7A2F;}
.hashtag_category li.c3{border: 1px solid #FCB344;}
.hashtag_category li.c3 a{color:#FCB344;}
.hashtag_category li.c4{border: 1px solid #4DD08B;}
.hashtag_category li.c4 a{color: #4DD08B;}
.hashtag_category li.c5{border: 1px solid #32CABE;}
.hashtag_category li.c5 a{color:#32CABE;}
.hashtag_category li:hover a{color: #3886FF;}
.hashtag_category li a:before{content: '#'}
.hashtag_category li a{color: #333333;}
/* OTC */
.renewer_container .item_trade_sec{height: 447px;}
.renewer_container .item_trade_sec .trade_list{width: 100%; top: 157px;}
/* 공지사항 영역 */
.renewer_container .main_3n1n_wrap{max-width: 1200px; margin: 0 auto 100px; display: flex; flex-wrap: wrap; display: -ms-flexbox; -ms-flex-wrap: wrap;}
.renewer_container .main_3n1n_wrap > section{width: 32.4%; margin-left: 1.4%;}
.renewer_container .main_3n1n_wrap > section:nth-child(1){margin-left: 0;}
.renewer_container .notice_sec{position: relative; padding: 0 18px; height: 370px; border: 1px solid #ced4da;}
.renewer_container .notice_sec h1{padding-top: 35px;}
.renewer_container .notice_sec .noti_list{margin-top: 40px; height: 175px; overflow-y: hidden;}
.renewer_container .notice_sec .noti_list li{margin-bottom: 14px;}
.renewer_container .notice_sec .noti_list li a{color: #333;}
.renewer_container .notice_sec .noti_btm_media{position: absolute; bottom: 0; left: 5%; width: 90%; text-align: center; font-size: 0; border-top: 1px solid #ced4da;}
.renewer_container .notice_sec .noti_btm_media ul{padding: 14.5px 0; display: inline-block;}
.renewer_container .notice_sec .noti_btm_media li{float: left; margin-left: 8px;}
.renewer_container .notice_sec .noti_btm_media li:first-child{margin-left: 0;}
.renewer_container .notice_sec .noti_btm_media li img{width: 40px;}

.renewer_container .main_3n1n_wrap > section:nth-child(2){background-color: #cad4d9;}
.renewer_container .main_3n1n_wrap > section:nth-child(3){background-color: #e9ebdd;}
.renewer_container .guide_sec{}
.renewer_container .guide_sec a{display: block; height: 100%; color: #000000;}
.renewer_container .guide_sec h1{padding: 35px 0 20px 45px; line-height: 1.4;}
.renewer_container .guide_sec .ico_round{margin-right: 5%; float: right; width: 135px; height: 135px; border-radius: 50%;}
.renewer_container .guide_sec .ico_guide01{background: #fff url(/static/img/symbol/ico_guide01.png) 50% 50% no-repeat; background-size: 190px 200px;}
.renewer_container .guide_sec .ico_guide02{background: #fff url(/static/img/symbol/ico_guide02.png) 50% 100% no-repeat; background-size: 110px 120px;}
.renewer_container .media_sec{margin-bottom: 110px;}

/********** pointmall **********/
.point_wrap{}
.point_wrap .chatbot{display: none;}
.point_wrap .mob_header .mob_sch_sec li:nth-child(1){visibility: hidden;}
.point_wrap .renewer_container .notice_sec{height: 320px;}
/********** Mobile MarkUp CSS **********/
@media (max-width: 1199px){

}
@media (max-width: 992px){
.renewer_container .main_3n1n_wrap > section:nth-child(1){margin: 0 0 30px 0; width: 100%;}
.renewer_container .main_3n1n_wrap > section:nth-child(2){margin: 0; width: 50%;}
.renewer_container .main_3n1n_wrap > section:nth-child(3){margin: 0; width: 50%;}
.renewer_container .photo_list .li_asset .asset_once{width: 50%; padding: 0 10px;}
.renewer_container .photo_list li .img_list_box dd .money_txt{width: 100%;}
}
@media (max-width: 767px){
.renewer_container{padding: 0 10px;}
.renewer_container .guide_sec h1{padding: 25px 0 20px 20px; font-size: 18px;}
}
@media (max-width: 576px){

}