<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/gameStation_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- gameStation -->
                    <section class="gameStation_sec mypage_sec">
                        <h1 class="tit_mypage">교환하기<span>&nbsp;&nbsp;게임자산 -> MACH</span></h1>
                        <div class="mypage_main_info cf">
                            <div class="lft_area">
                                <div class="gst_gametemplet">
                                    <img src="/static/img/symbol/symbol_monkey.png" alt="마하 어드벤쳐" title="마하 어드벤쳐">
                                    <div class="coin_value">
                                        <em>보관중인 몽키코인</em>
                                        <div>
                                            <img src="/static/img/symbol/Img_GameCoin1.png" alt=""> 
                                            <p>
                                                <span>10,213</span> 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <a class="btn btn-success" href="/myPages/user/grade">등급별 혜택보기</a> -->
                            </div>
                            <div class="rgh_area">
                                <a href="">
                                    <em>나의지갑 잔액</em>
                                    <p id="mach"><span>MACH</span></p>
                                </a>
                                <button class="btn bgc1" onclick="location.href='/myPages/wallet/deposit';">MACH입금</button>
                                <button class="btn bgc3" onclick="location.href='/myPages/wallet/withdraw';">MACH출금</button>
                            </div>                         
                        </div>

                        <h2 class="tit_mypage dot_tit">교환하기</h2>
                        <div class="table_wrap table-responsive mb50">
                            <table class="table_account">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tfoot>
                                    <tr>
                                        <td class="td_exchange_coin" colspan="2">
                                            <em class="fc3" id="deposit_amount">0<span>MACH</span></em><span class="arw_txt">>>></span><em class="fc2" id="exchange_amount"><img href="" />0</em>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <th>교환 MACH</th>
                                        <td>
                                            <div class="dib_220">
                                                <select class="custom-select" name="coin" onchange="calculate()">
                                                    <option value="BTC">BTC</option>
                                                    <option value="ETH">ETH</option>
                                                    <option value="MACH" selected>MACH</option>
                                                </select>
                                            </div>
                                            <br class="mob_br"><span class="fcrd"> ※ 교환을 원하는 MACH입력.</span>
                                        </td>
                                    </tr>                  
                                    <tr>
                                        <th>자동계산</th>
                                        <td><em id="calculate">0 MACH = <img /> 0</em></td>
                                    </tr>    
                                </tbody>
                            </table>
                        </div>  
                        <h2 class="tit_mypage dot_tit">결제정보</h2>
                        <table class="table_payment_info table">
                            <colgroup>
                                <col class="col50p">
                                <col class="col50p">
                            </colgroup>
                            <tbody>                           
                                <tr>
                                    <th>출금 가능 금액</th>
                                    <td><span id="my_amount">0</span> MACH</td>
                                </tr>
                                <tr>
                                    <th>출금 금액</th>
                                    <td><!-- 클래스명 => 플러스기호: plus 마이너스: minus -->
                                        <em class="em_calc_ico minus">-</em> <span id="plus_amount">0</span> MACH
                                    </td>
                                </tr>
                                <tr>
                                    <th>출금 후 출금 가능 금액</th>
                                    <td><span id="total_amount">0</span> MACH</td>
                                </tr>                        
                            </tbody>
                        </table>
                        <div class="table_wrap mb50">
                                <h2 class="tit_mypage dot_tit">결제정보</h2>
                                <table class="table_payment_info table">
                                    <colgroup>
                                        <col class="col50p">
                                        <col class="col50p">
                                    </colgroup>
                                    <tbody>                           
                                        <tr>
                                            <th>나의 지갑 잔액</th>
                                            <td><span id="my_amount">0</span> MACH</td>
                                        </tr>
                                        <tr>
                                            <th>입금 금액</th>
                                            <td><!-- 클래스명 => 플러스기호: plus 마이너스: minus -->
                                                <em class="em_calc_ico plus">+</em> <span id="plus_amount">0</span> MACH
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>입금 후 나의 지갑 잔액</th>
                                            <td><span id="total_amount">0</span> MACH</td>
                                        </tr>                        
                                    </tbody>
                                </table>
                                <div class="btn_align_c">
                                    <button class="btn btn_in_view1" id="confirmDeposit">비트베리 입금요청</button>
                                </div>                            
                            </div>                                                                      
                    </section>
                    <!--// gameStation -->
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>

    <% include ../include/footer.html %>
</div>
</body>