<% if(pageName === "register") {%>
<script>
    // 등록 페이지 이미지 업로더
    function singleUpload(e) {
        var index = parseInt(e.target.getAttribute("index"));
        var f = e.target.files[0];

        if(!f.type.match("image.*")) {
            alert("이미지 파일만 업로드가 가능합니다.");
            e.target.value = "";
            $("#listOfThumbnail li").eq(index).html("");
            if(index === 0) {$("#fullImg").html("");}
            sel_files.splice(index, 1);
            return;
        }

        var reader = new FileReader();
        var image  = new Image();
        var agent = navigator.userAgent.toLowerCase();

        reader.readAsDataURL(f);
        reader.onload = function(_file) {
            image.src    = _file.target.result;
            image.onload = function() {
                var w = this.width,
                    h = this.height,
                    t = f.type,
                    n = f.name,
                    s = ~~(f.size / 1024) + 'KB';
                // 확장자를 제외한 파일명
                var originName = n.substring(0, n.lastIndexOf(".")); 
                // IE 경우 이미지 가공이 지원안됨
                if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
                    var objImgInfo = {"index": index, "name": "img_id_"+index, "value": f};
                    /*
                    if(sel_files.length === 0) {
                        sel_files[index] = objImgInfo;
                    } else {
                        sel_files.splice(index, 1, objImgInfo);
                    }
                    */
                    sel_files.push({
                        "index": index,
                        "name": "img_id_"+index,
                        "value": f      
                    });

                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                        html += '<div class="img_view_area">';
                        html += "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>";
                        html += '</div>';
                        html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\',"+index+")\"></a>";
                        html += '</div>';

                    // 풀이미지 썸네일 로직 추가
                    $("#listOfThumbnail li").eq(index).html(html);

                    //if(index === "0") {
                        var img1th = "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>"
                        $("#fullImg").html(img1th);
                    //}
                } else {
                    var fileType = f.type;
                    var fileExte = f.name.split(".")[1];
                    var resultImg = loadImage(
                        _file.target.result, //fileOrBlobOrUrl,
                        function (img, data) {
                            console.log("data: ", img, data); // requires exif extension
                            
                            // 이미지 업로드 실행
                            img.toBlob(function(blob){
                                var createdFile = new File([blob], "img_id_"+index+"."+fileExte, {type: fileType});

                                var objImgInfo = {"index": index, "name": "img_id_"+index, "value": createdFile};
                                /*
                                if(sel_files.length === 0) {
                                    sel_files[index] = objImgInfo;
                                } else {
                                    sel_files.splice(index, 1, objImgInfo);
                                }
                                */

                                sel_files.push({
                                    "index": index,
                                    "name": "img_id_"+index,
                                    "value": createdFile      
                                });
                            });
    
                            var thumnail = new Image();
                                thumnail.id = "pic"
                                thumnail.src = img.toDataURL();

                            // 풀이미지 썸네일 로직 추가
                            $("#fullImg").empty().append(thumnail);

                            var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                                html += '<div class="img_view_area">';
                                html += "<img src=\"" + img.toDataURL() + "\" data-file='"+f.name+"'>";
                                html += '</div>';
                                html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\',"+index+")\"></a>";
                                html += '</div>';
                                                    
                            //$(".imgs_wrap").append(html);
                            $("#listOfThumbnail li").eq(index).html(html);
                            
                        },
                        { maxWidth: 800, orientation: true }
                    );
                }

            }
        }
    }

    // 등록 페이지 이미지 삭제
    function deleteImageAction(index, idx) {
        //console.log("index : "+index);
        var findIndex = -1;
        for (var i = 0; i < sel_files.length; ++i) {
            if(sel_files[i] !== undefined && sel_files[i].name == index) {
                findIndex = i;
            }
        }

        if(findIndex > -1) {
            sel_files.splice(findIndex, 1);
        }

        $('#' + index).remove();
        $('#input_imgs'+idx).val("");

        console.log("sel length : ",sel_files);

        // 풀이미지 썸네일 로직 추가
        var img1th = $(".imgs_wrap > .thumbnail_box:eq(0) img").clone();
        $("#fullImg").html(img1th)
    }    
</script>    
<% } else if(pageName === "modify") {%>
<script>
    // 수정 페이지 이미지 업로더
    function singleUpload(e) {
        var index = parseInt(e.target.getAttribute("index"));
        var f = e.target.files[0];

        if(!f.type.match("image.*")) {
            alert("이미지 파일만 업로드가 가능합니다.");
            e.target.value = "";
            $("#listOfThumbnail li").eq(index).html("");
            if(index === 0) {$("#fullImg").html("");}
            beforeImgs.splice(index, 1);
            return;
        }

        var reader = new FileReader();
        var image  = new Image();
        var agent = navigator.userAgent.toLowerCase();

        reader.readAsDataURL(f);
        reader.onload = function(_file) {
            image.src    = _file.target.result;
            image.onload = function() {
                var w = this.width,
                    h = this.height,
                    t = f.type,
                    n = f.name,
                    s = ~~(f.size / 1024) + 'KB';
                // 확장자를 제외한 파일명
                var originName = n.substring(0, n.lastIndexOf(".")); 
                // IE 경우 이미지 가공이 지원안됨
                if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
                    sel_files.push({"index": index, "name": "img_id_"+index, "value": f});
                    var i = index;
                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                        html += '<div class="img_view_area">';
                        html += "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>";
                        html += '</div>';
                        html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+i+"\',"+i+")\"></a>";
                        html += '</div>';

                    // 풀이미지 썸네일 로직 추가
                    $("#listOfThumbnail li").eq(index).html(html);

                    //if(index === "0") {
                        var img1th = "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>"
                        $("#fullImg").html(img1th);
                    //}                    
                } else {
                    var fileType = f.type;
                    var fileExte = f.name.split(".")[1];
                    var resultImg = loadImage(
                        _file.target.result, //fileOrBlobOrUrl,
                        function (img, data) {
                            console.log("data: ", img, data); // requires exif extension
                            
                            // 이미지 업로드 실행
                            img.toBlob(function(blob){
                                var createdFile = new File([blob], "img_id_"+index+"."+fileExte, {type: fileType});

                                sel_files.push({
                                    "index": index,
                                    "name": "img_id_"+index,
                                    "value": createdFile      
                                });
                                //console.log("sel_files: ", sel_files)
                            });
    
                            var thumnail = new Image();
                                thumnail.id = "pic"
                                thumnail.src = img.toDataURL();

                            // 풀이미지 썸네일 로직 추가
                            $("#fullImg").empty().append(thumnail);
                            var i = index;
                            var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                                html += '<div class="img_view_area">';
                                html += "<img src=\"" + img.toDataURL() + "\" data-file='"+f.name+"'>";
                                html += '</div>';
                                html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+i+"\',"+i+")\"></a>";
                                html += '</div>';
                                //html += '<button id="btnModifyImg'+index+'" class="btn btn_modify_img">이미지수정</button>';
                                                    
                            //$(".imgs_wrap").append(html);
                            $("#listOfThumbnail li").eq(index).html(html);
                            
                        },
                        { maxWidth: 800, orientation: true }
                    );
                }                                              
            }
        }
    }

    // 수정 페이지 이미지 삭제
    function deleteImageAction(index, idx) {
        //console.log("index : "+index, idx);
        var findIndex = -1;
        for (var i = 0; i < sel_files.length; ++i) {
            if(sel_files[i] !== undefined && sel_files[i].name == index) {
                findIndex = i;
            }
        }

        if(findIndex > -1) {
            sel_files.splice(findIndex, 1);
        }

        $('#' + index).remove();
        $('#input_imgs'+idx).val("");

        //beforeImgs.splice(idx, 1);
        beforeImgs[idx] = null;

        //console.log("sel length : ",sel_files);

        // 풀이미지 썸네일 로직 추가
        var img1th = $(".imgs_wrap > .thumbnail_box:eq(0) img").clone();
        $("#fullImg").html(img1th)
    }        
</script>
<% } %>
