<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">

            <!-- page-->
            <section class="find_info_sec">
               <ul class="tab_find_info cf">
                   <li class="on"><a href=""><h1>아이디 찾기</h1></a></li>
                   <li><a href="">비밀번호 찾기</a></li>
               </ul>
               <div class="find_info_box">
                    <h2>본인 인증으로 찾기</h2>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view3">휴대폰 인증</button>
                    </div>
                    <div class="align_c">
                        <hr>
                        <h2>이메일로 아이디 찾기</h2>
                        <p>
                            회원정보의 이메일 주소와 동일한 이메일 주소를 입력하셔야 찾으실 수 있습니다.<br>
                            ※ 아이디는 본인 이메일 주소에 발송됩니다.
                        </p>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">이름</th>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">이메일</th>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view2">아이디 찾기</button>
                    </div>
                </div>
            </section>
            <!--//  page-->

            <!-- page-->
            <section class="find_info_sec">
                <ul class="tab_find_info cf">
                    <li><a href="">아이디 찾기</a></li>
                    <li class="on"><a href=""><h1>비밀번호 찾기</h1></a></li>
                </ul>
                <div class="find_info_box">
                    <h2>본인 인증으로 찾기</h2>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view3">휴대폰 인증</button>
                    </div>
                    <div class="align_c">
                        <hr>
                        <h2>이메일로 비밀번호 찾기</h2>
                        <p>
                            회원정보의 이메일 주소와 동일한 이메일 주소를 입력하셔야 찾으실 수 있습니다.<br>
                            ※ 새로운 임시 비밀번호로 본인 이메일 주소에 발송됩니다.<br>
                            ※ 발급된 임시 비밀번호로 로그인 후 <em class="fcrd">[나의페이지-정보수정]</em>에서 신규 비밀번호로 변경하세요.
                        </p>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">아이디</th>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">이메일</th>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view2">비밀번호 찾기</button>
                    </div>
                </div>
            </section>
            <!--//  page-->

            <!-- page-->
            <section class="find_info_sec">
                <ul class="tab_find_info cf">
                    <li class="on"><a href=""><h1>회원정보 확인</h1></a></li>
                </ul>
                <div class="find_info_box">
                    <div class="align_c">
                        <p class="tac">
                            ※ 새 비밀번호 입력 후 <em class="fcrd">[확인]</em>을 누르시면 설정이 완료됩니다.<br>
                            ※ 비밀번호 변경을 원하지 않으실 경우 <em class="fcrd">[홈으로]</em>를 눌러주세요.
                        </p>
                        <hr>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">아이디</th>
                                        <td><em>aaaasssss</em></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">새 비밀번호</th>
                                        <td><input type="text" class="form-control" placeholder="새로운 비밀번호 입력 *8~16자의 영문+숫자 or 특수문자 사용"></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">새 비밀번호 확인</th>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view3">확인</button>
                        <a href="" class="btn btn_in_view2">홈으로</a>
                    </div>
                </div>
            </section>
            <!--//  page-->

            <!-- page-->
            <section class="find_info_sec">
                <ul class="tab_find_info cf">
                    <li class="on"><a href=""><h1>미등록 회원</h1></a></li>
                </ul>
                <div class="find_info_box">
                    <h2>가입된 정보를 찾을 수 없습니다.</h2>
                    <div class="align_c">
                        <hr>
                    </div>
                    <div class="btn_align_c">n>
                        <a href="" class="btn btn_in_view3">회원가입</a>
                        <a href="" class="btn btn_in_view2">홈으로</a>
                    </div>
                </div>
            </section>
            <!--//  page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        