<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->
    <script>
    //document.querySelector("#btnInfoBox").click();
    </script>
    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- list page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>팝니다<span>전체 게임</span></h1>
                    <button class="btn btn-success">판매등록</button>
                </div>
                <div class="search_filter">
                    <ul class="">
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">상품유형</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <input type="checkbox" name="" id=""><label for="">아이템</label>
                                <input type="checkbox" name="" id=""><label for="">게임머니</label>
                                <input type="checkbox" name="" id=""><label for="">기타</label>
                            </div>
                        </li>
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">거래상태</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <input type="checkbox" name="" id=""><label for="">거래가능</label>
                                <input type="checkbox" name="" id=""><label for="">거래중</label>
                                <input type="checkbox" name="" id=""><label for="">거래완료</label>
                            </div>
                        </li>
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">상품검색</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <input type="text" class="form-control">
                            </div>
                        </li>
                        <li class="tar">
                            <input type="button" class="btn btn-primary" value="검색">
                        </li>
                    </ul>
                </div>

                <!-- <div class="tar mb10">
                    <button class="btn btn-success">판매등록</button>
                </div> -->

                <div class="table_wrap table-responsive">
                    <table class="table_list table">
                        <colgroup>
                            <col class="col5_1">
                            <col class="col5_2">
                            <col class="col5_3">
                            <col class="col5_4">
                            <col class="col5_5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>게임>서버</th>
                                <th>제목</th>
                                <th>거래가격</th>
                                <th>거래상태</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>블레이드앤소울>이확</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">아이템</span>
                                    <div class="ellipse">
                                        금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.
                                    </div>
                                    <span class="ico_photo">사진</span>
                                </td>
                                <td>2001.5 MACH</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">거래가능</span>
                                </td>
                                <td>2015.03.12</td>
                            </tr>
                            <tr>
                                <td>블레이드앤소울>이확</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">아이템</span>
                                    <div class="ellipse">
                                        금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.
                                    </div>
                                    <span class="ico_photo">사진</span>
                                </td>
                                <td>2001.5 MACH</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">거래가능</span>
                                </td>
                                <td>2015.03.12</td>
                            </tr>
                            <tr>
                                <td>블레이드앤소울>이확</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">아이템</span>
                                    <div class="ellipse">
                                        금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.
                                    </div>
                                    <span class="ico_photo">사진</span>
                                </td>
                                <td>2001.5 MACH</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">거래가능</span>
                                </td>
                                <td>2015.03.12</td>
                            </tr>
                            <tr>
                                <td>블레이드앤소울>이확</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">아이템</span>
                                    <div class="ellipse">
                                        금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.
                                    </div>
                                    <span class="ico_photo">사진</span>
                                </td>
                                <td>2001.5 MACH</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">거래가능</span>
                                </td>
                                <td>2015.03.12</td>
                            </tr>
                            <tr>
                                <td>블레이드앤소울>이확</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">아이템</span>
                                    <div class="ellipse">
                                        금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.
                                    </div>
                                    <span class="ico_photo">사진</span>
                                </td>
                                <td>2001.5 MACH</td>
                                <td>
                                    <span class="btn_cmm_bd ico_item">거래가능</span>
                                </td>
                                <td>2015.03.12</td>
                            </tr>
                        </tbody>
                    </table>                 
                </div>
            </section>
            <!--// list page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        