<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <div class="error_sec_wrap">
        <section class="error_sec">
            <h1>요청하신 페이지를 찾을 수 없습니다</h1>
            <p>입력하신 URL이 잘못되었거나 잘못된 요청입니다.</p>
            <div class="box1">
                <img src="/static/img/sub/prepared_machbot.png" alt="">
            </div>
            <div class="box2">
                <button class="btn bgc4" onclick="history.back();">이전 페이지</button>
                <button class="btn bgc2" onclick="location.href='/main';">메인 페이지</button>
            </div>
        </section>
    </div>
</div>
</body>     
</html>   