<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li><a href="/agreements/use">Terms of Service</a></li>
                    <li class="on"><a href="/agreements/private">Privacy Policy</a></li>
                    <li><a href="/agreements/marketing">Promotional Offers</a></li>
                </ul>
            </div>
            <section class="howto_sec">
                <h1 class="tit_howto">Privacy Policy</h1>
                <div class="legal_txt_wrap">
                    <textarea class="textarea_legal" rows="30" readonly="readonly">
                    1. Personal Information Collection Items
                    As a member, you can become a member of our company.
                    If we collect your personal information, we will notify you in advance and we will collect your consent.
                    The Company observes the following in order to collect your personal information.
                    A. We collect only a minimum amount of personal information in providing services to our members.
                    ① Collected items: E-mail, account number

                    N. Do not collect sensitive personal information.
                    ① We do not collect any personal information that may be related to your basic human rights violations such as race, ideology, creed, or health status.
                    ② However, if it is inevitable to collect on the basis of laws and regulations, we will inform you of the fact and ask for your prior consent.

                    C. The Company collects personal information with the consent of the members as follows.
                    ① Homepage, written form, fax, telephone, customer center consultation, e-mail, event application, delivery request
                    ② Provision from partner companies
                    ③ Collection through production information collection tool

                    2. Purpose of Use of Personal Information
                    The Company will use your personal information only for the following purposes, and will not use it for any purpose other than those stated in the prior notice to you.
                    A. Member Service: Provide member authentication, personal identification, identification of the applicant, confirmation of membership, restriction of re-entry, inquiry and record of dispute settlement, confirmation of membership withdrawal, announcement notification,
                    N. Contract execution by intermediary service delivery: delivery of goods, point withdrawals, prizes, etc.
                    C. Develop new services and use them in marketing and advertising: Provide new service development and customized services, Provide services according to statistical characteristics, Show ads, Validate services, Provide event and advertisement information, Provide participation opportunities, Statistics on Service Use

                    We will provide updated personal information collection items based on the time you check.

                    In addition, the personal information collected by the Company is kept only until the purpose of collection and the purposes for which it has been provided are fulfilled, and if you ask for withdrawal or withdraw your consent, we will immediately destroy it. However, information required to be kept under relevant laws and ordinances shall be kept as prescribed by laws and ordinances. (Your personal information is kept by the company even if you delete the app. To cancel personal information, you need to leave the member or contact the customer center.)

                    3. Personal information provision / consignment
                    Providing personal information
                    The Company provides your personal information to third parties in order to provide smooth and improved service to you. We will only provide you with the minimum personal information for the purpose of service delivery and transaction security. If you provide personal information to a third party, we will notify you in advance and get your consent.

                    However, the following cases are excluded.
                    A. When there is a request from the related authorities for administrative purposes or investigation purposes under the relevant laws and regulations
                    N. Provide advertisers, partner companies, research organizations, etc. in a form of non-identification that can not identify a specific individual for statistical writing, academic research or market research.
                    C. If there is a request in accordance with procedures set forth in other relevant laws and regulations
                    D. When the transaction is concluded through the service provided by the company and the transaction information is provided to both parties within the necessary range for the purpose of securing the transaction
                    View personal details by service View personal details by event

                    Personal information consignment
                    The company entrusts the minimum amount of personal information processing required for external companies to carry out some of the tasks required to provide smooth and improved services to its members.
                    We supervise, supervise and educate you so that your personal information can be safely managed while an outside company consigns your personal information, in order not to violate necessary measures and relevant laws and regulations.
                    The updated personal information consignment service and the information of the consigned company are as follows based on the time when you confirm.
                    - Contractor: Danal Co., Ltd.
                    - Consignment service contents: Happy money gift certificate, mobile phone payment

                    4. Destruction of personal information
                    Destruction of personal information
                    In principle, your personal information will be destroyed without delay when the purpose of collecting and using personal information is achieved.
                    However, the information to be kept by the related laws and regulations is in accordance with the laws and ordinances.
                    At this time, personal information that is separately stored and managed is not used without the statute.
                    The procedure and method of destruction are as follows.

                    Destruction procedure
                    - The information entered by the user for membership, etc., is transferred to a separate DB after the purpose has been accomplished (in the case of paper, separate documents). According to the internal policy and other related laws and regulations, It is stored for a certain period and then destroyed.
                    - This personal information will not be used for any other purpose other than that held by law.

                    Destruction method
                    - Personal information printed on paper is crushed by a crusher or destroyed by incineration.
                    - Personal information stored in the form of an electronic file is deleted using a technical method that can not reproduce the record.
                    5. Others
                    Cookie collection guide
                    A cookie is a small amount of information that a server used to run a website sends to your computer browser and is stored on your computer.
                    The company operates cookies for your convenience and customized services and collects information only for your ID.
                    You have the right to collect cookies. If you want to refuse to collect cookies, you can do the following:

                    1) For Internet Explorer
                    - "Tools" menu> "Internet Options" menu> "Privacy" tab at the top of web browser

                    2) For Chrome
                    - Select the icon "Chrome menu" in the top right corner of the web browser.> Select "Settings"> Select "Show Advanced Settings" at the bottom of the screen.

                    However, there may be some difficulties in providing the service when the cookie collection is denied.

                    Your company's efforts to protect your privacy
                    The Company makes the following efforts to protect your valuable personal information.
                    A. We prevent your personal information from being leaked or damaged by hacking or viruses.
                    N. To prevent your personal information from being compromised, we are taking technical measures such as backups, vaccine programs, and intrusion prevention programs.
                    C. We have minimum access to personal information for our members, and regular training is provided for our employees to acquire security technologies and protect their personal information.

                    Feedback for privacy
                    The company values ​​your opinions and you can contact your department about questions about your personal information.

                    Service center
                    Phone number 1588-0626
                    Fax 02-855-0261
                    Address 2813, Digital Road, Guro-gu, Seoul, Korea, 1213, Mario Tower Korea Certification Services Co.,
                    Email io@onlykcs.com, io@mymach.io
                 
                    Privacy Officer Privacy Officer
                    Affiliation: Policy Officer
                    Position: CEO
                    Name: Choi, Seon-joon
                    Phone: 1588-0626
                    Fax number: 02-855-0261
                    Email: io@mymach.io

                    Affiliation: Policy Officer
                    Position: Information security manager
                    Name: Choi, Seon-joon
                    Phone: 1588-0626
                    Fax number: 02-855-0261
                    Email: io@onlykcs.com

                    Additional Policy
                    The current Privacy Policy will be posted on the "Notice" section of the online website at least 7 days prior to the revision if any additions, deletions or modifications are made. However, if there is a significant change in the rights of the member, such as the collection of personal information or the provision of a third party, a notice of a grace period of at least 30 days shall be announced.

                    7. Additional Provisions
                    These Terms will be effective January 14, 2019.
                    - Privacy policy enforcement date: January 14, 2018
                                       </textarea>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>