<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li class="on"><a href="/agreements/use">Terms of Service</a></li>
                    <li><a href="/agreements/private">Privacy Policy</a></li>
                    <li><a href="/agreements/marketing">Promotional Offers</a></li>
                </ul>
            </div>
            <section class="howto_sec">
                <h1 class="tit_howto">Terms of Service</h1>
                <div class="legal_txt_wrap">
                    <textarea class="textarea_legal" rows="30" readonly="readonly">
        Chapter 1: General Provisions
        Article 1 (Purpose)
        These Terms and Conditions relate to the brokerage services and other information services (hereinafter referred to as "Services") provided by MarketMACH (hereinafter referred to as "the Company") through the MarketMACH (http://www.marketmach.com) To define the rights and obligations of the Company and its members, responsibilities, and procedures for the Member's use of the Service.

        Article 2 (Specification of Terms, Effect and Change)
        ① The Company shall post the Terms and Conditions on the MarketMACH (http://www.marketmach.com) screen where services are provided so that those who want to use the service and members can know about them.
        ② If the Company revises these Terms of Use, the date of application and reasons for revision of the revised Terms shall be specified and notified by the method 1 above from 7 days before the effective date to the day before the effective date. However, if you change the terms and conditions of your use against the user at least 30 days before the grace period will be announced. In this case, the Company clearly compares the contents before the revision with the contents after the revision and displays them in a clearer manner for the user.
        ③ These Terms and Conditions are the basic agreement of the Service Usage Agreement established between the Company and the Member. The Company may, if necessary, determine the applicable matters (hereinafter referred to as "Operational Policies") for specific services and notify them in advance. In the event that a member agrees with these operating policies and uses certain services, the operating policies shall apply first and these terms shall have a supplementary effect. As for the change of the operating policy, the above 2 Paragraph shall apply mutatis mutandis.

        Article 3 (Relationship with Related Laws and Regulations)
        ① Items that are not specified in this Agreement or in the Operational Policy are as follows: 'Telecommunications Business Act', 'Electronic Commerce Basic Act', 'Act on Information Network Promotion and Information Protection Act', 'Act on Consumer Protection in Electronic Commerce etc.' Law, "" commercial law "and other relevant laws and regulations.
        ② Members shall use the services provided by the Company in order to use the services provided by the Company under the Act on Consumer Protection in Electronic Commerce etc., the Electronic Commerce Basic Act, the Consumer Protection Act, the Act on the Fairness of Advertisements and Advertisements, Promotion and Protection of Information, etc. ", and can not assert any indemnity for violation of relevant laws and regulations as stipulated in these Terms and Conditions.

        Article 4 (Types of Services)
        The services that the company provides to its members are as follows.

        1. Brokerage services
        Refers to all services and related supplementary services that provide online cyber trading sites where a company can trade goods through mutual exchange through the MarketMACH (http://www.marketmach.com).

        2. Other information services
        In addition to intermediary services, Internet refers to Internet services such as information services provided by members to members through the MarketMACH (http://www.marketmach.com).

        Article 5 (Definition of Terms)
        Terms used in these terms are defined as follows.
        ① Member: A person who has approved the Terms and signed a membership agreement with the Company by signing up for membership.
        ② ID: This is a combination of letters and numbers approved by the company for member identification and service use.
        ③ Homepage: A website that a company provides to enable members to use the company's services.
        ④ Password: It is a combination of letters and numbers approved by the company for member identification and protection of member information.
        ⑤ Merchant: A member who intends to sell the goods and registers or applies the goods according to the form provided by the company online.
        ⑥ Buyer: A member who has registered or applied to the form provided by the company online in order to purchase the goods.
        ⑦ VTR transaction: It refers to mutual transaction between seller and buyer based on AI chatbot, without company participation in the process of delivering goods.

        Article 6 (Nature and Purpose of Service)
        The intermediary service is to provide the cyber trading place online so that the company can sell and trade goods with each other by self-determination of members. The Company does not sell or purchase commodities from members, but only provides the tools to enhance the safety and reliability of transactions between members. Responsibility for the transactions between members shall be borne by the members who are the trading partners themselves.

        Chapter 2 Service Use Contract

        Article 7 (Service Use Contract)
        ① The use agreement (hereinafter referred to as the "use agreement") regarding the service provided by the company shall be made by the person who intends to use the service, after filling in the member information according to the form set by the company, The company will see this as an application for use and will be established upon approval.
        ② ID can only use one ID for each blind person. In principle, the use contract must be concluded by ID (ID).
        ③ Any person who intends to use the service must submit his / her actual information at the time of application of the use under paragraph 1. If you do not, the member can not be legally protected and all liability for civil and criminal liability shall be borne by the member to whom it is attached. In addition, the use of the service may be restricted in accordance with Article 9 of the Terms and Conditions.
        ④ The Company may provide various and useful information about the Company's brokerage services and related services to its members through E-mail, Letter of Correspondence, and Telephone.

        Article 8 (Application for Use and Rejection)
        ① The Company shall, in principle, approve the use of the service through the confirmation procedure set forth in this Agreement if the applicant for use of the service accurately describes the subscription form set by the Company and agrees to these Terms and Conditions.
        ② The Company may withdraw from the application if there are any of the following reasons.
        1. If you have not authenticated email authentication for a certain period of time
        2. If the e-mails of already registered members are the same
        3. If a previous member who has terminated the use contract by the Company pursuant to Article 9 of this Agreement applies for re-use
        4. If a member who has been suspended from the Company pursuant to Article 9 of this Agreement terminates his / her use contract and applies for re-use during suspension of use
        5. If a false statement is stated in the essential items to be described at the time of application
        6. Any other illegal or unauthorized use is confirmed

        Article 9 (Termination of Use Contract)
        ① Members may terminate the use agreement in accordance with the procedures set forth in these Terms and Conditions.
        ② Termination of membership
        1. Members may terminate their use agreement at any time by notifying the Company of their intention to terminate. However, members must complete, withdraw, or cancel all purchasing or selling procedures before they are notified of their intention to cancel, so that they can express their intention to cancel. In this case, the disadvantage caused by withdrawal or cancellation of the sale shall be borne by the member himself.
        2. The use contract ends when the member's cancellation intention reaches the company.
        3. A member who terminates this section may re-register as a member pursuant to the membership procedure and related provisions stipulated in these Terms and Conditions.
        ③ termination of the company
        1. The Company may terminate the use agreement if there are any of the following reasons. In this case, the Company will notify the member of the reason for cancellation by e-mail, telephone, fax or other means. However, the Company may give the member an opportunity to express opinions on the reason for termination beforehand.
        A) It is confirmed to the member that there is a reason for refusing to accept the contract of use set forth in Article 7 (4)           
                </textarea>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>