<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_buy">
                <div class="board_tit cf">
                    <h1>중고자산 삽니다 <span>상세정보</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_etc-buy_view">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <em class="view_emphasis">아이템</em>  
                                    <span class="posting_date"></span>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <div class="ellipse item_title">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>카테고리</th>
                                <td><span class="item_game_server"></span></td>
                            </tr>
                            <tr>
                                <th>거래번호</th>
                                <td><span class="item_id"></span></td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td><span class="user_tag"></span></td>
                            </tr>
                            <tr>
                                <th>거래상태</th>
                                <td><span class="item_status"></span></td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td><p class="txt_price"><span></span></p></td>
                            </tr>
                            <tr class="mrg_cell trForBtn">
                                <td colspan="2">
                                    <div class="btn_align_c">
                                        <%- include('../include/modules/trading_button.html', {pageName: 'etc-buys', category: 'etc', tradeType: 'buy'}) %>
                                    </div>
                                    <!-- <div class="tac">
                                        <a href="javascript:openVtrInfo()">VTR 거래신청이란?</a>
                                    </div> -->
                                </td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <span class="item_desc">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tar">
                    <a href="javascript:routeLink()" class="btn btn_go_list">목록</a>
                    <!-- [모듈] 댓글모듈 -->
                    <% include ../include/modules/comment.html %>
                </div>
                
                <!-- 모달창 -->
                <div class="dim_all_area" style="display: none">
                    <article class="modal_bitberry_deposit">
                        <button id="btnmCloseModal" class="btn">X</button>
                        <h1>연락처 표시</h1>
                        <p>구매자 : <span id="to_userTag"></span><br> 연락처 : <span id="toPhone"></span></p>
                        <p>판매자 : <span id="from_userTag"></span><br> 연락처 : <span id="fromPhone"></span></p>
                        <button id="checkok" class="btn btn-danger">확인</button>
                    </article>
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->
            </section>
            <!--// view page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        