<!DOCTYPE html>
<html>
<head>
    <% include ../../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../../include/header.html %>
        <% include ../../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../../include/support_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- support -->
                    <section class="support_sec">
                        <h1 class="tit_support">거래 이의관리 <span>이의 내용 수정</span></h1>                    
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>                           
                                    <tr>
                                        <th class="fc2">거래번호</th>
                                        <td id="itemId"></td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">거래제목</th>
                                        <td id="itemTitle"></td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">제목</th>
                                        <td><input type="text" id="title" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">문의내용</th>
                                        <td>
                                            <textarea name="" id="content" class="form-control" style="height: 200px"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="trForDel">
                                        <th class="fc2">첨부 이미지</th>
                                        <td>
                                            <div class="product_img_list">
                                                <div class="imgs_wrap">
                                                    <ul id="listOfThumbnail" class="list_of_thumbnail cf">
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <ul class="thumbnail_btn_list cf">
                                                        <li><label for="input_imgs0" class="label_input_imgs">이미지 선택</label></li>
                                                        <li><label for="input_imgs1" class="label_input_imgs">이미지 선택</label></li>
                                                        <li><label for="input_imgs2" class="label_input_imgs">이미지 선택</label></li>
                                                        <li><label for="input_imgs3" class="label_input_imgs">이미지 선택</label></li>
                                                        <li><label for="input_imgs4" class="label_input_imgs">이미지 선택</label></li>
                                                    </ul>                                                
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                                    
                                    <tr class="mrg_cell trForDel">
                                        <td colspan="2">
                                            <div class="input_wrap">
                                                <input type="file" class="input_imgs" id="input_imgs0" index="0"/>
                                                <input type="file" class="input_imgs" id="input_imgs1" index="1" />
                                                <input type="file" class="input_imgs" id="input_imgs2" index="2" />
                                                <input type="file" class="input_imgs" id="input_imgs3" index="3" />
                                                <input type="file" class="input_imgs" id="input_imgs4" index="4" />
                                            </div>
                                            <ul class="highligh_list fcrd">
                                                <!-- <li>※ </li> -->
                                            </ul>
                                            <div id="fullImg"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="btn_align_c">
                            <button class="btn btn_in_view1" id="modifyOpposition">저장</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        var oppositionId = "<%=oppositionId%>";
        var sel_files = [];  // 이미지 정보들을 담을 배열
        var beforeImgs = []; // 수정될 이미지 정보 배열
        $(document).ready(function() {
            detail();
            $(".input_imgs").on("change", singleUpload);

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            
            $('#modifyOpposition').on('click', function() {
                submitAction(oppositionId); // 수정은 이미지 업로드 먼저 실행
            });
        });

        function detail() {
            $.ajax({
                method: "GET",
                url: "/v1/opposition/" + oppositionId
            }).done(function (success) {
                console.log(success.data);
                var opposition = success.data; 
                $('#itemId').text(opposition.item._id);
                $('#itemTitle').text(opposition.item.title);
                $('#title').val(opposition.title);
                $('#content').val(opposition.content);                
                var img1th = success.data.images.length == 0 ? '' : "<img src=\"" + success.data.images[0].path + "\" data-file='"+success.data.images[0].origin_name+"'>"
                $("#fullImg").html(img1th);

                beforeImgs = success.data.images;   
                for(var i=0;i<success.data.images.length; i++) {
                    var index = i;
                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+i+"\">";
                        html += '<div class="img_view_area">';
                        html += "<img src=\"" + success.data.images[i].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                        html += '</div>';
                        html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+i+"\',"+i+")\"></a>";
                        html += '</div>';
                        //html += '<button class="btnModifyImg btn btn_modify_img" index="'+i+'">submitAction</button>';

                    $("#listOfThumbnail li").eq(index).html(html);
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function modifyOpposition(arrImages) {
            var title = $('#title').val();
            var content = $('#content').val();
            
            if ($("#opposition_item_name option:selected").val() == "") {
                alert('거래 검색을 선택하세요.');
                return;
            }

            if(title == "") {
                alert('이의 제목을 입력하세요.');
                return;
            }

            if(content == "") {
                alert('이의 내용을 입력하세요.');
                return;
            }

            var data = {
                "title": $('#title').val(),
                "content": $('#content').val()
            }
            
            console.log("throw data: ", data);
            // 이미지 수정 있는 경우
            if(arrImages.length > 0) {
                // 삭제된 이미지는 배열에서 삭제
                for (var i = 0; i < arrImages.length; i++) {
                    if(arrImages[i] === null) {
                        arrImages.splice(i, 1);
                    }
                }
                data.images = arrImages;
            }
            console.log("after arrImages: ", arrImages);

            console.log("after arrImages: ", arrImages);

            $.ajax({
                method: "PUT",
                url: "/v1/opposition/" + oppositionId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    $("#modifyOpposition").attr('disabled', true);
                    $("#ajaxSpiner").show(); // spinner
                    var pos = $("#spinnerTarget").offset().top - 100;
                    $("html, body").animate({
                        "scrollTop":pos
                    },0);              
                }
            }).done(function (success) {
                // console.log(success);
                // 이미지 업로드를 먼저 하는 로직으로 변경
                //location.href = '/supports/opposition/detail/' + oppositionId;
                $("#ajaxSpiner").hide(); // spinner
            }).fail(function (fail) {
                console.log('실패',fail);
                $('#modifyOpposition').attr('disabled', false);
                $("#ajaxSpiner").hide(); // spinner
            })
        }

        function submitAction(id) {
            //console.log("업로드 파일 갯수 : "+sel_files.length);
            var images = new FormData();
    
            for(var i=0, len=sel_files.length; i<len; i++) {
                var name = "image";
                images.append(name, sel_files[i].value);
            }

            $.ajax({
                method: "POST",
                url: "/v1/opposition/"+id+"/images",
                processData: false,
                contentType: false,
                data: images
            }).done(function (success) {
                console.log(success);
                //location.href = '/supports/opposition/detail/' + oppositionId;

                if(sel_files.length > 0) {
                    // sel_files[i].index는 수정이 일어난 이미지의 인덱스
                    for (var i = 0; i < sel_files.length; i++) {
                        beforeImgs.splice(sel_files[i].index, 1, success.data[i]);
                    }
                }
                modifyOpposition(beforeImgs);                
            }).fail(function (fail) {
                console.log('실패',fail);
            })
        }
    </script>
    <%- include('../../include/modules/img_upload.html', {pageName: 'modify'}) %>
        
    <% include ../../include/footer.html %>
</div>
</body>