<div aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link text-white" onclick="prevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span><span>prev</span>
            </a>
        </li>
        <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
        <!--<li class="page-item"><a class="page-link" href="#">5</a></li>-->
        <li class="page-item page-first">
            <a class="page-link text-white" onclick="nextPage()" aria-label="Next">
                <span>next</span>&nbsp;<span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
