<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->
    <script>
    //document.querySelector("#btnInfoBox").click();
    </script>
    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- list page-->
            <section class="board_sec c_style_sell">
                <div class="board_tit cf mb50">
                    <h1>BtoC<span>전체 물품</span></h1>
                    <!-- <button class="btn btn-success">판매등록</button> -->
                </div>
                <div class="photo_list">
                    <ul>
                        <li class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="img_list_box">
                                    <div class="photo_frame">
                                        <a href="">
                                            <img src="https://op-mach-bucket.s3.ap-northeast-2.amazonaws.com/items/1557983278435" alt="">
                                        </a>
                                    </div>
                                    <dl>
                                        <dt class="dt_tit">
                                            <div class="ellipse"><a href="">BTS 핸드크림</a></div>
                                        </dt>
                                        <dd class="cf">
                                            <div class="price_txt">30<span>MACH</span> (34000<span>Point</span>)</div>
                                            <div class="line_through_txt">44000원</div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="img_list_box">
                                    <div class="photo_frame">
                                        <a href="">
                                            <img src="https://op-mach-bucket.s3.ap-northeast-2.amazonaws.com/items/1557983278435" alt="">
                                        </a>
                                    </div>
                                    <dl>
                                        <dt class="dt_tit">
                                            <div class="ellipse"><a href="">BTS 핸드크림</a></div>
                                        </dt>
                                        <dd class="cf">
                                            <div class="price_txt">30<span>MACH</span> (34000<span>Point</span>)</div>
                                            <div class="line_through_txt">44000원</div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="img_list_box">
                                    <div class="photo_frame">
                                        <a href="">
                                            <img src="https://op-mach-bucket.s3.ap-northeast-2.amazonaws.com/items/1557983278435" alt="">
                                        </a>
                                    </div>
                                    <dl>
                                        <dt class="dt_tit">
                                            <div class="ellipse"><a href="">BTS 핸드크림</a></div>
                                        </dt>
                                        <dd class="cf">
                                            <div class="price_txt">30<span>MACH</span> (34000<span>Point</span>)</div>
                                            <div class="line_through_txt">44000원</div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="img_list_box">
                                    <div class="photo_frame">
                                        <a href="">
                                            <img src="https://op-mach-bucket.s3.ap-northeast-2.amazonaws.com/items/1557983278435" alt="">
                                        </a>
                                    </div>
                                    <dl>
                                        <dt class="dt_tit">
                                            <div class="ellipse"><a href="">BTS 핸드크림</a></div>
                                        </dt>
                                        <dd class="cf">
                                            <div class="price_txt">30<span>MACH</span> (34000<span>Point</span>)</div>
                                            <div class="line_through_txt">44000원</div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!--// list page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        