<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">

            <section class="board_sec">
                <div class="board_tit cf">
                    <h1>커뮤니티</h1>
                    <button class="btn btn-success" id="register">등록</button>
                </div>
                <div class="search_filter">
                    <ul class="">
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">분류</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <input type="radio" name="status" id="" value=""><label for="">전체</label>
                                <input type="radio" name="status" id="" value=""><label for="">게시글</label>
                                <input type="radio" name="status" id="" value=""><label for="">동영상</label>
                            </div>
                        </li>
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">검색</h2>
                            <div class="col-sm-10 col-xs-12">
                                <div class="w100p-120px">
                                    <input type="text" class="form-control" id="item_title">
                                </div>
                                <div class="mob_100p_tar">
                                    <input type="button" class="btn btn-primary" id="btn_search" value="검색">
                                </div>
                            </div>
                        </li>                        
                    </ul>
                </div>
                
                <div class="table_wrap table-responsive">
                    <table class="table_list has_media_icon table">
                        <colgroup class="colgroup_community_list">
                            <col class="col4_1">
                            <col class="col4_2">
                            <col class="col4_3">
                            <col class="col4_4">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>분류</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody id="list">
                            <tr onclick="">
                                <td>동영상</td>
                                <td>
                                    <div class="ellipse"><i class="ico_media material-icons">live_tv</i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolore itaque, illo enim dolorum molestiae consequuntur nemo minima labore quo incidunt rem,</div>
                                </td>
                                <td>김마하</td>
                                <td>19/04/11</td>
                            </tr>
                            <tr onclick="location.href='/v2/community/detail'">
                                <td>일반</td>
                                <td>                           
                                    <div class="ellipse">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolore itaque, illo enim dolorum molestiae consequuntur nemo minima labore quo incidunt rem,</div>
                                </td>
                                <td>김마하</td>
                                <td>19/04/11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn_align_c">
                    <button class="btn btn_more_list" id="more_search">20개 더보기</button>
                </div>
            </section>

        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>