<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">

            <section class="community_sec">
                <h1 class="tit_community">커뮤니티</span></h1>                    
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup>
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <tbody>                           
                            <tr>
                                <th class="fc2">제목</th>
                                <td><input type="text" id="title" class="form-control"></td>
                            </tr>
                            <tr>
                                <th class="fc2">내용</th>
                                <td>
                                    <textarea name="" id="content" class="form-control" style="height: 200px"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tac">
                    <button class="btn_recommendation">
                        <dl>
                            <dt><i class="material-icons">thumb_up</i>추천</dt>
                            <dd>0</dd>
                        </dl>
                    </button>
                </div>
                    
                <div class="tar">
                    <button class="btn btn_go_list" onclick="history.back();">목록</button>
                </div>

                <!-- 댓글 입력란 -->
                <div class="reply_write">
                    <div class="item_txt">
                        <textarea name="" id="" class="form-control" maxlength="300" style="height: 80px"></textarea>
                    </div>
                    <div class="item_btn">
                        <button class="btn bggr2">등록</button>
                    </div>
                </div>

                <!-- 댓글 리스트 -->
                <div class="reply_list">
                    <ul>
                        <li>
                            <dl class="rep_origin rep_common">
                                <dt>
                                    <div class="item_txt">
                                        <i class="material-icons">account_circle</i>
                                        <span class="rep_name">베타맨</span>
                                        <span class="rep_date">2019-03-17</span>
                                    </div>
                                    <div class="item_btn">
                                        <button class="fc3">추천 0</button>
                                        <button class="fcrd">비추 0</button>
                                    </div>
                                </dt>
                                <dd>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit ullam aperiam vitae numquam reprehenderit voluptatibus ad iusto impedit earum laborum quae, accusantium quisquam perferendis vero, ducimus odio voluptatem inventore labore.
                                </dd>
                            </dl>
                            <ul class="rep_in_rep">
                                <li>
                                    <dl class="rep_repeat rep_common">
                                        <dt>
                                            <div class="item_txt">
                                                <i class="material-icons">account_circle</i>
                                                <span class="rep_name">베타맨</span>
                                                <span class="rep_date">2019-03-17</span>
                                            </div>
                                            <div class="item_btn">
                                                <button class="fc3">추천 0</button>
                                                <button class="fcrd">비추 0</button>
                                            </div>
                                        </dt>
                                        <dd>
                                            댓글의 댓글
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="rep_repeat rep_common">
                                        <dt>
                                            <div class="item_txt">
                                                <i class="material-icons">account_circle</i>
                                                <span class="rep_name">베타맨</span>
                                                <span class="rep_date">2019-03-17</span>
                                            </div>
                                            <div class="item_btn">
                                                <button class="fc3">추천 0</button>
                                                <button class="fcrd">비추 0</button>
                                            </div>
                                        </dt>
                                        <dd>
                                            댓글의 댓글
                                        </dd>
                                    </dl>
                                </li>

                            </ul>                          
                        </li>
                        <li>
                            <dl class="rep_origin rep_common">
                                <dt>
                                    <div class="item_txt">
                                        <i class="material-icons">account_circle</i>
                                        <span class="rep_name">베타맨</span>
                                        <span class="rep_date">2019-03-17</span>
                                    </div>
                                    <div class="item_btn">
                                        <button class="fc3">추천 0</button>
                                        <button class="fcrd">비추 0</button>
                                    </div>
                                </dt>
                                <dd>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit ullam aperiam vitae numquam reprehenderit voluptatibus ad iusto impedit earum laborum quae, accusantium quisquam perferendis vero, ducimus odio voluptatem inventore labore.
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="rep_origin rep_common">
                                <dt>
                                    <div class="item_txt">
                                        <i class="material-icons">account_circle</i>
                                        <span class="rep_name">베타맨</span>
                                        <span class="rep_date">2019-03-17</span>
                                    </div>
                                    <div class="item_btn">
                                        <button class="fc3">추천 0</button>
                                        <button class="fcrd">비추 0</button>
                                    </div>
                                </dt>
                                <dd>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit ullam aperiam vitae numquam reprehenderit voluptatibus ad iusto impedit earum laborum quae, accusantium quisquam perferendis vero, ducimus odio voluptatem inventore labore.
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </section>            

        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>