<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
            
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/static/js/util.js"></script>
    
    <script>
        $(document).ready(function () {
            alert('인증이 성공적으로 완료되었습니다.');
            if (isPc()) {
                window.close();
            } else {
                location.href = '/findResult?type=findPassword';
            }
        });

        
    </script>
</head>
<body>
    
</body>
</html>