<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <div class="error_sec_wrap">
        <section class="error_sec">
            <h1>Not Found</h1>
            <p>bad request or invalid URL</p>
            <div class="box1">
                <img src="/static/img/sub/prepared_machbot.png" alt="">
            </div>
            <div class="box2">
                <button class="btn bgc4" onclick="history.back();">Prev</button>
                <button class="btn bgc2" onclick="location.href='/main';">Main</button>
            </div>
        </section>
    </div>
</div>
</body>     
</html>   