<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var popup;
        var currencyCode="+82";

        $(document).ready(function() {
            $('#authPhone').on('click',function(){
                authPhone();
            });

            $('#email').keypress(function(){
                if(window.event.keyCode==13){
                    findId();
                }
            });

            $('#findId').on('click',function(){
                findId();
            });

            $("#currencyType").on('change', function() {
                $("#currencyName").text($("#currencyType").val());
            });

            $("#phone").on('keyup', function() {
                if(window.event.keyCode==13){
                    sendAuthNo();
                }
            })

            $("#sendAuthNo").on('click', function() {
                if($(this).text() == "인증코드 재전송" ) {
                    alert("인증코드가 재전송 되었습니다.");
                }
                sendAuthNo();
            });

            // $("#reSendAuthNo").on('click', function() {
            //     sendAuthNo();
            //     alert("인증번호를 재발송 하였습니다.");
            // });

            $("#checkAuthNo").on('click', function() {
                checkAuthNo();
            });

            loadCurrencyList();
            $('.auth_no_class').hide();
            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
        });

        function authPhone(){
            popup = window.open("/reg/auth/start","PAY_WIN","width=480,height=570,toolbar=no,menubar=no,scrollbars=no,resizable=yes");
            var interval = window.setInterval(function() {
                try {
                    //console.log("popup : ", popup);
                    if (popup == null || popup.closed) {
                        window.clearInterval(interval);
                        location.href = '/findResult?type=findId';
                    }
                }
                catch (e) {
                }
            }, 2000);
        }

        function loadCurrencyList() {
            $.ajax({
                method: "GET",
                url: "/v1/countryCodes"
            }).done(function (success) {
                var strDOM = '<option value="">Choice</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].country_code + '">' + success.data[i].country_kr + '('+ success.data[i].country_code +')' + '</option>'
                }

                $("#currencyType").html(strDOM);
                $("#currencyType").selectpicker('refresh');
                $("#currencyType").val(currencyCode).attr("selected", "selected");
                $("#currencyType").selectpicker('refresh');
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function sendAuthNo() {
            if($("#currencyType").val() == "") {
                alert("거래국가를 선택하세요.");
                return;
            } else if($("#phone").val() == "") {
                alert("전화번호를 입력하세요.");
                return;
            }
            $(".submit_ctc_code_top .btn.dropdown-toggle.btn-light").attr("disabled", "disabled");
            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkPhone",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                $('.auth_no_class').show();
                $('#sendAuthNo').text("인증코드 재전송");
                $('#phone').prop('readonly', true);
                $('#currencyType').prop('readonly', true);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function checkAuthNo() {
            if($("#authNo").val() == "") {
                alert("인증번호를 입력하세요.");
                return;
            } 

            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val(),
                'authNo': $("#authNo").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkAuthNo",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                if(success.data.successYn == "fail") {
                    alert("인증번호가 유효하지 않습니다. 인증번호를 확인하세요.");
                    return;
                } else {
                    location.href = '/findResult?type=findId';
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function findId() {
            //var name = $("#name").val();
            var email = $("#email").val();

            // if(name == "") {
            //     alert("이름을 입력하세요.");
            //     return;
            // }

            if(email == "") {
                alert("이메일을 입력하세요.");
                return;
            }

            $.ajax({
                method: "GET",
                url: "/v1/notifications/email/findId/" + email
            }).done(function (success) {
                console.log(success);
                //location.href = "/existUser?id=" + success.data._id;
                alert('성공적으로 메일을 보냈습니다.\r확인 후 로그인하십시오.');
                location.href="/login";
            }).fail(function (fail) {
                if (fail.status == 403) {
                    location.href="/noResult";
                } else {
                    console.log(fail);
                }

            })
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">

            <!-- page-->
            <section class="find_info_sec">
               <ul class="tab_find_info cf">
                   <li class="on"><a href="findId"><h1>아이디 찾기</h1></a></li>
                   <li><a href="/findPassword">비밀번호 찾기</a></li>
               </ul>
               <div class="find_info_box">
                    <h2>휴대폰 확인으로 찾기</h2>
                    <div class="align_c">
                        <div class="submit_ctc_code">
                            <div class="submit_ctc_code_top no_w100p_wrap">
                                <select id="currencyType" class="selectpicker" data-size="5" data-live-search="true"></select>
                                <input type="text" class="form-control w80p" id="phone" placeholder="전화 번호 입력" maxlength="24"> 
                            </div>
                            <button class="btn btn_in_view1 send_auth_class" id="sendAuthNo">인증코드 전송</button>
                        </div>
                        <div class="confirm_ctc_code auth_no_class">
                            <input type="text" class="form-control" id="authNo" placeholder="인증번호 입력" maxlength="24">
                            <br>
                            <button class="btn btn_in_view1" id="checkAuthNo">전송</button>
                        </div>
                    </div>
                    <!-- <div class="btn_align_c">
                        <button class="btn btn_in_view3" id="authPhone">휴대폰 인증</button>
                    </div> -->
                    <div class="align_c">
                        <hr>
                        <h2>이메일로 아이디 찾기</h2>
                        <p>
                            회원정보의 이메일 주소와 동일한 이메일 주소를 입력하셔야 찾으실 수 있습니다.<br>
                            ※ 아이디는 본인 이메일 주소에 발송됩니다.
                        </p>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <!-- <tr>
                                        <th class="fc2">이름</th>
                                        <td><input type="text" class="form-control" id="name" placeholder=""></td>
                                    </tr>          -->
                                    <tr>
                                        <th class="fc2">이메일</th>
                                        <td><input type="text" class="form-control" id="email" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view2" id="findId">아이디 찾기</button>
                    </div>
                </div>
            </section>
            <!--//  page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        