<%# 주석표시 #지우기: include('페이지경로', {pageType: 'sell'}) %>
<%# 주석표시 #지우기: include('페이지경로', {pageType: 'buy'}) %>

<!-- 영문 나의 페이지 > 판매관리 / 구매 관리-->
<script>
    var userId = "<%=userId%>";
    var userTag = "<%=userTag%>";
    var pageIdx = "<%=pageIdx%>";
    var category = "<%=category%>";
    var status = "<%=status%>";
    var item_title =  "<%=item_title%>";
    
    $(document).ready(function(){
        //resetSearchFilter(".search_filter");
        $('#check_otc').hide();
        if(category == "otc") {
            $('#check_otc').show();
        }

        if(category == "") {
            category = $("input[name='category']:checked").val();
        }

        if(category == "game") {
            $('#myItemTitle').text("Game Item");
            $('#table_category').text('Game > Server')
        } else if(category == "otc") {
            $('#myItemTitle').text("OTC");
            $('#table_category').text('Category')
        } else {
            $('#myItemTitle').text("Asset Trading");
            $('#table_category').text('Category')
        }
        //$("#"+category).prop('checked', true);

        setItemStatus(status);
        $('#title').val(item_title);
        
        $("input[name=category]").on('click', function() {
            category = $("[name=category]:checked").val();
            
            if(category == "game") {
                $('#myItemTitle').text("Game Item");
                $('#table_category').text('Game > Server')
            } else if(category == "otc") {
                $('#myItemTitle').text("OTC");
                $('#table_category').text('Category')
            } else {
                $('#myItemTitle').text("Asset Trading");
                $('#table_category').text('Category')
            }

            if(category == "otc") {
                $('#check_otc').show();
            } else {
                $('#check_otc').hide();
            }
            
            getItemList();
        });

        $("input[name=status]").on('click', function() {
            status = $("[name=status]:checked").val();
            getItemList();
        });

        $("#btnmCloseModal, #checkok").on("click", function() {
            var $body = $("body");
            var $dim = $(".dim_all_area");
            $dim.hide();
            $body.css("position", "static");
        });

        $("#title").on('keyup', function(e) {
            item_title = $("#title").val();
            if(e.keyCode==13){
                getItemList();
            }
        });

        $("#btn_search").on("click", function(e) {
            getItemList();
        });
        remeberChecked();
    });

    function remeberChecked(){
        category = $("[name=category]:checked").val();

        if(category == "game") {
            $('#myItemTitle').text("Game Item");
            $('#table_category').text('Game > Server')
        } else if(category == "otc") {
            $('#myItemTitle').text("OTC");
            $('#table_category').text('Category')
        } else {
            $('#myItemTitle').text("Asset Trading");
            $('#table_category').text('Category')
        }

        if(category == "otc") {
            $('#check_otc').show();
        } else {
            $('#check_otc').hide();
        }

        status = $("[name=status]:checked").val();

        getItemList();
    }

    function getItemList() {
        var param = "?category=" + category;
        if(pageIdx != "" && pageIdx !=  undefined) {
            param += "&pageIdx=" + pageIdx;
        }

        if(status != "") {
            param += "&status=" + status;
        }

        if(item_title != "") {
            param += "&item_title=" + encodeURIComponent(item_title);
        }

        $.ajax({
            method: "GET",
            url: "/v1/vtrs/user/" + userId + "/<%= pageType %>" + param
        }).done(function (success) {
            //console.log(success.data);
            var buyList = success.data.list;
            var result = "";
            if(buyList.length == 0) {
                result = "<tr><td colspan='5'>No exist.</td><tr>";
            }
            for(var i=0; i< buyList.length; i++) {
                var itemId = buyList[i]._id;
                var pointTradeId = buyList[i].tradePointId;
                var regDate = buyList[i].regDate.substring(2, 10);
                var category = buyList[i].game_name + '<br>' + buyList[i].game_server;
                var item_type = getItemType(buyList[i].type);
                var url = "/buys/detail/" + itemId;
                if(buyList[i].category == "etc") {
                    category = buyList[i].category1  == undefined ? '-' : buyList[i].category1 + '<br>' + buyList[i].category2;
                    item_type = getDelivery(buyList[i].delivery_type == undefined ? "direct" : buyList[i].delivery_type);
                        
                    if(buyList[i].trade_type == "sell") {
                        url = "/etc-sells/detail/" + itemId;
                    } else {
                        url = "/etc-buys/detail/" + itemId;
                    }
                } else if(buyList[i].category == "otc") {
                    category = 'OTC';
                        
                    if(buyList[i].trade_type == "sell") {
                        url = "/otc-sells/detail/" + itemId;
                    } else {
                        url = "/otc-buys/detail/" + itemId;
                    }
                } else {
                    if(buyList[i].trade_type == "sell") {
                        url = "/sells/detail/" + itemId;
                    } 
                }
                
                var title = buyList[i].title;
                var cryptoCurrencyCode = buyList[i].cryptoCurrencyCode == undefined ? "MACH" : buyList[i].cryptoCurrencyCode;
                var price = numberWithCommas(buyList[i].price);
                var point = numberWithCommas(buyList[i].point);
                var status = getStatus(buyList[i].status);
                var trade_type = replaceType(buyList[i].trade_type);
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y' && buyList[i].status < 100) {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr onclick="location.href=\''+url+'\'">' + 
                            '<td>'+category+'</td>' + 
                            '<td>' + 
                                '<span class="btn_cmm_bd '+item_type.className+'">'+item_type.text+'</span>';
                                if(buyList[i].images.length != 0) {
                                    result +=          '<span class="ico_photo">Photo</span>';
                                }
                result +=       '<div class="ellipse">' + title +
                                '</div>' + 
                            '</td>' + 
                            '<td>' + 
                                '<span>' + money + '</span>' + 
                                '<div class="btn_adjust">';
                                if(buyList[i].status ==2 || buyList[i].status ==3) {
                                    result +=   '<button class="btn btn_in_view6" id="showPhone" onclick="showPhone(\''+itemId+'\');">View<br>Contact</button>';
                                } else if(buyList[i].status ==102 || buyList[i].status ==103) {
                                    result +=   '<button class="btn btn_in_view6" id="showPhone" onclick="pointShowPhone(\''+itemId+'\');">View<br>Contact</button>';
                                } 
                result +=   '</div></td>' + 
                            '<td>' + 
                                '<span class="'+status.className+'">'+status.detail+'</span>' +
                                '<div class="btn_adjust">';
                                if(buyList[i].status ==1) {
                                    if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                        result +=   '<button class="btn btn_in_view5" id="buyComplete" onclick="buyComplete(\''+itemId+'\');">Pay<br>(Escrow)/button>';
                                    }
                                } else if(buyList[i].status ==2) {
                                    if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                        result +=   '<button class="btn btn_in_view7" id="sellComplete" onclick="sellComplete(\''+itemId+'\');">Deliver</button>';
                                    }
                                } else if(buyList[i].status ==3){
                                    if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                        result +=   '<button class="btn btn_in_view9" id="tradeComplete" onclick="tradeComplete(\''+itemId+'\');">Completed</button>';
                                    } else if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {    
                                        result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">Cancel<br>(refund)</button>';
                                    }
                                } else if(buyList[i].status == 4 || buyList[i].status == 5) {
                                    result +=   '<button class="btn btn_in_view6" id="pointShowPhone" onclick="showPhone(\''+itemId+'\');">View<br>Contact</button>';
                                } else if(buyList[i].status ==101) {
                                    if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                        result +=   '<button class="btn btn_in_view5" id="buyComplete" onclick="pointBuyComplete(\''+itemId+'\');">Pay<br>(Escrow)</button>';
                                    }
                                } else if(buyList[i].status ==102) {
                                    if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                        result +=   '<button class="btn btn_in_view7" id="sellComplete" onclick="pointSellComplete(\''+pointTradeId+'\');">Deliver</button>';
                                    }
                                } else if(buyList[i].status ==103){
                                    if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                        result +=   '<button class="btn btn_in_view9" id="tradeComplete" onclick="pointTradeComplete(\''+pointTradeId+'\');">Completed</button>';
                                    } else if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {    
                                        result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="pointCancelItem(\''+itemId+'\');">Cancel<br>(refund)</button>';
                                    }
                                } else if(buyList[i].status == 104 || buyList[i].status == 105) {
                                    result +=   '<button class="btn btn_in_view6" id="pointShowPhone" onclick="pointShowPhone(\''+itemId+'\');">View<br>Contact</button>';
                                } 
                            result +=  '</div>' + 
                            '</td>' + 
                            '<td>'+
                                '<span>' + regDate + '</span>' + 
                                '<div class="btn_adjust">';
                                if(buyList[i].status ==1 || buyList[i].status == 50) {
                                    result +=       '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">Cancel</button>';    
                                } else if(buyList[i].status ==2) {
                                    // if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                        result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">Cancel<br>(refund)</button>';
                                    // }
                                } else if(buyList[i].status ==3){
                                    result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                } else if(buyList[i].status == 5) {
                                    result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                } else if(buyList[i].status ==101) {
                                    result +=       '<button class="btn btn_in_view8" id="cancelItem" onclick="pointCancelItem(\''+itemId+'\');">Cancel</button>';    
                                } else if(buyList[i].status ==102) {
                                    if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                        result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="pointCancelItem(\''+itemId+'\');">Cancel<br>(refund)</button>';
                                    }
                                } else if(buyList[i].status ==103){
                                    result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                } else if(buyList[i].status == 105) {
                                    result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                }
                            result +='</div></td>' + 
                        '</tr>'; 
            }

            $('#buy_list').html(result);
            getPaging(success.data.count);
        }).fail(function (fail) {
            console.log(fail);
        });
    }

    function getPaging(dataCount) {            
        var count = dataCount < 20 ? 1 : Math.ceil(dataCount / 20);
        var result = '<ol class="cf">';
        for(var i=0;i<count;i++) {
            result += '<li><a class="on" href="/myPages/<%= pageType %>/list?category='+category+'&status='+status+'&item_title='+item_title+'&pageIdx='+i+'">'+(i+1)+'</a></li>';
        }

        result+='</ol>';
        $('.paging_wrap').html(result);
    }

    function buyComplete(itemId) {
        event.stopPropagation();
        ajaxLoginYnCheck(function(){
            var confirms = confirm('Do you want to Pay(Escrow)?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/buy",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('Buyer confirmed purchase.\nPlease wait for the seller to complete the sale.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        });
    }

    function sellComplete(itemId) {
        event.stopPropagation();
        ajaxLoginYnCheck(function(){
            var confirms = confirm('Do you want to complete sales?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/sell",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert("The seller finished the sale.\nOnce the buyer's purchase is finalized, the transaction is complete.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        });
    }

    function tradeComplete(itemId) {
        event.stopPropagation();
        ajaxLoginYnCheck(function(){
            var confirms = confirm('Do you want to complete a transaction?');
            if(confirms) {
                var data = {
                    "status": true
                }

                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/confirm",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('The transaction is complete.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        });
    }

    function cancelItem(itemId) {
        event.stopPropagation();
        ajaxLoginYnCheck(function(){
            var confirms = confirm('Do you want to cancel a transaction?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/vtrs/cancel/"+itemId+"/" + userTag
                }).done(function (success) {
                    if(success.data.successYn == "Y") {
                        alert("Transaction canceled.");
                        getItemList();
                    } else {
                        alert(success.data.msg);
                    }
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        });
    }

    function oppisitionItem(itemId) {
        event.stopPropagation();
        //console.log('준비중');
        //alert('준비중입니다.');
        location.href = '/supports/opposition/register?itemId=' + itemId;
    }

    function showPhone(itemId) {
        event.stopPropagation();
        $.ajax({
            method: "GET",
            url: "/v1/vtrs/item/" + itemId
        }).done(function (success) {
            //console.log(success.data);
            _PopupUI.showWithDim(function() {
                // callback
            });
            $("#to_userTag").text(success.data.buyer_id);                
            $("#fromPhone").text(success.data.seller_phone);
            $("#from_userTag").text(success.data.seller_id);
            $("#toPhone").text(success.data.buyer_phone);
        }).fail(function (fail) {
            console.log(fail);
        });
    }

    function pointCancelItem(itemId) {
        event.stopPropagation();
        ajaxLoginYnCheck(function(){
            var confirms = confirm('Do you want to cancel a transaction?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/tradePoints/cancel/"+itemId+"/" + userTag
                }).done(function (success) {
                    alert("Transaction canceled.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        });
    }

    function pointSellComplete(tradePointId) {
        event.stopPropagation();
        ajaxLoginYnCheck(function(){
            var confirms = confirm('Do you want to complete sales?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/tradePoints/"+tradePointId+"/trade/sell",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert("The seller finished the sale.\nOnce the buyer's purchase is finalized, the transaction is complete.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        });
    }

    function pointTradeComplete(tradePointId) {
        event.stopPropagation();
        ajaxLoginYnCheck(function(){
            var confirms = confirm('Do you want to complete sales?');
            if(confirms) {
                var data = {
                    "status": true
                }
                $.ajax({
                    method: "PUT",
                    url: "/v1/tradePoints/"+tradePointId+"/trade/confirm",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('The transaction is complete.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        });
    }

    function pointShowPhone(itemId) {
        event.stopPropagation();
        $.ajax({
            method: "GET",
            url: "/v1/tradePoints/item/" + itemId
        }).done(function (success) {
            console.log(success.data);
            _PopupUI.showWithDim(function() {
                // callback
            });
            $("#to_userTag").text(success.data.buyer_id);                
            $("#fromPhone").text(success.data.seller_phone);
            $("#from_userTag").text(success.data.seller_id);
            $("#toPhone").text(success.data.buyer_phone);
        }).fail(function (fail) {
            console.log(fail);
        });
    }
</script>