<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/etc-buy/list.css" rel="stylesheet">
</head>

<body class="background">
<header class="header_area" id="header">
</header>

<section class="dorne-welcome-area bg-img bg-overlay bg-main3">
    <div class="container h-100 top-padding">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-12">
                <!--<div class="hero-content">-->
                    <!--<h2><%= __('page.main.bigTitle') %></h2>-->
                    <!--<h4><%= __('page.main.subTitle') %></h4>-->
                <!--</div>-->
                <!-- Hero Search Form -->
                <div class="hero-search-form">
                    <!-- Tabs -->
                    <div class="nav nav-tabs" id="heroTab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab"
                           role="tab" aria-controls="nav-places" aria-selected="false"><%= __('search.FaqTab.title') %>
                        </a>
                    </div>
                    <!-- Tabs Content -->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active form-inline" id="nav-places" role="tabpanel"
                             aria-labelledby="nav-places-tab">
                            <input type="text" class="form-control col-xl-9 col-md-9 col-sm-3 mr-2 mb-2"
                                   id="faq-title"
                                   placeholder="<%= __('search.FaqTab.SearchPlaceholder') %>">
                            <button type="button" class="btn dorne-btn" onclick="search()"><i
                                    class="fa fa-search pr-2"
                                    aria-hidden="true"></i> <%= __('search.FaqTab.SearchPlaceholder') %>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</section>-->

<!--<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-0-50 background">-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12 my-3 text-white">
                    <span><i class="fa fa-rocket" aria-hidden="true"></i> <span id="game-name"></span><span
                            id="game-arrow"></span><span id="game-server"></span></span>
                </div>
                <div id="list-container">
                </div>
                <div class="page"></div>
                <br><br><br>
            </div>
        </div>
    </div>
</section>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script src="/javascript/util.js"></script>
<!-- Bootstrap-select -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-select.min.css">
<script src="/js/bootstrap/bootstrap-select.min.js"></script>
<script>
    var pageIdx, title, trade_type, category;

    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
        $(".page").load("/page");

        title = $("#faq-title").val();
        pageIdx = Number("<%= pageIdx %>");

        if (title == "") {
            $.ajax({
                method: "GET",
                url: "/v1/faq/list?pageIdx=" + pageIdx,
            }).done(function (success) {
                if (success.data.count != 0) {
                    createData(success.data.list);
                } else {
                    let strDOM = '<div class="text-center text-white card-panel" id="hasNoItem">' + "<%= __('page.faq.list.info1') %>" + '</div>';
                    $("#list-container").append(strDOM);
                    $(".page").css("display", "none");
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            })
        }

        $("#faq-title").keydown(function (key) {
            if (key.keyCode == 13) {
                search()
            }
        });
    });


    function createData(data) {
        let strDOM = '';
        for (let i = 0; i < data.length; i++) {

            let faqId = data[i]._id;
            let regDate = data[i].regDate;
            regDate = regDate.substring(2, 10);
            let title = data[i].title;
            let category = data[i].category == undefined ? '-' : data[i].category;

            strDOM += '<div class="col-12 px-0" onclick="expendContent(\''+faqId+'\');">\n' +
        '                    <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
        '                        <div class="d-flex justify-content-center col-1 m-0 p-0">\n' +
        '                            <span>' + (i+1) + '</span>\n' +
        '                        </div>\n' +
        '                        <div class="col-2 py-2 px-2 mr-0">\n' +
        '                            <div class="date-map-area">\n' +
        '                                <div class="d-flex justify-content-center mb-1 card-panel-item-buy">' + category + '\n' +
        '                                </div>\n' +
        '                            </div>\n' +
        '                        </div>\n' +
        '                        <div class="d-flex col-9 m-0 p-0">\n' +
        '                            <span>' + title + '</span>\n' +
        '                        </div>\n' +
        '                    </div>\n' +
        '                </div>' +
                '<div class="col-12 px-0 faq-list faq-'+faqId+'">'+
        '              <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                data[i].content.replace(/\n/g, '<br>') +
                      '</div>' +
            '</div>';
        }
        $("#list-container").append(strDOM);
    }

    function search() {
        title = $("#faq-title").val();
        let query = "?title=" + title + "&pageIdx=" + 0;

        $.ajax({
            method: "GET",
            url: "/v1/faq/list" + query,
        }).done(function (success) {
            pageIdx = success.pageIdx;
            if (success.data.count != 0) {
                $("#list-container").children().remove();
                createData(success.data.list);
                $(".page").css("display", "");
            } else {
                $("#list-container").children().remove();
                let strDOM = '<div class="text-center text-white card-panel" id="hasNoItem">' + "<%= __('page.faq.list.info1') %>" + '</div>';
                $("#list-container").append(strDOM);
                $(".page").css("display", "none");
            }

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }


    function nextPage() {
        pageIdx = pageIdx + 1;

        let query;
        if (title == "") {
            query = "?pageIdx=" + pageIdx;
        } else {
            query = "?title=" + title + "&pageIdx=" + pageIdx;
        }

        $.ajax({
            method: "GET",
            url: "/v1/faq/list" + query,
        }).done(function (success) {
            if (success.data.length != 0) {
                // $("#list-container").children().remove();
                // createData(success.data)
                // $(".page").css("display", "");
                location.href = "/faq" + query;
            } else {
                pageIdx = pageIdx - 1;
                swal({
                    text: "<%= __('common.pagination.nextPageAlert') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            }
        }).fail(function (fail) {
            pageIdx = pageIdx - 1;
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }

    function prevPage() {
        pageIdx = pageIdx - 1;

        let query;
        if (title == "") {
            if (pageIdx >= 0) {
                query = "?pageIdx=" + pageIdx;

                $.ajax({
                    method: "GET",
                    url: "/v1/faq/list" + query,
                }).done(function (success) {
                    if (success.data.length != 0) {
                        // $("#list-container").children().remove();
                        // createData(success.data)
                        // $(".page").css("display", "");
                        location.href = "/faq" + query;
                    } else {
                        pageIdx = pageIdx - 1;
                        swal({
                            text: "<%= __('common.pagination.nextPageAlert') %>",
                            button: "<%= __('common.buttons.button10') %>"
                        });
                    }
                }).fail(function (fail) {
                    pageIdx = pageIdx - 1;
                    swal({
                        text: "<%= __('common.errorMessage.serverError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                })
            } else {
                pageIdx = pageIdx + 1;
                swal({
                    text: "<%= __('common.pagination.prevPageAlert') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            }
        } else {
            if (pageIdx >= 0) {
                query = "?title=" + title + "&pageIdx=" + pageIdx;

                $.ajax({
                    method: "GET",
                    url: "/v1/faq/list" + query,
                }).done(function (success) {
                    if (success.data.length != 0) {
                        // $("#list-container").children().remove();
                        // createData(success.data)
                        // $(".page").css("display", "");
                        location.href = "/faq" + query;
                    } else {
                        pageIdx = pageIdx - 1;
                        swal({
                            text: "<%= __('common.pagination.nextPageAlert') %>",
                            button: "<%= __('common.buttons.button10') %>"
                        });
                    }
                }).fail(function (fail) {
                    pageIdx = pageIdx - 1;
                    swal({
                        text: "<%= __('common.errorMessage.serverError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                })
            } else {
                pageIdx = pageIdx + 1;
                swal({
                    text: "<%= __('common.pagination.prevPageAlert') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            }
        }
    }

    function expendContent(faqId) {
        $('.faq-list').css('display','none');
        $('.faq-' + faqId).css('display','block');
        $('.faq-' + faqId + ' div').css('visibility','visible');
    }
</script>
</body>

</html>
