<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/account/myTokens.css" rel="stylesheet">
</head>

<body class="background2">

<header class="header_area" id="header">
</header>

<div class="limiter">
    <span class="col-8 offset-2 login100-form-title p-b-32 text-white"><img
            src="/img/icon-img/ic-coin.png">&nbsp;&nbsp;<%= __('page.myTokens.bigTitle') %></span>

    <div class="col-8 offset-2 p-l-30 p-r-30 p-t-30 p-b-30 myTokens-container card-panel">
        <span class="offset-1 text-white"><%= __('page.myTokens.subTitle1') %></span>

        <% if(useBlockchain=="Y"){ %>
        <div class="col-10 offset-1 px-0">
            <div class="d-sm-flex align-items-center wow form-inline text-white card-panel-item">
                <div class="col-2 py-2 px-2 mr-0">
                    <div class="date-map-area">
                        <img src="/img/icon-img/ic-mach.png">
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <span>MACH(MACH)</span>
                </div>
                <div class="col-8">
                    <span class="card-panel-item-cost float-right"><span id="mach"></span> MACH</span>
                </div>
            </div>
        </div>
        <% } else if(usePoint=="Y" && country=="KR"){ %>
        <div class="col-10 offset-1 px-0">
            <div class="d-sm-flex align-items-center wow form-inline text-white card-panel-item">
                <div class="col-2 py-2 px-2 mr-0">
                    <div class="date-map-area">
                        <img src="/img/icon-img/ic-coin.png">
                    </div>
                </div>
                <div class="col-2 m-0 p-0">
                    <span>POINT</span>
                </div>
                <div class="col-8">
                    <span class="card-panel-item-cost float-right"><span id="point"></span> POINT</span>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% if(useBlockchain=="Y"){ %>
    <div class="col-8 offset-2 hero-search-form mb-5">
        <!-- Tabs -->
        <div class="nav nav-tabs" id="machTab" role="tablist">
            <a class="nav-item nav-link active" id="nav-machDeposit-tab" data-toggle="tab" href="#nav-machDeposit"
               role="tab" aria-controls="nav-machDeposit" aria-selected="true"
               onclick="loadCoinDepositData(0)"><%= __('page.myTokens.tabs.title1')
                %></a>
            <a class="nav-item nav-link" id="nav-machWithdraw-tab" data-toggle="tab" href="#nav-machWithdraw" role="tab"
               aria-controls="nav-machWithdraw" aria-selected="false"
               onclick="loadCoinWithdrawData(0)"><%= __('page.myTokens.tabs.title2') %></a>
        </div>
        <!-- Tabs Content -->
        <div class="tab-content" id="nav-tabContent-mach">
            <div class="tab-pane fade show active" id="nav-machDeposit" role="tabpanel"
                 aria-labelledby="nav-machDeposit-tab">
            </div>
            <div class="tab-pane fade" id="nav-machWithdraw" role="tabpanel" aria-labelledby="nav-machWithdraw-tab">

            </div>
        </div>
        <div class="page"></div>
    </div>
    <% } else if(usePoint == "Y" && country=="KR"){ %>
    <div class="col-8 offset-2 hero-search-form mb-5">
        <!-- Tabs -->
        <div class="nav nav-tabs" id="pointTab" role="tablist">
            <a class="nav-item nav-link active" id="nav-pointDeposit-tab" data-toggle="tab" href="#nav-pointDeposit"
               role="tab" aria-controls="nav-pointDeposit" aria-selected="true" onclick="loadPointDepositData(0)"><%=
                __('page.myTokens.tabs.title3') %></a>
            <a class="nav-item nav-link" id="nav-pointWithdraw-tab" data-toggle="tab" href="#nav-pointWithdraw"
               role="tab" aria-controls="nav-pointWithdraw" aria-selected="false" onclick="loadPointWithdrawData(0)"><%=
                __('page.myTokens.tabs.title4') %></a>
        </div>
        <!-- Tabs Content -->
        <div class="tab-content" id="nav-tabContent-point">
            <div class="tab-pane fade show active" id="nav-pointDeposit" role="tabpanel"
                 aria-labelledby="nav-pointDeposit-tab">
            </div>
            <div class="tab-pane fade" id="nav-pointWithdraw" role="tabpanel" aria-labelledby="nav-pointWithdraw-tab">
            </div>
        </div>
        <div>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link text-white" onclick="prevPointPage()" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span><span>prev</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-white" onclick="nextPointPage()" aria-label="Next">
                            <span>next</span>&nbsp;<span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <% } %>
</div>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script src="/javascript/util.js"></script>
<script>
    let pageIdx, pointPageIdx, machTab, pointTab, coinId, pointId;
    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
        $(".page").load("/page");

        console.log("id : ", "<%= id %>");
        console.log("country : ", "<%= country %>");
        pageIdx = Number("<%= pageIdx %>");
        if (pageIdx == "") {
            pageIdx = Number(0);
        }
        pointPageIdx = Number(0);
        machTab = "deposit";
        pointTab = "deposit";

        console.log("pageIdx : ", pageIdx);
        loadUserData();
    });

    function loadUserData() {
        let url = "/v1/users/" + "<%= id %>";
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success);
            coinId = success.data.coinId;
            pointId = success.data.pointId;

            if (machTab == "" || machTab == "deposit") {
                loadCoinDepositData();
            } else if (machTab == "withdraw") {
                loadCoinWithdrawData();
                $("#nav-machDeposit-tab").removeClass("active");
                $("#nav-machWithdraw-tab").addClass("active");
                $("#nav-machDeposit").removeClass("show active");
                $("#nav-machWithdraw").addClass("show active");
            }

            if (pointTab == "" || pointTab == "deposit") {
                loadPointDepositData();
            } else if (pointTab == "withdraw") {
                loadPointWithdrawData();
                $("#nav-pointDeposit-tab").removeClass("active");
                $("#nav-pointWithdraw-tab").addClass("active");
                $("#nav-pointDeposit").removeClass("show active");
                $("#nav-pointWithdraw").addClass("show active");
            }

            let coinUrl = "/v1/coins/" + coinId;
            let pointUrl = "/v1/points/" + pointId;


            $.ajax({
                method: "GET",
                url: coinUrl
            }).done(function (success) {
                if (success.data.total_mach != null) {
                    $("#mach").text(numberWithCommas(success.data.total_mach));
                } else {
                    $("#mach").text(0);
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            });


            $.ajax({
                method: "GET",
                url: pointUrl
            }).done(function (success) {
                if (success.data.total_point != null) {
                    $("#point").text(numberWithCommas(success.data.total_point));
                } else {
                    $("#point").text(0);
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            })


        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })
    }

    function loadCoinDepositData(value) {
        if (value != null) {
            pageIdx = Number(0);
        }
        machTab = "deposit";
        let url = "/v1/coins/" + coinId + "/deposit/historys?pageIdx=" + pageIdx;
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            $("#nav-machDeposit").children().remove();
            console.log("coinData Deposit Success : ", success);

            if (success.data.historys != null) {
                let strDOM = '';
                let regDate, type, id, price, mach;

                for (let i = 0; i < success.data.historys.length; i++) {
                    regDate = success.data.historys[i].regDate.substring(2, 10);
                    type = success.data.historys[i].type.toUpperCase();
                    if (type == "ETHER") {
                        type = "ETH"
                    }
                    status=success.data.historys[i].status;
                    if(status=="false"){
                        status="<%= __('page.myTokens.tabs.title1subTitle1') %>";
                    }else if(status=="true"){
                        status="<%= __('page.myTokens.tabs.title1subTitle2') %>";
                    }
                    id = success.data.historys[i]._id;
                    price = success.data.historys[i].price == undefined ? '' : numberWithCommas(success.data.historys[i].price);
                    mach = numberWithCommas(success.data.historys[i].mach);

                    strDOM += '<div class="col-12 px-0">\n' +
                        '                    <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                        <div class="col-2 py-2 px-2 mr-0 panel-detail">\n' +
                        '                            <div class="date-map-area">\n' +
                        '                                <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + regDate + '\n' +
                        '                                </div>\n' +
                        '                                <div class="d-flex justify-content-center card-panel-item-bottom">' + type + '\n' +
                        '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-6 m-0 p-0">\n' +
                        '                            <span class="text-overflow">' + status + '</span>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2 px-0">\n' +
                        '                            <span class="card-panel-item-cost"><span>' + price + '</span> ' + type + '</span>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2 px-0">\n' +
                        '                            <span class="card-panel-item-cost"><span>' + mach + '</span> MACH</span>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>';
                }
                $("#nav-machDeposit").append(strDOM);
            }
        }).fail(function (fail) {
            if (fail.status == 403) {
                $("#nav-machDeposit").children().remove();
                let strDOM = '<div class="col-12 px-0 text-white align-center"><%= __("page.myTokens.info1") %></div>';
                $("#nav-machDeposit").append(strDOM);
            } else {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            }
        })
    }

    function loadCoinWithdrawData(value) {
        if (value != null) {
            pageIdx = Number(0);
        }
        machTab = "withdraw";
        let url = "/v1/coins/" + coinId + "/withdraw/historys?pageIdx=" + pageIdx;

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            $("#nav-machWithdraw").children().remove();
            console.log("coinData Withdraw Success : ", success);

            if (success.data.historys != null) {
                let strDOM = '';
                let regDate, type, id, price, mach;

                for (let i = 0; i < success.data.historys.length; i++) {
                    regDate = success.data.historys[i].regDate.substring(2, 10);
                    type = success.data.historys[i].type.toUpperCase();
                    if (type == "ETHER") {
                        type = "ETH"
                    }
                    status=success.data.historys[i].status;
                    if(status=="false"){
                        status="<%= __('page.myTokens.tabs.title2subTitle1') %>";
                    }else if(status=="true"){
                        status="<%= __('page.myTokens.tabs.title2subTitle2') %>";
                    }
                    id = success.data.historys[i]._id;
                    price = numberWithCommas(success.data.historys[i].price);
                    mach = numberWithCommas(success.data.historys[i].mach);

                    strDOM += '<div class="col-12 px-0">\n' +
                        '                    <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                        <div class="col-2 py-2 px-2 mr-0 panel-detail">\n' +
                        '                            <div class="date-map-area">\n' +
                        '                                <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + regDate + '\n' +
                        '                                </div>\n' +
                        '                                <div class="d-flex justify-content-center card-panel-item-bottom">' + type + '\n' +
                        '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-6 m-0 p-0">\n' +
                        '                            <span class="text-overflow">' + status + '</span>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2 px-0">\n' +
                        '                            <span class="card-panel-item-cost"><span>' + price + '</span> ' + type + '</span>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2 px-0">\n' +
                        '                            <span class="card-panel-item-cost"><span>' + mach + '</span> MACH</span>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>';
                }
                $("#nav-machWithdraw").append(strDOM);
            }
        }).fail(function (fail) {
            if (fail.status == 403) {
                $("#nav-machWithdraw").children().remove();
                let strDOM = '<div class="col-12 px-0 text-white align-center"><%= __("page.myTokens.info2") %></div>';
                $("#nav-machWithdraw").append(strDOM);
            } else {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            }
        })
    }

    function loadPointDepositData(value) {
        if (value != null) {
            pointPageIdx = Number(0);
        }
        pointTab = "deposit";
        let url = "/v1/point/historys/search/" + "<%= id %>" + "/deposit?perPage=5&pageIdx=" + pointPageIdx;
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            $("#nav-pointDeposit").children().remove();
            console.log("PointDeposit : ", success);

            if (success.data.length != 0) {
                let strDOM = '';
                let regDate, status, kind, point, price;

                for (let i = 0; i < success.data.length; i++) {
                    regDate = success.data[i].regDate.substring(2, 10);
                    status = success.data[i].status;
                    kind = success.data[i].kind;
                    price = numberWithCommas(success.data[i].price);
                    if (kind == "happyMoney") {
                        kind = "<%= __('page.myTokens.tabs.title3listTitle2') %>";
                    } else if (kind == "phone") {
                        kind = "<%= __('page.myTokens.tabs.title3listTitle1') %>";
                    }

                    strDOM += ' <div class="col-12 px-0">\n' +
                        '                    <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                        <div class="col-2 py-2 px-2 mr-0 panel-detail">\n' +
                        '                            <div class="date-map-area">\n' +
                        '                                <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + regDate + '\n' +
                        '                                </div>\n';
                    if (status == 0) {
                        strDOM += '<div class="d-flex justify-content-center card-panel-item-bottom2">' + "<%= __('page.myTokens.tabs.title3subTitle1') %>" + '\n';
                    } else if (status == 1) {
                        strDOM += '<div class="d-flex justify-content-center card-panel-item-bottom">' + "<%= __('page.myTokens.tabs.title3subTitle2') %>" + '\n';
                    }
                    strDOM += '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-8 m-0 p-0">\n' +
                        '                            <span>' + kind + '</span>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2 px-0">\n' +
                        '                            <span class="card-panel-item-cost"><span>' + price + '</span> Point</span>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>';
                }
                $("#nav-pointDeposit").append(strDOM);
            } else {
                $("#nav-pointDeposit").children().remove();
                let strDOM = '<div class="col-12 px-0 text-white align-center"><%= __("page.myTokens.info1") %></div>';
                $("#nav-pointDeposit").append(strDOM);
            }

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })
    }

    function loadPointWithdrawData(value) {
        if (value != null) {
            pointPageIdx = Number(0);
        }
        pointTab = "withdraw";
        let url = "/v1/point/historys/search/" + "<%= id %>" + "/withdraw?perPage=5&pageIdx=" + pointPageIdx;
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            $("#nav-pointWithdraw").children().remove();
            console.log("PointWithdraw : ", success);

            if (success.data.length != 0) {
                let strDOM = '';
                let regDate, status, point, price, bankAccount, bankAccountType;

                for (let i = 0; i < success.data.length; i++) {
                    regDate = success.data[i].regDate.substring(2, 10);
                    status = success.data[i].status;
                    point = numberWithCommas(success.data[i].point);
                    price = numberWithCommas(success.data[i].price);
                    bankAccount = success.data[i].bank_account;
                    bankAccountType = success.data[i].bank_account_type;

                    strDOM += ' <div class="col-12 px-0">\n' +
                        '                    <div class="single-feature-events-area d-sm-flex align-items-center wow form-inline text-white card-panel-item">\n' +
                        '                        <div class="col-2 py-2 px-2 mr-0 panel-detail">\n' +
                        '                            <div class="date-map-area">\n' +
                        '                                <div class="d-flex justify-content-center mb-1 card-panel-item-top">' + regDate + '\n' +
                        '                                </div>\n';
                    if (status == 0) {
                        strDOM += '<div class="d-flex justify-content-center card-panel-item-bottom2">' + "<%= __('page.myTokens.tabs.title4subTitle1') %>" + '\n';
                    } else if (status == 1) {
                        strDOM += '<div class="d-flex justify-content-center card-panel-item-bottom">' + "<%= __('page.myTokens.tabs.title4subTitle2') %>" + '\n';
                    }
                    strDOM += '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-8 m-0 p-0">\n' +
                        '                            <span>' + bankAccountType + "  " + bankAccount + '</span>\n' +
                        '                        </div>\n' +
                        '                        <div class="d-flex justify-content-center col-2 px-0">\n' +
                        '                            <span class="card-panel-item-cost"><span>' + point + '</span> Point</span>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>';
                }
                $("#nav-pointWithdraw").append(strDOM);
            } else {
                $("#nav-pointWithdraw").children().remove();
                let strDOM = '<div class="col-12 px-0 text-white align-center"><%= __("page.myTokens.info2") %></div>';
                $("#nav-pointWithdraw").append(strDOM);
            }

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })
    }


    function prevPage() {
        pageIdx = Number(pageIdx - 1);

        if (pageIdx >= 0) {
            let query = "?pageIdx=" + pageIdx;
            let url;
            if (machTab == "deposit") {
                url = "/v1/coins/" + coinId + "/deposit/historys" + query;
            } else if (machTab == "withdraw") {
                url = "/v1/coins/" + coinId + "/withdraw/historys" + query;
            }
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                console.log(success);
                // let query2 = "?machTab=" + machTab + "&pageIdx=" + pageIdx;
                // location.href = "/accounts/token" + query2;
                if (machTab == "deposit") {
                    loadCoinDepositData();
                } else if (machTab == "withdraw") {
                    loadCoinWithdrawData();
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            })

        } else {
            pageIdx = Number(pageIdx + 1);
            swal({
                text: "<%= __('common.pagination.prevPageAlert') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        }


    }

    function nextPage() {
        pageIdx = Number(pageIdx + 1);

        let query = "?pageIdx=" + pageIdx;

        let url;
        if (machTab == "deposit") {
            url = "/v1/coins/" + coinId + "/deposit/historys" + query;
        } else if (machTab == "withdraw") {
            url = "/v1/coins/" + coinId + "/withdraw/historys" + query;
        }

        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log("nextPage ; ", success);
            if (success.data.historys.length != 0) {
                // let query2 = "?machTab=" + machTab + "&pageIdx=" + pageIdx;
                // location.href = "/accounts/token" + query2;
                if (machTab == "deposit") {
                    loadCoinDepositData();
                } else if (machTab == "withdraw") {
                    loadCoinWithdrawData();
                }
            } else {
                pageIdx = Number(pageIdx - 1);
                swal({
                    text: "<%= __('common.pagination.nextPageAlert') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            }

        }).fail(function (fail) {
            pageIdx = Number(pageIdx - 1);
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })

    }

    function prevPointPage(){
        pointPageIdx = Number(pointPageIdx - 1);

        if (pointPageIdx >= 0) {
            let query = "?perPage=5&pageIdx=" + pointPageIdx;
            let url;
            if (pointTab == "deposit") {
                url = "/v1/point/historys/search/" + "<%= id %>" + "/deposit" + query;
            } else if (pointTab == "withdraw") {
                url = "/v1/point/historys/search/" + "<%= id %>" + "/withdraw" + query;
            }
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                console.log(success);
                if (pointTab == "deposit") {
                    console.log("pageIdx ; ",pointPageIdx);
                    loadPointDepositData();
                } else if (pointTab == "withdraw") {
                    loadPointWithdrawData();
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            })

        } else {
            pointPageIdx = Number(pointPageIdx + 1);
            swal({
                text: "<%= __('common.pagination.prevPageAlert') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        }
    }

    function nextPointPage(){
        pointPageIdx = Number(pointPageIdx + 1);

        let query = "?perPage=5&pageIdx=" + pointPageIdx;

        let url;
        if (pointTab == "deposit") {
            url = "/v1/point/historys/search/" + "<%= id %>" + "/deposit" + query;
        } else if (pointTab == "withdraw") {
            url = "/v1/point/historys/search/" + "<%= id %>" + "/withdraw" + query;
        }
        console.log("dfsdfs : ",pointTab);
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log("nextPage ; ", success);
            if (success.data.length != 0) {
                if (pointTab == "deposit") {
                    console.log("pageIdx ; ",pointPageIdx);
                    loadPointDepositData();
                } else if (pointTab == "withdraw") {
                    loadPointWithdrawData();
                }
            } else {
                pointPageIdx = Number(pointPageIdx - 1);
                swal({
                    text: "<%= __('common.pagination.nextPageAlert') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            }

        }).fail(function (fail) {
            pointPageIdx = Number(pointPageIdx - 1);
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })
    }
</script>
</body>
</html>
