<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/account/withdraw.css" rel="stylesheet">
</head>

<body class="background2">

<header class="header_area" id="header">
</header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55 withdraw-container">
            <span class="login100-form-title p-b-32 text-white"><img
                    src="/img/icon-img/ic-coin.png">&nbsp;&nbsp;<%= __('page.withdraw.mach.bigTitle') %></span>

            <span class="offset-1 text-white"><%= __('page.withdraw.mach.title1') %></span>
            <div class="col-10 offset-1 px-0">
                <div class="d-sm-flex align-items-center wow form-inline text-white card-panel-item">
                    <div class="col-2 py-2 px-2 mr-0">
                        <div class="date-map-area">
                            <img src="/img/icon-img/ic-coin.png">
                        </div>
                    </div>
                    <div class="col-2 m-0 p-0">
                        <span>MACH(MACH)</span>
                    </div>
                    <div class="col-8">
                        <span class="card-panel-item-cost float-right"><span id="mach"></span> MACH</span>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 px-0 mt-4">
                <div class="form-inline">
                    <div class="txt1 col-6 p-b-11 text-white pl-0 mach-account">
                        <%= __('page.withdraw.mach.title2') %>
                    </div>

                    <div class="txt1 col-6 p-b-11 text-white pl-0">
                        <%= __('page.withdraw.mach.title3') %>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0 mach-account">
                        <input class="input100 text-white" type="number" name="mach" min="0" onchange="calculate()">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0">
                        <select class="custom-select" name="coin" onchange="loadWalletAddr()">
                            <option value="coinNotSelected" selected> <%= __('page.withdraw.mach.title3FirstOption')
                                %>
                            </option>
                            <!--<option value="btc">BTC</option>-->
                            <!--<option value="ether">ETH</option>-->
                            <option value="mach">MACH</option>
                        </select>
                    </div>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.withdraw.mach.title4') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12"
                     data-validate="Username is required">
                    <input class="input100 text-white" type="text" name="calculate" readonly>
                    <span class="focus-input100"></span>
                </div>
                <div class="txt1 p-b-11 alert-text" id="fees" style="display: none">
                    <%= __('page.withdraw.mach.info1') %>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.withdraw.mach.title5') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12"
                     data-validate="Username is required">
                    <input class="input100 text-white" type="text" name="address" readonly>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center container-login100-form-btn mt-4">
                <button class="login100-form-btn" id="btnSubmit" onclick="submitWithdraw()">
                    <%= __('common.buttons.button9') %>
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script src="/javascript/util.js"></script>
<script>
    let coinId, price, coin, possession, coinPrice;

    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");

        console.log("id : ", "<%= id %>");

        loadCoinData();

    });

    function loadCoinData() {
        let url = "/v1/users/" + "<%= id %>";
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            console.log(success);
            coinId = success.data.coinId;
            let url = "/v1/coins/" + coinId;

            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                console.log(success);

                if (success.data.total_mach == null) {
                    possession = 0;
                    $("#mach").text(0);
                } else {
                    possession = success.data.total_mach;
                    $("#mach").text(numberWithCommas(success.data.total_mach));
                }

            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                });
            })


        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })

    }

    function loadWalletAddr() {

        let url = "/v1/coins/" + coinId;
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            coin = $("select[name=coin] option:selected").val();

            if (coin == "btc" && (success.data.btc_address == undefined || success.data.btc_address == "")) {
                swal({
                    text: "<%= __('page.withdraw.mach.alert1') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                }).then(() => {
                    location.href = "/myPages/myInfo";
                });
                return false;
            }
            if (coin == "ether" && (success.data.ether_address == undefined || success.data.ether_address == "")) {
                swal({
                    text: "<%= __('page.withdraw.mach.alert2') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                }).then(() => {
                    location.href = "/myPages/myInfo";
                });
                return false;
            }
            if (coin == "mach" && (success.data.mach_address == undefined || success.data.mach_address == "")) {
                swal({
                    text: "<%= __('page.withdraw.mach.alert3') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                }).then(() => {
                    location.href = "/myPages/myInfo";
                });
                return false;
            }

            if (coin == "btc") {
                $("input[name=address]").val(success.data.btc_address);
                loadCoinPrice("BTC");
            } else if (coin == "ether") {
                $("input[name=address]").val(success.data.ether_address);
                loadCoinPrice("ETH");
            } else if (coin == "mach") {
                $("input[name=address]").val(success.data.mach_address);
                calculate();
            } else {
                $("#fees").css("display", "none");
                $("input[name=address]").val("");
            }

        }).fail(function () {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })
    }

    function loadCoinPrice(coinType) {
        let url = "/v1/charts/currency/" + coinType + "/1";
        $.ajax({
            method: "GET",
            url: url
        }).done(function (success) {
            coinPrice = success.data[0].data.binance.usd_price;
            calculate();
        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })
    }

    function calculate() {
        let mach = Number($("input[name=mach]").val());
        let coin = $("select[name=coin] option:selected").val();

        if (coin == "btc") {
            coin = "BTC";
        } else if (coin == "ether") {
            coin = "ETH";
        }
        if (coin != "mach") {
            price = ((mach / coinPrice) - (mach / coinPrice) * 0.008).toFixed(8);
            let data = mach + " MACH / $" + coinPrice + " - 0.8% = " + price + " " + coin;
            $("#fees").css("display", "");
            $("input[name=calculate]").val(data);
        } else {
            price = mach.toFixed(8);
            data = mach + " MACH / " + coin + " = " + price + " MACH";
            $("#fees").css("display", "none");
            $("input[name=calculate]").val(data);
        }
    }

    function submitWithdraw() {
        let coinType = $("select[name=coin] option:selected").val();
        let mach = $("input[name=mach]").val();

        console.log("input mach : ", possession < mach);
        console.log("text mach : ", possession);
        if (possession == 0 || possession < mach) {
            swal({
                text: "<%= __('page.withdraw.mach.alert10') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
            return false;
        } else if (mach <= 0 || mach.length == 0) {
            swal({
                text: "<%= __('page.withdraw.mach.alert8') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
            return false;
        } else if (mach < 10) {
            swal({
                text: "<%= __('page.withdraw.mach.alert11') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
            return false;
        } else if (coinType == "coinNotSelected") {
            swal({
                text: "<%= __('page.withdraw.mach.alert7') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
            return false;
        } else if (price == "") {
            swal({
                text: "<%= __('page.withdraw.mach.alert9') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
            return false;
        }

        let url = "/v1/coins/" + coinId + "/withdraw/coinTypes/" + coinType;
        console.log("coinType : ", coinType);
        let coinTypeReq = {
            "price": Number(price),
            "mach": Number(mach),
            "address": $("input[name=address]").val()
        };

        console.log("cointTypeReq : ", coinTypeReq);

        $.ajax({
            method: "PUT",
            url: url,
            data: coinTypeReq,
            beforeSend: function (xhr) {
                $("#btnSubmit").attr('disabled', true);
                $("#btnSubmit").text("<%= __('common.buttons.button22') %>");
            }
        }).done(function (success) {
            if (coin == "BTC") {
                swal({
                    text: "<%= __('page.withdraw.mach.alert4') %>" + "<%= __('page.withdraw.mach.alert5') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                }).then(() => {
                    location.href = "/accounts/token";
                });
            } else {
                swal({
                    text: "<%= __('page.withdraw.mach.alert4') %>" + "<%= __('page.withdraw.mach.alert6') %>",
                    button: "<%= __('common.buttons.button10') %>",
                    className:"swal-modal2"
                }).then(() => {
                    location.href = "/accounts/token";
                });
            }

        }).fail(function () {
            swal({
                text: "<%= __('common.errorMessage.saveError') %>",
                button: "<%= __('common.buttons.button10') %>",
                className:"swal-modal2"
            });
        })
    }
</script>
</body>
</html>
