<div class="sub_lft_menu" id="leftMenuSupport">
    <h2><a href="/gameStation/">게임스테이션</a></h2>
    <ul class="depth1">
        <li class=""><a href="/gameStation/trade/list/">교환하기</a>
            <ul class="depth2">
                <li class=""><a href="/gameStation/trade/list/">- 교환내역보기</a></li>
                <li class=""><a href="/gameStation/trade/assets/">- 게임자산 -> MACH</a></li>
                <li class=""><a href="/gameStation/trade/mach/">- MACH -> 게임자산</a></li>
            </ul>      
        </li>
        <li class=""><a href="/gameStation/machAdventure/list/"><img href="" class="MACHAdventure_image" alt=""></img>&nbsp;&nbsp;마하 어드벤쳐</a>
            <ul class="depth2">
                <li class=""><a href="/gameStation/machAdventure/list/">- 나의 게임정보</a></li>
                <li class=""><a href="/gameStation/machAdventure/info/">- 정보게시판</a></li>
            </ul>
        </li>
        <li class="icon_align"><a href=""><i class="material-icons">add_circle</i></a>
            <ul class="">
                <li class=""><a href=""></a></li>
                <li class=""><a href=""></a></li>
            </ul>
        </li>
        <li class="icon_align"><a href=""><i class="material-icons">add_circle</i></a>
            <ul class="">
                <li class=""><a href=""></a></li>
                <li class=""><a href=""></a></li>
            </ul>
        </li>
        <li class="icon_align"><a href=""><i class="material-icons">add_circle</i></a>
            <ul class="">
                <li class=""><a href=""></a></li>
                <li class=""><a href=""></a></li>
            </ul>
        </li>
    </ul>
</div>