<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>Register to Sell Game Items</h1>
                </div>

                <!-- 거래정보 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_sell_register">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><em class="dot_tit">Listing Details</em></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>Game > Server</th>
                                <td>
                                    <div id="virture_h" class="virture_h">
                                        <select class="selectpicker" id="game-name" data-live-search="true">
                                        </select>
                                        <select class="selectpicker" id="game-server" data-live-search="true">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>
                                    <div class="form-inline radio_wrap">
                                        <div class="form-group">
                                                <input type="radio" name="item_type" id="item" value="item" checked><label for="item">Item</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="radio" name="item_type" id="gameMoney" value="gameMoney"><label for="gameMoney">Game Money</label>
                                            </div>  
                                            <div class="form-group">
                                                <input type="radio" name="item_type" id="etc" value="etc"><label for="etc">ETC</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><input type="text" class="form-control" id="title" placeholder="Please enter a Title." maxlength="50"></td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <select class="custom-select w30p" id="cryptoCurrencyCode">
                                            <option value="BTC">BTC</option>
                                            <option value="ETH">ETH</option>
                                            <option value="MACH" selected>MACH</option>
                                        </select>
                                        <input type="text" class="form-control w60p" id="price" min="0" placeholder="Please enter a transaction Price." onkeypress="return checkDecimal(event)">
                                    </div>
                                    <p class="fcrd">※ 1MACH = 1$</p>
                                </td>
                            </tr>
                            <tr>
                                <th>Character's Name</th>
                                <td><input type="text" class="form-control" id="game_character" placeholder="Please enter your game character's name to trade the item."></td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td>
                                    <div class="product_img_list">
                                        <div class="imgs_wrap">
                                            <ul id="listOfThumbnail" class="list_of_thumbnail cf">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>

                                            <ul class="thumbnail_btn_list cf">
                                                <li><label for="input_imgs0" class="label_input_imgs">Select IMG</label></li>
                                                <li><label for="input_imgs1" class="label_input_imgs">Select IMG</label></li>
                                                <li><label for="input_imgs2" class="label_input_imgs">Select IMG</label></li>
                                                <li><label for="input_imgs3" class="label_input_imgs">Select IMG</label></li>
                                                <li><label for="input_imgs4" class="label_input_imgs">Select IMG</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>         
                            <tr class="mrg_cell">
                                <td colspan="2">
                                    <div class="input_wrap">
                                        <span>It takes a long time to upload a high-quality image.</span>

                                        <input type="file" class="input_imgs" id="input_imgs0" index="0" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs1" index="1" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs2" index="2" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs3" index="3" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs4" index="4" accept="image/*"/>
                                    </div>
                                    <div id="fullImg"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>
                                    <textarea class="form-control" style="height: 200px;" id="desc"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>              
                <!--// 거래정보 -->

                <ul class="fcrd mb50">
                    <li>※ The information you enter will be passed on to the buyer upon confirmation of purchase.</li>
                    <li>※ You are responsible for the problems due to misrepresentation of information you enter.</li>
                    <li>※ If it is written in a form that does not fit the post, it may be moved and deleted by the administrator.</li>
                </ul>

                <div class="btn_align_c">
                    <button class="btn btn_in_view1" id="btnSubmit">save</button>
                </div>
            </section>
            <!--// view page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">
    var sel_files = []; // 이미지 정보들을 담을 배열
    
    $(document).ready(function() {
        $(".input_imgs").on("change", singleUpload);

        $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
            var src = $(this).children("img").attr("src");
            $("#fullImg > img").attr("src", src);
        });

        $('.selectpicker').selectpicker({
            size: 4
        });

        $("#btnSubmit").on('click', function(){
            ajaxLoginYnCheck(submit);
        });

        $("#game-name").on('change', function() {
            selectServer();
        })

        loadGameList();
    });

    function loadGameList() {
        $.ajax({
            method: "GET",
            url: "/v1/games"
        }).done(function (success) {
            var strDOM = '<option value="etc">Etc</option>';
            // for (var i = 0; i < success.data.length; i++) {
            //     strDOM += '<option value="' + success.data[i].game_name + '">' + success.data[i].game_name + '</option>'
            // }

            $("#game-name").append(strDOM);

            $("#game-name").selectpicker('refresh');
            selectServer();
        }).fail(function (fail) {
            console.log(fail);
        })
    }

    function selectServer() {
        var gameName;
        if ($("#game-name option").val() != null) {
            $("#game-server option").remove();
        }
        gameName = $("#game-name option:selected").val();

        if (gameName == "") {
            renderServerSelect({"servers":[]});
            return false;
        }
        
        $.ajax({
            method: "GET",
            url: "/v1/games/" + gameName
        }).done(function (success) {
            renderServerSelect(success.data);
        }).fail(function (fail) {
            console.log(fail);
        })
    }

    function renderServerSelect(data) {
        var strDOM = '<option value="etc">Etc</option>';

        // for (var i = 0; i < data.servers.length; i++) {
        //     strDOM += '<option value="' + data.servers[i] + '">' + data.servers[i] + '</option>'
        // }
        $("#game-server").append(strDOM);
        $("#game-server").selectpicker('refresh');
    }

    function submit() {
        var country = "<%= country %>";
        if ($("#game-name option:selected").val() == "") {
            alert('Please select a Game');
            return false;
        } else if ($("#game-server option:selected").val() == "") {
            alert('Please select a Server');
            return false;
        } else if ($("[name=item_type]:checked").val() == "") {
            alert('Please select a Category');
            return false;
        } else if ($("#title").val() == "") {
            alert('Please enter a Title.');
            return false;
        } else if ($("#game_character").val() == "") {
            alert('Please enter a character\'s name.');
            return false;
        } else if ($("#price").val() == "" || $("#price").val() == "0" || parseFloat($("#price").val()) <= 0) {
            alert('Please enter a price.');
            return false;
        } else if ("<%=usePoint%>" == 'Y' && ($("#point").val() == "" || $("#point").val() == "0" || parseFloat($("#point").val()) <= 0)) {
            // alert('거래 가격(Point)을 입력하세요.');
            // return false;
        // } else if (sel_files.length == 0) {
        //     if($("[name=item_type]:checked").val() == "item") {
        //         alert('상품 이미지를 업로드 하세요.');
        //         return false;
        //     }
        } else if(!checkValidDecimal($("#price").val())) {
            alert('Please enter only numbers in a price.');
                return false;
        } else if("<%=usePoint%>" == 'Y' && !checkValidDecimal($("#point").val())) {
            // alert('거래 가격(Point)을 숫자로 입력하세요.');
            // return false;
        } else if ($("#desc").val() == "") {
            alert('Please enter a description.');
            return false;
        } else if (country == "CN" && $("#region1").val() == "") {
            // alert('지역 1 입력');
            // return false;
        } 
        // else if (country == "CN" && $("#region2").val() == "") {
        //     swal({
        //         text: "<%= __('page.sell.game.add.validation.alert11') %>",
        //         button: "<%= __('common.buttons.button10')%>"
        //     });
        //     return false;
        // }

        var data = {
            "userTag": "<%= userTag %>",
            "type": $("[name=item_type]:checked").val(),
            "trade_type": "sell",
            "category": "game",
            "game_name": $("#game-name option:selected").val(),
            "game_server": $("#game-server option:selected").val(),
            "name": "",
            "title": $("#title").val(),
            "desc": $("#desc").val(),
            "count": 1,
            "game_character": $("#game_character").val(),
            "status": 0,
            // "item_tag": $("#keywords").val(),
            "clicked": 0
        };
        if ("<%= useBlockchain %>" == "Y") {
            data["cryptoCurrencyCode"] = $("#cryptoCurrencyCode").val();
            data["price"] = $("#price").val();
        } else {
            data["cryptoCurrencyCode"] = "MACH";
            data["price"] = 0;
        }
        
        if ("<%= usePoint %>" == "Y") {
            data["currency"]="POINT";
            data["point"]=$("#point").val();
        }else{
            data["currency"]="POINT";
            data["point"]=0;
        }

        if(country=="CN"){
            data["china_region1"]=$("#region1").val();
            //data["china_region2"]=$("#region2").val();
        }

        //console.log(data);
        // console.log($("#ex_filename")[0].files[0]);

        $.ajax({
            method: "POST",
            url: "/v1/items",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            beforeSend: function (xhr) {
                $("#btnSubmit").attr('disabled', true);
                $("#ajaxSpiner").show(); // spinner
                var pos = $("#spinnerTarget").offset().top - 100;
                $("html, body").animate({
                    "scrollTop":pos
                },0);
            }
        }).done(function (success) {
            // console.log(success);
            submitAction(success.data._id);

        }).fail(function (fail) {
            $('#btnSubmit').attr('disabled', false);
        })
    }

    function submitAction(id) {
            //console.log("업로드 파일 갯수 : "+sel_files.length);
            var images = new FormData();
    
            for(var i=0, len=sel_files.length; i<len; i++) {
                var name = "image";
                if(sel_files[i] !== undefined) images.append(name, sel_files[i].value);
            }
            //console.log(images);
            //ajax 처리
            $.ajax({
                method: "POST",
                url: "/v1/items/"+id+"/images",
                processData: false,
                contentType: false,
                data: images
            }).done(function (success) {
                //console.log(success);
                $("#ajaxSpiner").hide(); // spinner
                location.href = '/sells?category=game&trade_type=sell';
            }).fail(function (fail) {
                console.log('실패',fail);
                $("#ajaxSpiner").hide(); // spinner
            })
        }
    </script>
    <%# pageName에 현재 파일이 modify 인지 register 인지 적을 것 %>
    <%- include('../include/modules/img_upload.html', {pageName: 'register'}) %>

    <% include ../include/footer.html %>
</div>
</body>        