<!DOCTYPE html>
<html>
<head>
<% include ../include/head.html %>
<script>
/* 각 인풋태그와 셀렉태그의 id값
firstName
surname
selectSex
dataOfBirth
selectType
authImage
uniqueNo
issueDate
submit
*/
var $firstName = $("#firstName");
var $surname = $("#surname");
var $dataOfBirth = $("#dataOfBirth");
var $authImage = $("#authImage");
var $uniqueNo = $("#uniqueNo");
var $issueDate = $("#issueDate");


var sel_files = [];
$(document).ready(function() {

    $(".input_imgs").on("change", singleUpload);

    $("#submit").on("click", function(){
        if($firstName.val() == "") {
            return alert("input your firstName");
        }
        if($surname.val() == "") {
            return alert("input your surname");
        }
        if($dataOfBirth.val() == "") {
            return alert("input your data of birth");
        }
        if($authImage.val() == "") {
            return alert("upload your image");
        }
        if($uniqueNo.val() == "") {
            return alert("input the No.");
        }
        if($issueDate.val() == "") {
            return alert("input the issue date");
        }

        //////////////////submit code 작성 라인////////////////////

    });
});
</script>
</head>
<style>
.auth_phone_sec {
    max-width: 840px;
}
.auth_phone_sec .thumbnail_btn_list {
    margin: 20px 0 20px 0;
}
.auth_phone_sec .imgs_wrap .list_of_thumbnail li {
    height: auto;
}
.auth_phone_sec .imgs_wrap .thumbnail_box {
    margin: 0;
}
.auth_phone_sec .imgs_wrap .thumbnail_btn_list li {
    width: auto;
}
.auth_phone_sec .notice_text {
    color: red;
}
@media (max-width: 769px){
    .auth_phone_sec .notice_text {
        font-size: 12px;
    }  
    .auth_phone_sec .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
}
@media (max-width: 576px){
    .auth_phone_sec .imgs_wrap .thumbnail_btn_list {
        position: static
    }   
}

</style>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                
                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec auth_phone_sec">
                        <h1 class="tit_mypage">My Account <span>authentication</span></h1>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table auth_phone">
                                <colgroup class="colgroup_signup">
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>First name</th>
                                        <td>
                                            <input type="text" class="form-control w80p name" id="firstName" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Surname</th>
                                        <td>
                                            <input type="text" class="form-control w80p name" id="surname" placeholder="">
                                        </td>
                                        </tr>
                                    <tr>
                                        <th>Sex</th>
                                        <td>
                                            <select id="selectSex" class="selectpicker" data-size="5" data-live-search="true">
                                                <option value="male" selected>Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date of birth</th>
                                        <td><input type="text" autocomplete="new-password" class="form-control" id="dataOfBirth" name="dataOfBirth" placeholder=""></td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>
                                            <select id="selectType" class="selectpicker" data-size="5" data-live-search="true">
                                                <option value="card" selected>ID Card</option>
                                                <option value="license">Driver's license</option>
                                                <option value="passport">Passport</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td>
                                            <div class="product_img_list">
                                                <div class="imgs_wrap">
                                                    <ul id="listOfThumbnail" class="list_of_thumbnail cf">
                                                        <li></li>
                                                    </ul>
        
                                                    <ul class="thumbnail_btn_list cf">
                                                        <li><label for="authImage" class="label_input_imgs">Select IMG</label></li>
                                                        <input type="file" class="input_imgs" id="authImage" index="0" accept="image/*" style="width: 0; height:0;"/> 
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="fullImg"></div>
                                            <p class="notice_text">※ upload an image that includes your face</p>
                                            <p class="notice_text">※ If you upload image without your face, it may be a reason for reject</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>No.</th>
                                        <td>
                                            <input type="text" autocomplete="new-password" class="form-control" id="uniqueNo" name="uniqueNo" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Issue date</th>
                                        <td><input type="text" autocomplete="new-password" class="form-control" id="issueDate" name="issueDate" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                        <div class="btn_align_c">
                            <button class="btn btn_in_view1" id="submit">Submit</button>
                        </div>              
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../include/footer.html %>
    <%# pageName에 현재 파일이 modify 인지 register 인지 적을 것 %>
    <%- include('../include/modules/img_upload.html', {pageName: 'register'}) %>
</div>
</body>                