<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userId = "<%=userId%>";
        var userTag = "<%=userTag%>";
        var pageIdx = "<%=pageIdx%>";
        var category = "<%=category%>";
        var status = "<%=status%>";
        var item_title =  "<%=item_title%>";
        
        $(document).ready(function(){
            //resetSearchFilter(".search_filter");
            $('#check_otc').hide();
            if(category == "otc") {
                $('#check_otc').show();
            }

            if(category == "") {
                category = "game";
            }

            getItemList();


            if(category == "game") {
                $('#myItemTitle').text("Game Item");
                $('#table_category').text('Game > Server')
            } else if(category == "otc") {
                $('#myItemTitle').text("OTC");
                $('#table_category').text('Category')
            } else {
                $('#myItemTitle').text("Asset Trading");
                $('#table_category').text('Category')
            }
            //$("#"+category).prop('checked', true);

            setItemStatus(status);
            $('#title').val(item_title);
            
            $("input[name=category]").on('click', function() {
                category = $("[name=category]:checked").val();
                
                if(category == "game") {
                    $('#myItemTitle').text("Game Item");
                    $('#table_category').text('Game > Server')
                } else if(category == "otc") {
                    $('#myItemTitle').text("OTC");
                    $('#table_category').text('Category')
                } else {
                    $('#myItemTitle').text("Asset Trading");
                    $('#table_category').text('Category')
                }

                if(category == "otc") {
                    $('#check_otc').show();
                } else {
                    $('#check_otc').hide();
                }
                
                getItemList();
            });

            $("input[name=status]").on('click', function() {
                status = $("[name=status]:checked").val();
                getItemList();
            });

            $("#btnmCloseModal, #checkok").on("click", function() {
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.hide();
                $body.css("position", "static");
            });

            $("#title").on('keyup', function(e) {
                item_title = $("#title").val();
                if(e.keyCode==13){
                    getItemList();
                }
            });

            $("#btn_search").on("click", function(e) {
                getItemList();
            });
            remeberChecked();
        });

        function remeberChecked(){
            category = $("[name=category]:checked").val();

            if(category == "game") {
                $('#myItemTitle').text("Game Item");
                $('#table_category').text('Game > Server')
            } else if(category == "otc") {
                $('#myItemTitle').text("OTC");
                $('#table_category').text('Category')
            } else {
                $('#myItemTitle').text("Asset Trading");
                $('#table_category').text('Category')
            }

            if(category == "otc") {
                $('#check_otc').show();
            } else {
                $('#check_otc').hide();
            }

            status = $("[name=status]:checked").val();

            getItemList();
        }

        function getItemList() {
            var param = "?category=" + category;
            if(pageIdx != "") {
                param += "&pageIdx=" + pageIdx;
            }

            if(status != "") {
                param += "&status=" + status;
            }

            if(item_title != "") {
                param += "&item_title=" + encodeURIComponent(item_title);
            }

            $.ajax({
                method: "GET",
                url: "/v1/vtrs/user/" + userId + "/sell" + param
            }).done(function (success) {
                //console.log(success.data);
                var buyList = success.data.list;
                var result = "";
                if(buyList.length == 0) {
                    result = "<tr><td colspan='5'>No exist.</td><tr>";
                }
                for(var i=0; i< buyList.length; i++) {
                    var itemId = buyList[i]._id;
                    var pointTradeId = buyList[i].tradePointId;
                    var regDate = buyList[i].regDate.substring(2, 10);
                    var category = buyList[i].game_name + '<br>' + buyList[i].game_server;
                    var item_type = getItemType(buyList[i].type);
                    var url = "/buys/detail/" + itemId;
                    if(buyList[i].category == "etc") {
                        category = buyList[i].category1  == undefined ? '-' : buyList[i].category1 + '<br>' + buyList[i].category2;
                        item_type = getDelivery(buyList[i].delivery_type == undefined ? "direct" : buyList[i].delivery_type);
                            
                        if(buyList[i].trade_type == "sell") {
                            url = "/etc-sells/detail/" + itemId;
                        } else {
                            url = "/etc-buys/detail/" + itemId;
                        }
                    } else if(buyList[i].category == "otc") {
                        category = 'OTC';
                            
                        if(buyList[i].trade_type == "sell") {
                            url = "/otc-sells/detail/" + itemId;
                        } else {
                            url = "/otc-buys/detail/" + itemId;
                        }
                    } else {
                        if(buyList[i].trade_type == "sell") {
                            url = "/sells/detail/" + itemId;
                        } 
                    }
                    
                    var title = buyList[i].title;
                    var cryptoCurrencyCode = buyList[i].cryptoCurrencyCode == undefined ? "MACH" : buyList[i].cryptoCurrencyCode;
                    var price = numberWithCommas(buyList[i].price);
                    var point = numberWithCommas(buyList[i].point);
                    var status = getStatus(buyList[i].status);
                    var trade_type = replaceType(buyList[i].trade_type);
                    var money = point + ' Point';
                    if("<%=useBlockchain%>" =='Y' && buyList[i].status < 100) {
                        money = price + ' ' + cryptoCurrencyCode;
                    }
                    
                    result += '<tr onclick="location.href=\''+url+'\'">' + 
                                '<td>'+category+'</td>' + 
                                '<td>' + 
                                    '<span class="btn_cmm_bd '+item_type.className+'">'+item_type.text+'</span>';
                                    if(buyList[i].images.length != 0) {
                                        result +=          '<span class="ico_photo">Photo</span>';
                                    }
                    result +=       '<div class="ellipse">' + title +
                                    '</div>' + 
                                '</td>' + 
                                '<td>' + 
                                    '<span>' + money + '</span>' + 
                                    '<div class="btn_adjust">';
                                    if(buyList[i].status ==2 || buyList[i].status ==3) {
                                        result +=   '<button class="btn btn_in_view6" id="showPhone" onclick="showPhone(\''+itemId+'\');">View Contact</button>';
                                    } else if(buyList[i].status ==102 || buyList[i].status ==103) {
                                        result +=   '<button class="btn btn_in_view6" id="showPhone" onclick="pointShowPhone(\''+itemId+'\');">View Contact</button>';
                                    } 
                    result +=   '</div></td>' + 
                                '<td>' + 
                                    '<span class="'+status.className+'">'+status.detail+'</span>' +
                                    '<div class="btn_adjust">';
                                    if(buyList[i].status ==1) {
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                            result +=   '<button class="btn btn_in_view5" id="buyComplete" onclick="buyComplete(\''+itemId+'\');">Confirm Purchase</button>';
                                        }
                                    } else if(buyList[i].status ==2) {
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                            result +=   '<button class="btn btn_in_view7" id="sellComplete" onclick="sellComplete(\''+itemId+'\');">Complete Sales</button>';
                                        }
                                    } else if(buyList[i].status ==3){
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                            result +=   '<button class="btn btn_in_view9" id="tradeComplete" onclick="tradeComplete(\''+itemId+'\');">Complete Trade</button>';
                                        } else {    
                                            result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">Cancel Trade(refund)</button>';
                                        }
                                    } else if(buyList[i].status ==101) {
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                            result +=   '<button class="btn btn_in_view5" id="buyComplete" onclick="pointBuyComplete(\''+itemId+'\');">Confirm Purchase</button>';
                                        }
                                    } else if(buyList[i].status ==102) {
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                            result +=   '<button class="btn btn_in_view7" id="sellComplete" onclick="pointSellComplete(\''+pointTradeId+'\');">Complete Sales</button>';
                                        }
                                    } else if(buyList[i].status ==103){
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                            result +=   '<button class="btn btn_in_view9" id="tradeComplete" onclick="pointTradeComplete(\''+pointTradeId+'\');">Complete Trade</button>';
                                        } else {    
                                            result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="pointCancelItem(\''+itemId+'\');">Cancel Trade(refund)</button>';
                                        }
                                    }
                                result +=  '</div>' + 
                                '</td>' + 
                                '<td>'+
                                    '<span>' + regDate + '</span>' + 
                                    '<div class="btn_adjust">';
                                    if(buyList[i].status ==1) {
                                        result +=       '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">Cancel Trade</button>';    
                                    } else if(buyList[i].status ==2) {
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                            result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">Cancel Trade(refund)</button>';
                                        }
                                    } else if(buyList[i].status ==3){
                                        result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                    } else if(buyList[i].status == 5) {
                                        result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                    } else if(buyList[i].status ==101) {
                                        result +=       '<button class="btn btn_in_view8" id="cancelItem" onclick="pointCancelItem(\''+itemId+'\');">Cancel Trade</button>';    
                                    } else if(buyList[i].status ==102) {
                                        if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                            result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="pointCancelItem(\''+itemId+'\');">Cancel Trade(refund)</button>';
                                        }
                                    } else if(buyList[i].status ==103){
                                        result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                    } else if(buyList[i].status == 105) {
                                        result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">dispute</button>';
                                    }
                                result +='</div></td>' + 
                            '</tr>'; 
                }

                $('#buy_list').html(result);
                getPaging(success.data.count);
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getPaging(dataCount) {            
            var count = dataCount < 20 ? 1 : Math.ceil(dataCount / 20);
            var result = '<ol class="cf">';
            for(var i=0;i<count;i++) {
                result += '<li><a class="on" href="/myPages/sell/list?category='+category+'&status='+status+'&item_title='+item_title+'&pageIdx='+i+'">'+(i+1)+'</a></li>';
            }

            result+='</ol>';
            $('.paging_wrap').html(result);
        }

        function buyComplete(itemId) {
            var confirms = confirm('Do you want to purchase confirmation?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/buy",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('Buyer confirmed purchase.\nPlease wait for the seller to complete the sale.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function sellComplete(itemId) {
            event.stopPropagation();
            var confirms = confirm('Do you want to complete sales?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/sell",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert("The seller finished the sale.\nOnce the buyer's purchase is finalized, the transaction is complete.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function tradeComplete(itemId) {
            event.stopPropagation();
            var confirms = confirm('Do you want to complete a transaction?');
            if(confirms) {
                var data = {
                    "status": true
                }

                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/confirm",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('The transaction is complete.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function cancelItem(itemId) {
            event.stopPropagation();
            var confirms = confirm('Do you want to cancel a transaction?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/vtrs/cancel/"+itemId+"/" + userTag
                }).done(function (success) {
                    alert("Transaction canceled.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function oppisitionItem(itemId) {
            event.stopPropagation();
            //console.log('준비중');
            //alert('준비중입니다.');
            location.href = '/supports/opposition/register?itemId=' + itemId;
        }

        function showPhone(itemId) {
            event.stopPropagation();
            $.ajax({
                method: "GET",
                url: "/v1/vtrs/item/" + itemId
            }).done(function (success) {
                //console.log(success.data);
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.show();
                $("#btnmCloseModal").focus();
                $body.css("position", "fixed");
                $("#to_userTag").text(success.data.buyer_id);                
                $("#fromPhone").text(success.data.seller_phone);
                $("#from_userTag").text(success.data.seller_id);
                $("#toPhone").text(success.data.buyer_phone);
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function pointCancelItem(itemId) {
            event.stopPropagation();
            var confirms = confirm('Do you want to cancel a transaction?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/tradePoints/cancel/"+itemId+"/" + userTag
                }).done(function (success) {
                    alert("Transaction canceled.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function pointSellComplete(tradePointId) {
            event.stopPropagation();
            var confirms = confirm('Do you want to complete sales?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/tradePoints/"+tradePointId+"/trade/sell",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert("The seller finished the sale.\nOnce the buyer's purchase is finalized, the transaction is complete.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function pointTradeComplete(tradePointId) {
            event.stopPropagation();
            var confirms = confirm('Do you want to complete sales?');
            if(confirms) {
                var data = {
                    "status": true
                }
                $.ajax({
                    method: "PUT",
                    url: "/v1/tradePoints/"+tradePointId+"/trade/confirm",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('The transaction is complete.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function pointShowPhone(itemId) {
            event.stopPropagation();
            $.ajax({
                method: "GET",
                url: "/v1/tradePoints/item/" + itemId
            }).done(function (success) {
                console.log(success.data);
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.show();
                $("#btnmCloseModal").focus();
                $body.css("position", "fixed");
                $("#to_userTag").text(success.data.buyer_id);                
                $("#fromPhone").text(success.data.seller_phone);
                $("#from_userTag").text(success.data.seller_id);
                $("#toPhone").text(success.data.buyer_phone);
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">My Sales</h1>
                        <div class="search_filter">
                            <ul class="">
                                <li class="row">
                                    <h2 class="col-sm-2 col-xs-12">Goods Type</h2>
                                    <div class="check_filter col-sm-10 col-xs-12">
                                        <input type="radio" name="category" id="game" value="game" checked><label for="game">Game Item</label>
                                        <input type="radio" name="category" id="etc" value="etc"><label for="etc">Asset Trading</label>
                                        <input type="radio" name="category" id="otc" value="otc"><label for="otc">OTC Trading</label>
                                    </div>
                                </li>
                                <li class="row">
                                    <h2 class="col-sm-2 col-xs-12">Transaction Status</h2>
                                    <div class="check_filter col-sm-10 col-xs-12">
                                        <input type="radio" name="status" id="all" value=""><label for="all">All</label><br class="mob_br">
                                        <input type="radio" name="status" id="regist" value="0"><label for="regist">Available</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrStart" value="1"><label for="vtrStart">Request</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrBuy" value="2"><label for="vtrBuy">Purchase Confirm</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrSell" value="3"><label for="vtrSell">Complete Sales</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrConfirm" value="4"><label for="vtrConfirm">Complete Transaction</label>
                                    </div>
                                </li>
                                <li class="row">
                                    <h2 class="col-sm-2 col-xs-12">Keyword</h2>
                                    <div class="check_filter col-sm-10 col-xs-12">
                                        <div class="w100p-120px">
                                            <input type="text" class="form-control" id="title">
                                        </div>
                                        <div class="mob_100p_tar">
                                            <input type="button" class="btn btn-primary" id="btn_search" value="search">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="table_wrap table-responsive">
                            <h2 class="tit_mypage dot_tit" id="myItemTitle"></h2>
                            <table class="table_list has_game_icon table">
                                <colgroup class="colgroup_myselllist">
                                    <col class="col5_1">
                                    <col class="col5_2">
                                    <col class="col5_3">
                                    <col class="col5_4">
                                    <col class="col5_5">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><span id="table_category">Game / Server</span></th>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="buy_list">
                                                              
                                </tbody>
                            </table>                 
                        </div>
                        <div class="paging_wrap">
                            <!-- <button class="arw_prev">&lt;</button>
                            <ol class="cf">
                                <li><a class="on" href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                            </ol>
                            <button class="arw_next">&gt;</button> -->
                        </div>
                        
                        <div class="img_info_sec">
                            <img src="/static/img/sub/safety_transaction_information.jpg" alt="">
                        </div>

                        <!-- 모달창 -->
                        <div class="dim_all_area" style="display: none">
                            <article class="modal_bitberry_deposit">
                                <button id="btnmCloseModal" class="btn">X</button>
                                <h1>Contact</h1>
                                <p>Buyer : <span id="to_userTag"></span><br> Phone : <span id="toPhone"></span></p>
                                <p>Seller : <span id="from_userTag"></span><br> Phone : <span id="fromPhone"></span></p>
                                <button id="checkok" class="btn btn-danger">confirm</button>
                            </article>
                        </div>
                    </section>
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>
    
    <script>
   
   </script>

    <% include ../include/footer.html %>
</div>
</body>