<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userTag = "<%=userTag%>";
        var coinId = "<%=coinId%>";
        
        $(document).ready(function() {
            voucherHistory();
            $('#voucherUrl').val('https://www.marketmach.com/agreement?recommander=' + userTag);
            $('#voucherCopy').on('click', function(){
                //copyUrl(); 
            });

            /*
            var str = '마켓마하(www.marketmach.com) 오픈베타 기념 회원가입 이벤트. \n아래 URL을 클릭하여 회원가입 하시고 1마하 득!\n회원추천하고 또 1마하 득! \n친구 추천을 받으시면 최대 100MACH까지 드립니다.\n\n';
            str += 'https://www.marketmach.com/agreement?recommander=' + userTag;
            $('#copyTxt').val(str);

            var clipboard = new ClipboardJS('#voucherCopy');
            clipboard.on('success', function(e) {
                alert("추천 URL이 복사되었습니다.");
            });
            */

            $('#voucherCopy').on('click', function(){
                $('#m_voucherCopy').click(); 
            }); 
        });

        function voucherHistory() {
            $.ajax({
                method: "GET",
                url: "/v1/coins/historys/" + coinId + "/list"
            }).done(function (success) {
                //console.log(success);
                
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function copyUrl() {
            var preStr = 'MarketMach(www.marketmach.com) Open beta commemorative membership event. \n click the URL and get 1MACH for free!\n recommend friends and get 1MACH for free! \n If you receive a friend recommendation, we will give you up to 100MACH.\n';
            var str = $('#voucherUrl').val();
            var t = document.createElement("textarea");
            document.body.appendChild(t);
            t.value = preStr + str;
            t.select();
            document.execCommand('copy');
            document.body.removeChild(t);
            alert("copied");
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>

                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">My Account <span>recommneded url</span></h1>
                        <hr class="hr_mypage">
                        <div class="table_wrap table-responsive mb50">
                            <table class="table_view table">
                                <colgroup class="colgroup_myinfo">
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">Recommneded URL</th>
                                        <td>
                                            <input type="text" id="voucherUrl" class="form-control" readonly style="width: calc(100% - 70px);">
                                            <button type="button" class="btn btn-info" id="voucherCopy">Copy</button>
                                            <!-- <input type="button" class="btn btn-info" id="voucherCopy" value="Copy" data-clipboard-action="cut" data-clipboard-target="#copyTxt">
                                            <textarea id="copyTxt" style="width: 1px; height: 1px;"></textarea> -->
                                        </td>
                                    </tr>         
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>                