<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<script>
     var userId = "<%=userId%>";
     $(document).ready(function() {
        getUesrGameInfo();
     });

     function getUesrGameInfo() {
        $.ajax({
            method: "GET",
            url: "/v1/gameCenter/"+userId+"/info"
        }).done(function (success) {
            console.log(success.data);
            if(success.data != null) {
                $("#mcs1_coin").text(success.data.total_mcs1_coin);
            }
        }).fail(function (fail) {
            console.log(fail);
        })
     }
</script>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/gameStation_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- gameStation -->
                    <section class="gameStation_sec mypage_sec gameStation_gamestation">
                        <h1 class="tit_mypage">상장 게임</h1>
                        <article class="gameStation_article exist_game">
                            <h1 class="gameStation_title">마하 어드벤처</h1>
                            <img src="http://www.marketmach.com:9090/res/img/gamestation/MACH_Adventure.png" alt="마하어드벤쳐 이미지">
                            <div class="gameStation_contents">
                                <em>보관중인 몽키코인</em>
                                <p><img src="http://www.marketmach.com:9090/res/img/gamestation/monkey_coin.png" alt="코인이미지"/><span id="mcs1_coin">0</span></p>
                            </div>
                            <div class="gameStation_store">
                                <a href="https://itunes.apple.com/kr/app/mach-adventure/id1465065764?mt=8" target="_blank">
                                    <img src="/static/img/symbol/btn_download_apple.png" alt="" class="store_image">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.kcs.machadventure" target="_blank">
                                    <img src="/static/img/symbol/btn_download_google.png" alt="" class="store_image">
                                </a>
                            </div>
                        </article>
                        <!-- <article class="gameStation_article coming_soon">
                            <h1 class="gameStation_title">슈퍼 랜딩</h1>
                            <img src="/static/img/mob/m_main_visual17.jpg" alt="마하어드벤쳐 이미지">
                            <div class="gameStation_contents">
                                <em>IOS 곧 지원 할 예정입니다!</em>
                            </div>
                            <div class="gameStation_store">
                                <a href="javascript:" target="_blank" class="link_wait_a_minute">
                                    <img src="/static/img/symbol/btn_download_apple.png" alt="app store" class="store_image">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.pang.spld.google&hl=ko" target="_blank">
                                    <img src="/static/img/symbol/btn_download_google.png" alt="play store" class="store_image">
                                </a>
                            </div>
                        </article> -->
                        <article class="gameStation_article">
                            <h1 class="gameStation_title">상장예정</h1>
                            <div class="plus_icon"><i class="material-icons">add_circle</i></div>
                        </article>
                        <article class="gameStation_article">
                            <h1 class="gameStation_title">상장예정</h1>
                            <div class="plus_icon"><i class="material-icons">add_circle</i></div>
                        </article>
                        <article class="gameStation_article">
                            <h1 class="gameStation_title">상장예정</h1>
                            <div class="plus_icon"><i class="material-icons">add_circle</i></div>
                        </article>
                    </section>
                    <!--// gameStation -->
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>

    <% include ../include/footer.html %>
</div>
</body>