<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/gameStation_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- gameStation -->
                    <section class="gameStation_sec mypage_sec">
                        <div class="tac">
                            <div class="mb50">
                                <img src="/static/img/game/gameintro_superlanding.jpg" alt="">
                            </div>
                            <div class="gameStation_store">
                                <!-- <a href="javascript:" target="_blank" class="link_wait_a_minute">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/op-mach-bucket/notice/iphone.jpeg" alt="app store" class="store_image">
                                </a> -->
                                <a href="https://play.google.com/store/apps/details?id=com.pang.spld.google&amp;hl=ko" target="_blank">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/op-mach-bucket/items/google_link.jpeg" alt="play store" class="store_image">
                                </a>
                            </div>
                        </div>
                    </section>
                    <!--// gameStation -->
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>

    <% include ../include/footer.html %>
</div>
</body>