<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/gameStation_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- gameStation -->
                    <section class="gameStation_sec mypage_sec">
                        <h1 class="tit_mypage">교환하기<span>&nbsp;&nbsp;교환내역 보기</span></h1>
                        <div class="mypage_main_info cf">
                            <div class="lft_area">
                                <em>게임스테이션 로고가 들어갈 자리</em>
                                <!-- <a class="btn btn-success" href="/myPages/user/grade">등급별 혜택보기</a> -->
                            </div>
                            <div class="rgh_area">
                                <a href="">
                                    <em>나의지갑 잔액</em>
                                    <p id="mach"><span>MACH</span></p>
                                </a>
                                <button class="btn bgc1" onclick="location.href='/myPages/wallet/deposit';">MACH입금</button>
                                <button class="btn bgc3" onclick="location.href='/myPages/wallet/withdraw';">MACH출금</button>
                            </div>
                        </div>
                        <dl class="available_coin cf">
                            <h1 class="tit_mypage">마켓마하 상장 게임</h1>
                            <dd>
                                <a href="/supports/notice/detail?noticeId=5cb992d51e9f4a605ffa83e5">
                                    <img src="/static/img/symbol/symbol_monkey.png" alt="마하 어드벤쳐" title="마하 어드벤쳐">
                                    <div class="coin_value">
                                        <em>보관중인 몽키코인</em>
                                        <div>
                                            <img src="/static/img/symbol/Img_GameCoin1.png" alt=""> 
                                            <p>
                                                <span>10,213</span> 
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                        </dl>
                        <div class="btn_align_c mb50">
                            <button class="btn bgc1" id="deposit">게임자산 -> MACH</button>
                            <button class="btn bgc3" id="withdraw">MACH -> 게임자산</button>
                        </div>
                        <div>
                            <div class="board_tit cf">
                                <h1 class="tit_mypage">교환내역<span><span id="category1"></h1>
                            </div>
                            <div class="search_filter">
                                <ul class="">
                                    <li class="row">
                                        <h2 class="col-sm-2 col-xs-12">교환유형</h2>
                                        <div class="check_filter col-sm-10 col-xs-12">
                                            <input type="radio" name="status" id="trade_all" value="" checked><label for="trade_all">전체</label>
                                            <input type="radio" name="status" id="trade_start" value="0"><label for="trade_start">게임자산 -> MACH</label>
                                            <input type="radio" name="status" id="trading" value="1"><label for="trading">MACH -> 게임자산</label>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <h2 class="col-sm-2 col-xs-12">게임검색</h2>
                                        <div class="col-sm-10 col-xs-12">
                                            <div class="w100p-120px">
                                                <input type="text" class="form-control" id="item_title">
                                            </div>
                                            <div class="mob_100p_tar">
                                                <input type="button" class="btn btn-primary" id="btn_search" value="검색">
                                            </div>
                                        </div>
                                    </li>                        
                                </ul>
                            </div>
                
                            <div class="table_wrap table-responsive">
                                <table class="table_list has_etc_icon table">
                                    <colgroup class="colgroup_etc-buy_list">
                                        <col class="col4_1">
                                        <col class="col4_2">
                                        <col class="col4_3">
                                        <col class="col4_4">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>게임</th>
                                            <th>유형</th>
                                            <th>내용</th>
                                            <th>일시</th>
                                        </tr>
                                    </thead>
                                    <tbody id="list">
                                    </tbody>
                                </table>                 
                            </div>
                            <div class="btn_align_c">
                                <button class="btn btn_more_list" id="more_search">20개 더보기</button>
                            </div>                            
                        </div> 
                    </section>
                    <!--// gameStation -->
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>

    <% include ../include/footer.html %>
</div>
</body>