<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
    <script>
        var userId = "<%=userId%>";
        var coinId = "<%=coinId%>";

        $(document).ready(function() {
            getCoin();
            getUesrGameInfo();
            getExchangeHistory("all");
        });

        function getCoin() {
            $.ajax({
                method: "GET",
                url: "/v1/coins/" + coinId
            }).done(function (success) {
                total_mach = success.data.total_mach;
                $("#mach").html(total_mach + " <span>MACH</span>");
            }).fail(function (fail) {
                console.log(fail);
            });
        }
        function getUesrGameInfo() {
           $.ajax({
               method: "GET",
               url: "/v1/gameCenter/"+userId+"/info"
           }).done(function (success) {
               if(success.data != null) {
                   $("#mcs1_coin").text(success.data.total_mcs1_coin);
                   console.log(success);
               }
           }).fail(function (fail) {
               console.log(fail);
           })
        }
        function getExchangeHistory(category) {
            if(category == "all") {
                reqData = { "category": category }
            } else if(category == "exchange-mach") {
                reqData = { "category": category }
            } else if(category == "exchange-gamecoin") {
                reqData = { "category": category }
            }
            $.ajax({
               method: "POST",
               url: "/v1/gameCenter/"+userId+"/exchange/history",
               data: reqData
           }).done(function (success) {
                console.log(success.data.list);
                var count = success.data.count;
                var list = success.data.list;
                list.forEach(el => {
                    
                });
           }).fail(function (fail) {
               console.log(fail);
           })
            $('#mach_buy').removeClass('on');
            $('#mach_sell').removeClass('on');
            $('#mach_escrow').removeClass('on');
           if(trade_type == 'event') {
                $('#mach_buy').addClass('on');
            }
        }
   </script>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/gameStation_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- gameStation -->
                    <section class="gameStation_sec mypage_sec">
                        <h1 class="tit_mypage">교환하기<span>&nbsp;&nbsp;교환내역 보기</span></h1>
                        <div class="mypage_main_info cf">
                            <div class="lft_area">
                                <p>
                                    <em id="username"></em> 님의 회원등급은<br>
                                    <em id="" class="grade_color1">일반</em> 등급입니다.
                                </p>
                                <!-- <a class="btn btn-success" href="/myPages/user/grade">등급별 혜택보기</a> -->
                            </div>
                            <div class="rgh_area">
                                <a href="/myPages/wallet/info">
                                    <em>나의지갑 잔액</em>
                                    <p id="mach"><span>MACH</span></p>
                                </a>
                                <button class="btn btn_blln" onclick="location.href='/myPages/wallet/deposit';">MACH입금</button>
                                <button class="btn btn_blln" onclick="location.href='/myPages/wallet/withdraw';">MACH출금</button>
                            </div>
                        </div>
                        <h1 class="tit_mypage">마켓마하 상장 게임</h1>
                        <dl class="gst_gametable cf">
                            <dd>
                                <a href="/supports/notice/detail?noticeId=5cb992d51e9f4a605ffa83e5">
                                    <div class="gst_gametemplet">
                                        <img src="/static/img/symbol/symbol_monkey.png" alt="마하 어드벤쳐" title="마하 어드벤쳐">
                                        <div class="coin_value">
                                            <em>보관중인 몽키코인</em>
                                            <div>
                                                <img src="/static/img/symbol/Img_GameCoin1.png" alt=""> 
                                                <p>
                                                    <span id="mcs1_coin">0</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                        </dl>
                        <div class="btn_align_c mb50">
                            <a href="/gameStation/trade/assets" class="btn bgc1">게임자산 -> MACH</a>
                            <a href="/gameStation/trade/mach" class="btn bgc3">MACH -> 게임자산</a>
                            <!-- <button class="btn bgc1" id="deposit">게임자산 -> MACH</button>
                            <button class="btn bgc3" id="withdraw">MACH -> 게임자산</button> -->
                        </div>
                        <div>
                            <div class="board_tit cf">
                                <h1 class="tit_mypage">교환내역<span><span id="category1"></h1>
                            </div>
                            <ul class="tab_board ul_li3n cf">
                                <li id="mach_buy" class="on"><a href="javascript:getExchangeHistory('all');">전체 내역</a></li>
                                <li id="mach_sell"><a href="javascript:getExchangeHistory('exchange-mach');">MACH -> 게임자산</a></li>
                                <li id="mach_escrow"><a href="javascript:getExchangeHistory('exchange-gamecoin');">게임자산 -> MACH</a></li>
                            </ul>
                            <div class="table_wrap table-responsive">
                                <table class="table_wallet table">
                                    <colgroup class="colgroup_walletinfo">
                                        <!-- <col class="col5_1">
                                        <col class="col5_2">
                                        <col class="col5_3">
                                        <col class="col5_4">
                                        <col class="col5_5"> -->
                                    </colgroup>
                                    <thead id="wallet_historys_column">
                                        <tr>
                                            <th>보낸금액</th>
                                            <th>받은금액</th>
                                            <th>일자</th>
                                        </tr>
                                    </thead>
                                    <tbody id="wallet_historys">
                                        
                                    </tbody>
                                </table>
                            </div>                         
                        </div> 
                    </section>
                    <!--// gameStation -->
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>

    <% include ../include/footer.html %>
</div>
</body>