<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
<script>
    var productId = "<%= productId %>";
    var country = "<%= country %>";
    var reqData = {};
    
    $(document).ready(function() {
        // resetSearchFilter(".btc_product_sec");
        $(".itemLength").val("1");
        getUserInfo();
        getProductDetail();
    });
    function convertDeliveryType(num){
        switch (num) {
            case 0:
                return "무료배송";
            case 1:
                return "택배배송";
            default:
                break;
        }
    }
    function getProductDetail() {
        $.ajax({
            method: "GET",
            url: "/shopping/product/detail/"+productId,
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (success) {
            var res = success.data;
            var currency = (res.currencyType === "POINT") ? "point" : res.currencyType;
            var deliveryType = (res.deliveryType === "0") ? "무료배송" : res.deliveryPrice + currency;
            // console.log(res);

            if(res.leftAmount < 1) $("#purchaseItem").attr("disabled","disabled").text("품절");

            $("#productImg").attr("src", res.thumnail)
            $("#productName").text(res.productName);
            $("#deliveryType").text(convertDeliveryType(res.deliveryType));
            $("#originalPrice").text(numberWithCommas(res.originalPrice));
            $("#percentage").text(res.percentage+"%");
            $("#price").text(numberWithCommas(res.price));
            $("#deliveryType").text(deliveryType);
            $(".currencyCode").text(currency);
            $("#currencyType").val(currency);
            $("#imageDetail").attr("src", res.imageDetail[0])
            res.options.forEach(function(v, i) {
                var li = '<li><span class="productName">'+v.name+'</span> <span class="priceMach">'+ v.price+currency+'</span></li>';
                $("#sltList").append(li);
            });

            var optCalcAndView = {price: res.price, itemLength: ".itemLength", resultPrice: "#resultPrice", priceForSend:"#priceForSend"};
            $(optCalcAndView.resultPrice).text(numberWithCommas(res.price));

            _BtoCUI.numberUtil({maxLen: res.leftAmount}); // 구매 가능 갯수 넣기
            _BtoCUI.calcAndView(optCalcAndView); 
            $("#priceForSend").val(res.price);
        });        
    }

    // opener관련 오류가 발생하는 경우 아래 주석을 해지하고, 사용자의 도메인정보를 입력합니다. ("팝업API 호출 소스"도 동일하게 적용시켜야 합니다.)
    //document.domain = "http://192.168.1.200:3000";
    
    function goPopup(){
        // 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrLinkUrl.do)를 호출하게 됩니다.
        var pop = window.open("/v2/popup/address_popup","pop","width=570,height=420, scrollbars=yes, resizable=yes"); 
        
        // 모바일 웹인 경우, 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrMobileLinkUrl.do)를 호출하게 됩니다.
        //var pop = window.open("/popup/jusoPopup.jsp","pop","scrollbars=yes, resizable=yes"); 
    }
    /** API 서비스 제공항목 확대 (2017.02) **/
    function jusoCallBack(roadFullAddr,roadAddrPart1,addrDetail,roadAddrPart2,engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn
                            , detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno, emdNo){
        // 팝업페이지에서 주소입력한 정보를 받아서, 현 페이지에 정보를 등록합니다.
        document.form.roadAddrPart1.value = roadAddrPart1;
        document.form.roadAddrPart2.value = roadAddrPart2;
        document.form.addrDetail.value = addrDetail;
        document.form.zipNo.value = zipNo;
    }

    function getUserInfo() {
        $.ajax({
            method: "GET",
            url: "/v1/users/" + "<%= userId %>"
        }).done(function (success) {
            //console.log(success.data);
            reqData.userTag = success.data.userTag;
        }).fail(function (fail) {
            console.log(fail);
        });
    }

    function validateInfo() {
        var state = false;
        if($(".itemLength").val() === "") {
            alert("주문 수량을 설정하세요");
        }
        else if ($("#receiver").val() === "") {
            alert("수령인 성함을 입력하세요.");
        } else if ($("#phoneNum1").val() === "" || $("#phoneNum2").val() === "" || $("#phoneNum3").val() === "") {
            alert("수령인 연락처를 입력하세요.");
        } else if ($("#zipNo").val() === "" ) {
            alert("제품을 받으실 주소를 입력하세요."); 
        } else {
            state = true;
        }

        return state;
    }
    
    // API call
    function purchaseItem(e) {
        /*
        "selectedOptions":[
            {
                "name" : "Bebe 물티슈 500g",
                "amount": 1,
                "price" : 1,
                "total_price": 1
            }, 
        ],
        */
       
       if(validateInfo()) {
            reqData.eventShopId = productId;
            reqData.country = country;
            reqData.productName = $("#productName").text();
            reqData.currencyType = $("#currencyType").val().toUpperCase();
            reqData.selectedOptions = [];
            reqData.address      = $("#roadAddrPart1").val() + " " + $("#addrDetail").val() + $("#roadAddrPart2").val();
            reqData.phone        = $("#phoneNum1").val() + $("#phoneNum2").val() + $("#phoneNum3").val();
            reqData.receiver     = $("#receiver").val();
            reqData.totalAmount = parseInt($(".itemLength").val());
            reqData.totalPrice = parseInt($("#priceForSend").val());
            // console.log(reqData);
           
            //return;
            var txt = "";
            txt += "제품명: " + reqData.productName + "\n";
            txt += "수량: " + reqData.totalAmount + "\n";
            txt += "받으실분 성함: " + reqData.receiver + "\n";
            txt += "받으실분 연락처: " + reqData.phone + "\n";
            txt += "받으실분 주소: " + reqData.address + "\n\n";
            txt += "입력하신 정보를 확인해주시고 주문하시려면 확인을 눌러주세요. ";

            if(confirm(txt)){
                _PopupUI.toggleSpiner({isActive: true, target: e.currentTarget});
                $.ajax({
                    method: "POST",
                    url: "/shopping/product/buy",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(reqData)
                }).done(function (success) {
                    console.log(success)
                    if(success.data.successYn === "Y"){
                        var msg = "정상적으로 구매가 완료되었습니다.";
                        alert(msg);
                        window.location.href = "/myPages/product/list";
                    } else {
                        alert(success.data.msg);
                        window.location.reload();
                    }
                }).fail(function (fail) {
                    console.log(fail);
                }).always(function(){
                    _PopupUI.toggleSpiner({isActive: false});
                });            
            }
        }

    }    
</script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- list page-->
            <section class="btc_product_sec">
                <div class="dfb product_detail">
                    <div class="lft_img">
                        <img id="productImg" src="" alt="">
                    </div>
                    <div class="rgh_txt">
                        <dl>
                            <dt>
                                <h1 id="productName"></h1>
                            </dt>
                            <dd>
                                <ul>
                                    <li class="cf">
                                        <em class="l_tit">소비자가</em>
                                        <div class="r_col before_price"><span id="originalPrice"></span><span class="currencyCode"></span></div>
                                    </li>
                                    <li class="cf">
                                        <em class="l_tit">판매가</em>
                                        <div class="r_col after_price"><span id="price"></span><span class="currencyCode"></span> <!--<span class="txt_percentage" id="percentage"></span>--></div>
                                    </li>
                                    <li class="cf">
                                        <em class="l_tit">배송구분</em>
                                        <div class="r_col"><span id="deliveryType"></span></div>
                                    </li>
                                    <li class="cf">
                                        <em class="l_tit">구매옵션</em>
                                        <div class="r_col buy_opt_wrap">
                                            <ul id="selectedList">
                                                <li class="cf">
                                                    <span class="item_calc">
                                                        <button class="btnMinus btn_calc">－</button>
                                                        <input type="text" class="itemLength item_length" maxlength="3" value="1">
                                                        <button class="btnPlus btn_calc">＋</button>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <div class="total_calc">
                            <em>총 합계금액 </em>
                            <strong class="calc_price" id="resultPrice"></strong>
                            <span class="currencyCode"></span>
                            <input type="hidden" id="currencyType">
                            <input type="hidden" id="priceForSend">
                        </div>
                    </div>
                </div>
                <div class="item_select_area">
                    <h2 class="tit_delivery">배송정보</h2>
                    <table class="table_btoc">
                        <colgroup class="colgroup_btoc">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>수령인</th>
                                <td><input type="text" id="receiver" class="form-control" maxlength="10"></td>
                            </tr>
                            <tr>
                                <th>연락처</th>
                                <td>
                                    <input type="text" id="phoneNum1" class="w100 form-control" maxlength="3">
                                    <span> - </span>
                                    <input type="text" id="phoneNum2" class="w100 form-control" maxlength="4">
                                    <span> - </span>
                                    <input type="text" id="phoneNum3" class="w100 form-control" maxlength="4">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form name="form" id="form" method="post">
                        <table class="table_btoc">
                            <colgroup class="colgroup_btoc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>우편번호</th>
                                    <td>
                                        <input type="hidden" id="confmKey" name="confmKey" value=""  >
                                        <input type="text" id="zipNo" name="zipNo" class="w100 form-control" readonly >
                                        <input type="button"  value="주소검색" onclick="goPopup();" class="btn btn-default">
                                    </td>
                                </tr>
                                <tr>
                                    <th>도로명주소</th>
                                    <td><input type="text" id="roadAddrPart1" class="form-control" readonly></td>
                                </tr>
                                <tr>
                                    <th class="align_top">상세주소</th>
                                    <td>
                                        <input type="text" id="addrDetail" class="addr_detail form-control" value="">
                                        <input type="text" id="roadAddrPart2" class="form-control" value="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="btn_buy_sec">
                        <button class="btn" id="purchaseItem" onclick="purchaseItem(event);">구매하기</button>
                    </div>
                    <div class="item_detail_area">
                        <img id="imageDetail" src="" alt="상품설명">
                    </div>
                </div>
            </section>
            <!--// list page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        