<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->
    <script>
    //document.querySelector("#btnInfoBox").click();
    </script>
    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- list page-->
            <section class="board_sec">
                <div class="board_tit cf">
                    <h1>BtoC<span>상세 물품</span></h1>
                    <!-- <button class="btn btn-success">판매등록</button> -->
                </div>

                <div class="item_images_area cf">
                    <div class="lft_img">
                        <img src="/static/img/event/bts_img.jpg" alt="">
                    </div>
                    <div class="rgh_txt">
                        <h2 class="iia_title">BTS 핸드크림</h2>
                        <em class="iia_delivery">무료배송</em>
                        <span class="iia_money">45000원</span> <span class="iia_percent">22%</span>
                        <em class="iia_price">30MACH / 35000Point</em>
                        <div class="choice_method">
                            <h3 class="iia_option dib">결제 수단</h3>
                            <select id="paymentMethod">
                                <option value="">선택</option>
                                <option value="mach">MACH</option>
                                <option value="point">Point</option>
                            </select>
                        </div>
                        <h3 class="iia_option">구매옵션</h3>
                        <div class="like_select_box">
                            <button id="btnSelected" class="btn_slt"><em>선택</em><span>▼</span></button>
                            <div class="slt_sec">
                                <ul id="sltList">
                                    <li><span class="productName">BTS핸드크림</span> <span class="priceMach">30MACH</span><span class="pricePoint">35000point</span></li>
                                    <!-- <li><span class="productName">가영크림</span> <span class="priceMach">1MACH</span><span class="pricePoint">11point</span></li>
                                    <li><span class="productName">나영크림</span> <span class="priceMach">2MACH</span><span class="pricePoint">22point</span></li>
                                    <li><span class="productName">다영크림</span> <span class="priceMach">3MACH</span><span class="pricePoint">33point</span></li>
                                    <li><span class="productName">마영크림</span> <span class="priceMach">4MACH</span><span class="pricePoint">44point</span></li>
                                    <li><span class="productName">바영크림</span> <span class="priceMach">5MACH</span><span class="pricePoint">55point</span></li>
                                    <li><span class="productName">사영크림</span> <span class="priceMach">6MACH</span><span class="pricePoint">66point</span></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_select_area">
                    <h2 class="btoc_data_tit">선택한 항목</h2>
                    <div class="selected_item">
                        <ul id="selectedList">
                            <li class="cf">
                                <span class="itemTitle item_title"></span>
                                &nbsp;
                                <span class="itemPrice item_price"></span>
                                <span class="item_calc">
                                    <button class="btnMinus btn_calc">－</button>
                                    <input type="text" class="itemLength item_length" maxlength="3" value="1">
                                    <button class="btnPlus btn_calc">＋</button>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <h2 class="tit_delivery">배송정보</h2>
                    <table class="table_btoc">
                        <colgroup class="colgroup_btoc">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>수령인</th>
                                <td><input type="text" id="receiver" class="form-control" maxlength="10"></td>
                            </tr>
                            <tr>
                                <th>연락처</th>
                                <td>
                                    <input type="text" id="phoneNum1" class="w100 form-control" maxlength="3">
                                    <span> - </span>
                                    <input type="text" id="phoneNum2" class="w100 form-control" maxlength="4">
                                    <span> - </span>
                                    <input type="text" id="phoneNum3" class="w100 form-control" maxlength="4">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form name="form" id="form" method="post">
                        <table class="table_btoc">
                            <colgroup class="colgroup_btoc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>우편번호</th>
                                    <td>
                                        <input type="hidden" id="confmKey" name="confmKey" value=""  >
                                        <input type="text" id="zipNo" name="zipNo" class="w100 form-control" readonly >
                                        <input type="button"  value="주소검색" onclick="goPopup();" class="btn btn-default">
                                    </td>
                                </tr>
                                <tr>
                                    <th>도로명주소</th>
                                    <td><input type="text" id="roadAddrPart1" class="form-control" readonly></td>
                                </tr>
                                <tr>
                                    <th class="align_top">상세주소</th>
                                    <td>
                                        <input type="text" id="addrDetail" class="addr_detail form-control" value="">
                                        <input type="text" id="roadAddrPart2" class="form-control" value="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="btn_buy_sec">
                        <button class="btn" onclick="purchaseItem();">구매하기</button>
                    </div>
                    <div class="item_detail_area">
                        <img src="/static/img/event/bts_detail.jpg" alt="상품설명">
                    </div>
                </div>
            </section>
            <!--// list page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script>
    var opt = {btn:"btnSelected", ul:"sltList", selectedList: "selectedList"}
    _SelectUI.actSelectBox(opt, function(){
        // callback
    });
    _SelectUI.numberUtil();

    getUserInfo();

    // opener관련 오류가 발생하는 경우 아래 주석을 해지하고, 사용자의 도메인정보를 입력합니다. ("팝업API 호출 소스"도 동일하게 적용시켜야 합니다.)
    //document.domain = "http://192.168.0.10:3000";
    
    function goPopup(){
        // 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrLinkUrl.do)를 호출하게 됩니다.
        var pop = window.open("/v2/popup/address_popup","pop","width=570,height=420, scrollbars=yes, resizable=yes"); 
        
        // 모바일 웹인 경우, 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrMobileLinkUrl.do)를 호출하게 됩니다.
        //var pop = window.open("/popup/jusoPopup.jsp","pop","scrollbars=yes, resizable=yes"); 
    }
    /** API 서비스 제공항목 확대 (2017.02) **/
    function jusoCallBack(roadFullAddr,roadAddrPart1,addrDetail,roadAddrPart2,engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn
                            , detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno, emdNo){
        // 팝업페이지에서 주소입력한 정보를 받아서, 현 페이지에 정보를 등록합니다.
        document.form.roadAddrPart1.value = roadAddrPart1;
        document.form.roadAddrPart2.value = roadAddrPart2;
        document.form.addrDetail.value = addrDetail;
        document.form.zipNo.value = zipNo;
    }

    var reqData = {};

    function getUserInfo() {
        $.ajax({
            method: "GET",
            url: "/v1/users/" + "<%= userId %>"
        }).done(function (success) {
            //console.log(success.data);
            reqData.userTag = success.data.userTag;
        }).fail(function (fail) {
            console.log(fail);
        });
    }

    function validateInfo() {
        var state = false;

        if ($(".itemTitle").text() === "") {
            alert("구매하실 제품을 선택하세요.");
        } else if ($("#receiver").val() === "") {
            alert("수령인 성함을 입력하세요.");
        } else if ($("#phoneNum1").val() === "" || $("#phoneNum2").val() === "" || $("#phoneNum3").val() === "") {
            alert("수령인 연락처를 입력하세요.");
        } else if ($("#zipNo").val() === "" ) {
            alert("제품을 받으실 주소를 입력하세요."); 
        } else {
            state = true;
        }

        return state;
    }
    
    // API call
    function purchaseItem() {
        if(validateInfo()) {
            reqData.product      = $(".itemTitle").text();
            reqData.currencyType = $("#paymentMethod").val().toUpperCase();
            reqData.amount       = parseInt($(".itemLength").val());
            reqData.price        = parseInt($(".itemPrice").text().replace(/[^0-9]/g,""));
            reqData.address      = $("#roadAddrPart1").val() + " " + $("#addrDetail").val() + $("#roadAddrPart2").val();
            reqData.phone        = $("#phoneNum1").val() + $("#phoneNum2").val() + $("#phoneNum3").val();
            reqData.receiver     = $("#receiver").val();
            //console.log("reqData: ", reqData);

            $.ajax({
                method: "POST",
                url: "/v1/events/buy",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData)
            }).done(function (success) {
                if(success.data.successYn){
                    var msg = "정상적으로 구매가 완료되었습니다.\n\n";
                        msg += "구매하신 제품명: " + reqData.product + "\n";
                        msg += "구매하신 수량: " + reqData.amount + "\n";
                        msg += "받으실분 성함: " + reqData.receiver + "\n";
                        msg += "받으실분 연락처: " + reqData.phone + "\n";
                        msg += "받으실분 주소: " + reqData.address + "\n\n";
                        msg += "입력하신 정보가 잘못되었다면 1:1문의하기를 이용해주세요.";
                    alert(msg);
                    window.location.href = "/main"
                } else {
                    alert(success.data.msg);
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }

    }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        