<div class="sub_lft_menu" id="leftMenuSupport">
    <h2><a href="/supports/info">Support</a></h2>
    <ul class="depth1">
        <li class=<%=(arrDepth[0] === 1) ? "on" : "" %>><a href="/supports/notice">Notice</a></li>
        <li class=<%=(arrDepth[0] === 2) ? "on" : "" %>><a href="/supports/event">Events</a></li>
        <li class=<%=(arrDepth[0] === 3) ? "on" : "" %>><a href="/supports/faq">FAQ</a></li>
        <li class=<%=(arrDepth[0] === 4) ? "on" : "" %>><a href="/supports/opposition/list">Disputes</a>
            <ul class="depth2">
                <li class=<%=(arrDepth[0] === 4 && arrDepth[1] === 1) ? "on" : "" %>><a href="/supports/opposition/register">- Post</a></li>
                <li class=<%=(arrDepth[0] === 4 && arrDepth[1] === 2) ? "on" : "" %>><a href="/supports/opposition/list">- List</a></li>
            </ul>
        </li>
        
            <li class=<%=(arrDepth[0] === 5) ? "on" : "" %>><a href="/supports/private/list">1:1 Inquiry</a>
                <ul class="depth2">
                    <li class=<%=(arrDepth[0] === 5 && arrDepth[1] === 1) ? "on" : "" %>><a href="/supports/private/register">- Post</a></li>
                    <li class=<%=(arrDepth[0] === 5 && arrDepth[1] === 2) ? "on" : "" %>><a href="/supports/private/list">- List</a></li>
                </ul>
            </li>
       
        <!-- <li class=<%=(arrDepth[0] === 6) ? "on" : "" %>><a href="/supports/reqGames">신규게임/서버추가</a></li> -->
        <!-- <li class=<%=(arrDepth[0] === 7) ? "on" : "" %>><a href="/howto/safeTrade/escrow">안전거래 안내</a></li> -->
    </ul>
</div>