<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>자산거래 팝니다<span> VTR 거래신청</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_etc-sells_vtr">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <span class="dot_tit">거래 정보</span>
                                    <span class="posting_date"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>     
                            <tr>
                                <th>거래 번호</th>
                                <td><span class="item_id"></span></td>
                            </tr>                      
                            <tr>
                                <th>카테고리</th>
                                <td><span class="item_game_server"></span><span class="delivery_type"></span></td>
                            </tr>
                            <tr>
                                <th>거래 제목</th>
                                <td>
                                    <div class="ellipse item_title">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>거래상태</th>
                                <td><span class="item_status">거래등록</span></td>
                            </tr>
                            <tr>
                                <th>거래 가격</th>
                                <td><p class="txt_price"></p></td>
                            </tr>
                            <tr class="mrg_cell trForDel">
                                <td colspan="2">
                                    <div id="fullImg"></div>
                                </td>
                            </tr>
                            <tr class="trForDel">
                                <th>상품이미지</th>
                                <td>
                                    <div class="product_img_list">
                                        <div class="imgs_wrap">
                                            <!--
                                            <div class="thumbnail_box">
                                                <div class="img_view_area">
                                                    <img src="/static/img/main/main_visual02.jpg">
                                                </div>
                                                <a href="javascript:void(0);" onclick="deleteImageAction('img_id_0')" id="img_id_0"></a>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <span class="item_desc">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->

                <!-- 내 정보 입력 -->
                <div class="table_wrap table-responsive preparation_dim">
                    <!-- 서비스준비중입니다 : 부모클래스 preparation_dim 필요 -->
                    <table class="table_view table">
                        <colgroup class="colgroup_etc-sells_vtr">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><em class="dot_tit">내 정보 입력</em></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>연락처</th>
                                <td><span class="item_phone"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="highligh_list fcrd">
                    <li>※ 입력하신 정보는 구매확정 시 구매자에게 전달됩니다.</li>
                    <li>※ 입력하신 정보 오 기재로 인해 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</li>
                </ul>              
                <!--// 내 정보 입력 -->

                <!-- 회색테이블 -->
                <div class="table_wrap">
                    <table class="grey_table table_view table">
                        <colgroup class="colgroup_etc-sells_vtr">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><span class="dot_tit">내 지갑정보</span></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>나의 지갑 잔액</th>
                                <td><p class="item_user_price"></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="highligh_list fcrd">
                    <li>※ 나의 지갑 잔액이 거래 가격 보다 적다면 결제하실 수 없습니다.</li>
                    <li>※ [Coin 입금] 버튼 또는 [나의페이지-지갑관리]에서 Coin을 입금하실 수 있습니다.</li>
                </ul>
                <div class="btn_align_c">
                    <button class="btn btn_in_view2" onclick="openVtrInfo()">VTR 안내</button>
                    <button class="btn btn_in_view1" id="btnSubmit">VTR 입장하기</button>
                </div>
                <!--// 회색테이블 -->
            </section>
            <!--// view page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

var userTag = "<%= userTag %>";
        var country = "<%= country %>";
        var itemId = "<%= id %>";
        var n_status;
        var from_userTag;
        var mach;
        var total_mach;
        var buyerTag;
        var sellerTag;
    
        $(document).ready(function() {
            //$("#input_imgs").on("change", handleImgFileSelect);

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            getData();

            $("#btnSubmit").on('click', function() {
                if(isMobile()) {
                    var cookie_data = document.cookie;
                    var loginToken = cookie_data.indexOf("loginToken");
                    if(loginToken > -1) {
                        openVTR();
                    } else {
                        location.href = "/login";
                    }
                } else {
                    ajaxLoginYnCheck(openVTR);
                }
            });
        });

        function getData() {
            $.ajax({
                method: "GET",
                url: "/v1/items/service/" + itemId
            }).done(function (success) {
                //console.log(success);
                
                itemId = success.data._id;
                var regDate = success.data.regDate;
                var item_game_server = success.data.category1 == undefined ? '기타' : success.data.category1;
                var title = success.data.title;
                mach = success.data.price;
                var price = numberWithCommas(mach);
                var point = numberWithCommas(success.data.point);
                n_status = success.data.status;
                var status = getStatus(success.data.status);
                var delivery_type = getDelivery(success.data.delivery_type == undefined ? "direct" : success.data.delivery_type);
                var trade_type = replaceType(success.data.trade_type);
                var desc = replaceDesc(success.data.desc);
                var game_character = success.data.game_character;
                var img1th = success.data.images.length == 0 ? '' : "<img src=\"" + success.data.images[0].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                var item_phone = success.data.phone;
                from_userTag = success.data.userTag;
                var cryptoCurrencyCode = success.data.cryptoCurrencyCode == undefined ? "MACH" : success.data.cryptoCurrencyCode;
                buyerTag = success.data.vtrTemp == undefined ? "" : success.data.vtrTemp.buyer_id;
                sellerTag = success.data.vtrTemp == undefined ? "" : success.data.vtrTemp.seller_id;
                total_mach = success.data.total_coins.total_mach;
                var item_user_price = numberWithCommas(total_mach);
                if(cryptoCurrencyCode == "BTC") {
                    var coin_price = success.data.total_coins.total_btc == undefined ? 0 : success.data.total_coins.total_btc;
                    item_user_price = numberWithCommas(coin_price);
                    total_mach = coin_price;
                } else if(cryptoCurrencyCode == "ETH") {
                    var coin_price = success.data.total_coins.total_ether == undefined ? 0 : success.data.total_coins.total_ether;
                    item_user_price = numberWithCommas(coin_price);
                    total_mach = coin_price;
                }


                if(success.data.images.length === 0) {
                    $(".trForDel").remove();
                }             

                for(var i=0;i<success.data.images.length; i++) {
                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+i+"\">";
                                html += '<div class="img_view_area">';
                                html += "<img src=\"" + success.data.images[i].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                                html += '</div>';
                                html += '</div>';
                                                    
                    $(".imgs_wrap").append(html);
                }
                
                $(".delivery_type").addClass(delivery_type.className).text(delivery_type.text);
                $(".posting_date").text("등록일 : " + regDate);
                $(".item_title").text(title);
                $(".item_game_server").text(item_game_server);
                $(".item_id").text(itemId);
                $(".txt_price").html(price + "<span>"+cryptoCurrencyCode+"</span>");
                $(".item_desc").html(desc);
                $("#fullImg").html(img1th);
                $(".item_phone").text(item_phone);
                $(".item_user_price").html(item_user_price + "<span class='fzsm'>"+cryptoCurrencyCode+"</span>");
                $(".item_price").html("<em class='em_calc_ico minus'>-</em>" + price + "<span class='fzsm'>"+cryptoCurrencyCode+"</span>");
                $(".user_price_balance").html(numberWithCommas(parseFloat((total_mach - mach).toFixed(8))) + "<span class='fzsm'>"+cryptoCurrencyCode+"</span>");
                $(".item_status").addClass(status.className).text(status.text);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function openVTR() {
            var popup;

            if(mach == 0) {
                alert('MACH 금액이 0인 거래는 거래 신청을 할 수 없습니다.');
                return;
            }

            if(total_mach == 0) {
                alert('구매자의 MACH 금액이 0인 거래는 거래 신청을 할 수 없습니다.');
                return;
            }

            var confirmYn = confirm('VTR에 접속하시겠습니까?');

            if(confirmYn) {
                // roomToken = makeToken1();
                // if (isMobile()) {
                //     popup = window.open('about:blank', "room" + roomToken);
                // }

                // var body = {
                //     "user_id": userTag,
                //     "roomToken": roomToken,
                //     "buyer_id": userTag,
                //     "seller_id": from_userTag,
                //     "status": 50,
                //     "cmod": "deal"
                // };

                // $.ajax({
                //     method: "PUT",
                //     url: "/v1/items/updateStatus/" + itemId,
                //     contentType: "application/json; charset=utf-8",
                //     dataType: "json",
                //     data: JSON.stringify(body),
                // }).done(function (data) {
                //     console.log(data);
                //     if(isMobile()) {
                //         popup.location.href = data.data;
                //     } else {
                //         window.open(data.data, "room" + roomToken, 'toolbar=no,\n' +
                //             '                                    location=no,\n' +
                //             '                                    status=no,\n' +
                //             '                                    menubar=no,\n' +
                //             '                                    scrollbars=yes,\n' +
                //             '                                    resizable=yes,\n' +
                //             '                                    width=550,\n' +
                //             '                                    height=750');
                //     }
                //     location.href = "/etc-sells/detail/" + itemId;
                // }).fail(function (fail) {
                //     console.log(fail);
                // });
                if(buyerTag == "") {
                    var body = "itemId="+itemId+"&buyerTag="+userTag+"&sellerTag="+from_userTag;

                    if(isMobile()) {
                        popup = window.open('about:blank', "room" + userTag+"|"+from_userTag+"|"+itemId);
                        popup.location.href = '/room?' + body;
                    } else {
                        window.open('/room?' + body, "room" + userTag+"|"+from_userTag+"|"+itemId, 'toolbar=no,\n' +
                            '                                    location=no,\n' +
                            '                                    status=no,\n' +
                            '                                    menubar=no,\n' +
                            '                                    scrollbars=yes,\n' +
                            '                                    resizable=yes,\n' +
                            '                                    width=550,\n' +
                            '                                    height=750');
                    }   
                } else {
                    var body = "itemId="+itemId+"&buyerTag="+buyerTag+"&sellerTag="+sellerTag;

                    if(isMobile()) {
                        popup = window.open('about:blank', "room" + buyerTag+"|"+sellerTag+"|"+itemId);
                        popup.location.href = '/room?' + body;
                    } else {
                        window.open('/room?' + body, "room" + buyerTag+"|"+sellerTag+"|"+itemId, 'toolbar=no,\n' +
                            '                                    location=no,\n' +
                            '                                    status=no,\n' +
                            '                                    menubar=no,\n' +
                            '                                    scrollbars=yes,\n' +
                            '                                    resizable=yes,\n' +
                            '                                    width=550,\n' +
                            '                                    height=750');
                    }
                }

                if(!isExplorer()) {
                    location.replace("/etc-sells/detail/" + itemId);
                }
            }
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        