<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#userTag").text("<%=userTag%>");

            $('#newPasswordConfirm').keypress(function(){
                if(window.event.keyCode==13){
                    changePassword();
                }
            });

            $("#changePassword").on('click', function() {
                changePassword();
            });

            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
        });

        function changePassword() {
            if($("#newPassword").val() == "") {
                alert("Please input your password");
                return;
            }

            if($("#newPasswordConfirm").val() == "") {
                alert("Confirm your password");
                return;
            }

            if($("#newPassword").val() != $("#newPasswordConfirm").val()) {
                alert("Password is not correct \ninput again");
                return;
            }
            
            var changePasswordForm = {
                "password":  $("#newPassword").val()
            };

            $('#changePassword').prop('disabled', true);

            $.ajax({
                method: "PUT",
                url: "/v1/users/changePassword/" + "<%=id%>",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(changePasswordForm)
            })
            .done(function (success) {
                alert('Password is edited\nYou can Sign in as this password');
                location.href = "/login";
            })
            .fail(function (fail) {
                console.log(fail);
                $('#changePassword').prop('disabled', false);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- page-->
            <section class="find_info_sec">
                <ul class="tab_find_info cf">
                    <li class="on"><a href=""><h1>Confirm Account</h1></a></li>
                </ul>
                <div class="find_info_box">
                    <div class="align_c">
                        <p class="tac">
                            ※ Input your new password and click the "Submit" button<em class="fcrd">[Submit]</em><br>
                            ※ if you don't wanna change password, click the "Home" button <em class="fcrd">[Home]</em>
                        </p>
                        <hr>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">ID</th>
                                        <td><em id="userTag"></em></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">New Password</th>
                                        <td><input type="text" class="form-control" id="newPassword" placeholder="input new password ** 8 ~ 16 alphanumeric characters or special characters"></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">Confirm New Password</th>
                                        <td><input type="text" class="form-control" id="newPasswordConfirm"  placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view3" id="changePassword">Submit</button>
                        <a href="/main" class="btn btn_in_view2">Home</a>
                    </div>
                </div>
            </section>
            <!--//  page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        