<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_buy">
                <div class="board_tit cf">
                    <h1>buy Game Items<span> View</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_buy_detail">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <em class="view_emphasis"></em>  
                                    <span class="posting_date"></span>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <div class="ellipse item_title">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>Game>Server</th>
                                <td><span class="item_game_server"></span></td>
                            </tr>
                            <tr>
                                <th>Transaction No.</th>
                                <td><span class="item_id"></span></td>
                            </tr>
                            <tr>
                                <th>Writer</th>
                                <td><span class="user_tag"></span></td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td><span class="item_status"></span></td>
                            </tr>
                            <tr>
                                <th>Character's Name</th>
                                <td><span class="item_character"></span></td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td><p class="txt_price"><span></span></p></td>
                            </tr>
                            <tr class="mrg_cell trForBtn">
                                <td colspan="2">
                                    <div class="btn_align_c">   
                                        <button class="btn item_view btn_in_view0"  id="openVTR">Enter VTR</button>
                                        <button class="btn item_view btn_in_view1" id="regVTR">VTR Transaction</button>
                                        <button class="btn item_view btn_in_view3" id="modify">Edit</button>
                                        <button class="btn item_view btn_in_view4" id="remove">Delete</button>
                                        <button class="btn item_view btn_in_view5" id="buyComplete">Pay(Escrow)</button>
                                        <button class="btn item_view btn_in_view6" id="showPhone">View Contact</button>
                                        <button class="btn item_view btn_in_view7" id="sellComplete">Deliver</button>
                                        <button class="btn item_view btn_in_view8" id="cancel">Cancel</button>
                                        <button class="btn item_view btn_in_view9" id="confirm">Completed</button>
                                        <button class="btn item_view btn_in_view10" id="opposition">Disputes</button>
                                    </div>
                                    <!-- <div class="tac">
                                        <a href="javascript:openVtrInfo()">What is VTR Transaction?</a>                                        
                                    </div> -->
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>
                                    <span class="item_desc">

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->

                <div class="tar">
                    <a href="javascript:history.back()" class="btn btn_go_list">list</a>
                    <!-- [모듈] 댓글모듈 -->
                    <% include ../include/modules/comment.html %>
                </div>

                <!-- 모달창 -->
                <div class="dim_all_area" style="display: none">
                    <article class="modal_bitberry_deposit">
                        <button id="btnmCloseModal" class="btn">X</button>
                        <h1>View Contact</h1>
                        <p>Buyer : <span id="to_userTag"></span><br> Phone : <span id="toPhone"></span></p>
                        <p>Seller : <span id="from_userTag"></span><br> Phone : <span id="fromPhone"></span></p>
                        <button id="checkok" class="btn btn-danger">Confirm</button>
                    </article>
                </div>
            </section>
            <!--// view page-->
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        var userTag = "<%= userTag %>";
        var country = "<%= country %>";
        var itemId = "<%= id %>";
        var roomToken;
        var vtrTempId;
        var buyerTag;
        var sellerTag;
    
        $(document).ready(function() {
            getData();

            $('#openVTR').on('click', function() {
                //openVTR();
                location.replace("/buys/vtr/" + itemId);
            });

            $('#regVTR').on('click', function() {
                location.replace("/buys/vtr/" + itemId);
            });

            $('#modify').on('click', function() {
                location.replace("/buys/modify/" + itemId);
            });

            $('#cancel').on('click', function() {
                ajaxLoginYnCheck(cancelItem);
            });

            $('#confirm').on('click', function() {
                ajaxLoginYnCheck(confirmItem);
            });

            $('#opposition').on('click', function() {
                oppositionItem();
            });

            $('#remove').on('click', function() {
                ajaxLoginYnCheck(removeItem);
            });

            $('#buyComplete').on('click', function() {
                ajaxLoginYnCheck(buyComplete);
            });

            $('#sellComplete').on('click', function() {
                ajaxLoginYnCheck(sellComplete);
            });

            $('#showPhone').on('click', function() {
                showPhone(itemId);
            });

            $("#btnmCloseModal, #checkok").on("click", function() {
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.hide();
                $body.css("position", "static");
            });
        });

        function getData() {
            $.ajax({
                method: "GET",
                url: "/v1/items/service/" + itemId
            }).done(function (success) {
                console.log(success);
                
                itemId = success.data._id;
                roomToken = success.data.roomToken;
                vtrTempId = success.data.vtrTempId;
                var regDate = success.data.regDate;
                var item_game_server = success.data.game_name + '>' + success.data.game_server;
                var title = success.data.title;
                var price = numberWithCommas(success.data.price);
                var point = numberWithCommas(success.data.point);
                var status = getStatus(success.data.status);
                var item_type = getItemType(success.data.type);
                var trade_type = replaceType(success.data.trade_type);
                var desc = replaceDesc(success.data.desc == undefined ? '' : success.data.desc);
                var game_character = success.data.game_character;
                var cryptoCurrencyCode = success.data.cryptoCurrencyCode == undefined ? "MACH" : success.data.cryptoCurrencyCode;
                buyerTag = success.data.vtrTemp == undefined ? "" : success.data.vtrTemp.buyer_id;
                sellerTag = success.data.vtrTemp == undefined ? "" : success.data.vtrTemp.seller_id;
                                
                $(".view_emphasis").text(item_type.text);
                $(".posting_date").text("Date : " + regDate);
                $(".item_title").text(title);
                $(".item_game_server").text(item_game_server);
                $(".item_id").text(itemId);
                if("<%=useBlockchain%>" == 'Y') {
                    $(".txt_price").html(price + "<span>"+cryptoCurrencyCode+"</span>");
                }
                if("<%=usePoint%>" == 'Y') { 
                    $(".txt_point").html(point + "<span>Point</span>");
                }
                $(".item_desc").html(desc);
                $(".item_status").addClass(status.className).text(((success.data.status > 0 && success.data.status < 4)||success.data.status == 50 ||success.data.status == 5) && (success.data.vtr_btn_active) ? status.text+ ' - ' + status.detail : status.text);             
                $(".item_character").text(game_character);
                $(".user_tag").text(success.data.userTag);

                if(success.data.status == "0") {
                    if(userTag == success.data.userTag) {
                        $('#modify').css('display','inline-block');
                        $('#remove').css('display','inline-block');
                    } else {
                        $('#regVTR').css('display','inline-block');
                        $('#buynow').css('display','inline-block');
                    }
                } else if((success.data.status > 0 && success.data.status < 4) || success.data.status == 50) {
                    if(success.data.status == "1" || success.data.status == "50") {
                        if(success.data.vtr_btn_active) {
                            if(userTag == success.data.userTag && success.data.status != "50") {
                                $('#buyComplete').css('display','inline-block');  
                            }
                            $('#openVTR').css('display','inline-block');
                            //$('#buynow').css('display','inline-block');  
                            $('#cancel').css('display','inline-block');
                        } else {
                            
                        }
                    }
                    if(success.data.status == "2") {
                        if(success.data.vtr_btn_active) {
                            if(userTag != success.data.userTag) {
                                $('#sellComplete').css('display','inline-block');                                
                            }
                            $('#openVTR').css('display','inline-block');
                            $('#cancel').css('display','inline-block');
                            $('#showPhone').css('display','inline-block');
                        }
                    } else if(success.data.status == "3") {
                        if(success.data.vtr_btn_active) {
                            if(userTag == success.data.userTag) {
                                $('#confirm').css('display','inline-block');
                            } else {
                                $('#cancel').css('display','inline-block');
                            }
                            $('#openVTR').css('display','inline-block');
                            $('#showPhone').css('display','inline-block');
                            $('#opposition').css('display','inline-block');
                        }
                    } 
                } else if(success.data.status > 3) {
                    if(success.data.status == 5 || success.data.vtr_btn_active) {
                        $('#opposition').css('display','inline-block');
                    }
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function removeItem() {
            var confirms = confirm('정말로 삭제하시겠습니까?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/items/" + itemId
                }).done(function (success) {
                    location.href = '/buys?category=game&trade_type=buy';
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function openVTR() {
            // var popup;
            // if (isMobile()) {
            //     popup = window.open('about:blank', "room" + roomToken);
            // }
            // let url = "/room?roomToken="+roomToken+"&itemId="+itemId+"&user_id="+userTag+"&vtrTempId=" + vtrTempId;
            // if(isMobile()) {
            //     popup.location.href = url;
            // } else {
            //     window.open(url, "room" + roomToken, 'toolbar=no,\n' +
            //         '                                    location=no,\n' +
            //         '                                    status=no,\n' +
            //         '                                    menubar=no,\n' +
            //         '                                    scrollbars=yes,\n' +
            //         '                                    resizable=yes,\n' +
            //         '                                    width=550,\n' +
            //         '                                    height=850');
            // }
            var popup;
            var body = "itemId="+itemId+"&buyerTag="+buyerTag+"&sellerTag="+sellerTag;

            if(isMobile()) {
                popup = window.open('about:blank', "room" + buyerTag+"|"+sellerTag+"|"+itemId);
                popup.location.href = '/room?' + body;
            } else {
                window.open('/room?' + body, "room" + buyerTag+"|"+sellerTag+"|"+itemId, 'toolbar=no,\n' +
                    '                                    location=no,\n' +
                    '                                    status=no,\n' +
                    '                                    menubar=no,\n' +
                    '                                    scrollbars=yes,\n' +
                    '                                    resizable=yes,\n' +
                    '                                    width=550,\n' +
                    '                                    height=750');
            }
        }

        function cancelItem() {
            var confirms = confirm('Do you want to cancel a transaction?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/vtrs/cancel/"+itemId+"/" + userTag
                }).done(function (success) {
                    if(success.data.successYn == "Y") {
                        location.href = '/buys/detail/' + itemId;
                    } else {
                        alert(success.data.msg);
                    }
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function buyComplete() {
            var confirms = confirm('Do you want to Pay(Escrow)?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/buy",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('Buyer confirmed purchase. \n Please wait for the seller to complete the sale.');
                    location.href = '/buys/detail/' + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function sellComplete() {
            var confirms = confirm('Do you want to submit?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/sell",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('The seller finished the sale.\n Once the buyer\'s purchase is finalized, the transaction is complete.');
                    location.href = '/buys/detail/' + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function confirmItem() {
            var confirms = confirm('Do you want to submit?');
            if(confirms) {
                var data = {
                    "status": true
                }
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/confirm",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    location.href = '/buys/detail/' + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function oppositionItem() {
            // console.log('준비중');
            // alert('준비중입니다.');
            location.href = '/supports/opposition/register?itemId=' + itemId;
        }

        function showPhone(itemId) {
            $.ajax({
                method: "GET",
                url: "/v1/vtrs/item/" + itemId
            }).done(function (success) {
                console.log(success.data);
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.show();
                $("#btnmCloseModal").focus();
                $body.css("position", "fixed");
                $("#to_userTag").text(success.data.buyer_id);                
                $("#fromPhone").text(success.data.seller_phone);
                $("#from_userTag").text(success.data.seller_id);
                $("#toPhone").text(success.data.buyer_phone);
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        