<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userTag = "<%=userTag%>";
        $(document).ready(function() {
            $('#user_password').on('keydown',function(e){
                if(e.keyCode==13){
                    checkPassword();
                }
            })

            $('#checkPassword').on('click',function(e){
                checkPassword();
            })
        });

        function checkPassword() {
            if($("#user_password").val() == "") {
                alert("Plaease input your password.");
                return;
            }

            var data = {
                "userTag": userTag,
                "password": $("#user_password").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/users/checkPassword",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data)
            }).done(function (success) {
                if(success.data != null) {
                    location.href = "/myPages/user/info";
                } else {
                    alert("The password is incorrect\nPlease try again.");
                    $("#user_password").focus();
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                
                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">My Account <span>edit account information</span></h1>
                        <hr class="hr_mypage">
                        <h2 class="tit_mypage dot_tit">Identification</h2>
                        <div class="coin_certification">
                            <dl class="cf">
                                <dt class="fc2">Password</dt>
                                <dd>
                                    <input type="password" autocomplete="new-password" class="form-control" id="user_password">
                                </dd>
                            </dl>
                        </div> 
                        <ul class="highligh_list fcrd">
                            <li>※ You can edit your account information after entering the password again in order to protect the account information safely. </li>
                        </ul>                 
                        <div class="btn_align_c">
                            <button class="btn btn_in_view1" id="checkPassword">Edit</button>
                        </div>                   
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>                