<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>자산거래 팝니다<span>수정</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <!-- 거래정보 -->
                <div class="table_wrap table-responsive">
                        <table class="table_view table">
                            <colgroup class="colgroup_etc-sell_modify">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th colspan="2">거래정보</th>
                                </tr>
                            </thead>
                            <tbody>                           
                                <tr>
                                    <th>카테고리</th>
                                    <td>
                                        <div id="virture_h" class="virture_h">
                                            <select class="selectpicker" id="item-game-name" data-live-search="true">
                                            </select>
                                            <!-- <select class="selectpicker" id="game-server" data-live-search="true">
                                            </select> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>상품유형</th>
                                    <td>
                                        <div class="form-inline radio_wrap">
                                            <div class="form-group">
                                                <input type="radio" name="item_type" id="direct" value="direct" checked><label for="direct">직거래</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="radio" name="item_type" id="free_delivery" value="free_delivery"><label for="free_delivery">무료배송</label>
                                            </div>  
                                            <div class="form-group">
                                                <input type="radio" name="item_type" id="delivery" value="delivery"><label for="delivery">착불거래</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>거래제목</th>
                                    <td><input type="text" class="form-control" id="title" placeholder="거래 제목 입력"></td>
                                </tr>
                                <%if(useBlockchain == 'Y') {%>
                                <tr>
                                    <th>거래가격</th>
                                    <td>
                                        <div class="no_w100p_wrap">
                                            <select class="custom-select w30p" id="cryptoCurrencyCode">
                                                <option value="BTC">BTC</option>
                                                <option value="ETH">ETH</option>
                                                <option value="MACH" selected>MACH</option>
                                            </select>
                                            <input type="number" class="form-control w60p" id="price" min="0" placeholder="거래 가격 입력.">
                                        </div>
                                        <p class="fcrd">※ 1MACH = 1$</p>
                                    </td>
                                </tr>
                                <%} if(usePoint == 'Y') {%>
                                <tr>
                                    <th>거래가격(Point)</th>
                                    <td>
                                        <div class="no_w100p_wrap">
                                            <input type="number" class="form-control w80p" id="point" min="0" placeholder="거래 가격 입력." onkeypress="return checkDecimal(event)">
                                            <em class="fc2" id="currencyName"></em>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>
                                <tr class="mrg_cell">
                                    <td colspan="2">
                                        <div id="fullImg"></div>
                                        <div class="input_wrap">
                                            <button class="btn btn-primary" onclick="fileUploadAction();">이미지 선택</button>
                                            <input type="file" id="input_imgs" multiple/>
                                        </div>
                                        <ul class="highligh_list fcrd">
                                            <li>※ 이미지 업로드 수정 시 기존 업로드한 이미지 포함하여 다시 업로드 하셔야 적용됩니다.</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>상품이미지</th>
                                    <td>
                                        <div class="product_img_list">
                                            <div class="imgs_wrap">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>상세정보</th>
                                    <td>
                                        <textarea class="form-control" style="height: 200px;" id="desc"></textarea>
                                    </td>
                                </tr>
                                <tr class="mrg_cell">
                                    <td colspan="2">
                                        <div class="btn_align_c">
                                            <button class="btn btn_in_view1" id="btnSubmit">수정하기</button>
                                        </div>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>              
                    <!--// 거래정보 -->
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->
            </section>
            <!--// view page-->
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        // 이미지 정보들을 담을 배열
        var itemId;
        var sel_files = [];
        var itemGameName;
        var itemGameServer;
    
        $(document).ready(function() {
            var agent = navigator.userAgent.toLowerCase();
            if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
                $("#input_imgs").on("change", handleImgFileSelectForIE);
            } else {
                $("#input_imgs").on("change", handleImgFileSelect);
            }

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            $('.selectpicker').selectpicker({
                size: 4
            });

            $("#btnSubmit").on('click', function(){
                submit();
            });

            // $("#item-game-name").on('change', function() {
            //     itemGameName = $("#item-game-name").val();
            //     itemGameServer = "";
            //     selectServer();
            // })

            loadGameList();
            getData();
        });

        function getData() {
            $.ajax({
                method: "GET",
                url: "/v1/items/" + "<%= id%>"
            }).done(function (success) {
                console.log(success);
                
                itemId = success.data._id;
                var regDate = success.data.regDate;
                var item_game_server = success.data.category1 == undefined ? '기타' : success.data.category1;
                itemGameName = success.data.category1;
                //itemGameServer = success.data.category2;
                var title = success.data.title;
                var price = success.data.price;
                var point = success.data.point;
                var status = getStatus(success.data.status);
                var delivery_type = getDelivery(success.data.delivery_type == undefined ? "direct" : success.data.delivery_type);
                var trade_type = replaceType(success.data.trade_type);
                var desc = success.data.desc;
                var cryptoCurrencyCode = success.data.cryptoCurrencyCode == undefined ? "MACH" : success.data.cryptoCurrencyCode;
                var img1th = success.data.images.length == 0 ? '' : "<img src=\"" + success.data.images[0].path + "\" data-file='"+success.data.images[0].origin_name+"'>"
                
                for(var i=0;i<success.data.images.length; i++) {
                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+i+"\">";
                                html += '<div class="img_view_area">';
                                html += "<img src=\"" + success.data.images[i].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                                html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+i+"\')\"></a>";
                                html += '</div>';
                                html += '</div>';
                                                    
                    $(".imgs_wrap").append(html);

                    // sel_files.push({
                    //     "name": "img_id_"+i,
                    //     "value": f
                    // });
                }
                
                $("[name=item_type]").filter('[value='+success.data.delivery_type+']').prop('checked', true);
                $("#title").val(title);
                $("#item-game-name").val(success.data.category1);
                $("#cryptoCurrencyCode").val(cryptoCurrencyCode);
                if("<%=useBlockchain%>" == 'Y') {
                    $("#price").val(price);
                } 
                if("<%=usePoint%>" == 'Y') {
                    $("#point").val(point);
                }
                $("#desc").text(desc);
                $("#fullImg").html(img1th);
                
                loadGameList();
                // setTimeout(function(){
                //     selectServer();
                // });
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function loadGameList() {
            $.ajax({
                method: "GET",
                url: "/v1/categories"
            }).done(function (success) {
                var strDOM = '<option value="">선택하세요</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].category1 + '">' + success.data[i].category1 + '</option>'
                }

                $("#item-game-name").append(strDOM);

                $("#item-game-name").selectpicker('refresh');
                //selectServer();
                $("#item-game-name").val(itemGameName).attr("selected", "selected");
                $("#item-game-name").selectpicker('refresh');
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function selectServer() {
            if ($("#item-game-name option").val() != null) {
                $("#game-server option").remove();
            }
            itemGameName = $("#item-game-name option:selected").val();

            if (itemGameName == "") {
                renderServerSelect({"category2":[]});
                return false;
            }

            $.ajax({
                method: "GET",
                url: "/v1/categories/" + itemGameName
            }).done(function (success) {
                //renderServerSelect(success.data);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function renderServerSelect(data) {
            var strDOM = '<option value="">선택하세요</option>';

            for (var i = 0; i < data.category2.length; i++) {
                strDOM += '<option value="' + data.category2[i] + '">' + data.category2[i] + '</option>'
            }
            $("#game-server").append(strDOM);
            $("#game-server").selectpicker('refresh');
        }

        function fileUploadAction() {
            console.log("fileUploadAction");
            $("#input_imgs").trigger('click');
        }

        function handleImgFileSelect(e) {
            var $spinner = $("#ajaxSpiner");
            $spinner.show(); // spinner
            var pos = $("#spinnerTarget").offset().top - 100;
            $("html, body").animate({
                "scrollTop":pos
            },0);

            // 이미지 정보들을 초기화
            sel_files = [];
            $(".imgs_wrap").empty();
    
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
    
            if(filesArr.length > 5){
                alert('이미지 업로드는 5개까지 가능합니다.');
                $spinner.hide(); // spinner
                return;
            }
    
            var index = 0;
            filesArr.forEach(function(f, idx) {
                if(!f.type.match("image.*")) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    $spinner.hide(); // spinner
                    return;
                }

                var reader = new FileReader();
                var image  = new Image();
    
                reader.readAsDataURL(f);
                reader.onload = function(_file) {
                    image.src    = _file.target.result;
                    image.onload = function() {
                        var w = this.width,
                            h = this.height,
                            t = f.type,                           // ext only: // file.type.split('/')[1],
                            n = f.name,
                            s = ~~(f.size / 1024) + 'KB';

                        var fileType = f.type;
                        var fileExte = f.name.split(".")[1];
                        var resultImg = loadImage(
                            _file.target.result, //fileOrBlobOrUrl,
                            function (img, data) {
                                console.log("data: ", img, data); // requires exif extension
                                
                                // 이미지 업로드 실행
                                img.toBlob(function(blob){
                                    var createdFile = new File([blob], "img_id_"+index+"."+fileExte, {type: fileType});
                                    
                                    sel_files.push({
                                        "name": "img_id_"+index,
                                        "value": createdFile
                                    });
                                    
                                   //console.log(createdFile)
                                });
       
                                var thumnail = new Image();
                                    thumnail.id = "pic"
                                    thumnail.src = img.toDataURL();

                                // 풀이미지 썸네일 로직 추가
                                if(idx === 0) {
                                    $("#fullImg").empty().append(thumnail);
                                }

                                var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                                    html += '<div class="img_view_area">';
                                    html += "<img src=\"" + img.toDataURL() + "\" data-file='"+f.name+"'>";
                                    html += '</div>';
                                    html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\"></a>";
                                    html += '</div>';
                                                        
                                $(".imgs_wrap").append(html);
                                
                            },
                            { maxWidth: 900, orientation: true }
                        );
                    
                        console.log("resultImg:", resultImg)

                        index++;

                        if(filesArr.length === index) {
                            $spinner.hide(); // spinner
                        }
                    }
                }

            });

            //console.log(filesArr[0])
        }

        function handleImgFileSelectForIE(e) {
    
            // 이미지 정보들을 초기화
            sel_files = [];
            $(".imgs_wrap").empty();
    
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
    
            if(filesArr.length > 5){
                alert('이미지 업로드는 5개까지 가능합니다.');
                return;
            }
    
            var index = 0;
            filesArr.forEach(function(f) {
                if(!f.type.match("image.*")) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    return;
                }
    
                var reader = new FileReader();
                var image  = new Image();
    
                reader.readAsDataURL(f);
                reader.onload = function(_file) {
                    image.src    = _file.target.result;
                    image.onload = function() {
                        var w = this.width,
                            h = this.height,
                            t = f.type,                           // ext only: // file.type.split('/')[1],
                            n = f.name,
                            s = ~~(f.size / 1024) + 'KB';
    
                        //파일 길이, 높이 체크
                        // if(w > 300 || h > 500) {
                        //     alert('300x500 이하의 이미지만 업로드가 가능합니다');
                        //     return;
                        // }
    
                        sel_files.push({
                            "name": "img_id_"+index,
                            "value": f
                        });
    
                        //var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\" id=\"img_id_"+index+"\"><img src=\"" + _file.target.result + "\" data-file='"+f.name+"' class='selProductFile' title='Click to remove'></a>";
                        
                        var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                            html += '<div class="img_view_area">';
                            html += "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>";
                            html += '</div>';
                            html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\"></a>";
                            html += '</div>';
                                                
                        $(".imgs_wrap").append(html);

                        // 풀이미지 썸네일 로직 추가
                        if(index === 0) {
                            var img1th = "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>"
                            $("#fullImg").html(img1th);
                        }

                        index++;
                    }
                }

            });

            //console.log(filesArr[0])
        }
   
        function deleteImageAction(index) {
            console.log("index : "+index);
            var findIndex = -1;
            for (var i = 0; i < sel_files.length; ++i) {
                if(sel_files[i].name == index) {
                    findIndex = i;
                }
            }
    
            if(findIndex > -1) {
                sel_files.splice(findIndex, 1);
            }
    
            $('#' + index).remove();

            console.log("sel length : ",sel_files);

            // 풀이미지 썸네일 로직 추가
            var img1th = $(".imgs_wrap > .thumbnail_box:eq(0) img").clone();
            $("#fullImg").html(img1th)
        }

        function submit() {
            var country = "<%= country %>";
            if ($("#item-game-name option:selected").val() == "") {
                alert('카테코리를 선택하세요.');
                return false;
            } else if ($("[name=item_type]:checked").val() == "") {
                alert('상품유형을 선택하세요.');
                return false;
            } else if ($("#title").val() == "") {
                alert('거래제목을 입력하세요.');
                return false;
            } else if ($("#price").val() == "" || $("#price").val() == "0" || parseFloat($("#price").val()) <= 0) {
                alert('거래 가격을 입력하세요.');
                return false;
            } else if (country == "KR" && ($("#point").val() == "" || $("#point").val() == "0" || parseFloat($("#point").val()) <= 0)) {
                alert('거래 가격(Point)을 입력하세요.');
                return false;
            } else if ($("#desc").val() == "") {
                alert('상세 정보를 입력하세요.');
                return false;
            } else if (country == "CN" && $("#region1").val() == "") {
                alert('지역 1 입력');
                return false;
            } 

            var data = {
                "userTag": "<%= userTag %>",
                "delivery_type": $("[name=item_type]:checked").val(),
                "category1": $("#item-game-name option:selected").val(),
                //"category2": $("#game-server option:selected").val(),
                "category2": "기타",
                "title": $("#title").val(),
                "desc": $("#desc").val(),
                "count": 1
                // "item_tag": $("#keywords").val(),
            };
            if ("<%= useBlockchain %>" == "Y") {
                data["cryptoCurrencyCode"] = $("#cryptoCurrencyCode").val();
                data["price"] = $("#price").val();
            } else {
                //data["price"] = 0;
            }
            
            if ("<%= usePoint %>" == "Y") {
                data["currency"]="POINT";
                data["point"]=$("#point").val();
            }else{
                // data["currency"]="POINT";
                // data["point"]=0;
            }

            if(country=="CN"){
                data["china_region1"]=$("#region1").val();
                //data["china_region2"]=$("#region2").val();
            }

            console.log(data);
            // console.log($("#ex_filename")[0].files[0]);

            $.ajax({
                method: "PUT",
                url: "/v1/items/" + itemId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    $("#btnSubmit").attr('disabled', true);
                }
            }).done(function (success) {
                // console.log(success);
                if(sel_files.length == 0) {
                    location.replace('/etc-sells/detail/' + itemId);
                } else {
                    submitAction(itemId);
                }
            }).fail(function (fail) {
                $('#btnSubmit').attr('disabled', false);
            })
        }
    
        function submitAction(id) {
            console.log("업로드 파일 갯수 : "+sel_files.length);
            var images = new FormData();
    
            for(var i=0, len=sel_files.length; i<len; i++) {
                var name = "image";
                images.append(name, sel_files[i].value);
            }
            console.log(images);
            //ajax 처리
            $.ajax({
                method: "POST",
                url: "/v1/items/"+id+"/images",
                processData: false,
                contentType: false,
                data: images
            }).done(function (success) {
                console.log(success);
                location.href = '/etc-sells/detail/' + itemId;
            }).fail(function (fail) {
                console.log('실패',fail);
            })
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        