<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userId = "<%= userId %>";
        var authPhone = "<%= authPhone %>";
        var username;
        var userTag;
        var phone;
        var birth;
        var sex;
        var commId;
        var foreigner;
        var email;
        var coinId;
        var checkEmailYn = true;
        var bitberry_token;
        var total_mach = 0;
        
        $(document).ready(function() {
            loadData();

            $('#email').on('keyup',function(){
                if(email == $('#email').val()) {
                    checkEmailYn = true;
                } else {
                    checkEmailYn = false;
                }
            });

            $("#authPhone").on('click', function() {
                fnAuthPhone();
            });

            $("#checkEmail").on('click', function() {
                checkEmail();
            });

            $("#modifyUser").on('click', function() {
                modifyUser();
            });

            $("#withdraw").on('click', function() {
                //alert("1:1문의에 회원탈퇴희망 게시글을 작성해주세요.")
                //location.href="/supports/private/register";
                withdraw();
            });
        });

        function loadData() {
            $.ajax({
                method: "GET",
                url: "/v1/users/" + userId
            }).done(function (success) {
                //console.log(success);
                username = success.data.userName;
                userTag = success.data.userTag;
                phone = success.data.phone;
                email = success.data.email;
                coinId = success.data.coinId;
                bitberry_token = success.data.bitberry_token;

                $("#username").text(username);
                $("#userTag").text(userTag);
                $("#phone").text(phone);
                $("#email").val(email);
                getCoin();
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getCoin() {
            $.ajax({
                method: "GET",
                url: "/v1/coins/" + coinId
            }).done(function (success) {
                //console.log(success);
                total_mach = success.data.total_mach;
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function fnAuthPhone(){
            popup = window.open("/modify/auth/start","PAY_WIN","width=480,height=570,toolbar=no,menubar=no,scrollbars=no,resizable=yes");
            var interval = window.setInterval(function() {
                try {
                    //console.log("popup : ", popup);
                    if (popup == null || popup.closed) {
                        window.clearInterval(interval);
                        
                        $.ajax({
                            type: 'GET',
                            url: '/getPhone',
                        }).done(function (success) {                
                            //console.log("success : ", success);
                            if(success.data.authPhone) {
                                authPhone = success.data.authPhone;
                                username = success.data.userName;
                                birth = success.data.birth;
                                sex = success.data.sex;
                                commId = success.data.commId;
                                foreigner = success.data.foreigner;
                                $("#username").text(username);
                                $("#phone").text(success.data.phone);
                            }
                        }).fail(function (fail) {
                            console.log(fail);
                        });
                    }
                }
                catch (e) {
                }
            }, 2000);
        }

        function checkEmail() {
            if($("#email").val() == "") {
                alert("이메일을 입력하세요.");
                return;
            }

            $.ajax({
                type: 'GET',
                url: '/v1/users/email/' + $("#email").val(),
            }).done(function (success) {                
                //console.log("success : ", success);
                checkEmailYn = true;
                alert('사용 가능한 이메일입니다.');
            }).fail(function (fail) {
                if (fail.status == 403) {
                    alert('이미 사용중인 이메일입니다.');
                } else {
                    console.log(fail);
                }
            });
        }

        function modifyUser() {
            
            var result = validUser();
            if(!result) {
                return;
            }

            var userReq = {};

            if(authPhone != "<%= authPhone %>") {
                userReq = {
                    "agreements": {"authPhone": authPhone}
                };               
                userReq["phone"] = $("#phone").text();
                userReq["userName"] = username;
                userReq["birth"] = birth;
                userReq["sex"] = sex;
                userReq["commId"] = commId;
                userReq["foreigner"] = foreigner;                
            }
            
            if (email != $("#email").val()) {
                userReq["email"] = $("#email").val();                
            }

            if ($("#password").val().length > 5) {
                userReq["password"] = $("#password").val();
            }

            if (phone != $("#phone").text()) {
                userReq["phone"] = $("#phone").text();              
            }

            if (Object.keys(userReq).length > 0) {
                $.ajax({
                    method: "PUT",
                    url: "/v1/users/" + userId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(userReq)
                }).done(function (success) {
                    //console.log("user change : ", success);
                    location.href = '/myPages/user/checkPassword';
                }).fail(function (fail) {
                    console.log(fail);
                })
            } else {
                alert("변경할 내용이 없습니다.");
            }
        }

        function validUser() {
            var emailChk = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        
            if($("#password").val() != "" && $("#passwordConfirm").val() == "") {
                alert("입력하신 패스워드를 다시 입력하세요.");
                return false;
            } else if($("#password").val() != $("#passwordConfirm").val()) {
                alert("패스워드가 일치하지 않습니다.\n다시 입력하세요.");
                return false;
            } else if(!checkEmailYn) {
                alert("이메일을 중복확인 하세요.");
                return false;
            } else if (emailChk.test($("#email").val()) == false) {
                alert("이메일을 확인 하세요.");
                return false;
            } 

            return true;
        }
        
        function withdraw() {
            // if(total_mach > 0) {
            //     alert('보유 중인 MACH코인이 존재합니다. MACH 코인을 출금하세요.');
            //     location.href = '/myPages/wallet/withdraw';
            //     return;
            // }
        
            var confirmYn = confirm('정말로 탈퇴하시겠습니까?');
            if(confirmYn) {
                if(bitberry_token != undefined && bitberry_token != "") {
                    $.ajax({
                        method: "POST",
                        url: "/v1/coins/disconnect"
                    }).done(function (success) {
                        //console.log(success.data);
                        deleteUser();
                    }).fail(function (fail) {
                        console.log(fail)
                    });
                } else {
                    deleteUser();
                }
            }
        }
        
        function deleteUser() {
            $.ajax({
                method: "DELETE",
                url: "/v1/users/" + userId
            }).done(function (success) {
                location.href = "/logout"
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>

  
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>

                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">회원정보관리 <span>회원정보수정</span></h1>
                        <hr class="hr_mypage">
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup class="colgroup_myinfo">
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">이름</th>
                                        <td><em id="username"></em></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">아이디</th>
                                        <td><em id="userTag"></em></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">비밀번호</th>
                                        <td><input type="password" autocomplete="new-password" class="form-control" id="password" placeholder="새로운 비밀번호 입력 *8~16자의 영문+숫자 or 특수문자 사용"></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">비밀번호 확인</th>
                                        <td><input type="password" autocomplete="new-password" class="form-control" id="passwordConfirm" placeholder=""></td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">연락처(휴대폰)</th>
                                        <td>
                                            <em class="w100p-120px" id="phone"></em>
                                            <br class="mob_br">
                                            <button class="btn btn-default" id="authPhone">연락처 변경</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">이메일</th>
                                        <td>
                                            <div class="w100p-120px">
                                                <input type="text" class="form-control" id="email" placeholder="example@mymach.asia">
                                            </div>
                                            <br class="mob_br">
                                            <button class="btn btn-default" id="checkEmail">중복확인</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn_align_c">
                            <button class="btn btn_in_view1" id="modifyUser">변경하기</button>
                        </div>

                        <div class="deactivate_member">
                            <hr class="hr_mypage">
                            <h3 class="fcgr1">회원탈퇴 </h3>
                            <div class="tar">
                                <button class="btn btn-default" id="withdraw">회원탈퇴</button>
                            </div>
                            <ul class="fcgr1">
                                <li>※ 회원탈퇴 시 마켓마하의 회원정보 / 거래내역 / VTR기록이 삭제되고 모든 혜택이 소멸합니다.</li>
                                <li>※ 회원탈퇴 시 나의 지갑 잔액에 존재하는 코인도 소멸됩니다. 비트베리에 출금 처리 후 회원탈퇴 하시기 바랍니다.</li>
                                <li>※ 회원탈퇴 후 재가입시 기존 회원정보는 복구되지 않습니다.</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>                