<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userId = "<%= userId %>";
        var authPhone = "<%= authPhone %>";
        var username;
        var userTag;
        var phone;
        var birth;
        var sex;
        var commId;
        var foreigner;
        var email;
        var coinId;
        var checkEmailYn = true;
        var bitberry_token;
        var total_mach = 0;
        var currencyCode="";
        var checkAuthNoYn = true;
        
        $(document).ready(function() {
            loadData();

            $('#email').on('keyup',function(){
                if(email == $('#email').val()) {
                    checkEmailYn = true;
                } else {
                    checkEmailYn = false;
                }
            });

            $("#authPhone").on('click', function() {
                //fnAuthPhone();
            });

            $("#checkEmail").on('click', function() {
                checkEmail();
            });

            $("#modifyUser").on('click', function() {
                modifyUser();
            });

            $("#withdraw").on('click', function() {
                //alert("1:1문의에 회원탈퇴희망 게시글을 작성해주세요.")
                //location.href="/supports/private/register";
                withdraw();
            });

            $("#phone").on('keyup', function() {
                if(window.event.keyCode==13){
                    checkAuthNoYn = false;
                    sendAuthNo();
                }
            })

            $("#sendAuthNo").on('click', function() {
                checkAuthNoYn = false;
                if($(this).text() == "인증코드 재전송" ) {
                    alert("인증코드가 재전송 되었습니다.");
                }
                sendAuthNo();
            });

            // $("#reSendAuthNo").on('click', function() {
            //     sendAuthNo();
            //     alert("인증번호를 재발송 하였습니다.");
            // });

            $("#checkAuthNo").on('click', function() {
                checkAuthNo();
            });

            $('.auth_no_class').hide();
        });

        function loadData() {
            $.ajax({
                method: "GET",
                url: "/v1/users/" + userId
            }).done(function (success) {
                //console.log(success);
                username = success.data.userName;
                userTag = success.data.userTag;
                phone = success.data.phone;
                email = success.data.email;
                coinId = success.data.coinId;
                bitberry_token = success.data.bitberry_token;
                currencyCode = success.data.countryCode;

                $("#username").text(username);
                $("#userTag").text(userTag);
                $("#phone").val(phone);
                $("#email").val(email);
                
                getCoin();
                loadCurrencyList();
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getCoin() {
            $.ajax({
                method: "GET",
                url: "/v1/coins/" + coinId
            }).done(function (success) {
                //console.log(success);
                total_mach = success.data.total_mach;
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function fnAuthPhone(){
            popup = window.open("/modify/auth/start","PAY_WIN","width=480,height=570,toolbar=no,menubar=no,scrollbars=no,resizable=yes");
            var interval = window.setInterval(function() {
                try {
                    //console.log("popup : ", popup);
                    if (popup == null || popup.closed) {
                        window.clearInterval(interval);
                        
                        $.ajax({
                            type: 'GET',
                            url: '/getPhone',
                        }).done(function (success) {                
                            //console.log("success : ", success);
                            if(success.data.authPhone) {
                                authPhone = success.data.authPhone;
                                username = success.data.userName;
                                birth = success.data.birth;
                                sex = success.data.sex;
                                commId = success.data.commId;
                                foreigner = success.data.foreigner;
                                $("#username").text(username);
                                $("#phone").text(success.data.phone);
                            }
                        }).fail(function (fail) {
                            console.log(fail);
                        });
                    }
                }
                catch (e) {
                }
            }, 2000);
        }

        function checkEmail() {
            if($("#email").val() == "") {
                alert("이메일을 입력하세요.");
                return;
            }

            $.ajax({
                type: 'GET',
                url: '/v1/users/email/' + $("#email").val(),
            }).done(function (success) {                
                //console.log("success : ", success);
                checkEmailYn = true;
                alert('사용 가능한 이메일입니다.');
            }).fail(function (fail) {
                if (fail.status == 403) {
                    alert('이미 사용중인 이메일입니다.');
                } else {
                    console.log(fail);
                }
            });
        }

        function modifyUser() {
            
            var result = validUser();
            if(!result) {
                return;
            }

            var userReq = {};

            if(authPhone != "<%= authPhone %>") {
                userReq = {
                    "agreements": {"authPhone": authPhone}
                };               
                userReq["phone"] = $("#phone").val();
                userReq["userName"] = username;
                userReq["birth"] = birth;
                userReq["sex"] = sex;
                userReq["commId"] = commId;
                userReq["foreigner"] = foreigner;                
            }
            
            if (email != $("#email").val()) {
                userReq["email"] = $("#email").val();                
            }

            if ($("#password").val().length > 5) {
                userReq["password"] = $("#password").val();
            }

            if (phone != $("#phone").val()) {
                userReq["phone"] = $("#phone").val();              
            }

            if (Object.keys(userReq).length > 0) {
                $.ajax({
                    method: "PUT",
                    url: "/v1/users/" + userId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(userReq)
                }).done(function (success) {
                    //console.log("user change : ", success);
                    location.href = '/myPages/user/checkPassword';
                }).fail(function (fail) {
                    console.log(fail);
                })
            } else {
                alert("변경할 내용이 없습니다.");
            }
        }

        function validUser() {
            var emailChk = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        
            if($("#password").val() != "" && $("#passwordConfirm").val() == "") {
                alert("입력하신 패스워드를 다시 입력하세요.");
                return false;
            } else if($("#password").val() != $("#passwordConfirm").val()) {
                alert("패스워드가 일치하지 않습니다.\n다시 입력하세요.");
                return false;
            } else if(!checkEmailYn) {
                alert("이메일을 중복확인 하세요.");
                return false;
            } else if (emailChk.test($("#email").val()) == false) {
                alert("이메일을 확인 하세요.");
                return false;
            } else if(checkAuthNoYn == false) {
                alert("휴대폰을 인증 하세요.");
                return false;
            }

            return true;
        }
        
        function withdraw() {
            // if(total_mach > 0) {
            //     alert('보유 중인 MACH코인이 존재합니다. MACH 코인을 출금하세요.');
            //     location.href = '/myPages/wallet/withdraw';
            //     return;
            // }
        
            var confirmYn = confirm('회원탈퇴하시면 지갑 잔액 및 포인트 잔액을 포함한 모든 정보가 삭제되고, 복구되지 않습니다. \n정말로 탈퇴하시겠습니까?');
            if(confirmYn) {
                if(bitberry_token != undefined && bitberry_token != "") {
                    $.ajax({
                        method: "POST",
                        url: "/v1/coins/disconnect"
                    }).done(function (success) {
                        //console.log(success.data);
                        deleteUser();
                    }).fail(function (fail) {
                        console.log(fail)
                    });
                } else {
                    deleteUser();
                }
            }
        }
        
        function deleteUser() {
            $.ajax({
                method: "DELETE",
                url: "/v1/users/" + userId
            }).done(function (success) {
                location.href = "/logout"
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function loadCurrencyList() {
            $.ajax({
                method: "GET",
                url: "/v1/countryCodes"
            }).done(function (success) {
                var strDOM = '<option value="">Choice</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].country_code + '">' + success.data[i].country_ko + '('+ success.data[i].country_code +')' + '</option>'
                }

                $("#currencyType").html(strDOM);
                $("#currencyType").selectpicker('refresh');
                $("#currencyType").val(currencyCode).attr("selected", "selected");
                $("#currencyType").selectpicker('refresh');
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function sendAuthNo() {
            if($("#currencyType").val() == "") {
                alert("거래국가를 선택하세요.");
                return;
            } else if($("#phone").val() == "") {
                alert("전화번호를 입력하세요.");
                return;
            } else if($("#phone").val() == phone) {
                alert("전화번호가 변경되지 않았습니다.");
                return;
            }
            $(".btn.dropdown-toggle.btn-light").attr("disabled", "disabled");
            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkPhone",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                $('.auth_no_class').show();
                $('#sendAuthNo').text("인증코드 재전송");
                $('#phone').prop('readonly', true);
                $('#currencyType').prop('readonly', true);
            }).fail(function (fail) {
                console.log(fail);
                alert("전송중 문제가 발생하였습니다. 전화번호가 올바르게 입력되었는지 확인하시기 바랍니다.\n 문제가 계속 발생될 경우 관리자에게 문의하세요.");
            })
        }

        function checkAuthNo() {
            if($("#authNo").val() == "") {
                alert("인증번호를 입력하세요.");
                return;
            } 

            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val(),
                'authNo': $("#authNo").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkAuthNo",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                if(success.data.successYn == "fail") {
                    alert("인증번호가 유효하지 않습니다. 인증번호를 확인하세요.");
                    return;
                } else {
                    alert("휴대폰 인증이 완료되었습니다.");
                    checkAuthNoYn = true;
                    $("#checkAuthNo").hide();
                    $("#sendAuthNo").attr("disabled", "disabled");
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }
    </script>

  
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>

                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">회원정보관리 <span>회원정보수정</span></h1>
                        <hr class="hr_mypage">
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup class="colgroup_myinfo">
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">이름</th>
                                        <td><em id="username"></em></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">아이디</th>
                                        <td><em id="userTag"></em></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">비밀번호</th>
                                        <td><input type="password" autocomplete="new-password" class="form-control" id="password" placeholder="새로운 비밀번호 입력 *8~16자의 영문+숫자 or 특수문자 사용"></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">비밀번호 확인</th>
                                        <td><input type="password" autocomplete="new-password" class="form-control" id="passwordConfirm" placeholder=""></td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">연락처(휴대폰)</th>
                                        <!-- <td>
                                            <em class="w100p-120px" id="phone"></em>
                                            <br class="mob_br">
                                            <button class="btn btn-default" id="authPhone">연락처 변경</button>
                                        </td> -->
                                        <td class="set_margin">
                                            <select id="currencyType" class="selectpicker" data-size="5" ata-live-search="true"></select>
                                            <input type="text" class="form-control w60p" id="phone" placeholder="전화 번호 입력" maxlength="24"> 
                                            <br class="mob_br">
                                            <button class="btn btn-default" id="sendAuthNo">연락처 변경</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="fc2"></th>
                                        <td class="auth_no_class">
                                            <input type="text" class="form-control" id="authNo" placeholder="인증번호 입력" maxlength="24">
                                            <br class="mob_br">
                                            <button class="btn btn_in_view1" id="checkAuthNo">휴대폰 인증</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">이메일</th>
                                        <td class="set_margin">
                                            <div class="w100p-120px">
                                                <input type="text" class="form-control" id="email" placeholder="example@mymach.asia">
                                            </div>
                                            <br class="mob_br">
                                            <button class="btn btn-default" id="checkEmail">중복확인</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn_align_c">
                            <button class="btn btn_in_view1" id="modifyUser">변경하기</button>
                        </div>

                        <div class="deactivate_member">
                            <hr class="hr_mypage">
                            <h3 class="fcgr1">회원탈퇴 </h3>
                            <div class="tar">
                                <button class="btn btn-default" id="withdraw">회원탈퇴</button>
                            </div>
                            <ul class="fcgr1">
                                <li>※ 회원탈퇴 시 마켓마하의 회원정보/거래정보/지갑잔액/포인트잔액 등 모든 정보가 삭제되고 모든 혜택이 소멸합니다.</li>
                                <li>※ 회원탈퇴 후 재가입시 기존 회원정보는 복구되지 않습니다.</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>                