<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userId = "<%=userId%>";
        var coinId = "<%=coinId%>";
        var bitberry_token = "<%=bitberry_token%>";

        $(document).ready(function() {
            if(bitberry_token != undefined && bitberry_token != "") {
                //$('.bitberry_switch').html('<img class="" src="/static/img/sub/logo_bitberry.png" alt=""><p>ON</p>');
                $('.bitberry_grey_box').html('<img class="" src="/static/img/symbol/logo_bitberry.png" alt="bitberry"><em>ON</em>');  
                $('.m_link_connect').addClass("bgc1").text("비트베리 연결 해제");      
            }

            $('#deposit').on('click', function(){
                location.href = '/mypages/wallet/deposit';
            });

            $('#withdraw').on('click', function(){
                location.href = '/mypages/wallet/withdraw';
            });

            getCoin();
            getTotalEscrow();
            getCoinHistory('event');
        });

        function getCoin() {
            $.ajax({
                method: "GET",
                url: "/v1/coins/" + coinId
            }).done(function (success) {
                //$("#mach").html(numberWithCommas(success.data.total_mach) + "<span>MACH</span>");
                $("#machTotal").text(success.data.total_mach == undefined ? 0 : success.data.total_mach);
                $("#btcTotal").text(success.data.total_btc == undefined ? 0 : success.data.total_btc);
                $("#ethTotal").text(success.data.total_ether == undefined ? 0 : success.data.total_ether);
                $("#ontTotal").text(success.data.total_ont == undefined ? 0 : success.data.total_ont);
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getTotalEscrow() {
            $.ajax({
                method: "GET",
                url: "/v1/escrows/" + userId + "/total_escrow/coin"
            }).done(function (success) {
                $("#machSellBtc").text(success.data.sell_total_escrow_btc);
                $("#machBuyBtc").text(success.data.buy_total_escrow_btc);
                $("#machSellEth").text(success.data.sell_total_escrow_eth);
                $("#machBuyEth").text(success.data.buy_total_escrow_eth);
                $("#machSellMach").text(success.data.sell_total_escrow_mach);
                $("#machBuyMach").text(success.data.buy_total_escrow_mach);
                $("#machSellOnt").text(success.data.sell_total_escrow_ont);
                $("#machBuyOnt").text(success.data.buy_total_escrow_ont);
                //console.log(success.data);
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getCoinHistory(trade_type) {
            $.ajax({
                method: "GET",
                url: "/v1/coins/historys/" + coinId + "/list?trade_type=" + trade_type                
            }).done(function (success) {
                var col = '<col class="col5_1"><col class="col5_2"><col class="col5_3"><col class="col5_4"><col class="col5_5">';
                $('.colgroup_walletinfo').html(col);
              
                //console.log(success.data);
                //console.log(success.data);
                var coinHistorys = success.data;
                var resultColumn = "<tr>" + 
                                "<th>지갑</th>" + 
                                "<th>입금내용</th>" + 
                                "<th>내역</th>" + 
                                "<th>처리상태</th>" + 
                                "<th>일자</th>" + 
                            "</tr>";
                if(trade_type == "withdraw") {
                    resultColumn = "<tr>" + 
                                "<th>지갑</th>" + 
                                "<th>출금내용</th>" + 
                                "<th>내역</th>" + 
                                "<th>처리상태</th>" + 
                                "<th>일자</th>" + 
                            "</tr>";
                }
                var result = ""
                if(coinHistorys.length == 0) {
                    result = "<tr><td colspan='5'>내역이 존재하지 않습니다.</td></tr>";
                }

                for(var i=0;i<coinHistorys.length;i++) {
                    var extType = coinHistorys[i].extType;
                    var category = getCoinType(coinHistorys[i].category, coinHistorys[i].memo);
                    var amount = numberWithCommas((coinHistorys[i].price == undefined ? coinHistorys[i].amount : coinHistorys[i].price));
                    var currency_code = coinHistorys[i].currencyCode;
                    // var mach = numberWithCommas(coinHistorys[i].mach);
                    var status = coinHistorys[i].status;
                    var regDate = coinHistorys[i].regDate.substr(2);

                    result += '<tr>';
                        if(extType == "bitberry") {
                            result += '<td><img src="/static/img/sub/logo_bitberry.png" alt="bitberry"></td>';
                            result += '<td>'+category.text+'</td>';
                            result +=   '<td class="td_exchange_coin">' + 
                                        '<em class="fc2">'+amount+'<span>'+currency_code+'</span></em>' + 
                                    '</td>';
                        } else {
                            result += '<td><img src="/static/img/symbol/symbol_mach_wallet.png" alt="mach wallet"></td>';
                            result += '<td>'+category.text+'</td>';
                            result +=   '<td class="td_exchange_coin">' + 
                                        '<em class="fc2">'+amount+'<span>'+currency_code+'</span></em>' + 
                                    '</td>';
                        }
                        result +=   '<td>'+status+'</td>' + 
                                    '<td>'+regDate+'</td>' + 
                                '</tr>';
                }

                $('#wallet_historys_column').html(resultColumn);
                $('#wallet_historys').html(result);

                if(trade_type == 'event') {
                    $('#mach_buy').addClass('on');
                    $('#mach_sell').removeClass('on');
                    $('#mach_escrow').removeClass('on');
                } else {
                    $('#mach_buy').removeClass('on');
                    $('#mach_sell').addClass('on');
                    $('#mach_escrow').removeClass('on');
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getEscrow() {
            $.ajax({
                method: "GET",
                url: "/v1/escrows/" + userId + "/list/coin"
            }).done(function (success) {
                var col = '<col class="col4_1"><col class="col4_2"><col class="col4_3"><col class="col4_4">';
                $('.colgroup_walletinfo').html(col);

                var escrows = success.data.list;
                var resultColumn = "<tr>" + 
                                "<th>거래</th>" + 
                                "<th>내역</th>" + 
                                "<th>처리상태</th>" + 
                                "<th>일자</th>" + 
                            "</tr>";
                var result = "";
                if(escrows.length == 0) {
                    result = "<tr><td colspan='4'>내역이 존재하지 않습니다.</td></tr>";
                }

                for(var i=0;i<escrows.length;i++) {
                    var amount = numberWithCommas(escrows[i].price == undefined ? escrows[i].point : escrows[i].price);
                    var currency_code = escrows[i].price == undefined ? "Point" : escrows[i].cryptoCurrencyCode;
                    var type = getEscrowType(escrows[i].type);
                    var regDate = escrows[i].regDate.substr(2);

                    result += '<tr>' + 
                                    '<td>마켓마하<br>거래</td>' +                                     
                                    '<td class="td_exchange_coin">' + 
                                        '<em class="fc2">'+amount+'<span>'+currency_code+'</span></em>' + 
                                    '</td>' + 
                                    '<td>'+type.text+'</td>' + 
                                    '<td>'+regDate+'</td>' + 
                                '</tr>';
                }

                $('#wallet_historys_column').html(resultColumn);
                $('#wallet_historys').html(result);
              
                $('#mach_sell').removeClass('on');
                $('#mach_buy').removeClass('on');
                $('#mach_escrow').addClass('on');
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">

                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">지갑관리 <span>나의 지갑 정보</span></h1>
                            <!-- <div class="bitberry_switch_box">
                                <div class="bitberry_switch">
                                    <%# 비활성화 상태 이미지(회색)는 img_grey 클래스 필요 %>
                                    <a href="/myPages/wallet/connect">
                                        <img class="img_grey" src="/static/img/sub/logo_bitberry.png" alt="">
                                        <p>OFF</p>
                                    </a>
                                </div>
                                <em>나의지갑 잔액</em>
                                <p class="fc3" id="mach">100 <span>MACH</span></p>
                            </div> -->
                       
                            
                        <div class="bitberry_grey_box">
                            <img class="img_grey" src="/static/img/symbol/logo_bitberry_off.png" alt="bitberry"><em>OFF</em>
                        </div>
                        <a href="/myPages/wallet/connect" class="btn btn_in_view2 m_link_connect">비트베리 연결</a>
                        <h2 class="tit_mypage dot_tit">입출금현황 <span class="escrow_side_tit">* <img src="/static/img/symbol/symbol_escrow_sm.png" alt=""> : 에스크로</span></h2>
                        <div class="table_wrap table_total_escrow_wrap">
                            <table class="table_total_escrow">
                                <colgroup class="colgroup_total_escorw">
                                    <col class="col5_1">
                                    <col class="col5_2">
                                    <col class="col5_3">
                                    <col class="col5_4">
                                    <col class="col5_5">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>코인</th>
                                        <th><img src="/static/img/symbol/symbol_mach.png" alt="MACH" title="마하코인"></th>
                                        <th><img src="/static/img/symbol/symbol_bitcoin.png" alt="비트코인" title="비트코인"></th>
                                        <th><img src="/static/img/symbol/symbol_ethereum.png" alt="이더리움" title="이더리움"></th>
                                        <th>ONT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="first_tr">
                                        <th>나의지갑잔액</th>
                                        <td id="machTotal"></td>
                                        <td id="btcTotal"></td>
                                        <td id="ethTotal"></td>
                                        <td id="ontTotal"></td>
                                    </tr>
                                    <tr>
                                        <th><img src="/static/img/symbol/symbol_escrow_sm.png" alt=""> 입금예정</th>
                                        <td id="machSellMach"></td>
                                        <td id="machSellBtc"></td>
                                        <td id="machSellEth"></td>
                                        <td id="machSellOnt"></td>
                                    </tr>
                                    <tr>
                                        <th><img src="/static/img/symbol/symbol_escrow_sm.png" alt=""> 출금액</th>
                                        <td id="machBuyMach"></td>
                                        <td id="machBuyBtc"></td>
                                        <td id="machBuyEth"></td>
                                        <td id="machBuyOnt"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="btn_align_c mb50">
                            <button class="btn bgc1" id="deposit">Coin 입금</button>
                            <button class="btn bgc3" id="withdraw">Coin 출금</button>
                        </div>

                        <ul class="tab_board ul_li3n cf">
                            <li id="mach_buy" class="on"><a href="javascript:getCoinHistory('event');">입금 내역</a></li>
                            <li id="mach_sell"><a href="javascript:getCoinHistory('withdraw');">출금 내역</a></li>
                            <li id="mach_escrow"><a href="javascript:getEscrow();">에스크로 내역</a></li>
                        </ul>
                        <div class="table_wrap table-responsive">
                            <table class="table_wallet table">
                                <colgroup class="colgroup_walletinfo">
                                    <!-- <col class="col5_1">
                                    <col class="col5_2">
                                    <col class="col5_3">
                                    <col class="col5_4">
                                    <col class="col5_5"> -->
                                </colgroup>
                                <thead id="wallet_historys_column">
                                    <tr>
                                        <th>지갑</th>
                                        <th>처리내용</th>
                                        <th>내역</th>
                                        <th>처리상태</th>
                                        <th>일자</th>
                                    </tr>
                                </thead>
                                <tbody id="wallet_historys">
                                    
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <!--// sub content -->
            </div>    
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>