<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->
    <script>
    //document.querySelector("#btnInfoBox").click();
    </script>
    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- list page-->
            <section class="board_sec">
                <div class="board_tit cf">
                    <h1>BtoC<span>상세 물품</span></h1>
                    <!-- <button class="btn btn-success">판매등록</button> -->
                </div>

                <div class="item_images_area cf">
                    <div class="lft_img">
                        <img src="https://op-mach-bucket.s3.ap-northeast-2.amazonaws.com/items/1557983278435" alt="">
                    </div>
                    <div class="rgh_txt">
                        <h2 class="iia_title">BTS 핸드크림</h2>
                        <span class="iia_money">45000원</span>
                        <em class="iia_price">30MACH (35000Point)</em>
                        <em class="iia_delivery">무료배송</em>
                        <h3 class="iia_option">구매옵션</h3>

                        <div class="like_select_box">
                            <button id="" class="btn_slt"><em>선택</em><span>▼</span></button>
                            <div class="slt_sec">
                                <ul>
                                    <li>가영크림 10MACH (10000point) </li>
                                    <li>나영크림 10MACH (10000point) </li>
                                    <li>다영크림 10MACH (10000point) </li>
                                    <li>마영크림 10MACH (10000point) </li>
                                    <li>바영크림 10MACH (10000point) </li>
                                    <li>사영크림 10MACH (10000point) </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="item_select_area">
                    <h2>선택한 항목</h2>
                    <div class="selected_item">

                    </div>
                    <h2>주소</h2>
                    <input type="text" class="form-control" id="" placeholder="거래 제목 입력">
                </div>
                <div class="item_detail_area">
                    <img src="" alt="">
                </div>
            </section>
            <!--// list page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        