<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->
    <script>
    //document.querySelector("#btnInfoBox").click();
    </script>
    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- list page-->
            <section class="board_sec">
                <div class="board_tit cf">
                    <h1>BtoC<span>상세 물품</span></h1>
                    <!-- <button class="btn btn-success">판매등록</button> -->
                </div>

                <div class="item_images_area cf">
                    <div class="lft_img">
                        <img src="https://op-mach-bucket.s3.ap-northeast-2.amazonaws.com/items/1557983278435" alt="">
                    </div>
                    <div class="rgh_txt">
                        <h2 class="iia_title">BTS 핸드크림</h2>
                        <span class="iia_money">45000원</span>
                        <em class="iia_price">30MACH (35000Point)</em>
                        <em class="iia_delivery">무료배송</em>
                        <h3 class="iia_option">결제 수단 선택</h3>
                        <select id="paymentMethod">
                            <option value="">선택</option>
                            <option value="mach">MACH</option>
                            <option value="point">Point</option>
                        </select>
                        <h3 class="iia_option">구매옵션</h3>
                        <div class="like_select_box">
                            <button id="btnSelected" class="btn_slt"><em>선택</em><span>▼</span></button>
                            <div class="slt_sec">
                                <ul id="sltList">
                                    <li><span class="productName">가영크림</span> <span class="priceMach">1MACH</span><span class="pricePoint">11point</span></li>
                                    <li><span class="productName">나영크림</span> <span class="priceMach">2MACH</span><span class="pricePoint">22point</span></li>
                                    <li><span class="productName">다영크림</span> <span class="priceMach">3MACH</span><span class="pricePoint">33point</span></li>
                                    <li><span class="productName">마영크림</span> <span class="priceMach">4MACH</span><span class="pricePoint">44point</span></li>
                                    <li><span class="productName">바영크림</span> <span class="priceMach">5MACH</span><span class="pricePoint">55point</span></li>
                                    <li><span class="productName">사영크림</span> <span class="priceMach">6MACH</span><span class="pricePoint">66point</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="item_select_area">
                    <h2 class="">선택한 항목</h2>
                    <div class="selected_item">
                        <ul id="selectedList">
                            <li class="cf">
                                <span class="itemTitle item_title">
                                </span>
                                &nbsp;
                                <span class="itemPrice item_price">
                                </span>
                                <span class="item_calc">
                                    <button class="btn_calc" id="btnCalc">-</button>
                                    <input type="text" class="itemLength item_length" maxlength="3" value="0">
                                    <button class="btn_calc">+</button>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <h2 class="">주소</h2>
                    <input type="text" class="form-control" id="" placeholder="">
                    <div class="btn_buy_sec">
                        <button class="btn" id="">구매</button>
                    </div>
                </div>
                <div class="item_detail_area">
                    <img src="" alt="">
                </div>
            </section>
            <!--// list page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script>
    var opt = {btn:"btnSelected", ul:"sltList", selectedList: "selectedList"}
    _SelectUI.actSelectBox(opt, function(){});
    _SelectUI.numberUtil();
    </script>

    <% include ../include/footer.html %>
</div>
</body>        