<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li class="on"><a href="">거래안내</a></li>
                    <li><a href="">MACH 구매</a></li>
                    <li><a href="">안전거래 안내</a></li>
                    <li><a href="">기타</a></li>
                </ul>
            </div>

            <%#
            <section class="howto_sec">
                <div class="content_tab_depth2">
                    <ul class="cf">
                        <li class="on"><a href="">VTR 사용법</a></li>
                        <li><a href="">바로구매</a></li>
                    </ul>
                </div>
                <h1 class="tit_howto">VTR 사용법</h1>       
            </section> 
            %>

            <section class="howto_sec">
                <div class="content_tab_depth2">
                    <ul class="cf">
                        <li class="on"><a href="">지갑만들기</a></li>
                        <li><a href="">MACH 구매하기</a></li>
                        <li><a href="">MACH 입금하기</a></li>
                        <li><a href="">MACH 출금하기</a></li>
                    </ul>
                </div>
                <h1 class="tit_howto">지갑만들기</h1>       
            </section>  
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>