<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li><a href="/agreements/use">Terms of Service</a></li>
                    <li><a href="/agreements/private">Privacy Policy</a></li>
                    <li class="on"><a href="/agreements/marketing">Promotional Offers</a></li>
                </ul>
            </div>
            <section class="howto_sec">
                <h1 class="tit_howto">Promotional Offers</h1>
                <div class="legal_txt_wrap">
                    <textarea class="textarea_legal" rows="30" readonly="readonly">
                "Personal information acquired by the Korea Certification Services (hereinafter referred to as" the Company ") in connection with the provision and use of the Service of the Macha Exchange (hereinafter referred to as the" Service " Communications Business Act "and" Promotion of Information and Communication Network Utilization and Information Protection Act "and other related regulations.
                1. Personal information third party consent
                In connection with this service, I have read the agreement and agree to provide my personal information collected by the Company to a third party as follows.

                Supplied - KT M House
                Purpose - Mobile number
                Offer item
                Use in marketing advertising
                1) Provide personalized consultation and information on the development and improvement of the "Mach-an Exchange"
                2) Personalized advertisement / information transmission related to new service or event, third party goods or "Macha Exchange"

                Retention and use period
                - Until the separate consent is withdrawn.
                However, if it is necessary to preserve in accordance with the provisions of relevant laws and regulations, it shall be retained until the relevant period.

                ※ This agreement is a consent to collect / use personal information for the selective functioning of the "Macha Exchange". It is possible to use "Macha Exchange" even if you disagree.
                ※ General information related to personal information processing and personal information processing for collecting / using personal information according to laws, implementing contracts / promoting convenience, and general information related to personal information processing are subject to the personal information processing policy of "Macha Exchange".

                1. The "Macha Exchange" uses the personal information that the customer has agreed to collect and use, and through the various transmission media such as electronic transmission media (SMS / MMS / e-mail / App Push. Alternatively, you can send personalized advertising information for the service.
                2. If Customer wishes to withdraw this consent, Customer Center may request withdrawal of consent.
                    </textarea>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>