<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var popup;
        $(document).ready(function() {
            $('.menu_login').show();
            $('.menu_logout').hide();

            allAgree();

            $('#authPhone').on('click',function(){
                if (!$("input:checkbox[id=cbk1]").is(":checked") || !$("input:checkbox[id=cbk2]").is(":checked") || !$("input:checkbox[id=cbk3]").is(":checked")) {
                    alert('Please check Agree to Terms & Conditions of Use.');
                    return;
                }

                //휴대폰 본인 인증 잠시 hold
                //authPhone();

                sendAuthNo();
            });

        });

        function authPhone(){
            if (isPc()) {
                popup = window.open("/reg/auth/start","PAY_WIN","width=480,height=570,toolbar=no,menubar=no,scrollbars=no,resizable=yes");
                var interval = window.setInterval(function() {
                    try {
                        //console.log("popup : ", popup);
                        if (popup == null || popup.closed) {
                            window.clearInterval(interval);
                            var param = "";
                            if ($("input:checkbox[id=cbk4]").is(":checked")) {
                                param = "?pushMarketing=Y";
                            }
                            location.href = '/signup' + param;
                        }
                    }
                    catch (e) {
                    }
                }, 2000);
            } else {
                location.href = '/reg/auth/start';
            }
        }

        function sendAuthNo() {
            location.replace('/certification');
        }

        function allAgree() {
            // 전체동의
            var $allAgree = $('#allAgree');
            var $cbk = $("input:checkbox[name=cbk]");
            var isAllChecked = false;
            $allAgree.on('click', function() {
                if($(this).is(":checked")){
                    $cbk.prop('checked', true);
                    isAllChecked = true;
                } else {
                    $cbk.prop('checked', false);
                    isAllChecked = false;
                }
            });

            $cbk.on('click', function() {
                for (var i = 0; i < $cbk.length; i++) {
                    if( $cbk[i].checked) {
                        isAllChecked = true;
                    } else {
                        isAllChecked = false;
                        break;
                    }
                }

                if(isAllChecked) {
                    $allAgree.prop('checked', true);
                } else {
                    $allAgree.prop('checked', false);
                }
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">

            <!-- join_sec page-->
            <section class="join_sec">
                <h1>Agree to Terms / Conditions of Use</h1>
                <dl class="join_box agreeBox">
                    <dt>
                        <input type="checkbox" name="" id="allAgree">
                        <label for="allAgree">Agree to All</label>
                    </dt>
                    <dd>
                        <ul>
                            <li class="cf">
                                <div class="flt_box">
                                    <input type="checkbox" name="cbk" id="cbk1">
                                    <label for="cbk1">Conditions of Use <em>(required)</em></label>
                                </div>
                                <div class="flt_box">
                                    <a class="btn btn_go_detail" href="/agreements/use">View</a>                            
                                </div>
                            </li>
                            <li class="cf">
                                <div class="flt_box">
                                    <input type="checkbox" name="cbk" id="cbk2">
                                    <label for="cbk2">Privacy Policy Notice <em>(required)</em></label>                                
                                </div>
                                <div class="flt_box">
                                    <a class="btn btn_go_detail" href="/agreements/private">View</a>                            
                                </div>
                            </li>
                            <li class="cf">
                                <div class="flt_box">
                                    <input type="checkbox" name="cbk" id="cbk3">
                                    <label for="cbk3">Push or SMS for Transaction <em>(required)</em></label> 
                                </div>
                                <div class="flt_box">
                                    <!-- <a class="btn btn_go_detail" href="">자세히보기</a> -->                                                                
                                </div>
                            </li>
                            <li class="cf">
                                <div class="flt_box">
                                    <h2>Marketing utilization and reception agreement</h2>
                                    <input type="checkbox" name="cbk" id="cbk4">
                                    <label for="cbk4">I agree to send me email or push notifications for events, etc. <span>(optional)</span></label>                                
                                </div>
                                <div class="flt_box">
                                    <a class="btn btn_go_detail" href="/agreements/marketing">View</a>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>                
                <div class="btn_align_c">
                    <button class="btn btn_in_view1" id="authPhone">I Agree</button>
                </div>
            </section>
            <!--// join_sec page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body> 