<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var popup;
        $(document).ready(function() {
            $('.menu_login').show();
            $('.menu_logout').hide();

            $('#integrationUser').on('click',function(){
                location.replace('/');
            });

            $('#agreement').on('click',function(){
                location.replace('/agreement');
            });
        });

        function enterkey(){
            if(window.event.keyCode==13){
                login();
            }
        }

        function login() {
            var id = $("#userId").val();
            var password = $("#password").val();
            var data = {
                "userTag": id,
                "password": password
            };

            if(id == "" || password == "") {
                _ModalUI.init({ subTitle: 'Please enter your User ID and Password.'}, "alert");
            }

            $.ajax({
                method: "POST",
                url: "/v1/users/login",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data)
            }).done(function (success) {
                location.href=success.data.originalUrl;
            }).fail(function (fail) {
                if (fail.status == 403) {
                    var obj = { subTitle: 'ID or Password is incorrect. Please enter again.'};
                    _ModalUI.init(obj, "alert");
                } else {
                    console.log(fail);
                }
            })
        }
    </script>
</head>
<body>
    <div class="ont_m_signin wrap" id="wrap">
        <div class="sub_container">
            <section class="integration_sec">
                <h1>Integration User</h1>
                <p>
                    If you have MarketMACH ID, input your ID and password, then Click "Integration".
                    Or if you don't have it, Click "Sign up".
                </p>           
                <div class="login_body">
                    <!--remove autocomplete-->
                    <input style="display:none" aria-hidden="true">
                    <input type="password" style="display:none" aria-hidden="true">
                    <!--remove autocomplete end-->
                    <input class="ipt_signin login_id" type="text" name="id" id="userId" placeholder="ID">
                    <input class="ipt_signin login_pw" type="password" autocomplete="new-password" name="password" id="password" onkeyup="enterkey()" placeholder="Password">

                    <div class="tac">
                        <a href="/findPassword" class="forgot_id">Forgot ID or password?</a>
                        <button class="btn_signin btn_cmn" onclick="login()">Integration</button>
                        <button class="btn_signup btn_cmn" id="agreement">Sign up</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body> 