    <footer class="footer">
            <div class="container footer_content">
                <div class="ft_top row">
                    <div class="col-sm-3"><a href="/agreements/use">Terms of Service</a></div>
                    <div class="col-sm-3"><a href="/agreements/private">Privacy Policy</a></div>
                    <!-- <div class="col-sm-3"><a href="/agreements/teenager">Youth Protection</a></div> -->
                    <div class="col-sm-3"><a href="/howto/trade/vtr">Safety Trading</a></div>
                </div>
                <dl class="ft_btm row">
                    <dt class="col-lg-2">
                        <img src="/static/img/main/footer_logo.png" alt="MACH"><br><br>
                    </dt>
                    <dd class="col-lg-10">
                        <p>
                            Korea Certification Service Inc. B103, 88, Gasan digital 1-ro, Geumcheon-gu, Seoul, Republic of Korea / CEO Choi Sejoon<br>
                            Institute of Technology / 1213, 28, Digital-ro 30-gil, Guro-gu, Seoul, Republic of Korea <br>
                            Tel. 1899-8696 / Fax 02) 855-0261 / E-mail io@onlykcs.com <br>
                            Corporate Registration No. 767-86-00387 / Communication Sales Business Report No. 2019-Seoul Geumcheon-0118<br><br>
                            <em>Korea Certification Service Inc. is not a transaction party to communication sales <br>but an intermediary of it and is NOT responsible for the goods and transaction information.</em><br><br>
                            Korea Certification Service Inc. © MarketMACH All rights reserved.
                        </p>
                    </dd>
                    <!-- 안전거래용 마켓마하 공식계좌-->
                    <div class="account_banner mob_show">
                        <img src="/static/img/mob/mob_account_banner.jpg" alt="에스크로 전용계좌">
                    </div> 
                    <!--// 안전거래용 마켓마하 공식계좌-->
                </dl>  
            </div>
        <!-- 추천 URL -->
        <button type="button" id="m_voucherCopy" data-clipboard-action="copy" data-clipboard-target="#m_copyTxt" style="width: 1px; height: 1px;"></button>
        <textarea id="m_copyTxt" style="width:1px; height:1px;"></textarea>
    </footer>
    <article class="ajax_dim" id="ajaxSpiner">
        <div class="ajax_spinner_wrap">
            <div class="lds-dual-ring"></div>
            <h1 id="spinnerTarget">처리중입니다. 잠시만 기다려주세요.</h1>
            <p>새로고침하시거나 페이지를 벗어나면 작업이 제대로 처리되지 않습니다.</p>
        </div>
    </article>