<script>
    var coinId = "<%=coinId%>";
    var userId = "<%=userId%>";   
    var game_name;
    var selecValue;

    $(document).ready(function(){
        
        if(location.pathname == "/" || location.pathname == "/main" || location.pathname == "/sells") {
            selecValue = "games";
        } else if(location.pathname == "/etc-sells") {
            selecValue = "assets";
        } else if(location.pathname == "/otc-sells") {
            selecValue = "otc";
        }

        $(".srch_select, .m_srch_select").on("change", function(){
            selecValue = $(this).val();
            $("#search_item_name").val("");
        }); 

        $("#search_item_name, #m_search_item_name").keydown(function(key){ //엔터키 눌렀을때
            if(key.keyCode==13){
                //selecValue = selecValue;
                // if(selecValue == "games") {
                //     if( $(".srch_box_left ul li")[0].classList[0] == "no_exist" ){
                //         return;
                //     }
                // }
                _mainSearch(key.currentTarget);
            }
        });

        $("#main_search, #m_main_search").on('click', function(key){ //검색버튼 눌렀을떄
            //selecValue = selecValue;
            // if(selecValue == "games") {
            //     if( $(".srch_box_left ul li")[0].classList[0] == "no_exist" ){
            //         return;
            //     }
            // }
            _mainSearch(key.currentTarget);
        });

        // $(".srch_box_left, .srch_box_right").on("click", function(e){ //두번째 카테고리를 눌렀을때
        //     _mainSearch(e.target, e.currentTarget);
        // });

        if(game_name != undefined) {
            //console.log(game_name);
            if(isPc()) {
                $('#search_item_name').val(game_name + ' ' + (game_server == "undefined" ? "" : game_server) + ' ' + (title == "undefined" ? "" : title));
            } else {
                $('#m_search_item_name').val(game_name + ' ' + (game_server == "undefined" ? "" : game_server) + ' ' + (title == "undefined" ? "" : title));
            }
        }

        if(userId !== "") {
            $("#btnInfoBox").on('click', function(key){
                getCoinMain();
                getItemCountMain();
            });
        }
    });

    function _mainSearch(target, currentTarget) {

        if( 
            target.id == 'main_search' || 
            target.id == 'search_item_name' ||
            target.id == 'm_main_search' || 
            target.id == 'm_search_item_name' //검색버튼또는 엔터키를 눌렀을때
        ) {
            // var games;
            // if(selecValue == "games"){ //게임자산일떄
            //     games = isPc() == true ? $("#search_item_name").val().split(' ') : $("#m_search_item_name").val().split(' ');
            //     var srchBoxLeftClassName = $(".srch_box_left ul li, .m_srch_box_left ul li")[0].classList[0];

            //     if( srchBoxLeftClassName == "game_with_server" ){ //서버명으로검색할때
            //         var searchValue = $(".srch_box_left ul li, .m_srch_box_left ul li")[0].innerText.split(">");
            //         var game_name = searchValue[0]
            //         var game_server = searchValue[1]; 
            //     } else { //게임이름으로 검색할때
                    
            //         game_name = $(".srch_box_left .clicked")[0].innerText;
            //         if(games.length == 2) {
            //             game_server  = games[1];
            //         } else if(games.length == 3) {
            //             game_server  = games[1];
            //             title = games[2];
            //         }
            //     }
            // } else { //현물, OTC일떄
            //     games = isPc() == true ? $("#search_item_name").val() : $("#m_search_item_name").val();
            // }
            // _doSearch(game_name, game_server, games);
            var games;
            games = isPc() == true ? $("#search_item_name").val() : $("#m_search_item_name").val();
            _doSearch(games);
            
        } 
        // else if( target.nodeName == 'LI' ) { //리스트를 클릭했을때

        //     if(currentTarget.classList[0] == "srch_box_left") { //왼쪽 리스트일때
        //         if(target.classList[0] == "game_with_server"){
        //             var searchValue = target.innerText.split(">");
        //             var game_name = searchValue[0]
        //             var game_server = searchValue[1];
        //         } else {
        //             return;
        //         }
        //     }
        //     if(currentTarget.classList[0] == "srch_box_right") { //오른쪽 리스트일때
        //         var game_name = $(".srch_box_left .clicked")[0].innerText;
        //         var game_server = target.innerText == "서버전체" ? "" : target.innerText;
        //     }
        //     _doSearch(game_name, game_server);
        // } 

    }

    function _doSearch(games){
        // $("#game-name").val(game_name).attr("selected", "selected");
        // $("#game-name").selectpicker('refresh');
        //selectServer();
        setTimeout(function() {
            // $("#game-server").val(game_server).attr("selected", "selected");
            // $("#game-server").selectpicker('refresh');
            $("#list").html('');
            searchMain(games);
        });
    }

    function loginChecker() {
        var cookie_data = document.cookie;
        var loginToken = cookie_data.indexOf("loginToken");
        if(loginToken > -1) {
            //loginChecker();
            openCSChatBot();
        } else {
            //alert("로그인 후 사용 가능합니다.");
            location.href = "/login";
        }
    }

    function openCSChatBot() {
        var cookie_data = document.cookie;
        //console.log(cookie_data);
        var start = cookie_data.indexOf("loginToken");
        var cValue = '';
        if(start != -1){
            start += "loginToken".length;
            var end = cookie_data.indexOf(';', start);
            if(end == -1) end = cookie_data.length;
            cValue = cookie_data.substring(start, end);

            var req_url = __config["str"]["chatbot_url"] + "?cmod=cs&loginToken" + cValue +"&userId="+userId;
            if (isMobile()) {
                window.open(req_url, "CSChatBot");
            } else {
                window.open(req_url, "CSChatBot", 'toolbar=no,\n' +
                    '                              location=no,\n' +
                    '                              status=no,\n' +
                    '                              menubar=no,\n' +
                    '                              scrollbars=no,\n' +
                    '                              resizable=no,\n' +
                    '                              width=340,\n' +
                    '                              height=600');
            }
        } else {
            location.href = "/logout";
        }
    }

    function searchMain(search_item_name) {
        // if($("#search_item_name").val() == "" && $("#m_search_item_name").val() == "") {
        //     alert("게임명/서버명을 입력하세여.\n\n예)로스트아크 이그하람");
        //     return;
        // }

        var category = "game";
        var trade_type = "sell";
        var search_item_name = isPc() == true ? $("#search_item_name").val().split(' ') : $("#m_search_item_name").val().split(' ');
        var game_name =  search_item_name[0];
        var game_server =  search_item_name.length == 1 ? "" : search_item_name[1];
        var type = "";
        var title = "";
        var query;

        if(selecValue == "games") {
            if( search_item_name != undefined ){
                if(search_item_name.length > 2) {
                    title = search_item_name[2];
                }
            }
            query = "?category=" + category + 
                    "&game_name=" + encodeURIComponent(game_name) + 
                    "&game_server=" + encodeURIComponent(game_server) + 
                    "&trade_type=" + trade_type + 
                    "&type=" + type + 
                    "&title=" + encodeURIComponent(title) + 
                    "&pageIdx=0";

            location.href = '/sells' + query;

        } else if(selecValue == "assets") {

            query = "?category=etc&trade_type=sell" + 
                    "&title=" + encodeURIComponent(search_item_name)

            location.href = '/etc-sells' + query;

        } else if(selecValue == "otc") {

            query = "?category=otc&trade_type=sell" + 
                    "&title=" + encodeURIComponent(search_item_name)

            location.href = '/otc-sells' + query;

        }
    }
</script>
        <header class="header">
            <div class="top_menu cf">
                <span><a href="https://ko.marketmach.com" class="lang lang_kr">KR</a></span>
                <span><a href="https://en.marketmach.com" class="lang lang_en">EN</a></span>
                <ul class="menu_list cf">
                    <li><a href="/howto/trade/vtr">User Guide</a></li>
                    <li><a href="/supports/info">Support</a></li>
                    <li><a class="menu_login" href="/login">Sign In</a></li>
                    <li><a class="menu_logout" href="/logout">Sign Out</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <section class="sch_sec cf">
                <h1 class="h_logo"><a href="/main"><img src="/static/img/h_logo.png" alt="MACH"></a></h1>
                
                <!-- <div class="search_bar cf">
                    <input type="text" class="ipt_search_bar" id="search_item_name" placeholder="게임명과 서버명 입력  ex)로스트아크 이그하람" autocomplete="off">
                    <input type="button" class="btn_search bgc1" id="main_search" value="검색" autocomplete=off>
                </div> -->

                <% include modules/search_guide.html %>
                
                <div class="chatbot jumpBot">
                    <a href="javascript:loginChecker()" class="ico_machbot" id="aMachbot">
                        <img class="chatbot_active" src="/static/img/main/chatbot_twinkle.gif" alt="chatbot run">
                        <img class="chatbot_hover" src="/static/img/main/chatbot_bubble.jpg" alt="chatbot say">
                    </a>
                </div>
            </section>
            <nav class="nav cf">
                <ul class="l_menu nav_menu cf">
                    <li>
                        <button class="hasDepth2">Sales</button>
                        <ul class="depth2 cf">
                            <!-- <li><a href="javascript:checkTeenager('/sells/register');">Game Item</a></li> -->
                            <li><a href="/etc-sells/register">Add Asset</a></li>
                            <li><a href="/otc-sells/register">Add OTC</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="hasDepth2">Purchase</button>
                        <ul class="depth2 cf">
                            <!-- <li><a href="javascript:checkTeenager('/buys/register');">Game Item</a></li> -->
                            <li><a href="/etc-buys/register">Add Asset</a></li>
                            <li><a href="/otc-buys/register">Add OTC</a></li>
                        </ul>                    
                    </li>
                </ul>
                <ul class="c_menu nav_menu cf">
                    <!-- <li>
                        <button class="hasDepth2">Game Item</button>
                        <ul class="depth2 cf">
                            <li><a href="/sells?category=game&trade_type=sell">Sales</a></li>
                            <li><a href="/buys?category=game&trade_type=buy">Purchase</a></li>
                        </ul>                         
                    </li> -->
                    <li>
                        <button class="hasDepth2">Asset</button>
                        <ul class="depth2 cf">
                            <li><a href="/etc-sells?category=etc&trade_type=sell">Sales</a></li>
                            <li><a href="/etc-buys?category=etc&trade_type=buy">Purchase</a></li>
                        </ul>  
                    </li>    
                    <li>
                        <button class="hasDepth2">OTC</button>
                        <ul class="depth2 cf">
                            <li><a href="/otc-sells?category=otc&trade_type=sell">Sales</a></li>
                            <li><a href="/otc-buys?category=otc&trade_type=buy">Purchase</a></li>
                        </ul>  
                    </li>                  
                    <!-- <li>
                        <button class="hasDepth2">Community</button>
                        <ul class="depth2 cf">
                            <li><a href="https://t.me/marketmachcom" target="_blank">Telegram</a></li>
                        </ul> 
                    </li> -->
                    <li><a href="/community/board" class="fcbk">Community</a></li>
                    <li><a href="/gameStation" class="fcbk">Game Station</a></li>
                    <li><a href="/myPages/list" class="fcbk">My Page</a></li>
                    <!-- <li><a href="http://mymach.creatorlink.net" target="_blank" class="fcbk">Event</a></li> -->
                </ul>
                <ul class="r_menu cf">
                    <li>
                        <button id="btnInfoBox" class="btn_info_box"></button>
                        <div style="display:none" id="floatingInfoBox" class="floating_info_box">
                            <%# 로그인 전 %>
                            <div class="beforeLoginBox">
                                <ul>
                                    <li class="top_area cf">
                                        <a class="btn" href="/login">Sign In</a>
                                        <ul class="cf link_login_info">
                                            <li><a href="/findId">Find ID/Password</a></li>
                                            <li><a href="/agreement">Sign Up</a></li>
                                        </ul>
                                    </li>
                                    <li class="mdl_area">
                                        <p>About MACH Project</p>
                                        <a class="btn" href="https://mymach.io" target="_blank">MACH Web</a>
                                    </li>
                                    <li class="btm_area">   
                                        <dl class="available_coin cf">
                                            <dt>MarketMACH Coins</dt>
                                            <dd><a href="https://mymach.io/" target="_blank"><img src="/static/img/symbol/symbol_mach.png" alt="마하코인" title="마하코인"></a></dd>
                                            <dd><a href="https://www.bitcoin.com/" target="_blank"><img src="/static/img/symbol/symbol_bitcoin.png" alt="비트코인" title="비트코인"></a></dd>
                                            <dd><a href="https://www.ethereum.org/" target="_blank"><img src="/static/img/symbol/symbol_ethereum.png" alt="이더리움" title="이더리움"></a></dd>
                                            <dd><a href="https://ont.io/" target="_blank"><img src="/static/img/symbol/symbol_ont.png" alt="ONT" title="ONT"></a></dd>
                                        </dl>                                        
                                        <dl class="available_coin cf">
                                            <dt>MarketMACH Games</dt>
                                            <dd><a href="/gameStation/machAdventure/info/"><img src="/static/img/symbol/symbol_monkey.png" alt="MACH Adventure" title="MACH Adventure"></a></dd>
                                            <dd><a href="https://www.coingame.com" target="_blank"><img src="/static/img/symbol/symbol_coingame.png" alt="Superlanding" title="Superlanding"></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></dd>
                                        </dl>                                   
                                        <!--
                                            <br>
                                            <img src="/static/img/main/account_banner.jpeg" alt="계좌번호 설명">
                                        -->
                                    </li>
                                </ul>
                            </div>
                            <%#  로그인 후 %>
                            <div style="display:none" class="afterLoginBox">
                                <ul>
                                    <li class="top_area cf">
                                        <div>
                                            <em>On Sales</em>
                                            <p class="total_sell">0<span></span></p>
                                        </div>
                                        <div>
                                            <em>Puchasing</em>
                                            <p class="total_buy">0<span></span></p>
                                        </div>
                                    </li>
                                    <li class="mdl_area">                                        
                                        <em>My Wallet Balance</em>
                                        <p class="fc2 total_mach">0 <span>MACH</span></p>
                                        <button class="btn bgc1" onclick="location.href='/myPages/wallet/deposit';">Deposit</button>
                                        <button class="btn bgc1" onclick="location.href='/myPages/wallet/withdraw';">Withdraw</button>
                                    </li>
                                    <li class="btm_area">
                                        <dl class="available_coin cf">
                                            <dt>MarketMACH Coins</dt>
                                            <dd><a href="https://mymach.io/" target="_blank"><img src="/static/img/symbol/symbol_mach.png" alt="MACH" title="마하코인"></a></dd>
                                            <dd><a href="https://www.bitcoin.com/" target="_blank"><img src="/static/img/symbol/symbol_bitcoin.png" alt="비트코인" title="비트코인"></a></dd>
                                            <dd><a href="https://www.ethereum.org/" target="_blank"><img src="/static/img/symbol/symbol_ethereum.png" alt="이더리움" title="이더리움"></a></dd>
                                            <dd><a href="https://ont.io/" target="_blank"><img src="/static/img/symbol/symbol_ont.png" alt="ONT" title="ONT"></a></dd>
                                        </dl>
                                        <dl class="available_coin cf">
                                            <dt>MarketMACH Games</dt>
                                            <dd><a href="/gameStation/machAdventure/info/"><img src="/static/img/symbol/symbol_monkey.png" alt="MACH Adventure" title="MACH Adventure"></a></dd>
                                            <dd><a href="https://www.coingame.com" target="_blank"><img src="/static/img/symbol/symbol_coingame.png" alt="Superlanding" title="Superlanding"></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></dd>
                                        </dl>
                                        <!--
                                        <br>
                                        <img src="/static/img/main/account_banner.jpeg" alt="계좌번호 설명">
                                            <button class="btn bgc4" onclick="location.href='/myPages/list';">나의 페이지</button>
                                            <button class="btn bgc3" onclick="location.href='/supports/info';">고객센터</button>
                                        -->
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </li>
                    <li>
                        <span class="notice_number">1</span>
                    </li>                   
                </ul>
            </nav>
        </header>