        <header class="header member_header">
            <div class="top_menu cf">
                <h1><a href="/main"><img src="/static/img/h_logo.png" alt="MACH"></a></h1>
                <!-- <ul class="menu_list cf">
                    <li><a href="/howto/trade/vtr">User Guide</a></li>
                    <li><a href="/support/info">Help</a></li>
                    <li><a class="menu_login" href="/login">Sign in</a></li>
                    <li><a class="menu_logout" href="/logout">Sign out</a></li>
                </ul> -->
            </div>
        </header> 