<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var currencyCode="";
    
        $(document).ready(function() {
            $('.menu_login').show();
            $('.menu_logout').hide();
            
            $("#currencyType").on('change', function() {
                $("#currencyName").text($("#currencyType").val());
            });

            $("#phone").on('keyup', function() {
                if(window.event.keyCode==13){
                    sendAuthNo();
                }
            })

            $("#sendAuthNo").on('click', function() {
                sendAuthNo();
            });

            // $("#reSendAuthNo").on('click', function() {
            //     sendAuthNo();
            //     alert("인증번호를 재발송 하였습니다.");
            // });

            $("#checkAuthNo").on('click', function() {
                checkAuthNo();
            });

            loadCurrencyList();
            $('.auth_no_class').hide();

            initCaptcha('#defaultReal');
        });

        function loadCurrencyList() {
            $.ajax({
                method: "GET",
                url: "/v1/countryCodes"
            }).done(function (success) {
                var strDOM = '<option value="">Choice</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].country_code + '">' + success.data[i].country_en + '('+ success.data[i].country_code +')' + '</option>'
                }

                $("#currencyType").html(strDOM);
                $("#currencyType").selectpicker('refresh');
                $("#currencyType").val(currencyCode).attr("selected", "selected");
                $("#currencyType").selectpicker('refresh');
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function sendAuthNo() {
            var phoneNo = $("#phone").val();
            var countryCode = $("#currencyType").val().replace('+','');

            if($("#currencyType").val() == "") {
                alert("Please select the country.");
                return;
            } else if($("#phone").val() == "") {
                alert("Please input the phone number.");
                return;
            } else if(phoneNo.replace('+','').substr(0,countryCode.length) == countryCode) {
                alert("Please enter a phone number other than your country code.");
                return;
            } else if($("#defaultReal").val() == "") {
                alert("Please enter a auto-input prevention character.");
                return;
            } else if(hash($("#defaultReal").val()) != $("#defaultReal").realperson('getHash')) {
                alert("The auto-input prevention character value is incorrect. Please re-enter it.");
                $('#defaultReal').val('');
                $(".realperson-regen").trigger('click');
                return;
            }

            if($("#phone").val() == "") {
                alert("Please input the phone number.");
                return;
            } 
            
            $(".submit_ctc_code_top .btn.dropdown-toggle.btn-light").attr("disabled", "disabled");
            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkPhone",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                $('.auth_no_class').show();
                if($(this).text() == "Resend" ) {
                    alert("It is successfully to resend a authentication code.");
                }
                $('#sendAuthNo').text("Resend");
                $('#phone').prop('readonly', true);
                $('#currencyType').prop('readonly', true);
                $(".realperson-regen").trigger('click');
                $('#defaultReal').val('');                
            }).fail(function (fail) {
                console.log(fail);
                alert("There is a problem sending sms. Please check your phone number.");
            })
        }

        function checkAuthNo() {
            if($("#authNo").val() == "") {
                alert("Please input the authentication code.");
                return;
            } 

            var reqData = {
                'countryCode':$("#currencyType").val(),
                'phone': $("#phone").val(),
                'authNo': $("#authNo").val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/sms/user/checkAuthNo",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(reqData),
            }).done(function (success) {
                console.log(success);
                if(success.data.successYn == "fail") {
                    alert("The authentication code is invalid. Please check it.");
                    return;
                } else {
                    location.replace('/signup');
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->

    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- join_sec page-->
            <section class="join_sec">
                <h1>Authentication Phone Number</h1>
                <hr>
                <div class="submit_ctc_code">
                    <div class="submit_ctc_code_top no_w100p_wrap">
                        <select id="currencyType" class="selectpicker" data-live-search="true"></select>
                        <input type="text" class="form-control w100p" id="phone" placeholder="your phone number. ex)01012345678" maxlength="24"> 
                    </div>
                    <div class="submit_ctc_code_top no_w100p_wrap">
                        <input type="text" class="form-control" id="defaultReal" max="6" placeholder="Input a auto-input prevention.">
                    </div>
                    <button class="btn btn_in_view1 send_auth_class" id="sendAuthNo">Send</button>
                </div>
                <div class="confirm_ctc_code auth_no_class">
                    <input type="text" class="form-control" id="authNo" placeholder="Authentication Code." maxlength="24">
                    <br>
                    <button class="btn btn_in_view1" id="checkAuthNo">Next</button>
                </div>
            </section>
            <!--// join_sec page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>
</html>