<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var checkUserTagYn = false;
        var checkEmailYn = false;
        var total_mach = "<%=total_mach%>";
        var countryCode = "<%=countryCode%>";

        $(document).ready(function() {
            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
            $("#username").text("<%=username%>");
            $("#phone").text("<%=phone%>");
            $("#birth").val("<%=birth%>");
            if("<%=recommander%>" != "") {
                $("#recommander").val("<%=recommander%>");
                $("#recommander").prop("readonly", true)
            }
            
            $('#checkUserTag').on('click',function(){
                checkUserTag();
            });
            $('#checkEmail').on('click',function(){
                checkEmail();
            });
            $('#signup').on('click',function(){
                signup();
            });
        });

        function checkUserTag() {
            if($("input[name=id]").val() == "") {
                alert("Please input the ID.");
                return;
            }

            var valid = checkStrNum($("input[name=id]").val());
            if(!valid) {
                alert("The ID have to be 6 ~ 20 lowercase letters or numbers.");
                return;
            }

            $.ajax({
                type: 'GET',
                url: '/v1/users/userTag/' + $("input[name=id]").val(),
            }).done(function (success) {
                //console.log("success : ", success);
                checkUserTagYn = true;
                alert('This ID is available.');
            }).fail(function (fail) {
                if (fail.status == 403) {
                    alert('This ID is already in use.');
                }
            });
        }

        function checkEmail() {
            if($("input[name=email]").val() == "") {
                alert("Please enter your email.");
                return;
            }

            $.ajax({
                type: 'GET',
                url: '/v1/users/email/' + $("input[name=email]").val(),
            }).done(function (success) {                
                console.log("success : ", success);
                checkEmailYn = true;
                alert('Email address is available.');
            }).fail(function (fail) {
                if (fail.status == 403) {
                    alert('Email address is already in use.');
                }
            });
        }

        function signup() {
            if($("input[name=passwordConfirm]").val() == "") {
                alert("enter Password again."); // 입력하신 패스워드를 다시 입력하세요
                return;
            }

            if($("input[name=password]").val() != $("input[name=passwordConfirm]").val()) {
                alert("Password is incorrect. \n Please enter again.");
                return;
            }

            if(!checkUserTagYn) {
                alert("Check your ID.");
                return;
            }

            if(!checkEmailYn) {
                alert("Check your email.");
                return;
            }

            var birth = "<%=birth%>";
            var year = birth.substr(0,4);
            var month = birth.substr(4,2);
            var day = birth.substr(6,2);
            var diffAge = checkAdult(new Date(year,month,day).toString(), new Date().toString());
            //console.log(diffAge);
            
            var signUpForm = {
                "userTag": $("input[name=id]").val(),
                "password": $('input[name=password]').val(),
                "email": $("input[name=email]").val(),
                "userName": $("#username").val(),
                "countryCode" :countryCode,
                "phone": $("#phone").text(),
                "birth": $("#birth").val(),
                "sex": "<%=sex%>",
                "commId": "<%=commId%>",
                "foreigner": "<%=foreigner%>",
                "agreements": {
                    "use": "true",
                    "teenager": "true",
                    "privacy": "true",
                    "pushTrade":"true",
                    "pushMarketing": "false",
                    "authPhone": "true"
                },
                "coins": {
                    "total_mach": total_mach,
                    "total_ether": 0,
                    "total_btc": 0
                }
            };
            
            if(diffAge < 19) {
                signUpForm.agreements.teenager = "false";
            }

            if("<%=pushMarketing%>" == "true") {
                signUpForm.agreements.pushMarketing = "true";
            }

            if($('#recommander').val() != "") {
                signUpForm['recommander'] = $('#recommander').val();
            }

            $('#signup').prop('disabled', true);

            //console.log(signUpForm);

            $.ajax({
                method: "POST",
                url: "/v1/users/validation",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(signUpForm)
            })
            .done(function (success) {
                if(success.data.result) {
                    $.ajax({
                        method: "POST",
                        url: "/v1/users",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(signUpForm)
                    })
                    .done(function (success) {
                        var data = {
                            "userId": success["data"]["_id"],
                            "to": success["data"]["email"]
                        };
                        // $.ajax({
                        //     method: "POST",
                        //     url: "/v1/notifications/email/auth",
                        //     contentType: "application/json; charset=utf-8",
                        //     dataType: "json",
                        //     data: JSON.stringify(data)
                        // }).done(function (success) {
                        //     location.href = '/signupSuccess';
                        // }).fail(function (fail) {
                        //     console.log(fail);
                        //     $('#signup').prop('disabled', false);
                        // })
                        location.href = '/signupSuccess';
                    })
                    .fail(function (fail) {
                        console.log(fail);
                        $('#signup').prop('disabled', false);
                    });
                } else {
                    alert(success.data.msg);
                    $('#signup').prop('disabled', false);
                }
            })
            .fail(function (fail) {
                console.log(fail);
                $('#signup').prop('disabled', false);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- join_sec page-->
            <section class="join_sec">
                    <h1>Member Infomation <em class="fcor">(Required)</em></h1>
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_signup">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>
                                    <input type="hidden" id="birth"/>
                                    <span><input type="text" class="form-control w80p" id="username" placeholder="First & Last Name. ex)Smith Sam."></span>
                                </td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" name="id" placeholder="6 ~ 20 characters english or english + number combination.">
                                        <button class="btn btn-info" id="checkUserTag">Check</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td><input type="password" autocomplete="new-password" class="form-control" name="password" placeholder="8~16 characters english + number or special character"></td>
                            </tr>
                            <tr>
                                <th>Password(confirm)</th>
                                <td><input type="password" autocomplete="new-password" class="form-control" placeholder="" name="passwordConfirm"></td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>
                                    <em id="phone">010-1234-1234</em>
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" name="email" placeholder="example@mymach.asia">
                                        <button class="btn btn-info" id="checkEmail">Check</button>
                                    </div>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <h1>Member Infomation <em class="fcor">(Optional)</em></h1>
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_signup">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th class="fcgr1" colspan="2"><br>Optional</th>
                            </tr>
                            <tr>
                                <th>Recomander</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" id="recommander" placeholder="user ID. ex)mymachUser">
                                    </div> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div class="btn_align_c">
                    <button class="btn btn_in_view1" id="signup">Sign Up</button>
                </div>                    
            </section>
            <!--// join_sec page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body> 