<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="tac">
                <img style="margin-top:50px" src="/static/img/en/en_safety_trade_info.jpg" alt="">
            </div>
            <!-- <section class="gui_sec">
                <div class="gui_header">
                    <h1 class="gui_mti"><p>MarketMACH</p>7 Tips for Safety Trading</h1>
                </div>  
                <div class="gui_content">
                    <ul class="gui_total">
                        <li class="gui_box1">
                            <div class="gui_icon"><img src="/static/img/sub/ico_safty_trading01.png" alt=""></div>
                            <div class="gui_txt">
                                <h2 class="gui_tit">Don’t give out your <strong>personal information</strong> unnecessarily 
                                    for your security.</h2>
                                <hr class="gui_hr">
                                <p>
                                    If you disclose your phone number or SNS account when adding the goods, 
                                    your information may be misused by others. Your phone number is open to
                                    the buyer only if the money is placed in escrow on MarketMACH. Keep your 
                                    valuable information safe. 
                                </p>
                            </div>
                        </li>
                        <li class="gui_box2">
                            <div class="gui_icon"><img src="/static/img/sub/ico_safty_trading02.png" alt=""></div>
                            <div class="gui_txt">
                                <h2 class="gui_tit">Make sure the seller actually has <strong>the goods.</strong></h2>
                                <hr class="gui_hr">
                                <p>
                                    Request the photo shoot for a specific condition and you can check the ownership. 
                                    (e.g., send me a photo of the goods with a note to contain a handwritten 
                                    your ID and selling date.) 
                                </p>
                            </div>
                        </li>
                        <li class="gui_box3">
                            <div class="gui_icon"><img src="/static/img/sub/ico_safty_trading03.png" alt=""></div>
                            <div class="gui_txt">
        
                                <h2 class="gui_tit">Be wary of goods at <strong>significant discounts.</strong></h2>
                                <hr class="gui_hr">
                                <p>
                                    If the goods to trade is much cheaper than the market price, check it out 
                                    whether the goods are not a fake, in good condition, 
                                    shortly before expiration date, or the shipping charge is reasonable.
                                </p>
                            </div>
                        </li>
                        <li class="gui_box4">
                            <div class="gui_icon"><img src="/static/img/sub/ico_safty_trading04.png" alt=""></div>
                            <div class="gui_txt">
        
                                <h2 class="gui_tit">Don’t trade any <strong>illegal goods</strong> in terms of the current laws.</h2>
                                <hr class="gui_hr">
                                <p>
                                    You can sell and buy almost anything, but there are a few exceptions. 
                                    MarketMACH prohibits strictly the trading of any illicit goods like obscene 
                                    material, alcoholic beverages, tobacco products, illegal drugs etc. If you see 
                                    such items at MarketMACH, please report it on 1:1 Inquiry page. 
                                </p> 
                            </div>
                        </li>    
                        <li class="gui_box5">
                            <div class="gui_icon"><img src="/static/img/sub/ico_safty_trading05.png" alt=""></div>
                            <div class="gui_txt">
        
                                <h2 class="gui_tit"><strong>Drive trading outside MarketMACH</strong>is more likely to be 
                                    fraudulent.</h2>
                                <hr class="gui_hr">
                                <p>
                                    Never transfer to seller’s bank account directly or use a debit card and it may
                                    not be protected. MarketMACH enables to secure the trading using the escrow
                                    system. Please let us know the user to drive trading outside MarketMACH.
                                </p>   
                            </div>
                        </li>
                        <li class="gui_box6">
                            <div class="gui_icon"><img src="/static/img/sub/ico_safty_trading06.png" alt=""></div>
                            <div class="gui_txt">
        
                                <h2 class="gui_tit">Meet in <strong>a public place during the day</strong> for direct deals.</h2>
                                <hr class="gui_hr">
                                <p>
                                    For direct deals, use bright time and place to check goods properly. 
                                    Meet in a busy, public place during the day. Avoid the holiday or the 
                                    days before holiday. It may take a long time to find out if it is fraudulent. 
                                    Consider bringing a friend. 
                                </p>    
                            </div>
                        </li>
                        <li class="gui_box7">
                            <div class="gui_icon"><img src="/static/img/sub/ico_safty_trading07.png" alt=""></div>
                            <div class="gui_txt">
                                <h2 class="gui_tit">It will be difficult to cancel once you <strong>click the [Completed].</strong></h2>
                                <hr class="gui_hr">
                                <p>
                                    As soon as the buyer approves to complete the trading by clicking 
                                    the [Completed], the escrowed payment is released to the seller. 
                                    Inspect the goods carefully and check that everything matches the 
                                    seller’s descriptions before clikcking the [Completed].
                                </p>
                            </div>
                        </li>           
                    </ul>
                </div>
            </section> -->
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>