<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
            
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    
    <script>
        $(document).ready(function () {
            // let data = {
            //     "Svcid": "<%=Svcid%>",
            //     "Mobilid": "<%=Mobilid%>",
            //     "Signdate": "<%=Signdate%>",
            //     "Tradeid": "<%=Tradeid%>",
            //     "Name": "<%=Name%>",
            //     "No": "<%=No%>",
            //     "Commid": "<%=Commid%>",
            //     "Resultcd": "<%=Resultcd%>",
            //     "Resultmsg": "<%=Resultmsg%>",
            //     "Cryptyn": "<%=Cryptyn%>",
            //     "Keygb": "<%=Keygb%>",
            //     "Socialno": "<%=Socialno%>",
            //     "Sex": "<%=Sex%>",
            //     "Foreigner": "<%=Foreigner%>",
            //     "Ci": "<%=Ci%>",
            //     "Di": "<%=Di%>",
            //     "CI_Mode": "<%=CI_Mode%>",
            //     "DI_Code": "<%=DI_Code%>",
            //     "Mac": "<%=Mac%>",
            //     "MSTR": "<%=MSTR%>"
            // }

            // console.log(data);

            alert('인증이 성공적으로 완료되었습니다.');
            window.close();
        });

        
    </script>
</head>
<body>
    
</body>
</html>