<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <section class="community_sec">
                <div class="community_tit cf">
                    <h1 class="tit_community">미션</h1>    
                </div>
                <div class="community_icon_menu">
                    <ul class="cf">
                        <!-- <li><a href="/community/board/free"><h2>자유게시판</h2></a></li>
                        <li><a href="/community/board/tabloid"><h2>찌라시</h2></a></li>
                        <li><a href="/community/board/event"><h2>이벤트</h2></a></li>
                        <li><a href="/community/board/game"><h2>게임</h2></a></li>
                        <li><a href="/community/board/cryptocurrency"><h2>암호화폐</h2></a></li> -->

                        <li><a href="/community/board/free"><h2>퀴즈미션</h2></a></li>
                        <li><a href="/community/board/tabloid"><h2>홍보미션</h2></a></li>
                        <li><a href="/community/board/event"><h2>이벤트미션</h2></a></li>
                        <li><a href="/community/board/game"><h2>게임미션</h2></a></li>
                        <li><a href="/community/board/cryptocurrency"><h2>코인미션</h2></a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>