<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">

            <section class="community_sec">
                <h1 class="tit_community">커뮤니티</h1>                    
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup>
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>카테고리</th>
                                <td>
                                    <div id="virture_h" class="virture_h">
                                        <select class="selectpicker" id="type" data-live-search="true">
                                            <option value="free">자유게시판</option>
                                            <option value="tabloid">찌라시</option>
                                            <option value="event">이벤트</option>
                                            <option value="game">게임</option>
                                            <option value="cryptocurrency">암호화폐</option>
                                        </select>                                        
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <th>제목</th>
                                <td><input type="text" id="title" class="form-control"></td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <textarea name="" id="content" class="form-control" style="height: 200px"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>상품이미지</th>
                                <td>
                                    <div class="product_img_list">
                                        <div class="imgs_wrap">
                                            <ul id="listOfThumbnail" class="list_of_thumbnail cf">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                            <ul class="thumbnail_btn_list cf">
                                                <li><label for="input_imgs0" class="label_input_imgs">이미지 선택</label></li>
                                                <li><label for="input_imgs1" class="label_input_imgs">이미지 선택</label></li>
                                                <li><label for="input_imgs2" class="label_input_imgs">이미지 선택</label></li>
                                                <li><label for="input_imgs3" class="label_input_imgs">이미지 선택</label></li>
                                                <li><label for="input_imgs4" class="label_input_imgs">이미지 선택</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>         
                            <tr class="mrg_cell">
                                <td colspan="2">
                                    <div class="input_wrap">
                                        <span>고화질 이미지를 업로드시 대기시간이 오래걸립니다.</span>

                                        <input type="file" class="input_imgs" id="input_imgs0" index="0" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs1" index="1" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs2" index="2" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs3" index="3" accept="image/*"/>
                                        <input type="file" class="input_imgs" id="input_imgs4" index="4" accept="image/*"/>
                                    </div>
                                    <div id="fullImg"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>동영상</th>
                                <td><input type="text" id="movieURL" class="form-control" placeholder="youtube url을 입력해주세요."></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    
                <div class="btn_align_c">
                    <button class="btn btn_in_view1" id="btnSubmit">등록하기</button>
                </div>
            </section>            

        </div>
    </div>

    <script type="text/javascript">
        var communityId = "<%= communityId %>";
        var sel_files = []; // 이미지 정보들을 담을 배열
        var beforeImgs = []; // 수정될 이미지 정보 배열
        
        $(document).ready(function() {
            $(".input_imgs").on("change", singleUpload);

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            $('.selectpicker').selectpicker({
                size: 5
            });

            $("#btnSubmit").on('click', function(){
                submitAction(communityId); // 수정은 이미지 업로드 먼저 실행
            });

            getDetail();
        });

        function getDetail() {
            $.ajax({
                method: "GET",
                url: "/community/detail/" + communityId,
            }).done(function (success) {
                console.log(success.data);
                var type = success.data.type;
                var title = success.data.title;
                var reporter = success.data.reporter;
                var regDate = success.data.regDate.substring(2, 10);
                var content = success.data.content;
                var movieUrl = success.data.movieUrl;
                var replys = success.data.reply;
                if(success.data.images.length === 0) {
                    $(".trForDel").remove();
                }

                beforeImgs = success.data.images;
                // 이미지 모두 지운 상황이 아닌 경우
                if(success.data.images[0] !== null) {
                    var img1th = success.data.images.length == 0 ? '' : "<img src=\"" + success.data.images[0].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                    
                    for(var i=0;i<success.data.images.length; i++) {
                        var html = "<div class=\"thumbnail_box\" id=\"img_id_"+i+"\">";
                                    html += '<div class="img_view_area">';
                                    html += "<img src=\"" + success.data.images[i].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                                    html += '</div>';
                                    html += '</div>';
                                                        
                        $("#listOfThumbnail li").eq(i).html(html);
                    }
                    $("#fullImg").html(img1th);
                }
                
                $('#type').val(type);
                $('#title').val(title);   
                $('#content').val(content);                   
                $('#movieURL').val(movieUrl);                   
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function submitAction(id) {
            console.log("업로드 파일 갯수 : "+sel_files.length);
            var images = new FormData();
    
            for(var i=0, len=sel_files.length; i<len; i++) {
                var name = "image";
                images.append(name, sel_files[i].value);
            }

            if(sel_files.length == 0) {
                submit(beforeImgs);
                return;
            }

            $.ajax({
                method: "POST",
                url: "/v1/community/"+id+"/images",
                processData: false,
                contentType: false,
                data: images
            }).done(function (success) {
                console.log(success);
                //location.replace('/sells/detail/' + itemId);

                if(sel_files.length > 0) {
                    // sel_files[i].index는 수정이 일어난 이미지의 인덱스
                    for (var i = 0; i < sel_files.length; i++) {
                        beforeImgs.splice(sel_files[i].index, 1, success.data[i]);
                    }
                }
                submit(beforeImgs);
            }).fail(function (fail) {
                console.log('실패',fail);
            })
        }

        function submit(arrImages) {
            if ($("#title").val() == "") {
                alert('제목을 입력하세요.');
                return false;
            } else if ($("#content").val() == "") {
                alert('내용을 입력하세요.');
                return false;
            } 

            var data = {
                "reporter": "<%=userTag%>",
                "type": $('#type').val(),
                "title":$("#title").val(),
                "content": $("#content").val()
            }
            if($("#movieURL").val() != "") {
                data['movieUrl'] = $("#movieURL").val()
            }

            if(arrImages.length > 0) {
                // 삭제된 이미지는 배열에서 삭제
                for (var i = 0; i < arrImages.length; i++) {
                    if(arrImages[i] === null) {
                        arrImages.splice(i, 1);
                        i--;
                    }
                }
                data.images = arrImages;
            }

            $.ajax({
                method: "PUT",
                url: "/v1/community/" + communityId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    $("#btnSubmit").attr('disabled', true);
                    $("#ajaxSpiner").show(); // spinner
                    var pos = $("#spinnerTarget").offset().top - 100;
                    $("html, body").animate({
                        "scrollTop":pos
                    },0);
                }
            }).done(function (success) {
                // console.log(success);
                location.href = '/community/board/detail/' + communityId;

            }).fail(function (fail) {
                $('#btnSubmit').attr('disabled', false);
            })
        }
    </script>
    <%# pageName에 현재 파일이 modify 인지 register 인지 적을 것 %>
    <%- include('../include/modules/img_upload.html', {pageName: 'modify'}) %>

    <% include ../include/footer.html %>
</div>
</body>