<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body onselectstart="return false" style="background:rgb(238, 237, 237);">
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <script>
        var myCurrency;
        document.querySelector("#floatingInfoBox").setAttribute("ismain", "true");

        $(document).ready(function () {
            loadItemsAll();
            if("<%=useBlockchain%>"=="Y") {
                // loadCurrencyData(); => 코인시세 관련 로직 다 지워도 됨
            }

            if(userId != "" && authPhone == "") {
                // 메인 전용 팝업 로직
                // $(".dim_all_area").show();
                // $("body").css("position", "fixed");
            }

            //makeHasetCategoryList();

            // 플로팅 버튼 이벤트
            $('.body').bind('scroll', function(){
                $('#floating_btn').css({'bottom' : 'calc(' + $( window ).height() + ' - 10%)'});
            });
            $(window).bind('resize', function(){
                $('#floating_btn').css({'bottom' : 'calc(' + $( window ).height() + ' - 10%)'});
            });
        });
        
        function loadCurrencyData() {
            var loadText = '<div class="coin_load_text cf">';
                loadText += '<em>COIN 시세를 불러오는 중입니다.</em>';
                loadText += '<div class="lds-facebook"><div></div><div></div><div></div></div>';
                loadText += '</div>';
                $('.slick_coin_quotes').slick('slickAdd', loadText);
                
            var currency_url = "/v1/charts/currency/5";
            var currency = function () {
                $.ajax({
                    method: "GET",
                    url: currency_url,
                }).done(function (success) {
                    //console.log(success);
                    loadCurrency(success.data);
                }).fail(function (fail) {
                    console.log('system error : ', fail);
                });
            };
            if(myCurrency != undefined) {
                clearInterval(myCurrency);
            }

            currency();
            //myCurrency = setInterval(currency, 1000 * 60);
            //console.log(myCurrency);
        }
        function loadCurrency(data) {

            var chartTotalData = data;
            var currency_result = "";

            for (var i = 0; i < chartTotalData.length; i++) {
                if(chartTotalData[i].data.binance.change_percent > 0) {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fcrd">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                } else {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fc3">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                }
                
            }

            $('.slick_coin_quotes').slick('slickRemove', null, null, true);
            $('.slick_coin_quotes').slick('slickAdd', currency_result);
        }

        function loadItemsAll() {
            var url = "/v1/items/all";
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                var strDOM = '';
                var game_buys = success.data.game_buys;
                var game_sells = success.data.game_sells;
                var etc_buys = success.data.etc_buys;
                var etc_sells = success.data.etc_sells;
                var prime_services = success.data.primes;
                var cms = success.data.cms;
                var movies = success.data.movies;
                var boards = success.data.boards;
                var otc_buys = success.data.otc_buys;
                var otc_sells = success.data.otc_sells;
                var notices = success.data.notices;
                
                // console.log(success);

                // setPrimeService(prime_services);
                // setGameSellList(game_sells);
                // setGameBuyList(game_buys);
                setEtcSellList(etc_sells);
                // setOtcBuyList(otc_buys);
                // setOtcSellList(otc_sells);
                setNoticeList(notices);
                setCommunityMovie(movies);
                setEventMissionContents();
                searchGameMission();
                searchCoinMission();
                // setCommunityBoard(boards);
            }).fail(function (fail) {
                console.log('system error : ', fail);
            })
        }

        function setPrimeService(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var trade_type = replaceType(data[i].trade_type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var title = data[i].title;
                var money = point + '<span>Point</span>';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + '<span>'+cryptoCurrencyCode+'</span>';
                }

                result += '<div>' +
                    '<img src="/static/img/main/monkey_face.png" alt="원숭이아이콘" class="img_monkey">' +
                    '<dl class="card_ui '+trade_type.title_bg_class+'">' +
                        '<dt class="'+trade_type.title_class+'">' + trade_type.title + '</dt>' +
                        '<dd>' +
                            '<a href="javascript:checkTeenager(\'/sells/detail/'+itemId+'\');">' +
                                '<ul>' +
                                    '<li class="cf">' +
                                        '<em>'+item_type.text+'</em>' +
                                        '<strong class="fc1">'+money+'</strong>' +
                                        '</li>' +
                                        '<li>'+game_server+'</li>' +
                                        '<li>'+title+'</li>' +
                                    '</ul>' +
                                '</a>' +
                            '</dd>' +
                        '</dl>' +
                    '</div>';
            }

            $('.slick_primezone').slick('slickRemove', null, null, true);
            $('.slick_primezone').slick('slickAdd', result);
        }

        function setGameSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="javascript:checkTeenager(\'/sells/detail/'+itemId+'\');">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#sell_list').html(result);
        }

        function setGameBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="javascript:checkTeenager(\'/buys/detail/'+itemId+'\');">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#buy_list').html(result);
        }

        function setOtcSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-sells/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_sell_list').html(result);
        }

        function setOtcBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-buys/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_buy_list').html(result);
        }

        function setNoticeList(data) {
            var result = "";

            // console.log(data)

            var len = 5; // data.length
            for(var i=0; i<len; i++) {
                var noticeId = data[i]._id;
                var title = data[i].title;
                
                result += '<li><div class="ellipse noti_ell"><a href="/supports/notice/detail?noticeId='+noticeId+'">'+title+'</a></div></li>'
            }
            $('#notice_list').html(result);
        }

        function setEtcSellList(data) {
            var result = "";

            if(data.length > 0) {
                for(var i=0; i<data.length; i++) {
                    var itemId = data[i]._id;
                    var item_type = getItemType(data[i].type);
                    var price = numberWithCommas(data[i].total_price);
                    var point = numberWithCommas(data[i].total_point);
                    var status = getStatus(data[i].status);
                    var delivery_type = getDelivery(data[i].delivery_type == undefined ? "direct" : data[i].delivery_type);
                    var image_src;
                    if(data[i].images[0] === undefined || data[i].images[0] === "") {
                        image_src = "/image/no-image.png";
                    } else {
                        image_src = data[i].images[0].path;
                    }
                    var title = data[i].title;
                    var regDate = data[i].regDate.substring(2, 10);
                    var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                    var money = point + '<span>Point</span>';
                    if("<%=useBlockchain%>" =='Y') {
                        money = price + '<span>'+cryptoCurrencyCode+'</span>';
                    }
                    
                    if(i % 4 === 0) result += '<li class="li_asset cf">'
                    
                    result += '<div class="asset_once">'
                            +     '<div class="img_list_box">'
                            +        '<div class="photo_frame">'
                            +        '<em class="ico_trade state_possible step'+status.number+'">'+status.text+'</em>'
                            +        '<em class="ico_trade state_step '+delivery_type.className+'">'+delivery_type.text+'</em>'
                            +        '<a href="/etc-sells/detail/'+itemId+'"><img src="'+image_src+'" alt=""></a>'
                            +        '</div>'
                            +        '<dl>'
                            +            '<dt>'
                            +            '<div class="ellipse"><a href="/etc-sells/detail/'+itemId+'">' + title + '</a><span class="reply_num">(0)</span></div>'
                            +             '<dd class="cf">'
                            +                '<div class="money_txt">'+money+'</div>'
                            +                '<div class="time_txt">'+regDate+'</div>'
                            +            '</dd>'
                            +        '</dl>'
                            +    '</div>'
                            + '</div>'
                    // VIEW MORE 버튼 빼버림
                    // if(i===data.length -1) {
                    //     result += '<div class="asset_once"><div class="img_list_box"><div class="view_more">'
                    //             + '<a href="/etc-sells?category=etc&trade_type=sell"><em>+</em><span>VIEW<br>MORE</span></a>'
                    //             + '</div></div></div>'
                    // }
                    if(i % 4 === 3) result += '</li>'
                }
            }
            $('#assetsTrade').html(result);
        }

        function setCommunityMovie(data) {
            console.log(data) // type, recommandCount, count
            var result = "";
            for(var i=0; i<data.length; i++) {
                var movie_img = data[i].images.length == 0 ? "/static/img/main/community_noimage2.jpg" : data[i].images[0].path;
                var title = data[i].title;
                var movieUrl = data[i].movieUrl;
                var recommandCount = data[i].recommandCount ? data[i].recommandCount : 0;
                var replyCount = data[i].replyCount ? data[i].replyCount : 0;
                result +=   '<div class="media_img">' +
                                '<a class="cf" href="community/board/detail/'+data[i]._id+'">' +
                                    '<div class="cmnt_photo">' +
                                        '<img src="'+movie_img+'" alt="">' +
                                    '</div>' +
                                    '<div class="cmnt_title">' +
                                        '<h2 class="ellipse">'+title+'</h2>' +
                                        '<p class="cmnt_info"><span>♥ '+recommandCount+'</span><span>'+replyCount+'</span></p>' +
                                    '</div>' +
                                '</a>' +
                            '</div>';
            }

            $('.media_img_wrap').html(result);
        }

        // 이벤트 미션 리스트 아이템 조회
        function setEventMissionContents() {
            // console.log(data) // type, recommandCount, count
            var result = "";
            var query = "/v1/community/list?pageIdx=0&type=event";

            $.ajax({
                method: "GET",
                url: query,
            }).done(function (success) {
                // pageIdx = success.pageIdx;
                setCommunitys(success.data.list);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function setCommunitys(data) {
            var result="";
            var list="";

            for(var i=0; i<data.length; i++) {
                var id = data[i]._id;
                var type = getCommunityType(data[i].type);
                var title = data[i].type == 'movie' ? '<i class="ico_media material-icons">live_tv</i>' + data[i].title : data[i].title;
                var reporter = data[i].reporter;
                var imgSrc = data[i].images.length > 0 ? data[i].images[0].path : "";
                var count = data[i].recommandCount == undefined ? 0 : data[i].recommandCount;
                var regDate = data[i].regDate.substring(2, 10);
                var replyCount = data[i].replyCount != undefined? data[i].replyCount : "0";

                list += '<li onclick="javascript:location.href=\'community/board/detail/'+id+'\'">'
                list += '<div style="height: 110px;width: 100%;padding: 4px 4px;overflow: hidden;"> <img src="' + imgSrc + '"/> </div>'
                list += '<div>' + '<span class="ellipse">' + title + '</span>' + '<em>' + replyCount + '</em>' + '</div>'
                list += '<div>'+ reporter + '</div>'
                list += '<div>'+ count + '</div>'
                list += '<div>'+ regDate + '</div>'
                list += '</li>'
            }

            $('#event_list2').append(list);
        }

        function setCommunityBoard(data) {
            var result = "";
            for(var i=0; i<data.length; i++) {
                var title = data[i].title;
                result += '<li class="ellipse">'+title+'</li>';
            }

            $('#community_boards').html(result);
        }

        function makeHasetCategoryList() {
            $.ajax({
                method: "GET",
                url: "/v1/categories"
            }).done(function (success) {
                var arrResult = success.data;
                var $hashtagCategory = $("#hashtagCategory");
                // hashtagCategory
                // var li = '<li class="hash_all"><a href="/etc-sells?category=etc&trade_type=sell"><span>전체</span></a></li>';
                for (var i = 0; i < arrResult.length; i++) {
                    var idx = i % 5 + 1;
                    li += '<li class="c'+idx+'"><a href="/etc-sells?category=etc&trade_type=sell&category1='+encodeURIComponent(arrResult[i].category1)+'"><span>'+arrResult[i].category1+'</span></a></li>';
                }
                // OTC
                li += '<li class="li_otc"><a href="/otc-sells"><span>OTC</span></a></li>';
                // 게임아이템
                li += '<li class="li_game"><a href="/sells"><span>게임아이템</span></a></li>';
                $hashtagCategory.append(li)
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function searchGameMission() {
            var category = "game";
            var trade_type = "sell";
            var pageIdx = 0;

            var query = "/v1/items?category=" + category + "&trade_type=" + trade_type + "&pageIdx=" + pageIdx;

            $.ajax({
                method: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                url: query
            }).done(function (success) {
                console.log(success.data);
                if (success.data.count != 0) {
                    pageIdx = success.pageIdx;
                    setGameMission(success.data.list);
                } else {
                }

            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function setGameMission(data) {
            var strDOM = '';
            var view_count = 0;
            if(data.length > 5){
                view_count = 5;
            }else{
                view_count = data.length;
            }

            for (var i = 0; i < view_count; i++) {

                var itemId = data[i]._id;
                var regDate = data[i].regDate.substring(2, 10);

                var item_game_server = data[i].game_name;

                var title = data[i].title;
                var price = numberWithCommas(data[i].price);
                var point = numberWithCommas(data[i].point);
                var status = getStatus(data[i].status);
                var item_type = getItemType(data[i].type);
                var trade_type = replaceType(data[i].trade_type);
                var replyCount = data[i].replyCount;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;

                var money = point + 'Point';
                if("<%= useBlockchain %>" == "Y") {
                    money = price + cryptoCurrencyCode;
                }

                strDOM += '<tr class="game_item" onclick="javascript:location.href=\'/sells/detail/'+itemId+'\';">' + 
                                '<td class="game_server">'+item_game_server+'</td>' + 
                                '<td class="contents">' + 
                                    '<span class="btn_cmm_bd '+item_type.className+'"></span>';
                strDOM +=              '<div class="no_ellipse"> ' + title + 
                                        '<span class="reply_num">('+replyCount+')</span>' + 
                                    '</div>' + 
                                '</td>' + 
                                '<td class="money">'+ money +'</td>' + 
                            '</tr>';
            }

            $("#game_list").append(strDOM);
        }



        function searchCoinMission() {
            var category = "otc";
            var trade_type = "sell";
            var pageIdx = 0;

            var query = "/v1/items?category=" + category + "&trade_type=" + trade_type + "&pageIdx=" + pageIdx;

            $.ajax({
                method: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                url: query
            }).done(function (success) {
                console.log(success.data);
                if (success.data.count != 0) {
                    pageIdx = success.pageIdx;
                    setCoinMission(success.data.list);
                } else {
                }

            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function setCoinMission(data) {
            var strDOM = '';
            var view_count = 0;
            if(data.length > 5){
                view_count = 5;
            }else{
                view_count = data.length;
            }

            for (var i = 0; i < view_count; i++) {

                var itemId = data[i]._id;
                var regDate = data[i].regDate.substring(2, 10);
                var title = data[i].title;
                var price = numberWithCommas(data[i].price);
                var point = numberWithCommas(data[i].point);
                var status = getStatus(data[i].status);
                var delivery_type = getDelivery(data[i].delivery_type == undefined ? "direct" : data[i].delivery_type);
                var item_type = getItemType(data[i].type);
                var trade_type = replaceType(data[i].trade_type);
                //var image_url = data[i].images.length == 0 ? '/image/no-image.png' : data[i].images[0].path;
                var userTag = data[i].userTag;
                var tradingFlag = "";
                var replyCount = data[i].replyCount;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;

                if(userTag === "machprime") {
                    tradingFlag = '<div class="ico_special ico_timekill"></div>';
                    // prime 상품의 경우: <div class="ico_special ico_prime"></div>
                } else {
                    tradingFlag = '<em class="ico_trade state_step '+delivery_type.className+'"></em>';
                }
                
                var money = point + '<span>Point</span>';
                if("<%= useBlockchain %>" == "Y") {
                    money = price + '<span>'+cryptoCurrencyCode+'</span>';
                }

                strDOM += '<tr onclick="javascript:location.href=\'/sells/detail/'+itemId+'\';">' + 
                                '<td class="contents">';
                strDOM +=              '<div class="no_ellipse"> ' + title + 
                                            '<span class="reply_num">('+replyCount+')</span>' + 
                                    '</div>' + 
                                '</td>' + 
                                '<td class="money">'+ money +'</td>' +
                                '<td class="money">'+regDate+'</td>' + 
                            '</tr>';
            }
            

            $("#coin_list").append(strDOM);
        }
    </script>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap" style="background: rgb(238, 237, 237);">
        <div id="floating_btn">
            <a href="#"><img src="/static/img/floating_top_btn.png"></a>
        </div>
        <div class="visual_wrap">
            <section class="visual_sec">
                <h1 class="blind">메인 비주얼 이미지 영역</h1>
                <div class="slick_visual">
                    <div class="visual_img">
                        <a href="/etc-sells?category=etc&trade_type=sell">
                            <div class="pc_img">
                                <img src="/static/img/main/main_banner_renewal.png" alt="리뉴얼 오픈">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/main/main_banner_renewal.png" alt="리뉴얼 오픈">
                            </div>
                        </a>
                    </div>
                    <div class="visual_img">
                        <a href="/howto/trade/vtr">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual21.jpg" alt="그랜드 오픈">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual21.jpg" alt="그랜드 오픈">
                            </div>
                        </a> 
                    </div>
                    <div class="visual_img">
                        <a href="/supports/notice/detail?noticeId=5dcba03e67b0420a12a5082e">
                            <div class="pc_img">
                                <img src="http://www.marketmach.com:9090/res/img/main-visual/kr/main_visual29.jpg" alt="수수료 무료">
                            </div>
                            <div class="mob_img">
                                <img src="http://www.marketmach.com:9090/res/img/main-visual/kr/m_main_visual29.jpg" alt="수수료 무료">
                            </div>
                        </a>
                    </div>
                    <div class="visual_img">
                        <a href="/supports/notice/detail?noticeId=5d96f072b74d7d39ac0dee8a">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual26.jpg" alt="ONT 입점">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual26.jpg" alt="ONT 입점">
                            </div>
                        </a>
                    </div>   
                    <div class="visual_img">
                        <a href="/gameStation/machAdventure/info/">
                            <div class="pc_img">
                                <img src="http://www.marketmach.com:9090/res/img/main-visual/kr/main_visual28.jpg" alt="모바일 게임">
                            </div>
                            <div class="mob_img">
                                <img src="http://www.marketmach.com:9090/res/img/main-visual/kr/m_main_visual28.jpg" alt="모바일 게임">
                            </div>
                        </a>
                    </div>   
                </div>
                <%# nav-visual-length의 숫자 배너 length에 맞게 적을 것 %>
                <!-- <div class="nav_slick_visual" id="navSlcikVisual" nav-visual-length="5">
                    <div class="nav_text_box on"><div class="nav_text_box_inner"><em>리뉴얼 오픈</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>그랜드 오픈</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>수수료 무료</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>ONT 입점</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>모바일 게임</em></div></div>
                </div> -->
            </section>
        </div>

        <div class="renewer_container">
            <!-- <section class="w100p_banner">
                <h1 class="blind">advertise</h1>
                    <a class="mob_hide" href="https://open.kakao.com/o/gNPGb7sb" target="_blank">
                        <img src="/static/img/main/main_content_banner04.jpg" alt="마켓마하 오픈채팅 PC">
                    </a>
                    <a class="mob_show" href="https://open.kakao.com/o/gNPGb7sb" target="_blank">
                        <img src="/static/img/mob/mob_main_banner04.jpg" alt="마켓마하 오픈채팅 mobile">
                    </a>
            </section> -->
            
            <%# 
            <div class="img_banner_sec row">
                <!-- 게임 아이템 판매/구매 -->
                <section class="secGame item_trade_sec col-lg-8">
                    <h1 class="tit_main_sec main_tit_gameitem">Game Item</h1>
                    <h2 class="item_sell_tit on">
                        <button class="btnGame btn_show_list on">판매</button>
                        <a class="detail_link" href="/sells?category=game&trade_type=sell"><img src="/static/img/main/ico_view.png" alt=""></a>
                    </h2>
                    <div class="item_sell item_table_wrap trade_list toggleTable">              
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_gameitem">
                                <col class="col4_1">
                                <col class="col4_2">
                                <col class="col4_3">
                                <col class="col4_4">
                            </colgroup>
                            <thead>
                                <tr class="active">
                                    <th>종류</th>
                                    <th>게임명>서버명</th>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="sell_list">                               
                            </tbody>
                        </table>
                    </div>
                    <h2 class="item_buy_tit">
                        <button class="btnGame btn_show_list">구매</button>
                        <a class="detail_link" href="/buys?category=game&trade_type=buy"><img src="/static/img/main/ico_view.png" alt=""></a>
                    </h2>
                    <div class="item_buy item_table_wrap trade_list toggleTable">
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_gameitem">
                                <col class="col4_1">
                                <col class="col4_2">
                                <col class="col4_3">
                                <col class="col4_4">
                            </colgroup>                            
                            <thead>
                                <tr>
                                    <th>종류</th>
                                    <th>게임명>서버명</th>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="buy_list">
                            </tbody>
                        </table>                           
                    </div>             
                </section>
                <!--// 게임 아이템 판매/구매 -->
                <section class="assets_trade_sec col-lg-4">
                    <h1 class="tit_main_sec main_tit_assets">자산거래<a class="detail_plus" href="/etc-sells?category=etc&trade_type=sell"></a></h1>
                    <div id="assetsTrade"></div>
                </section>
            </div>   
            
            <div class="row">
                <!-- OTC 판매/구매 -->
                <section class="secOtc item_trade_sec col-lg-8">
                    <h1 class="tit_main_sec main_tit_otc">OTC</h1>
                    <h2 class="item_sell_tit on">
                        <button class="btnOtc btn_show_list on">판매</button>
                        <a class="detail_link" href="/otc-sells?category=otc&trade_type=sell"><img src="/static/img/main/ico_view.png" alt=""></a>                        
                    </h2>
                    <div class="otc_sell otc_table_wrap trade_list toggleTable">              
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_otc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="otc_sell_list">                               
                            </tbody>
                        </table>
                    </div>
                    <h2 class="item_buy_tit">
                        <button class="btnOtc btn_show_list">구매</button>
                        <a class="detail_link" href="/otc-buys?category=otc&trade_type=buy"><img src="/static/img/main/ico_view.png" alt=""></a>      
                    </h2>
                    <div class="otc_buy otc_table_wrap trade_list toggleTable">
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_otc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>                            
                            <thead>
                                <tr>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="otc_buy_list">
                            </tbody>
                        </table>                           
                    </div>             
                </section>
                <!--// OTC 아이템 판매/구매 -->
                <section class="secNoti1 noti_area col-lg-4">
                    <h1 class="tit_main_sec main_tit_notice">Notice<a class="detail_plus" href="/supports/notice"></a></h1>
                    <div class="bd_area">
                        <ul id="notice_list" class="noti_list">
                        </ul>       
                    </div>
                    <div class="noti_btm_media">
                        <ul class="cf">
                            <li><a href="https://www.facebook.com/MarketMACH" target="_blank"><img src="/static/img/symbol/ico_noti_media_facebook.png" alt="facebook"></a></li>
                            <li><a href="https://twitter.com/MACH99077436" target="_blank"><img src="/static/img/symbol/ico_noti_media_twitter.png" alt="twitter"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC0d7GufTm0iG1IX_Lenp11w?feature=embeds_subscribe_title" target="_blank"><img src="/static/img/symbol/ico_noti_media_youtube.png" alt="youtube"></a></li>
                            <li><a href="https://medium.com/@kdi_35594" target="_blank"><img src="/static/img/symbol/ico_noti_media_medium.png" alt="facebook"></a></li>
                        </ul>
                    </div>
                </section>
            </div>   
            %>

            <section class="section_asset">
                <div class="section_title">
                    <p>중고자산</p>
                    <h2>필요없는 물건 팔아 코인 벌어보자!</h2>
                    <a href="/etc-sells?category=etc&trade_type=sell" class="board_view_link">전체보기</a>
                </div>
                <div class="main_inner_wrap">
                    <!-- <h1 class=""><img src="/static/img/main/tit_asset.png" alt="ASSET"></h1> -->
                    <div class="photo_list">
                        <ul id="assetsTrade">
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section_hashtag">
                <div class="main_inner_wrap hashtag_category_wrap">
                    <table class="table_hashtag">
                        <colgroup>
                            <col style="width:50%">
                            <col style="width:50%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><img src="/static/img/hash_1.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=여성의류"><span><font style="color:black">여성의류</font></span></a></td>
                                <td><img src="/static/img/hash_2.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=남성의류"><span><font style="color:black">남성의류</font></span></a></td>
                            </tr>
                            <tr>
                                <td><img src="/static/img/hash_3.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=패션잡화"><span><font style="color:black">패션잡화</font></span></a></td>
                                <td><img src="/static/img/hash_4.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=뷰티/미용"><span><font style="color:black">뷰티/미용</font></span></a></td>
                            </tr>
                            <tr>
                                <td><img src="/static/img/hash_5.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=유아동/출산"><span><font style="color:black">유아동/출산</font></span></a></td>
                                <td><img src="/static/img/hash_6.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=스포츠/레저"><span><font style="color:black">스포츠/레저</font></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="section_hashtag">
                <div class="main_inner_wrap hashtag_category_wrap">
                    <table class="table_hashtag">
                        <colgroup>
                            <col style="width:50%">
                            <col style="width:50%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><img src="/static/img/hash_7.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=디지털/가전"><span><font style="color:black">디지털/가전</font></span></a></td>
                                <td><img src="/static/img/hash_8.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=생활/가구"><span><font style="color:black">생활/가구</font></span></a></td>
                            </tr>
                            <tr>
                                <td><img src="/static/img/hash_9.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=도서/티켓"><span><font style="color:black">도서/티켓</font></span></a></td>
                                <td><img src="/static/img/hash_10.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=취미/애완"><span><font style="color:black">취미/애완</font></span></a></td>
                            </tr>
                            <tr>
                                <td><img src="/static/img/hash_11.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=문구/키덜트"><span><font style="color:black">문구/키덜트</font></span></a></td>
                                <td><img src="/static/img/hash_12.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=차량/용품"><span><font style="color:black">차량/용품</font></span></a></td>
                            </tr>
                            <tr>
                                <td><img src="/static/img/hash_13.png"></img>
                                    <a href="/etc-sells?category=etc&trade_type=sell&category1=기타"><span><font style="color:black">기타</font></span></a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- 미션 -->
            <section class="section_community">
                <div class="section_title">
                    <p>미션</p>
                    <a href="/community/board/free" class="board_view_link">전체보기</a>
                </div>
                <div class="main_inner_wrap">
                    
                    <div class="media_img_wrap cf">
                    </div>
                </div>
            </section>

            <section class="section_community">
                <div class="section_title">
                    <p>이벤트 미션</p>
                    <a href="/community/board/event" class="board_view_link">전체보기</a>
                </div>
                <div class="main_inner_wrap">
                    
                    <dl class="responsive_table_style" style="overflow: scroll;">
                        <dt class="w_wrap">
                            <div>&nbsp;</div>
                            <div>제목</div>
                            <div>작성자</div>
                            <div>좋아요</div>
                            <div>등록일</div>
                        </dt>
                        <dd>
                            <ul id="event_list2" class="w_wrap">
                            </ul>
                        </dd>
                        </dl>
                </div>
            </section>

            <!-- 자산거래 -->
            <section class="section_community">
                <div class="section_title">
                    <p>게임자산</p>
                    <h2>게임 아이템 팔아 코인 벌자!</h2>
                    <a href="/sells?category=game&trade_type=sell" class="board_view_link">전체보기</a>
                </div>
                <div class="main_inner_wrap">
                    
                    <dl class="responsive_table_style" style="overflow: scroll;">
                        <dd>
                            <ul id="game_list" class="w_wrap">
                            </ul>
                        </dd>
                        </dl>
                </div>
            </section>

            <section class="section_community">
                <div class="section_title">
                    <p>코인자산</p>
                    <h2>암호화폐 팔아 코인 벌자!</h2>
                    <a href="/otc-sells?category=otc&trade_type=sell" class="board_view_link">전체보기</a>
                </div>
                <div class="main_inner_wrap">
                    
                    <dl class="responsive_table_style" style="overflow: scroll;">
                        <dd>
                            <ul id="coin_list" class="w_wrap">
                            </ul>
                        </dd>
                        </dl>
                </div>
            </section>

            <div class="w100p_banner">
                <a class="mob_hide" href="https://www.coingame.com" target="_blank">
                    <!-- <img src="/static/img/en/en_main_content_banner03.jpg" alt="bitweb PC"> -->
                    <img src="/static/img/en/en_main_content_banner05.jpg" alt="bitweb PC">
                </a>
                <a class="mob_show" href="https://www.coingame.com" target="_blank">
                    <!-- <img src="/static/img/en/en_mob_main_banner03.jpg" alt="bitweb mobile"> -->
                    <img src="/static/img/en/en_mob_main_banner05.jpg" alt="bitweb mobile">
                </a>
            </div>
                
            <div class="noti_hot_section_wrap">
                <div class="main_inner_wrap dfb">
                    <section class="section_notice">
                        <!-- <h1>NOTICE</h1> -->
                        <div class="section_title">
                            <p>알림</p>
                        </div>
                        <div class="line_box">
                            <ul id="notice_list" class="noti_list">
                            </ul>
                        </div>
                    </section>
                    <section class="section_hotmenu">
                        <!-- <h1>HOT MENU</h1> -->
                        <a href="/supports/event">
                            <img src="/static/img/main/img_btn_event.jpg" alt="event">
                        </a>
                        <a href="/gameStation">
                            <img src="/static/img/main/img_btn_game.jpg" alt="gamestation">
                        </a>
                    </section>
                </div>
            </div>
            
            <div class="main_inner_wrap">
                <section class="company_sec">
                    <!-- <h1 class="main_tit_partners">PARTNERS</h1>
                    <div class="cf">
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                        <div class="cpn_box"><a class="noCursor" href="javascript:return false"><i class="material-icons">add_circle</i></a></div>
                    </div> -->
                    <div class="partners_layer">
                        <a href="https://ont.io/" target="_blank"><img src="/static/img/main/logo_ontology.jpg" alt="Ontology" title="Ontology"></a>
                        <a href="https://bitberry.app/" target="_blank"><img src="/static/img/main/logo_bitberry.jpg" alt="Bitberry" title="Bitberry"></a>
                        <a href="https://platinum.fund/sto/?_ga=2.87917656.1126027466.1571027887-817120676.1571027887/" target="_blank"><img src="/static/img/main/logo_platinum.jpg" alt="Platinum" title="Platinum"></a>
                        <a href="https://safe.upbit.com/" target="_blank"><img src="/static/img/main/logo_upbit.png" alt="UpBitSafe" title="UpBitSafe"></a>
                        <!-- <a href="http://www.coinvoice.kr/" target="_blank"><img src="/static/img/main/logo_coinvoice.jpg" alt="코인보이스" title="코인보이스"></a>
                        <a href="https://www.coingame.com/" target="_blank"><img src="/static/img/main/logo_coin_game.jpg" alt="코인게임" title="코인게임"></a>
                        <a href="http://www.blockchaintoday.co.kr/" target="_blank"><img src="/static/img/main/logo_today.jpg" alt="블록체인투데이" title="블록체인투데이"></a>
                        <a href="http://bitweb.co.kr/" target="_blank"><img src="/static/img/main/logo_bitweb.jpg" alt="비트웹" title="비트웹"></a> -->
                    </div>
                </section>                   
            </div>
        </div>
        <!--// container -->
    </div>
    <!--// content_wrap -->

    <!-- <section class="partners_ci">
        <div class="ci_arrow">
            <div class="ci_ico_arrow prev"><i class="material-icons">keyboard_arrow_left</i></div>
            <div class="ci_ico_arrow next"><i class="material-icons">keyboard_arrow_right</i></div>
        </div>
        <div class="ci_area">
            <div class=""><a href="http://www.kipo.go.kr​" target="_blank"><img src="/static/img/main/footer_ci_01.png" alt="특허청"></a></div>
            <div class=""><a href="http://www.ftc.go.kr" target="_blank"><img src="/static/img/main/footer_ci_02.png" alt="공정거래위원회"></a></div>
            <div class=""><a href="https://www.kisa.or.kr" target="_blank"><img src="/static/img/main/footer_ci_03.png" alt="한국인터넷진흥원"></a></div>
            <div class=""><a href="https://okbfex.kbstar.com/quics?page=oescrow" target="_blank"><img src="/static/img/main/footer_ci_04.png" alt="KB에스크로"></a></div>
            <div class=""><a href="https://thecheat.co.kr" target="_blank"><img src="/static/img/main/footer_ci_05.png" alt="더치트"></a></div>
            <div class=""><a href="http://cyberbureau.police.go.kr" target="_blank"><img src="/static/img/main/footer_ci_06.png" alt="경찰청 사이버안전국"></a></div>                
        </div>
    </section>  -->

    <!-- 모달창 -->
    <div class="dim_all_area" style="display: none">
        <article class="modal_bitberry_deposit">
            <br>
            <h1>휴대폰 인증 필요</h1>
            <p>[나의 페이지->회원정보수정]에서 휴대폰 인증을 하시기 바랍니다.</p>
            <button id="gotoUserInfo" class="btn btn-danger">확인</button>
        </article>
    </div>
    <% include ../include/footer.html %>
</div>
</body>
