<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <script>
        var myCurrency;
        document.querySelector("#floatingInfoBox").setAttribute("ismain", "true");

        $(document).ready(function () {
            loadItemsAll();
            if("<%=useBlockchain%>"=="Y") {
                loadCurrencyData();
            }

            if(userId != "" && authPhone == "") {
                // 메인 전용 팝업 로직
                // $(".dim_all_area").show();
                // $("body").css("position", "fixed");
            }
        });
        
        function loadCurrencyData() {
            var loadText = '<div class="coin_load_text cf">';
                loadText += '<em>COIN 시세를 불러오는 중입니다.</em>';
                loadText += '<div class="lds-facebook"><div></div><div></div><div></div></div>';
                loadText += '</div>';
                $('.slick_coin_quotes').slick('slickAdd', loadText);
                
            var currency_url = "/v1/charts/currency/5";
            var currency = function () {
                $.ajax({
                    method: "GET",
                    url: currency_url,
                }).done(function (success) {
                    //console.log(success);
                    loadCurrency(success.data);
                }).fail(function (fail) {
                    console.log('system error : ', fail);
                });
            };
            if(myCurrency != undefined) {
                clearInterval(myCurrency);
            }

            currency();
            //myCurrency = setInterval(currency, 1000 * 60);
            //console.log(myCurrency);
        }
        function loadCurrency(data) {

            var chartTotalData = data;
            var currency_result = "";

            for (var i = 0; i < chartTotalData.length; i++) {
                if(chartTotalData[i].data.binance.change_percent > 0) {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fcrd">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                } else {
                    currency_result += '<div class="">' +
                    '<dl class="cf">' +
                        '<dt><em class="ico_coin '+chartTotalData[i].type.toLowerCase()+'"></em>'+chartTotalData[i].type+'</dt>' +
                        '<dd class="fc3">$'+chartTotalData[i].data.binance.usd_price+'<em>'+chartTotalData[i].data.binance.change_percent+'%</em></dd>' +
                    '</dl>' +
                '</div>';
                }
                
            }

            $('.slick_coin_quotes').slick('slickRemove', null, null, true);
            $('.slick_coin_quotes').slick('slickAdd', currency_result);
        }

        function loadItemsAll() {
            var url = "/v1/items/all";
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                var strDOM = '';
                var game_buys = success.data.game_buys;
                var game_sells = success.data.game_sells;
                var etc_buys = success.data.etc_buys;
                var etc_sells = success.data.etc_sells;
                var prime_services = success.data.primes;
                var cms = success.data.cms;
                var movies = success.data.movies;
                var boards = success.data.boards;
                var otc_buys = success.data.otc_buys;
                var otc_sells = success.data.otc_sells;
                var notices = success.data.notices;
                
                console.log(success);

                setPrimeService(prime_services);
                setGameSellList(game_sells);
                setGameBuyList(game_buys);
                setEtcSellList(etc_sells);
                setOtcBuyList(otc_buys);
                setOtcSellList(otc_sells);
                setNoticeList(notices);
                setCommunityMovie(movies);
                setCommunityBoard(boards);
            }).fail(function (fail) {
                console.log('system error : ', fail);
            })
        }

        function setPrimeService(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var trade_type = replaceType(data[i].trade_type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var title = data[i].title;
                var money = point + '<span>Point</span>';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + '<span>'+cryptoCurrencyCode+'</span>';
                }

                result += '<div>' +
                    '<img src="/static/img/main/monkey_face.png" alt="원숭이아이콘" class="img_monkey">' +
                    '<dl class="card_ui '+trade_type.title_bg_class+'">' +
                        '<dt class="'+trade_type.title_class+'">' + trade_type.title + '</dt>' +
                        '<dd>' +
                            '<a href="javascript:checkTeenager(\'/sells/detail/'+itemId+'\');">' +
                                '<ul>' +
                                    '<li class="cf">' +
                                        '<em>'+item_type.text+'</em>' +
                                        '<strong class="fc1">'+money+'</strong>' +
                                        '</li>' +
                                        '<li>'+game_server+'</li>' +
                                        '<li>'+title+'</li>' +
                                    '</ul>' +
                                '</a>' +
                            '</dd>' +
                        '</dl>' +
                    '</div>';
            }

            $('.slick_primezone').slick('slickRemove', null, null, true);
            $('.slick_primezone').slick('slickAdd', result);
        }

        function setGameSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="javascript:checkTeenager(\'/sells/detail/'+itemId+'\');">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#sell_list').html(result);
        }

        function setGameBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var item_type = getItemType(data[i].type);
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var game_server = data[i].game_name + '>' + data[i].game_server;
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td>'+item_type.text+'</td>' + 
                        '<td>'+game_server+'</td>' + 
                        '<td><div class="ellipse"><a href="javascript:checkTeenager(\'/buys/detail/'+itemId+'\');">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#buy_list').html(result);
        }

        function setOtcSellList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-sells/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_sell_list').html(result);
        }

        function setOtcBuyList(data) {
            var result = "";

            for(var i=0; i<data.length; i++) {
                var itemId = data[i]._id;
                var price = numberWithCommas(data[i].total_price);
                var point = numberWithCommas(data[i].total_point);
                var title = data[i].title;
                var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                var money = point + ' Point';
                if("<%=useBlockchain%>" =='Y') {
                    money = price + ' ' + cryptoCurrencyCode;
                }
                
                result += '<tr>' + 
                        '<td><div class="ellipse"><a href="/otc-buys/detail/'+itemId+'">'+title+'</a></div></td>' + 
                        '<td>'+money+'</td>' + 
                    '</tr>';
            }
            $('#otc_buy_list').html(result);
        }

        function setNoticeList(data) {
            var result = "";

            console.log(data)

            for(var i=0; i<data.length; i++) {
                var noticeId = data[i]._id;
                var title = data[i].title;
                
                result += '<li><div class="ellipse noti_ell"><a href="/supports/notice/detail?noticeId='+noticeId+'">'+title+'</a></div></li>'
            }
            $('#notice_list').html(result);
        }

        function setEtcSellList(data) {
            var result = "";

            if(data.length > 0) {
                for(var i=0; i<1; i++) {
                    var itemId = data[i]._id;
                    var item_type = getItemType(data[i].type);
                    var price = numberWithCommas(data[i].total_price);
                    var point = numberWithCommas(data[i].total_point);
                    var image_src;
                    if(data[i].images[0] === undefined || data[i].images[0] === "") {
                        image_src = "/image/no-image.png";
                    } else {
                        image_src = data[i].images[0].path;
                    }
                    var title = data[i].title;
                    var regDate = data[i].regDate;
                    var cryptoCurrencyCode = data[i].cryptoCurrencyCode == undefined ? "MACH" : data[i].cryptoCurrencyCode;
                    var money = point + '<span>Point</span>';
                    if("<%=useBlockchain%>" =='Y') {
                        money = price + '<span>'+cryptoCurrencyCode+'</span>';
                    }
                    
                    result += 
                    '<div class="bd_area">' +
                        '<a href="/etc-sells/detail/'+itemId+'"><div class="assets_img">' +
                            '<img src="'+image_src+'" alt="">' +
                        '</div>' +
                        '<dl>' +
                            '<dt>' +
                                '<div class="assets_tit_txt ellipse">'+title+'</div>' +
                            '</dt>' +
                            '<dd class="cf">' +
                                '<div class="money_txt">'+money+'</div>' +
                                '<div class="time_txt">'+regDate.substring(2,10)+'</div>' +
                            '</dd>' +
                        '</dl></a>' +
                    '</div>';
                }
            }
            $('#assetsTrade').html(result);
        }

        function setCommunityMovie(data) {
            var result = "";
            for(var i=0; i<data.length; i++) {
                var movie_img = data[i].images[0].path;
                var title = data[i].title;
                var movieUrl = data[i].movieUrl;
                result += '<div class="media_img">' +
                                '<a href="'+movieUrl+'" target="_blank">' +
                                    '<img src="'+movie_img+'" alt="">' +
                                    '<h2 class="ellipse">'+title+'</h2>' +
                                '</a>' +
                            '</div>';
            }

            $('.media_img_wrap').html(result);
        }

        function setCommunityBoard(data) {
            var result = "";
            for(var i=0; i<data.length; i++) {
                var title = data[i].title;
                result += '<li class="ellipse">'+title+'</li>';
            }

            $('#community_boards').html(result);
        }
    </script>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="visual_wrap">
            <section class="visual_sec">
                <h1 class="blind">메인 비주얼 이미지 영역</h1>
                <div class="slick_visual">    
                    <div class="visual_img">
                        <a href="http://bit.ly/2JsCDwQ" target="_blank">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual15.jpg" alt="LATOKEN">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual15.jpg" alt="LATOKEN">
                            </div>
                        </a>
                    </div>        
                    <div class="visual_img">
                        <a href="/supports/notice/detail?noticeId=5d1db5ac5e0698631cae511d">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual14.jpg" alt="마하코인 2차 IEO">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual14.jpg" alt="마하코인 2차 IEO">
                            </div>
                        </a>
                    </div>
                    <div class="visual_img">
                        <a href="/gameStation/superlanding/info">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual17.jpg" alt="슈퍼랜딩">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual17.jpg" alt="슈퍼랜딩">
                            </div>
                        </a>
                    </div>    
                    <!-- <div class="visual_img">
                        <a href="/supports/event/detail/5d1b2b51aa5354a85615767f">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual13.jpg" alt="개인 자산 판매 에어드롭 이벤트">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual13.jpg" alt="개인 자산 판매 에어드롭 이벤트">
                            </div>
                        </a>
                    </div>                      -->
                    <div class="visual_img">
                        <a href="/howto/trade/vtr">
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual01.jpg" alt="그랜드 오픈">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual01.jpg" alt="그랜드 오픈">
                            </div>
                        </a> 
                    </div>                                      
                    <!--
                    <div class="visual_img">
                        <div class="visual_txt">

                        </div>  
                        <a href="">                                 
                            <div class="pc_img">
                                <img src="/static/img/main/main_visual08.jpg" alt="해피머니">
                            </div>
                            <div class="mob_img">
                                <img src="/static/img/mob/m_main_visual08.jpg" alt="해피머니">
                            </div>
                        </a>
                    </div>                     
                    -->                                                
                </div>
                <%# nav-visual-length의 숫자 배너 length에 맞게 적을 것 %>
                <div class="nav_slick_visual" id="navSlcikVisual" nav-visual-length="5">
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>LATOKEN</em></div></div>
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>마하코인 2차 IEO</em></div></div>    
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>2nd MACH Game</em></div></div>
                    <!-- <div class="nav_text_box"><div class="nav_text_box_inner"><em>에어드롭 이벤트</em></div></div> -->
                    <div class="nav_text_box"><div class="nav_text_box_inner"><em>마켓마하 오픈베타</em></div></div>
                </div>
            </section>
        </div>

        <!-- <section class="btm_visual_sec cf">
            <div class="flow_box">
                <h1 class="cf"><i class="material-icons">trending_up</i><span>COIN 시세</span></h1>
            </div>
            <div class="flow_box cf">
                <div class="coin_quotes_arrow">
                    <div class="prev"><i class="material-icons">fast_rewind</i></div>
                    <div class="next"><i class="material-icons">fast_forward</i></div>
                </div>
                <div class="slick_coin_quotes">
                </div>
            </div>
            <div class="flow_box">
                <a class="add_circle_outline" href="https://www.binance.com/kr" target="_blank"><i class="material-icons">add_circle_outline</i></a>
            </div>
        </section> -->

        <!-- primezone_wrap -->
        <div class="primezone_wrap">
            <section class="primezone_sec container">
                <h1><span class="crown"></span><span class="primezone_tit">PRIME ZONE</span></h1>
                <div class="primezone_arrow">
                    <div class="prev"><i class="material-icons">keyboard_arrow_left</i></div>
                    <div class="next"><i class="material-icons">keyboard_arrow_right</i></div>
                </div>
                <div class="slick_primezone">                                                      
                </div>
            </section>
        </div>
        <!--// primezone_wrap -->
        <!--// bootstrap container -->
        <div class="container">
            <div class="w100p_banner row">
                <div class="col-lg-12">
                    <a class="mob_hide" href="https://open.kakao.com/o/gNPGb7sb" target="_blank">
                        <img src="/static/img/main/main_content_banner04.jpg" alt="마켓마하 오픈채팅 PC">
                    </a>
                    <a class="mob_show" href="https://open.kakao.com/o/gNPGb7sb" target="_blank">
                        <img src="/static/img/mob/mob_main_banner04.jpg" alt="마켓마하 오픈채팅 mobile">
                    </a>
                </div>
            </div>
            <div class="row img_banner_tit">
                <h1 class="tit_main_sec main_tit_img_link col-lg-12">Hot Menu</h1>
            </div>
            <div class="img_banner_sec row">
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href="/gameStation"><img src="/static/img/main/mach_link01.jpg" alt="MACH 게임"></a></div>
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href="/myPages/point/info"><img src="/static/img/main/mach_link02.jpg" alt="EVENT"></a></div>
                <!-- <div class="col-xs-12 col-sm-12 col-lg-4"><a href="javascript:alert('기능 개선 중입니다.');" target="_blank"><img src="/static/img/main/mach_link03.jpg" alt="MACH 구입하기"></a></div> -->
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href="/supports/event"><img src="/static/img/main/mach_link04.jpg" alt="Market MACH 이벤트"></a></div>
            </div>
            <div class="img_banner_sec row">
                <!-- 게임 아이템 판매/구매 -->
                <section class="secGame item_trade_sec col-lg-8">
                    <h1 class="tit_main_sec main_tit_gameitem">Game Item</h1>
                    <h2 class="item_sell_tit on">
                        <button class="btnGame btn_show_list on">판매</button>
                        <a class="detail_link" href="/sells?category=game&trade_type=sell"><img src="/static/img/main/ico_view.png" alt=""></a>
                    </h2>
                    <div class="item_sell item_table_wrap trade_list toggleTable">              
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_gameitem">
                                <col class="col4_1">
                                <col class="col4_2">
                                <col class="col4_3">
                                <col class="col4_4">
                            </colgroup>
                            <thead>
                                <tr class="active">
                                    <th>종류</th>
                                    <th>게임명>서버명</th>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="sell_list">                               
                            </tbody>
                        </table>
                    </div>
                    <h2 class="item_buy_tit">
                        <button class="btnGame btn_show_list">구매</button>
                        <a class="detail_link" href="/buys?category=game&trade_type=buy"><img src="/static/img/main/ico_view.png" alt=""></a>
                    </h2>
                    <div class="item_buy item_table_wrap trade_list toggleTable">
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_gameitem">
                                <col class="col4_1">
                                <col class="col4_2">
                                <col class="col4_3">
                                <col class="col4_4">
                            </colgroup>                            
                            <thead>
                                <tr>
                                    <th>종류</th>
                                    <th>게임명>서버명</th>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="buy_list">
                            </tbody>
                        </table>                           
                    </div>             
                </section>
                <!--// 게임 아이템 판매/구매 -->
                <section class="assets_trade_sec col-lg-4">
                    <h1 class="tit_main_sec main_tit_assets">자산거래<a class="detail_plus" href="/etc-sells?category=etc&trade_type=sell"></a></h1>
                    <div id="assetsTrade"></div>
                </section>
            </div>   
  
            <div class="row">
                <!-- OTC 판매/구매 -->
                <section class="secOtc item_trade_sec col-lg-8">
                    <h1 class="tit_main_sec main_tit_otc">OTC</h1>
                    <h2 class="item_sell_tit on">
                        <button class="btnOtc btn_show_list on">판매</button>
                        <a class="detail_link" href="/otc-sells?category=otc&trade_type=sell"><img src="/static/img/main/ico_view.png" alt=""></a>                        
                    </h2>
                    <div class="otc_sell otc_table_wrap trade_list toggleTable">              
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_otc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="otc_sell_list">                               
                            </tbody>
                        </table>
                    </div>
                    <h2 class="item_buy_tit">
                        <button class="btnOtc btn_show_list">구매</button>
                        <a class="detail_link" href="/otc-buys?category=otc&trade_type=buy"><img src="/static/img/main/ico_view.png" alt=""></a>      
                    </h2>
                    <div class="otc_buy otc_table_wrap trade_list toggleTable">
                        <table class="main_list_table">
                            <colgroup class="colgroup_main_otc">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>                            
                            <thead>
                                <tr>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody id="otc_buy_list">
                            </tbody>
                        </table>                           
                    </div>             
                </section>
                <!--// OTC 아이템 판매/구매 -->
                <section class="secNoti1 noti_area col-lg-4">
                    <h1 class="tit_main_sec main_tit_notice">Notice<a class="detail_plus" href="/supports/notice"></a></h1>
                    <div class="bd_area">
                        <ul id="notice_list" class="noti_list">
                        </ul>       
                    </div>
                    <div class="noti_btm_media">
                        <ul class="cf">
                            <li><a href="https://www.facebook.com/MarketMACH" target="_blank"><img src="/static/img/symbol/ico_noti_media_facebook.png" alt="facebook"></a></li>
                            <li><a href="https://twitter.com/MACH99077436" target="_blank"><img src="/static/img/symbol/ico_noti_media_twitter.png" alt="twitter"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC0d7GufTm0iG1IX_Lenp11w?feature=embeds_subscribe_title" target="_blank"><img src="/static/img/symbol/ico_noti_media_youtube.png" alt="youtube"></a></li>
                            <li><a href="https://medium.com/@kdi_35594" target="_blank"><img src="/static/img/symbol/ico_noti_media_medium.png" alt="facebook"></a></li>
                        </ul>
                    </div>
                </section>
            </div>   
  
            <section class="w100p_banner row">
                <div class="col-lg-12">
                    <a class="mob_hide" href="http://bitweb.co.kr/" target="_blank">
                        <img src="/static/img/main/main_content_banner03.jpg" alt="Bit Web">
                    </a>
                    <a class="mob_show" href="http://bitweb.co.kr/" target="_blank">
                        <img src="/static/img/mob/mob_main_banner03.jpg" alt="Bit Web">
                    </a>
                </div>
            </section>
            <div class="row">
                <!-- 동영상 -->
                <section class="media_sec col-lg-12">
                    <h1 class="tit_main_sec main_tit_media">동영상</h1>
                    <div class="bd_area">
                        <div class="media_img_wrap cf">
                        </div>
                    </div>
                </section>
                <!--// 동영상 -->
            </div>
            <div class="row">
                <section class="company_sec col-lg-12">
                    <h1 class="tit_main_sec main_tit_company">상장매체</h1>
                    <div class="bd_area">
                        <div class="cpn_box_wrap cf">
                            <div class="cpn_box"><a href="http://bitweb.co.kr/" target="_blank"><img src="/static/img/main/logo_bitweb.png" alt="비트웹" title="비트웹"></a></div>
                            <div class="cpn_box"><a href="http://www.blockchaintoday.co.kr/" target="_blank"><img src="/static/img/main/logo_today.png" alt="블록체인투데이" title="블록체인투데이"></a></div>
                            <div class="cpn_box"><a href="https://bctimes.co.kr/" target="_blank"><img class="img_vac" src="/static/img/main/logo_times.png" alt="블록체인타임즈" title="블록체인타임즈"></a></div>
                            <div class="cpn_box"><a href="http://gameabout.com/" target="_blank"><img src="/static/img/main/logo_gameabout.png" alt="게임어바웃" title="게임어바웃"></a></div>
                            <div class="cpn_box"><a href="http://www.coinvoice.kr/" target="_blank"><img src="/static/img/main/logo_coinvoice.png" alt="코인보이스" title="코인보이스"></a></div>
                            <div class="cpn_box"><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></div>
                            <div class="cpn_box"><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></div>
                            <div class="cpn_box"><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></div>
                            <div class="cpn_box"><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></div>
                            <div class="cpn_box"><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></div>
                            <div class="cpn_box"><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></div>
                            <div class="cpn_box"><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></div>
                        </div>
                    </div>
                </section>                   
            </div>
        </div>
        <!--// bootstrap container -->
    </div>
    <!--// content_wrap -->

    <section class="partners_ci">
        <div class="ci_arrow">
            <div class="ci_ico_arrow prev"><i class="material-icons">keyboard_arrow_left</i></div>
            <div class="ci_ico_arrow next"><i class="material-icons">keyboard_arrow_right</i></div>
        </div>
        <div class="ci_area">
            <div class=""><a href="http://www.kipo.go.kr​" target="_blank"><img src="/static/img/main/footer_ci_01.png" alt="특허청"></a></div>
            <div class=""><a href="http://www.ftc.go.kr" target="_blank"><img src="/static/img/main/footer_ci_02.png" alt="공정거래위원회"></a></div>
            <div class=""><a href="https://www.kisa.or.kr" target="_blank"><img src="/static/img/main/footer_ci_03.png" alt="한국인터넷진흥원"></a></div>
            <div class=""><a href="https://okbfex.kbstar.com/quics?page=oescrow" target="_blank"><img src="/static/img/main/footer_ci_04.png" alt="KB에스크로"></a></div>
            <div class=""><a href="https://thecheat.co.kr" target="_blank"><img src="/static/img/main/footer_ci_05.png" alt="더치트"></a></div>
            <div class=""><a href="http://cyberbureau.police.go.kr" target="_blank"><img src="/static/img/main/footer_ci_06.png" alt="경찰청 사이버안전국"></a></div>                
        </div>
    </section> 

    <!-- 모달창 -->
    <div class="dim_all_area" style="display: none">
        <article class="modal_bitberry_deposit">
            <br>
            <h1>휴대폰 인증 필요</h1>
            <p>[나의 페이지->회원정보수정]에서 휴대폰 인증을 하시기 바랍니다.</p>
            <button id="gotoUserInfo" class="btn btn-danger">확인</button>
        </article>
    </div>
    <% include ../include/footer.html %>
</div>
</body>
