<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li><a href="/agreements/use">이용약관</a></li>
                    <li><a href="/agreements/private">개인정보 취급방침</a></li>
                    <li class="on"><a href="/agreements/teenager">청소년 보호정책</a></li>
                    <li><a href="/agreements/marketing">마케팅 활용/수신동의</a></li>
                </ul>
            </div>
            <section class="howto_sec">
                <h1 class="tit_howto">청소년 보호정책</h1>
                <div class="legal_txt_wrap">
                    <textarea class="textarea_legal" rows="30" readonly="readonly">
                        1. 청소년 보호 정책

                        회사는 각종 청소년 유해정보로부터 청소년을 보호하고자 관계법령에 따라 만 19세 미만의 청소년들이 유해정보에 접근할 수 없도록 청소년 보호정책을 마련하여 시행하고 있습니다. 또한 회사는 청소년의 건전한 성장을 저해하는 음란, 불법 등의 유해정보와 비윤리적, 반사회적 행위에 대해서는 엄격하게 제재하기 위하여 다음과 같이 활동하고 있습니다.
                        
                        - 청소년유해정보로부터의 청소년보호계획의 수립
                        - 청소년유해정보에 대한 청소년접근제한 및 관리조치
                        - 정보통신업무 종사자에 대한 청소년유해정보로부터의 청소년보호를 위한 교육
                        - 청소년유해정보로 인한 피해상담 및 고충처리
                        - 그 밖에 청소년유해정보로부터 청소년을 보호하기 위하여 필요한 사항
                        
                        2. 청소년 윤리 강령 및 청소년 보호 법규 준수
                        
                        ① 회사는 청소년들이 인터넷을 이용함에 있어, 밝고 건전한 환경을 조성하고, 올바른 인터넷 이용을 선도하며 청소년이 나와 타인을 존중할 수 있는 인격체로의 성장할 수 있도록 돕기 위해 "청소년보호를 위한 인터넷기업 윤리강령"과 “실천지침”을 준수합니다.
                        ② 회사는 다음과 같은 청소년 보호 관련 법규를 준수합니다.
                        
                        - 정보통신윤리심의규정
                        - 국가청소년위원회 청소년유해매체물 심의규정                
                    </textarea>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>