<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <div class="notfound_wrap">
        <section class="notfound_sec cf">
            <div class="lft_box">
                <img src="/static/img/symbol/symbol_bird.gif" alt="">
            </div>
            <div class="rgh_box">
                <h1><a href="/main"><img src="/static/img/h_logo.png" alt="MACH"></a></h1>
                <h2>That's an error</h2>
                <p>The Server is not responding or page can't be found.</p>
                <div class="btn_box">
                    <button class="btn" onclick="history.back();">Back</button>
                    <button class="btn" onclick="location.href='/main';">Main</button>
                </div>
            </div>
        </section>
    </div>
</div>
</body>     
</html>   