<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/gameStation_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- gameStation -->
                    <section class="gameStation_sec mypage_sec">
                        정보게시판
                    </section>
                    <!--// gameStation -->
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>

    <% include ../include/footer.html %>
</div>
</body>